(ch:lists-tuples)=
# 리스트와 튜플

## 시퀀스

아래 표에 여섯 명의 이름, 전화번호, 나이, 키, 출생지 정보를 담겨 있다.

| 이름 | 전화번호 | 나이 | 키 | 출생지 |
| :---: | :---: | :---: | :---: | :---: |
| 김강현 | 010-1234-5678 | 20 | 172.3 | 제주 |
| 황현   | 02-9871-1234 | 19 | 163.5 | 서울 |
| 남세원 | 010-3456-7891 | 21 | 156.7 | 경기 |
| 최흥선 | 070-4321-1111 | 21 | 187.2 | 부산 |
| 김현선 | 010-3333-8888 | 22 | 164.6 | 광주 |
| 함중아 | 010-7654-2345 | 18 | 178.3 | 강원 |

예를 들어 김강현, 최흥선 등의 전화번호를 알고 싶으면 이름 칸에서 
김강현과 최흥선이 위치한 행을 찾아 전화번호를 확인하면 된다.
하지만 만약에 여섯 명이 아니라 수천, 수만명의 정보를 담겨 있다면
특정인의 전화번호, 나이, 키, 출생지 등을 확인하는 일이 더 이상 간단하지 않다.
그럴 때는 컴퓨터를 활용해서 검색해야 하는데 
컴퓨터는 일런 일을 매우 빠르고 정확하게 처리한다.

컴퓨터로 정보를 검색하려면 먼저 위 표의 내용을 컴퓨터 프로그램으로
다룰 수 있어야 한다.
표에 사용된 이름, 전화번호, 나이, 키 각각은 
앞서 소개한 파이선 기초 자료형을 이용하여 다룰 수 있다.
한 사람의 이름, 전화번호, 출생지는 각기 하나의 문자열로, 
나이는 하나의 정수로, 키는 하나의 부동소수점으로 처리한다.
예를 들어 김강현의 데이터는 아래와 같이 다룰 수 있다.

In [1]:
kgh_name = '김강현'
kgh_phone = '010-1234-5678'
kgh_age = 20
kgh_height = 172.3
kgh_birthplace = '제주'

반면에 예를 들어 표에 사용된 여섯 명의 이름으로 구성된 목록을 하나의 값으로 다룰 수 있을까? 
이름과 전화번호를 하나의 쌍으로 묶어서 전화번호부를 만든 다음에
이름을 입력하면 전화번호를 확인하는 프로그램을 작성할 수 있을까?
지금까지 살펴 본 기초 자료형만으로는 이런 일을 처리하는 일은 어려워 보인다.
사실 가능하긴 하지만 누구나 쉽게 할 수 있는 일은 아니다.

파이썬은 이런 일을 매우 간단하게 처리할 수 있도록 도와주는 네 개의 
**내장 자료구조**<font size='2'>built-in data structure</font>
리스트, 튜플, 사전, 그리고 집합을 제공한다. 
여기서 내장이라 함은 코드를 작성할 때 다른 추가 설정 없이 사용할 수 있음을 의미한다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/built-in-types.png" width="350"/></div>
<br>

리스트, 튜플, 사전, 집합은 각자 고유의 방식으로 여러 개의 값을 묶어 하나의 값으로 다룰 수 있는 기능을 제공한다.
이런 의미에서 이들을 **모음 자료형**이라 부르며 경우에 따라
컬렉션<font size='2'>collection</font>, 컨테이너<font size='2'>container</font> 등으로도 불린다.
반면에 정수, 부동소수점, 불리언 등은 하나의 값으로만 구성되었다는 의미에서
**스칼라**<font size='2'>scalar</font> 자료형이라 부른다.

자료구조는 보통 여러 종률의 자료형의 값으로 구성된 보다 복잡한 구조의 대상을 가리킨다.
하지만 파이썬에서는 리스트, 튜플, 사전, 집합 또한 하나의 값으로 처리된다.
이것이 가능한 이유는 파이썬에서 다루는 모든 것이 **객체**<font size='2'>object</font>로 정의되기 때문이다.
파이썬 객체는 일반적으로 특정의 값들과, 그리고 값들과 관련된 속성을 저장하며, 저장된 값과 속성을 다룰 수 있는 기능을 제공한다.객체의 엄밀한 정의는 나중에 클래스를 설명할 때 다룬다.
여기서는 변수에 할당될 수 있는 하나의 값으로 선언될 수 있는 대상 정도로 기억해 둔다.
따라서 리스트 객체, 튜플 객체, 사전 객체, 집합 객체 모두 하나의 값으로 변수에 할당될 수 있다.

모음 자료형을 일반적으로 다음 두 가지 기준으로 구분한다.

첫째, 항목의 순서와 중복 허용 여부

- **순차 자료형**<font size="2">sequence type</font>: 항목의 순서와 항목의 중복 사용 허용
- **비순차 자료형**<font size='2'>non-sequence type</font>: 항목의 순서와 중복된 항목 무시

둘째, 항목 변경의 허용여부

- **가변 자료형**<font size = "2">mutable type</font>: 항목의 추가, 삭제, 변경 등 허용
- **불변 자료형**<font size = "2">immutable type</font>: 생성된 객체의 어떠한 수정도 불가능

여기서 소개하는 리스트와 튜플 모두 순서를 고려하는 순차 자료형이다.
반면에 리스트는 수정이 가능한 가변 자료형이지만 튜플은 불변 자료형이다.
다음 장에서 소개할 사전과 집합은 비순차 자료형이면서 동시에 가변 자료형이다.

리스트와 튜플과 같은 순차 자료형을 **시퀀스**<font size='2'>sequences</font>라 부르기도 한다.
고등학교 수학에서 다루는 수열 또한 시퀀스의 한 종류이며, 실제로 수열을 영어로 sequence로 부른다.
다만 수열은 말 그대로 수의 나열을 가리키지만 리스트와 튜플은 수 이외에도 어떤 종류의 값도 항목으로 사용할 수 있다.
예를 들어 위 표에 포함된 이름으로 구성된 리스트와 튜플을 정의할 수 있다.
참고로 파이썬에서 리스트는 대괄호 `[]`로, 튜플은 소괄호 `()`로 항목들의 목록을 감싼다.

In [2]:
name_list = ['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']
name_tuple = ('김강현', '황현', '남세원', '최흥선', '김현선', '함중아')

파이썬의 또 다른 순차 자료형은 {numref}`%s장 <ch:strings>`에서 살펴 본 문자열이다. 
그리고 문자열에 대해서처럼 리스트, 튜플 등 순차 자료형에 대해서도 다음 세 가지 기능을 거의 동일하게 적용할 수 있다.

- `in` 연산자
- 인덱싱과 슬라이싱
- `for` 반복문

여기서는 리스트와 튜플을 생성하고 수정하고 활용하는 다양한 방식을 살펴보고,
다음 장에서는 비순차 자료형인 사전과 집합에 대해 자세히 알아본다.

(sec:list)=
## 리스트

리스트는 보통 관련된 값들을 모아서 하나의 값으로 취급하는 자료형이다.
대괄호(`[]`)로 항목들의 목록을 감싸고, 각각의 항목은 쉼표(`,`)로 구분한다. 
예를 들어, 1부터 5까지의 정수로 구성된 리스트를 가리키는 변수를 다음과 같이 선언한다.

In [3]:
one2five = [1, 2, 3, 4, 5]

리스트는 수열과 달리 임의의 값을 항목으로 가질 수 있다.
아래 리스트는 영어 알파벳 a부터 c까지로 구성된다.

In [4]:
a2c = ['a', 'b', 'c']

앞서 언급한 `name_list`는 표에 언급된 사람들의 이름, 즉 문자열로 구성된 리스트를 가리킨다.

In [5]:
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

리스트의 항목이 반드시 동일한 자료형을 가질 필요는 없으며,
서로 다른 자료형의 항목이 사용될 수도 있다.
예를 들어 아래 리스트는 김강현의 이름, 전화번호, 나이, 키, 출생지로 구성된 
리스트를 정의한다.

In [6]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']

**빈 리스트**

빈 리스트<font size = "2">empty list</font>는 아무것도 포함하지 않는 리스트를 의미한다.
다음 두 가지 방식으로 빈 리스트를 선언할 수 있다.

- 방법 1: 대괄호 활용

In [7]:
empty_list = []

- 방법 2: `list()` 함수 활용

In [8]:
empty_list = list()

**중첩 리스트**

리스트의 항목으로 임의의 값이 사용될 수 있기에 당연히 리스트로 구성된 리스트를 정의할 수도 있다.
아래 코드는 김강현과 황현 두 사람의 정보로 구성된 길이가 2인 리트스를 정의한다.

In [9]:
whang = ['황현', '02-9871-1234', 19, 163.5, '서울'] # 황현 정보
kgh_whang = [kgh, whang] # 김강현, 황현 두 사람 정보

확인하면 리스트의 리스트, 즉 중첩 리스트가 된다.

In [10]:
kgh_whang

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

리스트의 길이는 2이다. 
즉, 항목으로 사용된 리스트의 길이는 전체 리스트의 길이와 무관하다.

In [11]:
len(kgh_whang)

2

동일한 방식으로 6명의 정보를 담은 중첩 리스트를 정의할 수 있다.

In [12]:
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

info_list = [kgh, whang, namgung, choihs, sjkim, ja]

6명 전체 정보를 담은 표를 중첩 리스트로 정희하였다.

In [13]:
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

리스트의 길이는 6이다.

In [14]:
len(info_list)

6

**리스트는 시퀀스!**

리스트는 시퀀스이기에 항목의 순서가 다르거나 특정 항목의 개수가 다르면 서로 다른 리스트로 간주된다.

- 순서가 다른 경우: 항목의 순서가 다르면 서로 다른 리스트로 간주된다.

In [15]:
one2five != [5, 4, 3, 2, 1]

True

- 특정 항목의 개수가 다른 경우: `name_list`에는 김강현이 한 번 사용되었기에 두 번 사용된 리스트와는 다른 리스트로 간주된다.

In [16]:
name_list != ['김강현', '김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

True

### 리스트 연산

문자열, 리스트, 튜플, 사전, 집합 등의 모음 자료형은 모두 항목의 포함 여부를 판단하는 `in` 연산자와 
항목의 개수를 확인해주는 `len()` 함수의 인자로 사용된다.

**`in` 연산자**

예를 들어 3은 `one2five` 리스트에 포함되어 있다.

In [17]:
3 in [1, 2, 3, 4, 5]

True

반면에 이강현이란 이름은 김강현의 정보를 담은 리스트인 `kgh`에 포함되어 있지 않다.

In [18]:
'이강현' in name_list

False

물론 김강현은 들어 있다.

In [19]:
'김강현' in name_list

True

**`len()` 함수**

리스트의 길이, 즉 리스트에 포함된 항목의 개수를 확인하려면 `len()` 함수를 적용한다.
예를 들어 `one2five` 리스트는 5개의 항목을 갖는다.

In [20]:
len(one2five)

5

표에는 6명의 정보가 들어 있다.

In [21]:
len(name_list)

6

**`+`와 `*` 연산자**

문자열, 리스트, 튜플 세 종류의 시퀀스 모두 이어붙이기 연산(`+`)과 복제 연산(`*`)을 지원한다.
먼저, `+` 연산자는 리스트 두 개를 이어붙여서 새로운 리스트를 생성한다.

In [22]:
['a', 'b'] + ['c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

`*` 연산자는 리스트와 정수를 대상으로 하며 리스트를 지정된 정수 만큼 복제해서 이어붙이는 방식으로 새로운 리스트를 생성한다.
정수와 리스트의 순서는 상관 없다.

In [23]:
a2c * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [24]:
2 * one2five

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 인덱싱과 슬라이싱

문자열, 리스트, 튜플 등 모든 시퀀스는 대괄호와 정수를 사용하는 인덱싱과 슬라이싱을 지원하며,
사용 방식도 거의 동일하다.

**인덱싱**

리스트 인덱싱은 정수 인덱스가 가리키는 위치의 항목을 확인하거나 수정할 때 사용한다.
예를 들어 김강현의 정보를 담은 리스트 `kgh` 에서 이름은 0번 인덱스에 위치한다.

In [25]:
print(kgh)

['김강현', '010-1234-5678', 20, 172.3, '제주']

In [26]:
kgh[0] # 이름. 0번 인덱스

'김강현'

김강현의 전화번호는 1번 인덱스에 위치한다.

In [27]:
kgh[1] # 전화번호. 1번 인덱스

'010-1234-5678'

-1, -2, -3 등 음수 인덱스는 리스트 오른쪽에서부터 위치를 찾는다.
따라서 김강현의 출생지는 -1번 인덱스로 확인한다.

In [28]:
kgh[-1] # 출생지. 오른쪽 끝에서 첫번째

'제주'

-1 인덱스는 리스트의 길이에서 1을 뺀 인덱스와 동일한 위치를 가리킨다.
즉, 다음이 성립한다.

In [29]:
kgh_last = len(kgh) - 1 # kgh의 마지막 인덱스
kgh[kgh_last] == kgh[-1]

True

김강현의 키는 오른쪽 끝에서 두 번째 항목이기에 -2 인덱스로 확인된다.

In [30]:
kgh[-2] # 키. 오른쪽 끝에서 두번째

172.3

문자열, 튜플과는 달리 리스트는 항목을 수정할 수 있는 가변 자료형이며
인덱싱을 이용하여 특정 위치의 항목을 수정할 수 있다.
예를 들어 아래 코드는 김강현의 출생지를 제주가 아닌 제주시로 수정한다.

In [31]:
kgh[kgh_last] = '제주시' # kgh의 마지막 인덱스에 '제주시'를 수정

물론 -1 인덱스도 사용해도 된다.

In [32]:
kgh[-1] = '제주시'

김강현의 출생지 정보가 제주시로 변경되었다.

In [33]:
kgh

['김강현', '010-1234-5678', 20, 172.3, '제주시']

리스트의 길이 이상의 큰 정수 등 허용되지 않는 인덱스를 사용하면 오류가 발생한다.
예를 들어 김강현의 정보를 담은 리스트의 길이가 5이기 5보가 같거나 큰 정수 또는
-5보다 작은 음의 정수를 인덱스로 사용하면 `IndexError`오류가 발생하며
동시에 지정된 인덱스의 범위를 벗어났다(list index out of range)라고 알려준다.

```python
>>> kgh[5]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: list index out of range
```

**슬라이싱**

슬라이싱은 두 개의 인덱스로 지정된 구간에 포함된 항목들을 확인하거나 수정할 때 사용한다.
경우에 따라 몇 걸음씩 건너뛸지 지정하기도 한다. 

- 시작 인덱스: 슬라이싱 구간 시작 인덱스. 생략되면 0을 기본값으로 사용.
- 끝 인덱스: 슬라이싱 구간 끝 인덱스. 이 인덱스 이전 인덱스까지 항목 확인. 생략되면 오른쪽 끝까지를 의미함.
- 걸음 수: 구간 시작부터 몇 걸음씩 건너뛰며 항목을 확인할지 결정. 걸음 수가 1이면 생략 가능.

예를 들어 김강현의 이름, 전화번호, 나이, 키는 0번부터 3번 인덱스에 위치하기에
대괄호 안에 `0:4`를 입력하여 0번 인덱스부터 4번 인덱스 이전인 3번 인덱스의 항목으로
구성된 리스트가 확인된다.

In [34]:
kgh[0:4]

['김강현', '010-1234-5678', 20, 172.3]

걸음 수가 1인 경우와 동일하다.

In [35]:
kgh[0:4:1]

['김강현', '010-1234-5678', 20, 172.3]

시작 인덱스가 0이면 생략해도 된다. 단 콜론은 그대로 둬야 한다.

In [36]:
kgh[:4]

['김강현', '010-1234-5678', 20, 172.3]

슬라이싱의 결과는 항상 리스트이다.
구간의 크기가 1이라 해도 그렇다.
예를 들어 아래 코드는 김강현의 전화번호로만 구성되어 길이가 1인 리스트가 확인된다.

In [37]:
kgh[1:2]

['010-1234-5678']

걸음 수를 1보다 크게 지정하면 지정된 걸음 수만큼 건너 뛰며 항목을 확인한 결과를 리스트로 보여준다.
예를 들어 김강현의 전화번오와 키를 함께 확인하려면 1번과 3번 인덱스를 확인해야 하기에
인덱스 구간을 다음과 같이 걸음 수를 2로 작성한다.

In [38]:
kgh[1:4:2]

['010-1234-5678', 172.3]

이름과 키를 확인하려면 0번부터 끝까지를 구간으로 하면서 걸음 수를 3으로 지정한다.

In [39]:
kgh[0::3]

['김강현', 172.3]

시작 인덱스를 생략해도 된다.

In [40]:
kgh[::3]

['김강현', 172.3]

리스트 전체를 대상으로 슬라이싱하려면 아래와 같이 한다.

In [41]:
kgh[:] # kgh 전체 대상 슬라이싱

['김강현', '010-1234-5678', 20, 172.3, '제주시']

또는

In [42]:
kgh[::] # kgh 전체 대상 슬라이싱. 스텝은 1이 기본값.

['김강현', '010-1234-5678', 20, 172.3, '제주시']

리스트의 크기를 벗어나는 인덱스를 사용하더라도 슬라이싱은 오류를 발생시키지 않는다.
이유는 확인할 수 있는 인덱스의 항목만 사용하고 확인할 수 없으면 무시하기 때문이다.
아래 코드는 5번 인덱스부터 9번 인덱스까지 확인하려 하지만 해당 인덱스의 위치를
찾을 수 없기에 빈 리스트를 생성한다.

In [43]:
kgh[5:10]

[]

아래 코드는 0번 인덱스부터 7번 인덱스까지 확인하려 하지만 결국엔 4번 인덱스까지만 확인하게 된다.

In [44]:
kgh[0:8]

['김강현', '010-1234-5678', 20, 172.3, '제주시']

걸음 수를 2 이상으로 지정해도 범위를 벗어난 인덱스는 무시된다.

In [45]:
kgh[0:8:2]

['김강현', 20, '제주시']

**역순 슬라이싱**

슬라이싱은 기본적으로 작은 인덱스에서 큰 인덱스 방향으로 확인한다. 하지만 역순으로 확인하고자 한다면 음의 정수를 걸음 수로 지정하면 된다. 
걸음 수가 -1이고, 시작 인덱스와 끝 인덱스를 생략하면 문자열 전체를 역순으로 확인하며,
리스트 항목들의 순서를 뒤집는 기술로 자주 활용된다.

In [46]:
kgh[:: -1]

['제주시', 172.3, 20, '010-1234-5678', '김강현']

걸음 수가 음수이면 시작 인덱스가 끝 인덱스보다 커야 한다. 그렇지 않으면 빈 리스트가 생성된다.

In [47]:
kgh[2:5:-1]

[]

시작 인덱스가 끝 인덱스보다 크면 구간의 시작이 오른쪽이라는 점만 다를 뿐 앞서 설명한 슬라이싱과 동일하게 작동한다.
아래 코드는 -2번 인덱스부터 왼쪽으로 두 걸음씩 건너 뛰며 슬라이싱을 진행한다.
역순 인덱싱에서 끝 인덱스가 생략되면 왼쪽 끝까지를 의미힌다.

In [48]:
kgh[-2::-2]

[172.3, '010-1234-5678']

**구간 수정**

리스트는 가변 자료형이기에 슬라이싱을 이용하여 지정된 구간을 다른 리스트로 대체할 수 있다.
아래 코드는 김강현의 키와 출생지를 동시에 수정한다.

In [49]:
kgh[3:] = [172.5, '제주']

키와 출생지가 172.3과 제주시에서  172.5와 제주로 바뀐것을 확인할 수 있다.

In [50]:
kgh

['김강현', '010-1234-5678', 20, 172.5, '제주']

슬라이싱 구간의 크기와 새롭게 대체하는 리스트의 크기가 다를 수 있다.
설명을 위해 다음 리스트를 이용한다.

In [51]:
a2f = ['a', 'b', 'c', 'd', 'e', 'f']

소문자 c와 d를 대문자 C와 D로 수정하고 곧바로 대문자 X를 추가하고자 한다면
2번, 3번 인덱스 구간을 슬라이싱하면서 동시에 값을 다음과 같이 3개 지정하면 된다.

In [52]:
a2f[2:4] = ['C', 'D', 'Z']
a2f

['a', 'b', 'C', 'D', 'Z', 'e', 'f']

만약 걸음 수를 2이상으로 지정하면 슬라이싱된 항목의 개수와 새롭게 지정된 리스트의 길이가 같아야 한다.
아래 코드는 홀수 인덱스에 위치한 항목을 모두 해당 인덱스로 대체한다.

In [53]:
a2f[1::2] = [1, 3, 5]
a2f

['a', 1, 'C', 3, 'Z', 5, 'f']

걸음 수가 1이 아닌 경우 
대체 리스트의 길이가 슬라이싱된 항목의 개수와 다르면 두 리스트의 크기가 다르다는 설명과 함께 `ValueError`가 발생한다.
아래 코드는 슬라이싱된 항목은 2개이지만 길이가 3인 리스트를 대체 리스트로 지정하기에 오류가 발생한다.

```python
>>> a2f[:3:2] = ['X', 'Y', 'Z']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: attempt to assign sequence of size 3 to extended slice of size 2
```

### `range()` 함수와 리스트

`range()` 함수는 리스트, 튜플 등과 매우 유사한 `range` 자료형의 객체를 생성한다.
예를 들어, `range(3)`는 0부터 2까지의 정수를 포함하는 리스트와 유사하다.

In [54]:
range(3)

range(0, 3)

`range(0, 3)`은 0부터 3 이전까지의 정수를 대상으로 한다는 의미를 보여준다.
`range()` 함수는 최대 3개의 인자를 받을 수 있으며 각 인자의 기능은 
리스트 슬라이싱의 그것과 거의 동일하다.
즉, 첫째 인자가 0이면 생략이 가능하며,
`range(3)`과 `range(0, 3)`은 동일한 객체를 생성한다.

In [55]:
range(3) == range(0, 3)

True

`range` 객체에 포함되는 값을 확인하는 가장 간단한 방법은 
리스트 또는 튜플로의 형변환이다.

- 리스트로의 형변환

In [56]:
list(range(3))

[0, 1, 2]

- 튜플로의 형변환

In [57]:
tuple(range(3))

(0, 1, 2)

`range()` 함수의 셋째 인자는 슬라이싱의 걸음 수에 해당한다.
생략되면 걸음 수는 기본값인 1을 사용한다.
아래 코드는 `range(1, 9, 2)`는 1부터 9 이전까지의 홀수를 
대상으로 하는 `range` 객체를 생성한다.

In [58]:
list(range(1, 9, 2))

[1, 3, 5, 7]

In [59]:
tuple(range(1, 9, 2))

(1, 3, 5, 7)

음수의 걸을 수를 지정할 수도 있다.
예를 들어 `range(5, 0, -1)`는 5부터 0 이전까지를 역순으로 담은
리스트에 해당하는 `range` 객체를 생성한다.

In [60]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [61]:
tuple(range(5, 0, -1))

(5, 4, 3, 2, 1)

**`range()` 함수와 `for` 반복문**

`range()` 함수는 이처럼 간단한 규칙을 따르는 항목들로 구성된 리스트 또는 튜플을 생성하는 데에
활용될 수 있다.
그리고 `for` 반복문과 함께 다양한 방식으로 사용될 수 있다.

(1) 아래 코드는 Hello world! 문자열을 5번 출력한다.
이처럼 특정 코드를 몇 번 반복 실행시킬 때 사용한다.

In [62]:
for i in range(5):
    print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

이런 경우 변수 `i`의 역할은 카운트 기능 뿐이며 반복문의 본문에서 사용되지 않기에 밑줄 기호인
`_`로 대체될 수 있다. 
밑줄 기호는 이름 없는 변수 역할을 수행한다.

In [63]:
for _ in range(5):
    print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

(2) 아래 코드는 0부터 100까지의 정수들의 합을 계산한다.
따라서 `range(101)`은 0부터 100까지의 정수를 제공하는 기능을 수행한다.

In [64]:
sum_upto_100 = 0

for i in range(101):
    sum_upto_100 += i

sum_upto_100

5050

반면에 아래 코드는 1부터 100까지의 모든 홀수들의 합을 계산한다.
`range(1, 100, 2)`가 1, 3, 5, ..., 99 의 홀수를 제공하기 때문이다.

In [65]:
sum_odd_upto_100 = 0

for i in range(1, 100, 2):
    sum_odd_upto_100 += i

sum_odd_upto_100

2500

(3) 리스트의 인덱스 역할을 수행하게 할 수도 있다.
아래 코드는 6명의 정보를 하나씩 차례대로 출력한다.

In [66]:
for i in range(len(info_list)):
    print(info_list[i])

['김강현', '010-1234-5678', 20, 172.5, '제주']
['황현', '02-9871-1234', 19, 163.5, '서울']
['남세원', '010-3456-7891', 21, 156.7, '경기']
['최흥선', '070-4321-1111', 21, 187.2, '부산']
['김현선', '010-3333-8888', 22, 164.6, '광주']
['함중아', '010-7654-2345', 18, 178.3, '강원']

`range()` 함수의 모든 기능을 활용할 수 있다.
아래 코드는 짝수 인덱스에 위치한 사람의 정보만 출력한다.

In [67]:
for i in range(0, len(info_list), 2):
    print(info_list[i])

['김강현', '010-1234-5678', 20, 172.5, '제주']
['남세원', '010-3456-7891', 21, 156.7, '경기']
['김현선', '010-3333-8888', 22, 164.6, '광주']

### 리스트와 `for` 반복문

리스트를 `for` 반복문과 함께 사용하면 0번 인덱스 위치의 항목에서부터 하나씩 오른쪽으로 이동하며 반복문을 적용한다.
아래 코드는 `one2five`에 포함된 항목을 모두 더한 결과를 계산한 후에 출력한다.

In [68]:
one2five = [1, 2, 3, 4, 5]

sum_list = 0               # 왼쪽 항목에 대해서부터 차례대로 누적합을 저장할 변수

for item in one2five: # item이 one2five의 항목을 하나씩 가리킴
    sum_list += item       # sum_list에 item이 가리키는 값 더하기

print(sum_list)

15

코드에 포함된 다음 `for` 반복분이 실행되면
`item` 변수는 먼저 0번 인덱스의 항목인 1을 가리킨다.
따라서 `sum_list`가 1을 가리키게 되고
다시 반복문의 본문의 처음으로 돌아간다.
이때 `item`은 1번 인덱스 항목인 2를 가리키고 반복문의 본문을 다시 실행한다.
이 과정을 `item`이 리스트의 마지막 항목은 5를 가리키고 반복문의 본문을 실행할 때까지 반복하면
`for` 반복문의 실행을 종료하고 다음 명령문으로 넘어가서
그때까지의 누적합을 가리키는 `sum_list`를 출력한다.

아래 그림은 위 코드의 `for` 반복문이 실행되는 순간 선언된 변수들이 가리키는 값을 보여준다.
`sum_list`는 아직 초기화 상태이고 `item`은 1을 가리키고 있다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-for-01.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Afor%20item%20in%20one2five%3A%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

반면에 아래 그림은 `for` 반복문이 2번 실행되어 `sum_list`는 3을, `item`은 2를 가리키고 있음을 보여준다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-for-02.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Afor%20item%20in%20one2five%3A%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

반복문이 계속 실행되어 `item`이 리스트의 마지막 항목인 5를 가리키면 `sum_list`는 15를 가리키며 반복문이 종료된다.
그러면 다음 명령문인 `print(sum_list)`가 실행되어 15가 출력된다(아래 그림 참고).

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-for-03.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Afor%20item%20in%20one2five%3A%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

**`while` 반복문과 리스트 인덱싱**

리스트를 대상으로 `while` 반복문을 
실행하려면 인덱싱을 활용한다.
이유는 `for` 반복문과는 달리 `while` 반복문은 리스트의 항목을
직접 가리키는 기능을 제공하지 않기 때문이다.
아래 코드는 위 `for` 반복문과 동일한 기능을 수행한다.

In [69]:
one2five = [1, 2, 3, 4, 5]

sum_list = 0
i = 0                    # one2five의 항목을 가리키는 인덱스. 0부터 시작.

while i < len(one2five): # i가 one2five의 마지막 인덱스를 가리킬 때까지 반복
    item = one2five[i]   # item이 one2five의 i번째 항목을 가리킴
    sum_list += item          # sum_list에 i번째 항목 더하기
    i += 1               # i를 1 증가시키기

print(sum_list)

15

위 코드에서 인덱스를 가리키는 변수 `i`의 값을
반복문이 한 번 실행될 때마다 인위적으로 1씩 키워줘야 하고
언제 언제 반복이 멈춰야 하는지를 조건식으로 명시해줘야 하는 점이 
리스트를 `for` 반복문과 함께 사용할 때와 다르다.

코드에 포함된 다음 `while` 반복분이 실행될 때
`i` 변수는 먼저 0을 가리키기에 `item` 변수는 0번째 인덱스의 값인 1을 가리킨다.
따라서 `sum_list`가 0이 아닌 1을 가리키게 된다.
이후 `i`가 1로 바뀌고 다시 반복문의 본문의 처음으로 돌아간다.
이때 `item`은 1번 인덱스 항목인 2를 가리키고 반복문의 본문을 다시 실행한다.
이 과정을 `i`가 4를 가키릴 때까지 반복하면 
`sum_list`는 `one2five` 리스트의 0번 인덱스의 항목부터 마지막 항목까지
더한 값을 가리키게 되고 `i`가 5, 즉 `one2five`의 길이와 같아지게 되어
`while` 반복문의 실행을 종료하고 다음 명령문으로 넘어간다.

아래 그림은 위 코드의 `while` 반복문이 실행되어 `item` 변수가 선언된 순간에
`sum_list`와 `i`는 아직 초기화 상태이고 `item`은 0번 인덱스 항목인 1을 가리키고 있음을 보여준다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-while-01.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Ai%20%3D%200%0A%0Awhile%20i%20%3C%20len%28one2five%29%3A%0A%20%20%20%20item%20%3D%20one2five%5Bi%5D%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%20%20%20%20i%20%2B%3D%201%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

반면에 아래 그림은 `while` 반복문이 세 번째로 실행되어 
`i`는 2, `item`은 3을 가리키지만 
`sum_list`는 아직 업데이트 이전 상태를 보여준다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-while-02.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Ai%20%3D%200%0A%0Awhile%20i%20%3C%20len%28one2five%29%3A%0A%20%20%20%20item%20%3D%20one2five%5Bi%5D%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%20%20%20%20i%20%2B%3D%201%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

`while `반복문이 계속 실행되어 `i`가 5가 되면 조건식 `i < len(one2five)`가 거짓이 되고
반복문을 더 이상 실행하지 않는다.
`sum_list`는 모든 항목이 더해진 상태인 15를 가리킨다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-while-03.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=one2five%20%3D%20%5B1,%202,%203,%204,%205%5D%0A%0Asum_list%20%3D%200%0Ai%20%3D%200%0A%0Awhile%20i%20%3C%20len%28one2five%29%3A%0A%20%20%20%20item%20%3D%20one2five%5Bi%5D%0A%20%20%20%20sum_list%20%2B%3D%20item%0A%20%20%20%20i%20%2B%3D%201%0A%0Aprint%28sum_list%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

위 코드에서 사용된 `item` 변수는 이전 코드와의 비교하기 위해 사용되었지만
굳이 필요하진 않고 아래 코드에서처럼 `i`번 인덱스 항목을 
직접 `sum_list` 변수에 더할 수 있다.

In [70]:
one2five = [1, 2, 3, 4, 5]

sum_list = 0
i = 0                    # one2five의 항목을 가리키는 인덱스. 0부터 시작.

while i < len(one2five): # i가 one2five의 마지막 인덱스를 가리킬 때까지 반복
    sum_list += one2five[i]   # sum_list에 one2five의 i번째 항목 더하기
    i += 1               # i를 1 증가시키기

print(sum_list)

15

:::{prf:example} 홀수들의 합
:label: odd-sum-upto-10

1부터 10까지의 정수 중에서 홀수들의 합을 계산하라.
단, 1부터 10까지의 정수로 구성된 리스트에 `for` 반복문을 적용한다.
:::

*견본 답안*

먼저 1부터 10까지의 정수로 구성된 리스트를 가리키는 변수 `one2ten`을 선언한다.

In [71]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


앞서 1부터 5까지의 합을 계산한 프로그램과 거의 비슷하게 프로그램을 작성할 수 있다.

```python
sum_list = 0
for item in one2five:
    sum_list += item
```

다만 `item`이 가리키는 항목이 홀수일 때만 `sum_list`에 더한다는 점이 다르다.
`item`이 가리키는 값이 홀수인지 여부를 판단하는 표현식은 `item % 2 == 1`이며,
홀수일 때만 `sum_list`에 더하는 코드는 다음과 같다.

```python
if item % 2 == 1:
    sum_list += item
```

정리하면 아래 프로그램을 이용하여 1부터 10까지 정수 중에서 홀수들의 합을 계산할 수 있다.

In [72]:
odd_sum = 0

for num in one2ten:
    if num % 2 == 1: # 홀수 여부 확인
        odd_sum += num   # 홀수인 경우에만 실행

print(odd_sum)

25

*프로그램 업그레이드*

1부터 10까지의 정수 중에서 홀수들의 합이 25으로 계산되었다.
그런데 위 코드가 정말로 1, 3, 5, 7, 9의 합을 계산했는지 결과만으로는 알 수 없다. 
이를 확인하기 위해 코드를 실행할 때 `sum_list`에 더해지는 수를 함께 출력하도록 프로그램을 수정해보자.

먼저 홀수인 `item`을 기억하는 장치가 필요하다.
이를 위해 `sum_list` 변수와 유사한 기능을 갖지만 필요에 따라 항목을 추가해야 하기에 리스트를 이용한다.
처음에는 빈 리스트로 출발하고 `item`이 홀수인 경우 리스트에 추가한다.
아래 `odd_items` 변수가 이 기능을 수행한다.

```python
odd_items = []
```

리스트에 항목 추가하기는 이어붙이기 연산자 `+`를 활용하면 된다.
위 코드의 `for` 반복문에 `odd_items`이 가리키는 리스트가 업데이트되는 과정만 추가하면 
홀수들의 합에 사용되는 홀수들의 리스트를 함께 확인할 수 있다.

In [73]:
odd_sum = 0
odd_nums = []

for num in one2ten:
    if num % 2 == 1: 
        odd_sum += num   
        odd_nums += [num] # 홀수 항목 저장

print("1부터 10까지의 정수 중에서 홀수들의 합:", odd_sum)
print("1부터 10까지의 정수 중에서 홀수들의 리스트:", odd_nums)

1부터 10까지의 정수 중에서 홀수들의 합: 25
1부터 10까지의 정수 중에서 홀수들의 리스트: [1, 3, 5, 7, 9]

**`for` 반복문과 리스트 슬라이싱**

리스트를 슬라이싱 하면 지정된 구간의 항목으로 구성된 리스트가 확인되는데
이 정보를 `for` 반복문이 이용할 수 있다.
예를 들어 아래 코드는 1부터 10까지의 합을 계산한다.
이전과는 달리 `sum_list` 변수를 `one2ten`의 0번 인덱스 항목, 즉 1로 지정하고
`for` 반복문을 1번 인덱스 이후의 항목을 슬라이싱한 리스트에 대해 적용한다.

In [74]:
sum_list = one2ten[0]        # sum_list에 one2ten의 0번 인덱스 항목 저장

for num in one2ten[1:]:
    sum_list += num

print(sum_list)

55

걸음 수가 1보다 큰 슬라이싱과도 잘 작동한다.
예를 들어 아래 코드는 1부터 10까지의 정수 중에서 짝수들의 합인 30을 계산한다.

In [75]:
sum_list = one2ten[1]          # sum_list에 1번 인덱스에 위치한 첫번째 짝수인 2를 할당.

for num in one2ten[3::2]: # 두 걸음씩 건너 뛰며 짝수 항목만 반복
    sum_list += num

print(sum_list)

30

아래 코드는 더해지는 짝수들의 리스트로 함께 출력한다.

In [76]:
even_sum = one2ten[1]
even_nums = [one2ten[1]]  # 짝수 항목 저장

for num in one2ten[3::2]:
    even_nums += [num]    # 짝수 항목 추가 저장
    even_sum += num

print("1부터 10까지의 정수 중에서 짝수들의 합:", even_sum)
print("1부터 10까지의 정수 중에서 짝수들의 리스트:", even_nums)

1부터 10까지의 정수 중에서 짝수들의 합: 30
1부터 10까지의 정수 중에서 짝수들의 리스트: [2, 4, 6, 8, 10]

:::{prf:example} 리스트 항목들의 합
:label: list-items-sum

리스트에 포함된 모든 항목들의 합을 반환하는 `sum_of_list_items()` 함수를 정의하라.
단, 리스트의 항목은 정수, 부동소수점, 문자열, 리스트 중에 한 종류의 자료형으로만 구성된다고
가정하며 합은 `+` 연산자를 이용한다.
:::

*견본 답안*

정수, 부동소수점, 문자열, 리스트 중 하나의 자료형으로만 구성된 리스트 `seq`가 주어졌다고 가정하자.
`+` 연산자는 정수와 부동소수점의 경우 덧셈 연산을, 
문자열과 리스트의 경우엔 이어붙이기 연산을 나타낸다.
어떤 연산을 실행할지는 파이썬 실행기가 인자를 보고 판단한다.

따라서 리스트의 항목이 어떤 자료형을 갖는지 신경쓰지 않아도 되며,
이는 정수 리스트에 포함된 항목들의 합을 계산하는 아래 코드를
거의 그대로 사용할 수 있음을 의미한다.

```python
sum_list = 0

for item in seq:
    sum_list += item
```

다만 항목들의 누적합을 가리키는 `sum_list`가 가리키는 값으로 0을 사용할 수는 없다.
이유는 리스트의 항목이 예를 들어 문자열이면 정수와 문자열의 덧셈은 정의되어 있지 않기에
`sum_list += item`이 실행될 때 오류가 발생하기 때문이다. 
또한 매개변수 `seq`으로 들어올 인자의 자료형을 미리 알 수 없기에
`sum_list`를 어떤 값으로 초기화할지 미리 알 수 없다. 

해결책은 `seq`의 0번 인덱스의 항목의 자료형을 이용하는 것이다.
이유는 `seq`이 어떤 자료형의 리스트인가는 0번 인덱스의 항목를 확인하면 되기 때문이다.

어떤 값의 자료형은 `type()` 함수로 확인된다.
정수 1의 자료형은 `int`, 
문자열 `abc`의 자료형은 `str`,
리스트 `[1, 2, 3]`의 자료형은 `list`임을 다음 세 개의 코드가 확인해준다.

In [77]:
type(1)

int

In [78]:
type('abc')

str

In [79]:
type([1, 2, 3])

list

또한 자료형의 이름을 형변환 함수로 활용할 있음을 {numref}`%s장 <ch:basic_types>`에서 살펴보았다.
그리고 각각의 형변환 함수는 인자 없이 호출될 경우 다음과 같이 자료형에 따른 특정 값을 반환한다.

In [80]:
int()

0

In [81]:
float()

0.0

In [82]:
str()

''

In [83]:
list()

[]

`type()` 함수와 형변환 함수를 조합하면 리스트의 첫째 항목의 자료형에 따라 
0, 빈 문자열, 빈 리스트를 선언할 수 있다.
예를 들어 아래 표현식은 0을 가리킨다.

In [84]:
sec = [0, 1, 2]
type(sec[0])()

0

아래 표현식은 빈 문자열을 가리킨다.

In [85]:
sec = ['abc', 'b', 'de']
type(sec[0])()

''

아래 표현식은 빈 리스트이다.

In [86]:
sec = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
type(sec[0])()

[]

위 설명을 종합해서 인자로 들어온 리스트의 첫째 항목의 자료형에 따른 누적합을
다음과 같이 초기화한다.

```python
sum_list = type(sec[0])()
```

나머지 코드는 이전과 동일하다.

In [87]:
def sum_of_list_items(seq):
    sum_list = type(seq[0])() # 0번 인덱스 항목과 같은 자료형의 0에 해당하는 값으로 초기화

    for item in seq:
        sum_list += item

    return sum_list

1부터 5까지의 합은 15임을 다시 한 번 확인한다.

In [88]:
sum_of_list_items(one2five)

15

길이가 1인 문자열 `'a'`, `'b'`, `'c'` 세 개의 문자열로 구성된 
리스트의 합은 길이가 3인 문자열 `'abc'`이다.

In [89]:
sum_of_list_items(a2c)

'abc'

6명의 정보를 답은 중첩 리스트 `info_list`의 항목을 더하면 6명의 정보를
하나의 리스트에 담은 리스트가 반환된다.

In [90]:
info_list_1d = sum_of_list_items(info_list)
print(info_list_1d)

['김강현', '010-1234-5678', 20, 172.5, '제주', '황현', '02-9871-1234', 19, 163.5, '서울', '남세원', '010-3456-7891', 21, 156.7, '경기', '최흥선', '070-4321-1111', 21, 187.2, '부산', '김현선', '010-3333-8888', 22, 164.6, '광주', '함중아', '010-7654-2345', 18, 178.3, '강원']

:::{admonition} 중첩 리스트 항목들의 합
:class: note

`sum_of_list_items()` 함수를 다음과 같이 
`sum_list`의 초기값을 `sec`의 첫째 항목으로 지정하고
`for` 반복문은 1번 인덱스 이후부터 적용하는 방식으로 정의할 수 있다.
그러면 첫째 항목의 자료형을 확인하지 않고도 나머지 항목과의
`+` 연산이 자연스럽게 실행된다.

```python
def sum_of_list_items(seq):
    sum_list = seq[0]    # 0번 인덱스 항목으로 누적합 초기화

    for item in seq[1:]: # 1번 인덱스 항목부터 확인
        sum_list += item

    return sum_list
```

그런데 위 코드는 중첩 리스트에 포함된 항목들의 합을 계산할 때 
`seq[0]`이 가리키는 중첩 리스트의 첫재 항목으로 사용된 리스트를 변경하는
부작용<font size='2'>side-effect</font>을 유발한다.
이유는 파이썬이 리스트를 처리하는 방식때문인데 자세한 설명은 생락한다.
관심 있는 경우 [Python Tutor](https://pythontutor.com/render.html#code=sec%20%3D%20%5B%5B1,%202,%203%5D,%20%5B4,%205,%206%5D%5D%0A%0Adef%20sum_of_list_items%28seq%29%3A%0A%20%20%20%20sum_list%20%3D%20seq%5B0%5D%0A%0A%20%20%20%20for%20item%20in%20seq%5B1%3A%5D%3A%0A%20%20%20%20%20%20%20%20sum_list%20%2B%3D%20item%0A%0A%20%20%20%20return%20sum_list%0A%20%20%20%20%0Asum_of_list_items%28sec%29%0A%0Aprint%28sec%5B0%5D%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)에서
`sec[0]`의 값이 의도치 않게 변경됨을 확인할 수 있다.
:::

### 중첩 리스트와 인덱싱/슬라이싱/반복문

`info_list`와 같은 중첩 리스트는 리스트의 항목이 또다른 리스트이기에 
항목의 항목을 확인/추출/변경 하려면 인덱싱, 슬라이싱, `for` 반복문을 
중첩해서 활용해야 할 때가 있다.

예를 들어 김강현의 이름은 `info_list`의 첫째 항목인 리스트의 첫째 항목이기에
다음과 같이 확인할 수 있다.

In [91]:
kgh_1 = info_list[0]
kgh_1[0]

'김강현'

위 코드를 줄여서 다음과 같이 하나의 표현식으로 나타낼 수 있다.

In [92]:
info_list[0][0]

'김강현'

1번 인덱스에 위치한 황현의 나이를 확인하려면 1번, 2번 인덱싱을 연속 적용한다.

In [93]:
info_list[1][2]

19

황현의 이름과 나이를 함께 적어주는 게 좋아 보인다.

In [94]:
hwang_name = info_list[1][0]
hwang_age = info_list[1][2]

print(f"{hwang_name}의 나이: {hwang_age}세")

황현의 나이: 19세

인덱싱과 인덱싱을 조합하듯이 인덱싱과 슬라이싱 또한 원하는 대로 조합할 수 있다.
아래 코드는 예를 들어 홀수 인덱스에 위치한 황현, 최흥선, 함중아의 나이만 확인한다.

In [95]:
for person in info_list[1::2]:    # 김강현과 황현만 대상
    print(person[0], person[2]) # 이름과 나이

황현 19
최흥선 21
함중아 18

2중으로 중첩된 `for` 반복문을 사용하여 6명 각자의 정보를 일일이 나열할 수 있다.

In [96]:
for person in info_list:      # 6명 모두를 대상으로 반복

    for item in person:
        print(item, end='\t') # 한 사람의 모든 정보 출력. 항목들 사이는 탭으로 구분
    
    print()                   # 사람들 사이의 구분을 위해 줄 바꿈

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울
남세원	010-3456-7891	21	156.7	경기
최흥선	070-4321-1111	21	187.2	부산
김현선	010-3333-8888	22	164.6	광주
함중아	010-7654-2345	18	178.3	강원

원하는 정보만 뽑기위해서도 중첩된 `for` 반복문이 필요할 수 있다.
예를 들어 아래 코드는 나이가 21살인 사람의 정보만 출력한다.

In [97]:
for person in info_list:
    if 21 == person[2]:           # 나이가 21살인 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

남세원	010-3456-7891	21	156.7	경기
최흥선	070-4321-1111	21	187.2	부산

반면에 아래 코드는 이름에 "현" 자가 포함된 사람의 정보만 출력한다.

In [98]:
for person in info_list:
    if '현' in person[0]:         # 이름에 "현" 자가 포함된 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울
김현선	010-3333-8888	22	164.6	광주

"현"으로 끝나는 경우만 다루려면 `endswith()` 문자열 메서드를 이용한다.

In [99]:
for person in info_list:
    if person[0].endswith('현'):         # 이름이 "현" 자로 끝나난 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울

### 리스트 메서드

모든 모음 자료형의 기본 용도는 여러 개의 항목을 묶어
하나의 값으로 다루면서 필요에 따라 항목을 탐색하고 추출해서 활용하는 것이다.
리스트, 사전, 집합처럼 가변인 모음 자료형은 또한
항목을 추가하고 삭제할 수 있는 기능도 지원한다.
리스트는 여기에 더해 항목들을 크기 순으로 정렬하거나 순서를 지정할 수 있는 기능도 지원한다.
가장 활용도가 높은 리스트 메서드는 다음과 같다.

:::{list-table} 리스트 주요 메서드
:widths: 12 10 38
:header-rows: 1
:name: list-methods

*   - 기능
    - 메서드
    - 설명
*   - 복사
    - `copy()`
    - 리스트의 사본을 만들어 반환.
*   - 추가/삽입/확장
    - `append()`
    - 리스트 끝에 항목 추가. 반환값은 `None`.
*   - 
    - `insert()`
    - 지정된 인덱스에 항목 삽입. 반환값은 `None`.
*   - 
    - `extend()`
    - 다른 리스트를 연결하여 확장. 반환값은 `None`.
*   - 삭제
    - `pop()`
    - 지정된 인덱스의 항목 반환 후 삭제.
*   - 
    - `remove()`
    - 가장 왼쪽에 위치한 지정된 항목 삭제. 반환값은 `None`.
*   - 정렬
    - `sort()`
    - 리스트의 항목을 크기 순으로 정렬. 반환값은 `None`.
*   - 
    - `reverse()`
    - 리스트의 항목들 순서 뒤집기. 반환값은 `None`.
*   - 탐색
    - `index()`
    - 리스트의 가장 왼쪽에 위치한 지정된 항목의 인덱스 반환.
*   -
    - `count()`
    - 리스트에서 지정된 항목이 등장한 횟수 반환
:::

6명의 키와 몸무게 정보를 이용하여 비만도를 측정하는 체질량지수(BMI)를 계산해서 활용하는 과정을 통해 
{numref}`Table %s <list-methods>`에 포함된 주요 리스트 메서드의 기능을 소개한다.

6명의 기본 정보는 다음과 같다.

In [100]:
info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

추가로 `weight_list` 변수가 6명의 몸무게로 구성된 리스트를 가리킨다고 가정한다.

In [101]:
weight_list = [65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

체질량지수는 몸무게(kg)를 키(m)의 제곱으로 나눈 값이다. 

$$
\mathrm{bmi} = \frac{\mathrm{몸무게(kg)}}{\mathrm{키(m)}^2}
$$

**`copy()` 메서드**

리스트는 가변 자료형이기에 인덱싱, 슬라이싱을 포함하여 아래에서 소개하는 많은 메서드에 의해
수정될 수 있다. 
하지만 경우에 따라 주어진 리스트는 전혀 건드리지 않으면서 리스트를 이용할 필요가 있다.
그럴 때 `copy()` 메서드로 사본을 만들어 이용한다.

예를 들어, 아래 코드는 변수 `x`가 가리키는 리스트의 사본을 만들어 변수 `y`에 할당한다.
그 다음에 `y`가 가리키는 리스트의 0번 인덱스 항목을 수정하지만 변수 `x`가 
가리키는 리스트는 전혀 변하지 않는다.

In [102]:
x  = [1, 2, 3]
y = x.copy()
y[0] = 10      # 0번 인데스 항목 수정

print("y:", y) # 수정됨
print("x:", x) # 불변

y: [10, 2, 3]
x: [1, 2, 3]

아래 그림은 두 변수 `x`와 `y`가 선언된 순간의 메모리 상태를 보여준다.
`x`와 `y`가 동일하게 생겼지만 각각 서로 다른 리스트 객체를 가리킨다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-01.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x.copy%28%29%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

아래 그림은 `y`가 가리키는 리스트의 첫째 항목이 10으로 업데이트된 이후의 메모리 상태를 보여주며,
변수 `x`가 가리키는 리스트는 전혀 수정되지 않는다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-02.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x.copy%28%29%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

반면에 아래 코드에서처럼 사본을 만들지 않으면 리스트 원본이 함께 수정된다.
이유는 `x`와 `y`가 동일한 리스트 객체를 가리키기 때문이다.

In [103]:
x  = [1, 2, 3]
y = x
y[0] = 10      # 0번 인데스 항목 수정

print("x:", x)
print("y:", y)

x: [10, 2, 3]
y: [10, 2, 3]

아래 그림은 두 변수 `x`와 `y`가 선언된 순간의 메모리 상태를 보여준다.
`x`와 `y`가 동일한 리스트 객체를 가리킨다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-03.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

아래 그림은 `y`가 가리키는 리스트의 첫째 항목이 10으로 업데이트되면
`x`가 동일한 리스트를 가리키기에 0번 인덱스 항목이 똑같이 10이 된다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-04.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

**`append()` 메서드**

6명의 키 정보로 구성된 리스트를 `height_list`가 가리키도록 하자.
키 정보는 각 리스트에서 3번 인덱스 항목이기에 다음과 같이
`for` 반복문과 인덱싱을 이용하면 쉽게 리스트로 추출할 수 있다.

In [104]:
height_list = []

for person in info_list:
    height_list += [person[3]] # 이어붙이기

height_list

[172.5, 163.5, 156.7, 187.2, 164.6, 178.3]

위 코드는 이전처럼 이어붙이기 연산자인 `+`를 이용하였는데
`+` 연산자는 이어서 소개할 `extend()` 메서드와 유사한 기능을 갖는다.
반면에 `append()` 메서드는 기존 리스트의 끝에 하나의 항목을 추가한다.
이 기능을 이용하여 위 코드를 수정하면 다음과 같다.

In [105]:
height_list = []

for person in info_list:
    height_list.append(person[3]) # append() 메서드를 사용하여 리스트에 항목 추가

height_list

[172.5, 163.5, 156.7, 187.2, 164.6, 178.3]

이제 6명의 체질량지수로 구성된 리스트를 생성할 수 있다.
i번 인덱스에 해당하는 사람의 체질량 지수는 다음과 같이 계산된다.

```python
bmi = weight_list[i] / (height_list[i]/100)**2
```

`(height_list[i]/100)`는 센티미터(cm) 단위를 미터(m) 단위로 변경한다.
또한 체질량지수를 소수점 이하 둘째 자리에서 반올림해서 보다 간단하게 표현하기 위해 `round()` 함수도 이용한다.
`round()` 함수는 반올림을 이용하여 소수점 이하 자리수를 제한한다. 
아래 코드는 체질량지수를 소수점 이하 첫째 자리까지만 계산한다.

In [106]:
bmi_list = []

for i in range(len(info_list)):
    bmi = weight_list[i] / (height_list[i]/100)**2  # 체질량지수
    bmi = round(bmi, 1)                             # 소수점 둘째 자리에서 반올림
    bmi_list.append(bmi)

bmi_list

[21.9, 19.3, 19.5, 23.2, 19.9, 28.3]

**`insert()` 메서드**

`append()` 메서드는 리스트의 끝에 항목을 추가한다.
반면에 `insert()` 메서드는 특정 위치에 항목을 삽입한다.
항목이 삽입되면 원래 그 위치를 포함해서 오른쪽에 위치했던 항목들은
모두 한 칸씩 오른쪽으로 이동된다.

아래 코드는 1번 인덱스 자리에 2를 삽입하여 1부터 4까지의 정수로 구성된 리스트를 완성한다.

In [107]:
x = [1, 3, 4]
x.insert(1, 2) # 1번 인덱스에 2 삽입
x

[1, 2, 3, 4]

아래 코드는 `height_list`를 `insert()` 메서드를 이용하여 생성한다.
그리고 삽입을 일부러 0번 인덱스로 한다. 
그러면 `info_list`의 항목을 역순으로 선택해야 하기에 역순 슬라이싱을 이용한다.

In [108]:
height_list = []

for person in info_list[::-1]:
    height_list.insert(0, person[3]) # 0번 인덱스에 키 정보 삽입

height_list

[172.5, 163.5, 156.7, 187.2, 164.6, 178.3]

`append()` 메서드처럼 마지막 항목으로 추가하기 위해 -1을 첫째 인자로 지정하고 
역순 슬라이싱을 사용하지 않으면 다른 결과가 나옴에 주의한다.
이유는 기존에 위치한 마지막 인덱스가 뒤로 오른쪽으로 밀리기 때문이다.
즉, 가장 먼저 리스트에 삽입된 이강현의 키가 계속해서 오른쪽에 밀린다.

In [109]:
height_list = []

for person in info_list:
    height_list.insert(-1, person[3]) # 0번 인덱스에 키 정보 삽입

height_list

[163.5, 156.7, 187.2, 164.6, 178.3, 172.5]

`append()` 메서드처럼 마지막 항목으로 추가하려면 인덱스 위치를 리스트의 길이보다 같거나 큰 값을 지정하면 된다.

In [110]:
height_list = []

for person in info_list:
    height_list.insert(len(height_list), person[3]) # 0번 인덱스에 키 정보 삽입

height_list

[172.5, 163.5, 156.7, 187.2, 164.6, 178.3]

**`extend()` 메서드**

`info_list` 변수가 가리키는 중첩 리스트에 6명 각각의 몸무게와 체질량지수 정보를 추가하기 위해
먼저 몸무게와 체질량지수로 구성된 길이가 2인 리스트를 생성한 후에
`extend()` 메서드를 이용하여 6명 각각의 정보를 담은 리스트를 확장한다.

예를 들어, 김강현의 몸무게와 체질량지수로 구성된 리스트는 다음과 같다.

In [111]:
kgh_weight_bmi = [weight_list[0], bmi_list[0]]
kgh_weight_bmi

[65.3, 21.9]

아래 코드는 김강현의 정보를 담은 리스트에 위 리스트를 연결하여 확장한다.
`kgh` 변수가 가리키는 리스트를 직접 건드리지 않기 위해
`copy()` 메서드를 이용하여 먼저 사본을 만든 다음에 리스트를 확장한다.

In [112]:
kgh_copy = kgh.copy()
kgh_copy.extend(kgh_weight_bmi)
kgh_copy

['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9]

동일한 작업을 6명 전원에 대해 적용하려면 `info_list`의 항목을 대상으로
`for` 반복문을 싱행한다. 
하지만 아래 방식은 곤란하다.

```python
for person in info_list:
    ...
```

이유는 `info`가 가리키는 항목의 인덱스 정보를 알아야만 `weight_list`와 `bmi_list`에서
해당 위치의 항목을 추출할 수 있기 때문이다.

해결책으로 `range()` 함수와 인덱싱을 활용한다.
그러면 언급된 세 개의 리스트 `info_list`, `weight_list`, `bmi_list` 모두에 대해
동시에 인덱싱을 적용할 수 있다.

In [113]:
for i in range(len(info_list)):
    weight_bmi_i = [weight_list[i], bmi_list[i]] # i번째 사람의 몸무게와 체질량지수
    info_list[i].extend(weight_bmi_i)            # i번째 사람의 정보 확장

info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9],
 ['황현', '02-9871-1234', 19, 163.5, '서울', 51.5, 19.3],
 ['남세원', '010-3456-7891', 21, 156.7, '경기', 48.0, 19.5],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산', 81.4, 23.2],
 ['김현선', '010-3333-8888', 22, 164.6, '광주', 53.8, 19.9],
 ['함중아', '010-7654-2345', 18, 178.3, '강원', 90.1, 28.3]]

In [114]:
kgh

['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9]

:::{admonition} `extend()` 메서드 대 이어붙이기 `+` 연산자
:class: note

`+` 연산자는 리스트 두개를 이어붙여 완전히 새로운 리스트를 생성한다.

```python
>>> kgh = ['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9]
>>> kgh_weight_bmi = [65.3, 21.9]
>>> kgh + kgh_wedith_bmi
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9, 65.3, 21.9]
>>> kgh # 변경되지 않음
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.0]
```

반면에 `extend()` 메서드는 기존 리스트에 새로운 리스트를 이어붙이는 방식으로 확장한다.
즉, 기존의 리스트를 수정한다.

```python
>>> kgh.extend(kgh_wedith_bmi)
>>> kgh # 확장됨
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9, 65.3, 21.9]
```
:::

**`pop()` 메서드**

`pop()` 메서드는 지정된 인덱스의 항목을 반환하는 동시에 리스트에서 삭제한다.
설명을 위해 6명의 이름으로 구성된 아래 리스트를 이용한다.

In [115]:
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

남세원 이름을 리스트에서 삭제하면서 동시에 반환하려면 남세원이 위치한 곳의 인덱스인 2를 인자로 지정한다.

In [116]:
namgung_name = name_list.pop(2)

2번 인덱스의 항목인 남세원이 `name_list`에서 삭제되었다.
삭제된 항목의 오른쪽에 위치한 항목은 한 칸씩 왼쪽으로 이동한다.

In [117]:
name_list

['김강현', '황현', '최흥선', '김현선', '함중아']

`pop()` 함수는 삭제된 이름을 반환하며, 해당 이름이 `namgung_name`에 할당되었다.

In [118]:
namgung_name

'남세원'

`name_list`를 원래대로 되돌려 놓기 위해 `insert()` 메서드를 이용하여 2번 인덱스에 이름을 삽입한다.

In [119]:
name_list.insert(2, namgung_name)

In [120]:
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

`pop()` 메서드의 인자를 지정하지 않으면 -1이 인자로 사용되어 마지막 항목이 삭제된 후 반환된다.

In [121]:
name_list.pop()

'함중아'

마지막 항목이기에 이번엔 `append()` 메서드로 함중아 이름을 항목으로 되돌린다.

In [122]:
name_list.append('함중아')

In [123]:
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

아래 코드는 `pop()` 메서드를 이용하여 `info_list`에서 몸무게와 체질량지수 항목을 삭제한다.
6명 각각의 리스트에서 오른쪽 맨 끝에 위치한 두 개의 항목을 삭제하면 되기에 `pop()` 메서드를 두 번씩 적용한다.

In [124]:
for person in info_list:
    person.pop()
    person.pop()

info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**`remove()` 메서드**

`remove()` 메서드는 리스트에서 지정된 항목을 삭제할 뿐 해당 항목을 반환하지 않는다.
반환값은 없다는 의에서 `None`을 반환한다.
동일한 항목이 여러 번 사용되었을 경우 가장 왼편에 위치한 항목을 삭제한다.

연습을 위해 먼저 김강현 이름을 항목의 2번 인덱스에 추가한다.

In [125]:
name_list.insert(2, '김강현')
name_list

['김강현', '황현', '김강현', '남세원', '최흥선', '김현선', '함중아']

김강현 이름을 리스트에서 삭제하자.

In [126]:
name_list.remove('김강현')

0번 인덱스에 위치한 김강현 이름이 삭제되었지만, 2번 인덱스에 위치했던 김강현 이름은 남아 있다.

In [127]:
name_list

['황현', '김강현', '남세원', '최흥선', '김현선', '함중아']

김강현 이름을 완전히 삭제하려면 한 번 더 `remove()` 를 적용해야 한다.

In [128]:
name_list.remove('김강현')
name_list

['황현', '남세원', '최흥선', '김현선', '함중아']

`name_list`를 복원하기 위해 `insert()` 메서드를 이용한다.

In [129]:
name_list.insert(0, '김강현')
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

**`sort()` 메서드**

리스트의 각 항목들 사이의 크기를 비교할 수 있는 경우 `sort()` 메서드는 항목을 크기 순으로 정렬하는
방식으로 주어진 리스트를 변경한다. 
즉, 주어진 리스트를 변경하는 것이지 새로운 리스트를 생성하는 것이 아님에 주의한다.

예를 들어 아래 코드는 `name_list`의 항목을 6명의 이름 순서로 정렬해보자.
먼저 `name_list`에 포함된 이름의 순서는 다음과 같다.

In [130]:
name_list

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

`sort()` 메서드로 정렬하면 가나다 순으로 정렬된다.

In [131]:
name_list.sort()

In [132]:
name_list

['김강현', '김현선', '남세원', '최흥선', '함중아', '황현']

`reverse=True` 키워드 인자를 지정하면 이름 역순으로 정렬한다.

In [133]:
name_list.sort(reverse=True)

In [134]:
name_list

['황현', '함중아', '최흥선', '남세원', '김현선', '김강현']

아래 코드는 6명의 몸무게를 크기 순으로 정렬한다.
먼저 원래 몸무게는 다음과 같다.

In [135]:
weight_list

[65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

리스트의 항목이 부동소수점이기에 이번에는 수의 크기 순으로 정렬한다.

In [136]:
weight_list.sort()

In [137]:
weight_list

[48.0, 51.5, 53.8, 65.3, 81.4, 90.1]

크기 역순으로 정렬도 가능하다.

In [138]:
weight_list.sort(reverse=True)

In [139]:
weight_list

[90.1, 81.4, 65.3, 53.8, 51.5, 48.0]

`info_list`와 같은 보다 복잡한 리스트로 정렬이 가능하다.
아래 코드는 6명의 정보를 이름 순으로 정렬한다.

In [140]:
info_list.sort()

info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

위 코드가 어째서 이름 순으로 정렬하는지, 그리고 예를 들어 키 순으로 정렬할 수도 있는데 어떻게 하는 것인지 
등에 대해서는 여기서 다루는 대신
[Programiz: Python List sort()](https://www.programiz.com/python-programming/methods/list/sort)의 설명을
읽을 것을 권장한다.

**`reverse()` 메서드**

리스트의 순서를 단순히 뒤집기 위해서는 `reverse()` 메서드를 적용한다.
예를 들어 김강현의 정보에 담긴 항목의 순서를 뒤집어 보자.
먼저 김강현의 정보는 원래 다음과 같이 이름, 전화번호, 나이, 키, 출생지 순으로
저장되어 있다.

In [141]:
kgh

['김강현', '010-1234-5678', 20, 172.5, '제주']

김강현의 정보를 출생지, 키, 나이, 전화번호, 이름 순으로 정렬하기 위해
`reverse()` 메서드를 정렬한다.

In [142]:
kgh.reverse()
kgh

['제주', 172.5, 20, '010-1234-5678', '김강현']

`reverse()` 메서드를 한 번 더 적용하면 원래 순서대로 돌아온다.

In [143]:
kgh.reverse()
kgh

['김강현', '010-1234-5678', 20, 172.5, '제주']

**`index()` 메서드**

인자로 지정된 항목이 위치한 인덱스를 반환한다.
항목이 여러 번 사용된 경우 가장 왼쪽에 위치한 곳의 인덱스를 선택한다.
예를 `[1, 2, 3, 1, 2, 3]`에서 2가 두 번 사용되었지만 
1번 인덱스에서 가장 먼저 사용된다.

In [144]:
[1, 2, 3, 1, 2, 3].index(2)

1

김강현의 이름은 `kgh`가 가리키는 리스트의 0번 인덱스에 위치한다.

In [145]:
kgh.index('김강현')

0

나이는 2번 인덱스에 위치한다.

In [146]:
kgh.index(20)

2

리스트의 항목으로 존재하지 않으면 `ValueError` 오류가 발생한다.

```python
>>> kgh.index('대한민국')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: '대한민국' is not in list
```

**`count()` 메서드**

인자로 지정된 항목이 리스트에 몇 번 사용되었는지를 반환한다.
예를 들어, `[1, 2, 3, 1, 2]`에 1과 2는 두 번, 3은 한 번 사용된다.

In [147]:
[1, 2, 3, 1, 2].count(1)

2

In [148]:
[1, 2, 3, 1, 2].count(2)

2

In [149]:
[1, 2, 3, 1, 2].count(3)

1

항목이 아니면 0을 반환한다.

In [150]:
[1, 2, 3, 1, 2].count(4)

0

### 리스트 연습문제

`info_list` 변수는 6명의 정보를 담은 중첩 리스트를 가리킨다.

In [151]:
info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

**문제 1**

`info_list`에 포함된 6명의 전화번호만으로 구성된 리스트를 가리키는 `phone_list` 변수를 선언하라.
단, `info_list`와 `for` 반복문, 인덱싱, `append()` 메서드를 반드시 활용한다.

*견본 답안*

`phone_list`를 빈 리스트로 초기화한 다음에 `for` 반복문과 인덱싱을 이용하여
6명 각각의 정보를 담은 리스트에서 전화번호 정보가 위치한 1번 인덱스 항목을 `phone_list`에 
`append()` 메서드로 추가한다.

In [152]:
phone_list = []                # 전화번호를 저장할 리스트 초기화
for person in info_list:
    phone_list.append(person[1]) # 전화번호만 추출해서 phone_list에 추가

phone_list

['010-1234-5678',
 '010-3333-8888',
 '010-3456-7891',
 '070-4321-1111',
 '010-7654-2345',
 '02-9871-1234']

**문제 2**

`info_list`에 포함된 6명의 출생지로 구성된 리스트를 가리키는 `birthplace_list` 변수를 선언하면서
동시에 `info_list`에서 출생지 정보를 삭제하라.
즉, `info_list`가 다음 모양의 중첩 리스트를 가리켜야 한다.

```python
[['김강현', '010-1234-5678', 20, 172.5],
 ['황현', '02-9871-1234', 19, 163.5],
 ['남세원', '01-3456-7891', 21, 156.7],
 ['최흥선', '070-4321-1111', 21, 187.2],
 ['김현선', '010-3333-8888', 22, 164.6],
 ['함중아', '010-7654-2345', 18, 178.3]]
```

단, `info_list`와 `for` 반복문, `pop()` 메서드를 반드시 활용한다.

*견본 답안*

`pop()` 메서드는 인자를 지정하지 않으면 리스트의 마지막 항목을 반환하면서 동시에 리스트에서 삭제한다.
이점만 이용하면 `birthplace_list`는 `phone_list`와 거의 유사한 방식으로 정의된다.

In [153]:
birthplace_list = []
for person in info_list:
    birthplace_list.append(person.pop()) # 출생지를 리스트에서 삭제하면서 동시에 birthplace_list에 추가

birthplace_list

['제주', '광주', '경기', '부산', '강원', '서울']

출생지가 모든 사람의 정보에서 삭제되었음을 확인할 수 있다.

In [154]:
info_list

[['김강현', '010-1234-5678', 20, 172.5],
 ['김현선', '010-3333-8888', 22, 164.6],
 ['남세원', '010-3456-7891', 21, 156.7],
 ['최흥선', '070-4321-1111', 21, 187.2],
 ['함중아', '010-7654-2345', 18, 178.3],
 ['황현', '02-9871-1234', 19, 163.5]]

**문제 3**

6명 중에서 나이가 21세인 사람은 몇 명인지 확인하는 코드를 작성하라.
단, 리스트의 `count()` 메서드를 이용한다.

*견본 답안*

먼저 나이만을 추출해서 담은 `age_list`를 `phone_list`와 유사하게 선언한 다음에
`count()` 메서드를 적용한다.

In [155]:
age_list = []               # 나이 정보만 저장할 리스트
for person in info_list:
    age_list.append(person[2])

age_list.count(21)          # 21살인 사람의 수 확인

2

**문제 4**

리스트의 `count()` 메서드처럼 작동하는 `item_count()`를 구현하라.
예를 들어 다음 표현식이 참이어야 한다.

```python
item_count(age_list, 21) == age_list.count(2)
```

*견본 답안*

In [156]:
def item_count(xs, item):
    count = 0
    for x in xs:
        if x == item:
            count += 1
    return count

In [157]:
item_count(age_list, 21)

2

(sec:tuple)=
## 튜플

튜플은 리스트와 거의 비슷하지만, 변경 불가능<font size = "2">immutable</font>하다는 점이 다르다.
따라서 튜플을 활용하는 메서드가 많이 제공되지 않는다.
소괄호 `()`를 사용하고, 각 항목은 콤마(`,`)로 구분한다.

In [158]:
(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [159]:
('a','b', 'c', 'd')

('a', 'b', 'c', 'd')

소괄호를 사용하지 않아도 튜플로 처리된다.

In [160]:
a_tuple = 'a','b', 'c', 'd'
a_tuple

('a', 'b', 'c', 'd')

길이가 1인 튜플인 경우 항목 뒤에 반드시 쉽표를 붙혀야 한다.

In [161]:
tup1 = (3, )
type(tup1)

tuple

그렇지 않으면 튜플로 간주되지 않는다.

In [162]:
tup1 = (3)
type(tup1)

int

튜플 또한 여러 종류의 값을 포함할 수 있다.

In [163]:
mixed_tuple = (1, 2.3, 'abc', False, ['ab', 'c'], (2, 4))
mixed_tuple

(1, 2.3, 'abc', False, ['ab', 'c'], (2, 4))

**빈 튜플**

빈 튜플은 아무것도 포함하지 않는 튜플을 의미한다. 빈 튜플를 만드는 방법은 아래와 같다. 

```python
empty_tuple = ()
empty_tuple = tuple()
```

### 튜플 연산

**`in` 연산자**

튜플의 항목으로 등장하는지 여부를 알려주는 논리 연산자이다.

In [164]:
'1' in ('a', 'bc', 'd', 'e')

False

In [165]:
'd' in ('a', 'bc', 'd', 'e')

True

In [166]:
'f' not in ('a', 'bc', 'd', 'e')

True

**이어붙이기/복제**

리스트의 경우처럼 튜플도 이어붙이기와 복제 연산을 사용한다.

In [167]:
('a', 'b') + ('b', 'c', 'd')

('a', 'b', 'b', 'c', 'd')

In [168]:
('a', 'b') * 2

('a', 'b', 'a', 'b')

**`len()`함수**

튜플의 길이, 즉 튜플에 포함된 항목의 개수를 반환한다.

In [169]:
len(('a', 'b', 'c', 'd'))

4

**`min()`/`max()` 함수**

항목 중에서 최솟값 또는 최댓값을 확인한다.
단, 기본적으로 모든 값의 자료형이 갖고 크기 비교가 가능해야 한다.

In [170]:
max((2, 9, 11, 20, 3))

20

In [171]:
min((2, 9, 11, 20, 3))

2

### 튜플 인덱싱/슬라이싱

튜플도 문자열과 리스트처럼 인덱싱과 슬라이싱이 가능하다.

In [172]:
a_tuple = (3, 15, 9, 12, 7, 14, 10)

In [173]:
a_tuple[0]

3

In [174]:
a_tuple[-1]

10

In [175]:
a_tuple[2:6:2]

(9, 7)

튜플은 불변 자료형이라 값을 수정할 수 없다. 
예를 들어, 아래와 같이 인덱싱을 사용하여 튜플의 항목을 변경하려고 하면 오류가 발생한다.   

```python
>>> a_tuple = (3, 15, 9, 12, 7, 14, 10)
>>> a_tuple[0] = 100
TypeError                                 Traceback (most recent call last)
/tmp/ipykernel_1817/347940049.py in <module>
      1 a_tuple = (3, 15, 9, 12, 7, 14, 10)
----> 2 a_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment
```

튜플이 변경 불가능한 자료형이라고 해서 튜플의 모든 항목이 모두 변경 불가능해야 하는 것은 아니다. 
예를 들어, 아래 `tup` 이 가리키는 튜플의 첫번째 항목은 `[1, 2]`이고, 리스트는 변경가능한 자료형이다.

In [176]:
tup = ([1, 2], 10, 100)

변수 `tup` 과 튜플 사이의 관계는 아래 그림이 잘 보여준다.

<div align="center">
    <img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/hj617kim/ch04/tuple01.png" style="width:275px;">
</div>

따라서 아래와 같이 첫번째 항목 자체는 변경이 가능하다.

In [177]:
tup[0].append(3)

실제로 `tup` 의 첫째 항목이 변경되었음을 확인할 수 있다.

In [178]:
tup

([1, 2, 3], 10, 100)

<div align="center">
    <img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/hj617kim/ch04/tuple02.png" style="width:300px;">
</div>

### 튜플 메서드

튜플 자료형의 메서드는 많지 않다. 많이 사용되는 두 개의 메소드를 살펴보자.   

|메서드|설명|
|:----------|:----------|
|`count()`|지정된 항목이 등장한 횟수 반환|
|`index()`|지정된 항목이 처음 위치한 인덱스 반환|

In [179]:
num_tuple = (1, 2, 3, 1, 3, 5, 5, 10, 15)

**`count()` 메서드**

In [180]:
num_tuple.count(1)

2

**`index()` 메서드**

In [181]:
num_tuple.index(5)

5

##  순차 자료형 해체

순자 자료형의 항목 각각에 대해 변수 할당을 진행할 수 있다.
단, 사용되는 변수의 수는 항목의 수와 일치해야 한다.

In [182]:
a, b = "12"

In [183]:
print(a, type(a)) # 타입은 문자열이다.
print(b)

1 <class 'str'>
2

In [184]:
c, d, e = [3, 4, 5]

In [185]:
print(c) 
print(d) 
print(e)

3
4
5

In [186]:
f, g = (6, 7)

In [187]:
print(f) 
print(g)

6
7

**밑줄 기호 `_` 활용**

변수의 이름이 굳이 필요 없다면 밑줄<font size = "2">underscore</font>(`_`) 기호를
대신 사용할 수 있다.
예를 들어, 둘째 값에 대한 변수가 필요없다면 아래와 같이 해체할 수 있다.

In [188]:
c, _, e = [3, 4, 5]
print(c + e)

8

:::{admonition} 주의   
:class: caution  
항목의 개수와 변수의 개수가 일치하지 않으면 오류가 발생한다.
오류를 피하려면 위해 밑줄 등을 반드시 활용해야 한다.

```python
>>> c, e = [3, 4, 5]
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_1817/4065688922.py in <module>
----> 1 c, e = [3, 4, 5]
      2 print(c + e)

ValueError: too many values to unpack (expected 2)
```
:::

**별표 기호 `*` 활용**

앞에 몇 개의 값에만 변수 할당에 사용하고 나머지는 하나의 리스트로 묶어서 퉁쳐버릴 수도 있다.
이를 위해 별표 기호<font size = "2">asterisk</font>(`*`)를 하나의 변수명과 함께 사용한다.

In [189]:
values = (1, 2, 3, 4, 5)
a, b, *rest = values

In [190]:
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

나머지 항목들을 무시하고 싶다면, 별표와 밑줄을 함께 사용한다.

In [191]:
a, b, *_ = values

In [192]:
print(a)
print(b)

1
2

## 순차 자료형에 유용한 함수

문자열, 튜플, 리스트처럼 항목들의 순서가 중요한 순차 자료형과 함께 유용하게 사용되는 네 개의 함수를 소개한다.

### `enumerate()` 함수

튜플과 리스트의 인덱스를 튜플과 리스트 자체에서 눈으로 확인할 수 없다.
하지만 항목과 해당 항목의 인덱스 정보를 함께 활용해야 할 때가 있는데
이때 `enumerate()` 함수가 매우 유용하다.

In [193]:
some_list = ['foo', 'bar', 'baz', 'pyt', 'thon']

`enumerate()` 함수는 리스트를 받아서
리스트의 항목과 인덱스를 쌍으로 갖는 모음 자료형의 객체를 준비시킨다.
이렇게 준비된 객체를 직접 확인할 수는 없다.

In [194]:
enumerate(some_list)

리스트로 환원하면 인덱스와 항목의 튜플로 이루어져 있음을 확인 수 있다.

In [195]:
list(enumerate(some_list))

[(0, 'foo'), (1, 'bar'), (2, 'baz'), (3, 'pyt'), (4, 'thon')]

**예제**

인덱스를 활용하여 원하는 항목만 추출할 수 있다.
예를 들어, 아래 코드는 짝수 인덱스의 값들만 출력하도록 한다.
인덱스와 항목으로 구성된 길이가 2인 튜플을 해체하기 위해
`i`와 `v`를 바로 이용함에 주의하라.

In [196]:
for i, v in enumerate(some_list):
    if i % 2 == 0:
        print(v)

foo
baz
thon

`enumerate()` 함수를 사용하지 않으면서 동일한 기능을 구현하려면
인덱스를 직접 이용해야 한다.

In [197]:
for i in range(len(some_list)):
    if i & 2 == 0:
        print(some_list[i])

foo
bar
thon

**예제**

아래 코드는 인덱스와 리스트의 항목의 순서를 바꾼 튜플의 
리스트를 생성한다.

In [198]:
mapping = []

for i, v in enumerate(some_list):
    mapping.append((v, i))

mapping

[('foo', 0), ('bar', 1), ('baz', 2), ('pyt', 3), ('thon', 4)]

`enumerate()` 함수를 사용하지 않으면서 동일한 기능을 구현하려면
인덱스를 직접 이용해야 한다.

In [199]:
mapping = []

for i in range(len(some_list)):
    mapping.append((some_list[i], i))

mapping

[('foo', 0), ('bar', 1), ('baz', 2), ('pyt', 3), ('thon', 4)]

### `zip()` 함수

문자열, 리스트, 튜플 등 순차 자료형 여러 개를 묶어 하나의 값으로 만든다.
이때, 각 순차 자료형의 값에 사용된 순서를 반영한다.
단, `zip()` 함수의 반환값은 구체적으로 명시되지 않는다.

In [200]:
zip("abc", [1, 2, 3])

`for` 반복문을 이용하여 항목을 확인할 수는 있다.

In [201]:
for item in zip("abc", [1, 2, 3]):
    print(item)

('a', 1)
('b', 2)
('c', 3)

아니면 `list()`함수를 이용하여 튜플 리스트로 변환할 수도 있다.

In [202]:
list(zip("abc", [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

여러 개의 모음 자료형을 짝짓는 것도 가능하다.
단. 길이가 다르면 가장 짧은 길이에 맞춰서 짝을 짓고, 나머지는 버린다.

In [203]:
list(zip("abcdefgh",(1, 2, 3, 4, 5), [5, 10, 15]))

[('a', 1, 5), ('b', 2, 10), ('c', 3, 15)]

**동시 반복**

`zip()` 을 이용하면 여러 개의 리스트, 튜플을 대상으로 동시에 반복문을 돌릴 수 있다.

In [204]:
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
for l, n in zip(letters, numbers):
    print(f'문자: {l}', end=', ')
    print(f'숫자: {n}')

문자: a, 숫자: 0
문자: b, 숫자: 1
문자: c, 숫자: 2

`zip()` 함수를 사용하지 않으면 2중으로 중첩된 `for` 반복문과
인덱싱을 함께 이용해야 한다.

In [205]:
for idx1 in range(len(letters)):
    for idx2 in range(len(numbers)):
        if idx1 == idx2:
            print(f'문자: {letters[idx1]}', end=', ')
            print(f'숫자: {numbers[idx2]}')

문자: a, 숫자: 0
문자: b, 숫자: 1
문자: c, 숫자: 2

In [206]:
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
operators = ['*', '/', '+']
for l, n, o in zip(letters, numbers, operators):
    print(f'문자: {l}', end=', ')
    print(f'숫자: {n}', end=', ')
    print(f'연산자: {o}')

문자: a, 숫자: 0, 연산자: *
문자: b, 숫자: 1, 연산자: /
문자: c, 숫자: 2, 연산자: +

`zip()` 함수를 사용하지 않으면 3중으로 중첩된 `for` 반복문과
인덱싱을 함께 이용해야 한다.

In [207]:
for idx1 in range(len(letters)):
    for idx2 in range(len(numbers)):
        for idx3 in range(len(numbers)):
            if idx1 == idx2 and idx2 == idx3:
                print(f'문자: {letters[idx1]}', end=', ')
                print(f'숫자: {numbers[idx2]}', end=', ')
                print(f'연산자: {numbers[idx3]}')

문자: a, 숫자: 0, 연산자: 0
문자: b, 숫자: 1, 연산자: 1
문자: c, 숫자: 2, 연산자: 2

## 연습문제

참고: [(실습) 리스트와 튜플](https://colab.research.google.com/github/codingalzi/pybook/blob/master/practices/practice-lists_tuples.ipynb)