# 변수, 값, 표현식

프로그래밍 언어를 분류하는 여러 기준 중에 하나가 명령형 프로그래밍 언어인지 여부이다.
파이썬은 C, C++, C#, 자바, 자바스크립트, Rust 등처럼 명령형 프로그래밍 언어이다.
명령형 프로그래밍언어의 핵심 기능 중의 하나가 
바로 컴퓨터 메모리에 저장된 값을 조작하는 일이다.
값을 저장하고 조작하기 위해 값을 가리키는 이름이 필요한데
이를 위해 변수를 사용한다.

컴퓨터 프로그램은 간단하게 말해 변수를 조작하여 원하는 값을
만들어내는 명령문의 모음집이라고 할 수 있다.
이번 장에서는 변수의 활용법과 함께 
파이썬에서 기본으로 제공하는 값의 종류와 값을 표현하는 표현식에 대해 알아본다.

## 변수와 값

**변수**<font size="2">variables</font>는 
컴퓨터 메모리에 저장되는 값을 가리키는 이름이다.
반면에 **값**<font size="2">values</font>은 컴퓨터에 저장해서
활용할 수 있는 대상이며, 
정수와 유한소수가 대표적인 값들이다.

참고로 무리수를 포함한 무한소수는 물론 소수점 이하의 자릿수가 너무 큰 유한소수는
컴퓨터의 용향 한계로 인해 제대로 파이썬 등 모든 프로그래밍 언어에서 완벽하게 다뤄지지 못한다.
모든 프로그래밍 언어는 유한소수와 무한소수 모두 소수점 이하 적당한 자리에서 끊어서 저장하고 처리한다.
어디서 끊는가 또한 프로그램이 활용되는 환경에 따라, 
컴퓨터 사양에 따라 달라진다.
유한소수의 자릿수가 일정하지 않게 처리된다는 의미에서 유한소수의 자료형을
일반적으로 **부동소수점**<font size='2'>floating points</font>라 부른다.

정수, 유한소수와 더불어 `a`, `b`, `c`, `1`, `2`, `3`, `!`, `:`, `_`, `가`, `나`, `다` 등 
컴퓨터 키보드를 이용하여 입력할 수 있는 임의의 문자, 숫자, 기호로 
구성된 단어를 가리키는 문자열도 값으로 취급된다.
예를 들어, `파이썬 좋아요;-)`, `Hello, World!` 등이 문자열 값이다.
이외에 파이썬은 리스트, 튜플, 집합, 사전 등 다양한 종류의 값을 제공하며,
앞으로 하나씩 상세히 살펴볼 것이다.

### 변수 할당

**변수 할당**<font size="2">variable assignment</font> 명령문은
하나의 변수에 하나의 값을 할당하며,
이 과정을 통해 이어지는 명령문에서 활용할 수 있는 변수를 **선언**한다.
할당된 값은 컴퓨터 메모리 어딘가에 저장되며
선언된 변수는 저장된 값이 어디에 저장되어 있는지 있으며 그 값을 가리킨다.
따라서 저장된 값을 활용하고 싶을 때 언제든지 선언된 변수를 대신 이용할 수 있다.

변수 할당 명령문의 형식은 다음과 같다.

```python
변수 = 값
```

예를 들어, 아래 네 개의 할당 명령문은 서로 다른 종류의 값을 가리키는 네 개의 변수를
선언한다.

- `greetings` 변수: `'안녕하세요!'` 라는 문자열을 할당받음.

In [10]:
greetings = '안녕하세요!'

- `num` 변수: 정수 `17`을 할당받음.

In [11]:
num = 17

- `pi` 변수: 유한소수 `3.1415926535897932`를 할당받음.

In [12]:
pi = 3.1415926535897932

- `scores` 변수: 세 개의 시험점수로 구성된 리스트를 할당받음.

In [21]:
scores = [92, 87, 100]

**선언된 변수와 할당된 값**

선언된 변수는 할당된 값과 동등하게 취급된다.
예를 들어 `'안녕하세요!'` 문자열이 필요하면 
`greetings` 변수를 대신 사용한다.
아래 코드는 `greetings` 변수가 정확하게 `'안녕하세요!'` 문자열을 가리키고 있음을 보여준다.

In [15]:
greetings

'안녕하세요!'

변수 `num`과 `pi` 가 각각 정수와 부동소수점을 가리키기에 연산에도 사용할 수 있다.

In [17]:
num + 2

19

In [18]:
2 * pi

6.283185307179586

변수 `scores`가 시험점수로 구성된 리스트를 가리키기에
아래 코드에서처럼 시험점수의 평균값을 리스트 인덱싱을 이용하여 계산할 수 있다.
참고로 정수의 나누셈 결과는 항상 부동소수점으로 처리됨에 주의한다.

In [23]:
mean = (scores[0] + scores[1] + scores[2])/3
mean

93.0

**변수 재할당**

변수 재할당은 변수에 할당된 값을 다른 값으로 대체하는 일이다.
예를 들어 변수 `x`에 정수 5를 할당한다.

In [11]:
x = 5

변수 `x`는 정수 5를 가리킨다.

In [13]:
print(x)

5

이제 변수 할당 명령문을 아래처럼 다시 실행해본다.

In [18]:
x = 7

이제 변수 `x`는 정수 5가 아닌 정수 7을 가리킨다.

In [19]:
print(x)

7

이처럼 변수 할당문을 동일한 변수를 이용하여 다시 실행하면
변수가 가리키는 값이 달라진다.

**변수 업데이트**

**변수 업데이트**<font size="2">variable update</font>는
이미 선언된 변수에 대해 변수 재할당을 실행할 때 변수 자신의 값을 이용한다.
예를 들어 아래 코드는 변수 `x`가 기존에 가리키던 값 7에 1을 더한 값 8을 다시 변수 `x`에 할당한다.

In [20]:
x = x + 1
print(x)

8

반면에 아래 명령문은 변수 `x`가 가리키던 값 8에서 1을 뺀 값인 7을 다시 변수 `x`에 할당한다.

In [21]:
x = x - 1
print(x)

7

변수 업데이트 명령문을 보다 간편하게 표현할 수 있다.
예를 들어 아래 명령문은 `x = x+1`을 대신한다.

In [22]:
x += 1 # x = x + 1

In [23]:
print(x)

8

반면에 아래 명령문은 `x = x / 2`를 대신한다.

In [24]:
x /= 2 # x = x / 2

In [25]:
print(x)

4.0

프로그래밍에서 많이 사용되는 간편한 변수 업데이트 명령문 형식을 정리하면 다음과 같다.

| 간편 변수 업데이트 | 실제 의미 |
| :---: | :---: |
|`x += 1` |`x = x + 1`|
| `x -= 1` | `x = x - 1`|
| `x *= 2` | `x = x * 2`|
|`x /= 2`|`x = x / 2`|
|`x **= 2`|`x = x ** 2`|
|`x //= 2`|`x = x // 2`|
|`x %= 2`|`x = x % 2`|

간편 변수 업데이트 명령문은 `while` 반복문에서 많이 활용된다.
예를 들어 {numref}`%s절 <sec:while-iteration-starting>`에서 
`while` 반복문을 이용하여 1부터 10까지의 정수들의 합을 계산한 코드는 다음과 같았다.

In [31]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

index = 0
sum = 0                          # 항목을 차례대로 더한 값. 시작은 0부터.

while index < len(one2ten):
    sum = sum + one2ten[index] 
    index = index + 1
    
print("1부터 10까지 정수의 합:", sum)

1부터 10까지 정수의 합: 55

위 코드에서 `while` 반복문의 본문에서 마지막 명령문으로 사용된
`index = index + 1`은 리스트의 항목의 위치를 가리키는 인덱스를 
0에서 1씩 키우면서 인덱싱을 적용하기 위해 필요하다.
이런 경우 보통 간편 변수 업데이트 명령문을 활용한다.

In [32]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

index = 0
sum = 0                          # 항목을 차례대로 더한 값. 시작은 0부터.

while index < len(one2ten):
    sum = sum + one2ten[index] 
    index += 1                  # 간편 변수 업데이트
    
print("1부터 10까지 정수의 합:", sum)

1부터 10까지 정수의 합: 55

### 변수 이름짓기

변수의 이름은 할당되는 값과 연관된 이름을 사용하는 게 좋다.
예를 들어, 농구 시합에서 A 팀의 점수 72와 B 팀의 점수 80을 
가리키는 두 개의 변수를 아래와 같이 `x`와 `y`로 하면 
코드만 보고서는 변수의 의미를 파악하기 어렵다.

In [33]:
x = 72
y = 80

반면에 아래처럼 `A_score`, `B_score` 등으로 변수를 정하면
코드에 사용된 변수의 의미를 보다 잘 이해할 수 있다.

In [34]:
A_score = 72
B_score = 80

**변수 이름짓기 규칙**

변수의 이름을 지을 때 지켜야 하는 몇 가지 규칙이 있다.

- 알파벳, 숫자, 밑줄 기호 `_` 등을 임의로 조합한다.
- 다음 기호들은 사용할 수 없다.

    ```
    ., !, +, -, *, /, %, @, ~
    ````

- 공백<font size='2'>space</font>을 포함할 수 없다.
- 숫자로 시작할 수 없다.
- 파이썬에서 특별한 역할을 수행하는 아래 **키워드**<font size="2">keyword</font>를
    그대로 변수로 사용할 수 없다. 
    파이썬 프로그래밍 언어의 키워드는 파이썬 최신 버전 기준으로 총 35개이다.
    각 키워드의 역할은 필요할 때마다 설명될 것이다. 

    ```
    False      await      else       import     pass
    None       break      except     in         raise
    True       class      finally    is         return
    and        continue   for        lambda     try
    as         def        from       nonlocal   while
    assert     del        global     not        with
    async      elif       if         or         yield
    ```

변수 이름으로 허용되지 않는 사례 몇 가지를 살펴보자.

- 숫자로 시작: 숫자로 시작하면 안된다는 의미의 구문 오류(`SyntaxError`)가 발생한다.

In [35]:
3dogs = '강아지 세 마리'

SyntaxError: invalid decimal literal (2112157922.py, line 1)

- 마침표 활용: `first.second`를 변수로 지정하면 마침표로 인해 `first`와 `second`가 구분된다.
    그런데 `first`의 의미가 미리 지정되지 않았다는 의미의 이름 오류(`NameError`)가 발생한다.

In [39]:
first.second = "1, 2"

NameError: name 'first' is not defined

- 공백 사용: 변수 이름에 공백이 허용되 않는다는 의미의 구문 오류(`SyntaxError`)가 발생한다.

In [36]:
big number = 100000000

SyntaxError: invalid syntax (4202336010.py, line 1)

- 파이썬 키워드 사용: 예를 들어, `False`는 거짓을 나타내는 부울값(진릿값)이기에 
    다른 의미로 사용되어서는 안된다는 의미의 구문 오류(`SyntaxError`)가 발생한다.

In [38]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

**소문자와 대문자 구분하기**

프로그래밍에서 영어 알파벳의 소문자와 대문자는 엄연히 구분된다.
예를 들어, `'hello'`와 `'Hello'`는 서로 다른 문자열이다.

In [40]:
'hello' == 'Hello'

False

**한글 사용**

한글 단어, 심지어 자음과 모음도 독립적으로 사용할 수 있다.
하지만 한글을 이용하여 변수 이름을 짓는 일은 많이 활용되지는 않는다.

In [43]:
헬로 = 'hello'
ㅎㄹ = '헬로'

반면에 아래 코드에서처럼 한글 문자열을 변수에 할당해서 활용하는 일은 매우 일반적이다.

In [46]:
hello = "안녕하세요"
print("hello의 뜻:", hello)

hello의 뜻: 안녕하세요

## 함수와 표현식

### 연산자

일반적으로 **연산**<font size="2">operation</font>은 사칙연산 등 
수<font size='2'>number</font>를 대상으로 하는 **계산**을 의미한다.
하지만 연산은 수 이외에도 두 문자열의 이어 붙이기 등 다른 종류의 값을 대상으로도 실행될 수 있다.
이렇게 특정 종류의 값을 대상으로 계산을 수행하도록 하는 기호를
**연산자**<font size="2">operator</font>라 부르며,
가장 많이 사용되는 연산자는 다음과 같다.

* 사칙 연산자: 덧셈(`+`), 뺄셈(`-`), 곱셈(`*`), 나눗셈(`/`)
* 비교 연산자: 작다(`<`), 크다(`>`), 작거나 같다(`<=`), 크거나 같다(`>=`)

위 연산자들이 수 연산에 사용되는 경우 수학에서 배운
연산 개념과 동일하다.
하지만 앞서 살펴보았듯이 수가 아닌 다른 종류의 값들을 대상으로 하면 기능이 달라질 수 있다.

In [15]:
first = '파이썬, '
second = '안녕!'

In [16]:
first + second

'파이썬, 안녕!'

In [17]:
'I love python! ' * 4

'I love python! I love python! I love python! I love python! '

:::{admonition} 연산자 우선순위
:class: info

하나의 표현식이 나타내는 값은
표현식에 사용된 연산자를 실행하여 계산된다.
사칙연산자 등 많이 사용되는 수학 연산자의 
우선순위는 일반적으로 알려진 것과 동일하다.

* 괄호 안에 있는 표현식을 가장 먼저 계산한다. 
    
    ```python
    2*(3-1) => 2*2 => 4
    (1+1)**(5-2) => 2**(5-2) => 2**3 => 8
    ```
    
* 거듭제곱의 우선순위가 사칙연산보다 높다.

    ```python
    3**2*2 => (3**2)*2 => 9*2 => 18
    3*2**2 => 3*(2**2) => 3*4 => 12
    ```
    
* 곱셈과 나눗셈을 덧셈과 뺄셈보다 먼저 계산한다. 

    ```python
    2*3-1 => (2*3)-1 => 6-1 => 5
    6+4/2 => 6+(4/2) => 6+2 => 8
    ```
    
* 곱셈과 나눗셈은 서로 우선순위가 같다.
* 덧셈과 뺄쎔도 서로 우선순위가 같다.
* 같은 우선순위를 갖는 연산자가 연속해서 나오면 (거듭제곱을 제외하고) 왼쪽에서 오른쪽으로 계산된다. 

    ```python
    60/2*3 => (60/2)*3 => 30*3 => 90
    ```
    
* 거듭제곱이 연속해서 나오면 오른쪽에서 왼쪽으로 계산된다. 

    ```python
    2**3**2 => 2**(3**2) => 2**9 => 512
    ```
:::

### 함수

수학에서의 함수는 다음과 같이 사칙연산과 거듭제곱을 포함하여
삼각함수와 지수 및 로그 함수 등
주어진 값을 이용하여 새로운 값을 계산한다.

- $f(x) = ax + b$, 
- $g(x, y) = a x^2 + b y^2$, 
- $pow(x, y) = x ^ y$
- $h(x) = \sin x$,
- $k(x) = \log x$,
- $root(x) = \sqrt{x}$

언급된 함수 중에서 $\sin$ 과 $\log$, 그리고 제곱근 함수 $\sqrt{\,\,\,}$ 등은 
`math` 모듈에 포함되어 있다.
아나콘다 패키지를 설치한 경우 `numpy` 모듈도 많은 함수를 제공한다.

언급된 함수들을 사용하려면 먼저 해당 모듈을 불러와야 한다. 
예를 들어 `math` 모듈을 사용하려면 다음과 같이 한다.

In [18]:
import math

그러면 `sin()`, `log()`, `sqrt()` 함수 등을 이용할 수 있다.
단, 불러온 모듈 이름과 함께 사용한다.

- $\sin(\pi/2)$

In [19]:
# 원주율 
pi = 3.14

math.sin(pi/2)

0.9999996829318346

- $\sqrt{2}$

In [20]:
math.sqrt(2)

1.4142135623730951

`math.log()`는 자연로그 함수를 가리킨다.

- $\log(10)$

In [21]:
math.log(2.71)

0.9969486348916096

상용로그 함수는 다음과 같다.

- $\log_{10}(10)$

In [22]:
math.log10(10)

1.0

앞서 보았듯이 수학에서의 함수를 프로그래밍에서 그대로 사용한다.
하지만 프로그래밍에서 함수의 의미는 수학에서의 함수와는
다른 역할도 가질 수 있다.
예를 들어, 
`print()` 함수는 어떤 값을 계산해서 생성하는 일은 하지 않고
지정된 값을 화면에 출력하는 기능만 수행한다.
프로그래밍에서의 함수의 기능에 대한 자세한 설명은
{numref}`%s장 <ch:functions>`에서 다룬다.

프로그래밍에서의 함수는 또한 숫자가 아닌 다른 종류의 값도 생성한다.
예를 들어 리스트와 같은 수학에서는 없는 값도 생성하는 함수가 존재한다.
앞으로 다양한 종류의 함수를 만나게 될 것이다.
여기서는 파이썬에서 가장 많이 활용되는 함수 중의 하나인
`range()` 함수를 소개한다.
`range()` 함수를 이용하면 유용한 리스트를 아주 간단하게 생성할 수 있다.

### `range()` 함수

`range()` 함수는 리스트와 매우 유사한 값을 생성한다.
예를 들어, `range(10)`는 0부터 10 이전까지, 
즉 0부터 9까지의 정수를 포함하는 리스트와 유사한 값을 생성한다.

In [21]:
range(10)

range(0, 10)

아니면 0을 첫째 인자로, 10을 둘째 인자로 사용해도 동일한 모양의 값을 생성한다.

In [27]:
range(0, 10)

range(0, 10)

`range()` 함수가 생성하는 값의 자료형은 `range` 이다.

In [29]:
type(range(10))

range

그런데 `range(10)`의 내부를 바로 보여주지는 않는다.

In [30]:
print(range(10))

range(0, 10)

`range` 객체에 포함되는 값을 확인하는 가장 간단한 방법은 
리스트로의 형변환이다.

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

아니면 `for` 반복문을 이용할 수 있다.

In [25]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

이렇듯 `range()` 함수가 생성하는 `range` 객체는 내부를 바로 보여주지는 않지만
`for` 반복문에서 아래와 같은 리스트를 대신해서 유용하게 활용된다.

In [26]:
for item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(item)

0
1
2
3
4
5
6
7
8
9

:::{admonition} `range()` 함수와 이터러블 자료형
:class: note

`range()` 함수가 생성하는 `range` 객체에 대한 자세한 설명은 {numref}`%s장 <ch:collections3>` 을 참고한다.
하지만 파이썬 프로그래밍에 어느 정도 익숙해진 다음에 참고할 것을 추천한다.
:::

`range()` 함수는 최대 3 개의 인자를 받을 수 있다.
`range(10)`이 `range(0, 10)`과 동일한 모양의 값을 생성한다고 말했듯이
하나의 인자만 사용하면 첫째 인자가 0인 두 개의 인자를 사용하는 경우와 동일하다.

In [34]:
range(10) == range(0, 10)

True

그런데 시작을 0이 아닌 다른 정수로 하려면 반드시 두 개의 인자를 사용해야 한다.
예를 들어 아래 코드는 1부터 9까지의 정수로 구성된 값을 생성한다.

In [32]:
range(1, 10)

range(1, 10)

In [33]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`range()` 함수에 세 개의 인자를 사용하면
첫째, 둘째 인자의 의미는 이전과 동일하다.
그리고 셋째 인자는 보폭을 가리킨다.
예를 들어 1부터 9까지의 정수 중에서 홀수만을
대상으로 하는 `range` 객체를 생성한다.
이유는 보폭이 2로 지정되었기에 1부터 시작해서 1씩이 아닌 2씩 증가시켜 값을 포함시키기 때문이다.

In [37]:
range(1, 10, 2)

range(1, 10, 2)

In [38]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

10보다 같거나 작은 자연수 중에서 짝수만을 포함하는 리스트를 다음과 같이 쉽게 생성할 수 있다.

In [40]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

보폭을 인자로 사용하려면 반드시 세 개의 인자를 사용해야 한다.
예를 들어 0을 짝수 리스트에 포함시키려면 다음과 같이 한다.

In [42]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

만약에 0을 생략하면 보폭인자의 역할을 수행하지 않기에 엉뚱한 결과를 얻는다.

In [43]:
list(range(11, 2))

[]

위 코드는 아무 항목도 포함하지 않는 빈 리스트를 생성한다.
이유는 시작은 11인데 2에서 끝나야 하기 때문이다. 
그런데 셋제 인자로 보폭이 주어지지 않으면 보폭은 자동 1로 지정된다.
그런데 보폭이 1이면 11에서 출발해서 1씩 증가하는 방식으로 절대로 2에 도달할 수 없게된다.
따라서 어떤 값도 `range(11, 2, 1)` 에 포함되지 못하게 된다.

In [44]:
list(range(11, 2, 1))

[]

반면에 11에서 1까지의 정수 중에서 홀수만을 역순으로 모아놓은
리스트를 생성하기 위해 보폭을 -1로 줄 수 있다.

In [48]:
list(range(11, 0, -2))

[11, 9, 7, 5, 3, 1]

둘째 인자를 0으로 함에 주의한다.
그래야 11부터 1씩 줄어들었을 때 0 이전의 값이 1이 되기 때문이다.
다음처럼 1로 하면 1 이전의 값이 2가 되어 1이 포함되지 않게 된다.

In [47]:
list(range(11, 1, -2))

[11, 9, 7, 5, 3]

따라서 큰 값에서 시작해서 값이 작아지는 쪽으로 리스트나 `range` 객체를 생성하려면
음의 정수를 보폭으로 사용한다.
예를 들어 아래 코드는 5부터 0까지의 정수를 역순으로 출력한다.

In [49]:
for item in range(5, -1, -1):
    print(item)

5
4
3
2
1
0

(sec:representation)=
### 표현식

`'안녕하세요!'`, `18`, `3.1415926535897932` 등은 변수에 할당하거나 
연산 등에 사용할 수 있는 값이다. 
그리고 `num`이 하나의 값을 가리키면 다음 표현들 모두 각각 하나의 값을 가리킨다.

```python
num + 2
math.sqrt(num)
(1, num+2, math.sqrt(num))
['파이썬', '좋아요]
hello' + ' python'
('hello', ' python')
```

이처럼 값들을 이용한 연산과 함수 적용, 값들의 리스트 또는 튜플 등 새로운 값을 무한정 만들어 낼 수 있다.
이렇게 다양한 방식으로 값을 표현하는 데에 사용되는 식을 
**표현식**<font size="2">expression</font>이라 부른다.

::::{admonition} 주의
:class: caution

표현식을 작성할 때 사용되는 연산자나 함수의 특성을 고려해야 한다.
예를 들어, 곱셈 연산자는 두 개의 인자를 받는데, 
정수 또는 유한소수 두 개의 곱을 표현하거나
문자열과 정수의 곲을 표현해야 한다.
만약에 두 문자열의 곱을 계산하려 하면 오류가 발생한다.
즉, 적절한 표현식으로 인정받지 못한다.

```python
>>> '파이썬' * '좋아요'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: can't multiply sequence by non-int of type 'str'
```

동일한 이유로 아래 표현식들도 허용되지 않는다. 

```python
'파이썬' - 'k-팝'
3 / '피자'
```
::::

## 값과 자료형

모든 값들은 각각 고유의 **자료형**<font size="2">data type</font>을 갖는다.
예를 들어,

* `-2`, `-1`, `0,` `1`, `2`, ... 등 **정수**의 자료형은 `int`이고,
* `3.141592`, `2.71`, `-0.23` 등 유한소수의 자료형은 **부동소수점** 자료형인 `float`이고,
* `'강아지'`, `'Hello, World!'`, `'파이썬은 재밌어요!'` 등의 단어 또는 문장의 자료형은
    **문자열** 자료형인 `str`이다.

### 변수의 자료형

선언된 변수의 자료형은 변수가 현재 가리키는 값의 자료형과 동일하다.

In [23]:
num = 18
type(num)

int

변수에 할당된 값이 달라지면 변수의 자료형도 달라질 수 있다.

In [24]:
num = 3.14
type(num)

float

In [25]:
num = '3.14'
type(num)

str

### 표현식의 자료형

`3 * 2`, `"Hello, Python" + "!"`, `math.sqrt(2)`, `x/2` 등의 표현식의 자료형은
표현식이 표현하는 값의 자료형을 갖는다.
반면에 튜플과 리스트의 자료형은 사용된 항목의 자료형에 상관 없다.
즉, 튜플 언제나 튜플이고 리스트는 언제나 리스트이다.

아래 표는 표현식과 해당 표현식이 표현하는 값, 그리고 값의 자료형 사이의 관계를 보여준다.
단, `x` 는 정수 `3`을 가리킨다고 가정한다.

| 표현식 | 값 | 자료형 |
| ---   |--- | ---   |
| `x`  | `3`  | `int` |
| `x/2`  | `1.5`  | `float` |
| `3 * 2` | `6` | `int` |
| `"Hello, Python" + "!"` | `"Hello, Python!"` | `str`|
| `math.sqrt(2)` | `1.4142135623730951`| `float` |
| `(x/2 - 1) < 0` | `False` | `bool` |
| `(1, x/2-1, x+x+1)`  | `(1, 0.5, 7)`  | `tuple` |
| `[x, x*3/2, x**3+1]`  | `[3, 4.5, 28]`  | `list` |

### `type()` 함수

`type()` 함수는 인자로 사용된 값과 표현식의 자료형을 확인해준다.

In [26]:
type(-7)

int

In [27]:
type(3.141592)

float

In [28]:
type('파이썬 좋아요!')

str

In [29]:
x = 3
type((1, x/2-1, x+x+1))

tuple

In [30]:
type([x, x*3/2, x**3+1])

list

### 수 표기법 주의사항

수<font size="2">number</font>를 표기할 때 다음 사항들에 주의해야 한다.

첫째, `'17'`, `'3.2'` 등은 따옴표로 둘러싸여 있어서
수가 아닌 숫자 기호들로 이루어진 문자열이며,
연산이 다르게 작동한다.

In [31]:
type('17')

str

In [32]:
'1.7' + '3.2'

'1.73.2'

둘째, 수를 표기할 때 쉼표(콤마)를 사용하면 다른 의미로 해석된다.
예를 들어 `1,000,000` 이라고 입력하면 백만이 아니라 1, 0, 0 세 개의 수를 항목으로 갖는 
길이가 3인 튜플 자료형으로 인식된다.
**튜플**<font size="2">tuple</font>은 여러 개의 값을 
하나로 묶어서 사용하는 값을 가리키며
나중에 자세히 다룬다.

In [33]:
저는튜플입니다 = 1,000,000

In [34]:
type(저는튜플입니다)

tuple

In [35]:
print(저는튜플입니다)

(1, 0, 0)

셋째, 0으로 시작하면 안된다.
예를 들어 서울 지역의 우편번호는 0으로 시작하는데
이런 우편번호를 정수처럼 작성하면 문제가 발생한다.

```python
# 우편번호
>>> zipcode = 03048
  File "<stdin>", line 1
    zipcode = 03048
                  ^
SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers
```    

우편번호는 사실 구역 식별용이기에 
고유명사처럼 문자열로 처리하는 게 맞다.

In [36]:
# 우편번호
zipcode = '03048'

## 연습문제

참고: [(실습) 변수, 값, 표현식](https://colab.research.google.com/github/codingalzi/pybook/blob/master/practices/practice-variables_expressions.ipynb)