(ch:lists-tuples)=
# 리스트와 튜플

아래 표에 여섯 명의 이름, 전화번호, 나이, 키, 출생지 정보가 담겨 있다.

| 이름 | 전화번호 | 나이 | 키 | 출생지 |
| :---: | :---: | :---: | :---: | :---: |
| 김강현 | 010-1234-5678 | 20 | 172.3 | 제주 |
| 황현   | 02-9871-1234 | 19 | 163.5 | 서울 |
| 남세원 | 010-3456-7891 | 21 | 156.7 | 경기 |
| 최흥선 | 070-4321-1111 | 21 | 187.2 | 부산 |
| 김현선 | 010-3333-8888 | 22 | 164.6 | 광주 |
| 함중아 | 010-7654-2345 | 18 | 178.3 | 강원 |

예를 들어 김강현, 최흥선 등의 전화번호를 알고 싶으면 이름 칸에서 
김강현과 최흥선이 위치한 행을 찾아 전화번호를 확인하면 된다.
하지만 만약에 여섯 명이 아니라 수천, 수만명의 정보를 담겨 있다면
특정인의 전화번호, 나이, 키, 출생지 등을 확인하는 일이 매우 어려워진다.

반면에 컴퓨터는 컴퓨터는 일런 일을 매우 빠르고 정확하게 처리한다.
단, 컴퓨터가 정보를 처리할 수 있도록 먼저 위 표의 내용을 
하나의 값으로 저장되어 있어야 한다.

이름, 전화번호, 나이, 키 각각은 문자열, 정수, 부동소수점 등 
적절한 자료형의 값으로 변수에 할당하여 저장할 수 있다.
예를 들어 김강현의 데이터는 아래와 같이 다룰 수 있다.

In [1]:
kgh_name = '김강현'
kgh_phone = '010-1234-5678'
kgh_age = 20
kgh_height = 172.3
kgh_birthplace = '제주'

반면에 지금까지 살펴 본 기초 자료형만으로는 아래 질문에 제대로 답할 수 없다.

- 표에 언급된 여섯 명의 이름으로 구성된 목록을 하나의 값으로 다룰 수 있을까? 
- 이름과 전화번호를 하나의 쌍으로 묶어서 전화번호부를 만든 다음에 이름을 입력하면 전화번호를 확인하는 프로그램을 작성할 수 있을까?

즉, 기초 자료형 이외에 여러 개의 값을 하나로 묶어 처리할 수 있는 기능이 필요하다.

## 파이썬 내장 자료 구조

파이썬은 여러 개의 값을 하나의 값으로 묶어 처리할 수 있도록 도와주는 네 개의 
**내장 자료 구조**<font size='2'>built-in data structure</font>를 제공한다.
여기서 내장<font size='2'>built-in</font>이라 함은 코드를 작성할 때 다른 추가 설정 없이
바로 사용할 수 있음을 의미한다.

반면에 **자료 구조**<font size='2'>data structure</font>는 여러 개의 값으로 구성된 보다 복잡한 대상을 가리킨다.
그리고 파이썬은 이런 대상도 하나의 값으로 취급한다.
즉 리스트, 튜플, 사전, 집합 또한 하나의 값이다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/built-in-types.png" width="350"/></div>
<br>

### 모음 자료형 대 스칼라 자료형

리스트, 튜플, 사전, 집합은 각자 고유의 방식으로 여러 개의 값을 모아서 하나의 값으로 다룬다.
모음 자료형의 값에 포함된 항목의 수는 일반적으로 `len()` 함수를 이용하여 확인할 수 있다.
여러 개의 값을 모아 항목으로 포함한다는 의미에서 이들을 **모음 자료형**이라 부르며 경우에 따라
**컬렉션**<font size='2'>collection</font>, **컨테이너**<font size='2'>container</font> 등으로도 불린다.
반면에 정수, 부동소수점, 불리언 등은 하나의 값으로만 구성되었다는 의미에서
**스칼라**<font size='2'>scalar</font> 자료형이라 부른다.

이것이 가능한 이유는 파이썬에서 다루는 모든 것이 **객체**<font size='2'>object</font>로 정의되기 때문이다.
파이썬 객체는 일반적으로 값과 값과 관련된 속성을 저장하며, 
저장된 값과 속성을 다룰 수 있는 다양한 기능을 제공한다.

객체의 엄밀한 정의는 {numref}`%s <ch:classes_instances_objects>`장에서 클래스를 설명할 때 다룬다.
여기서는 변수에 할당될 수 있는 값을 표현하는 전문 용어로 이해하면 된다.

### 모음 자료형 구분

모음 자료형을 일반적으로 다음 두 가지 기준으로 구분한다.

첫째, 항목의 순서와 중복 허용 여부

- **순차 자료형**<font size="2">sequence type</font>: 항목의 순서와 항목의 중복 사용 허용. **시퀀스**<font size='2'>sequences</font>라고도 불림.
- **비순차 자료형**<font size='2'>non-sequence type</font>: 항목의 순서와 중복된 항목 무시

둘째, 항목 변경의 허용 여부

- **가변 자료형**<font size = "2">mutable type</font>: 항목의 추가, 삭제, 변경 등 허용
- **불변 자료형**<font size = "2">immutable type</font>: 생성된 객체의 어떠한 변경도 불가능

리스트와 튜플은 모두 순서를 고려하는 순차 자료형이다.
{numref}`%s장 <ch:strings>`에서 살펴 본 문자열 또한 순차 모음 자료형으로 간주된다.
반면에 리스트는 수정이 가능한 가변 자료형이지만 튜플은 불변 자료형이다.
그리고 사전과 집합은 비순차 자료형이면서 동시에 가변 자료형이다.

### 순차 자료형: 리스트, 튜플, 문자열

문자열에 대해서처럼 리스트, 튜플 자료형에 대해서도 다음 세 가지 기능을 거의 동일한 방식으로 적용할 수 있다.

- `in` 연산자
- 인덱싱과 슬라이싱
- `for` 반복문

여기서는 리스트와 튜플, 즉 두 개의 순차(시퀀스) 자료형을 생성, 수정, 활용하는 다양한 방식을 살펴보고,
다음 장에서는 비순차 자료형인 사전과 집합을 소개한다.

(sec:list)=
## 리스트

리스트는 관련된 값들을 모아서 하나의 값으로 취급하는 자료형이다.
대괄호 `[]`로 항목들의 목록을 감싸고, 각각의 항목은 쉼표 `,`로 구분한다. 
예를 들어 위 표에 포함된 이름으로 구성된 리스트를 
가리키는 변수 `name_list`는 다음과 같이 선언한다.

In [2]:
name_list = ['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

그리고 아래 `one2five` 변수는 1부터 5까지의 정수로 구성된 리스트를 가리킨다.

In [3]:
one2five = [1, 2, 3, 4, 5]

**리스트 항목의 자료형**

리스트의 항목이 반드시 동일한 자료형을 가질 필요는 없으며,
서로 다른 자료형의 항목이 사용될 수도 있다.
예를 들어 아래 리스트는 김강현과 황현의 이름, 전화번호, 나이, 키, 출생지로 구성된 
리스트를 정의한다.
전화번호가 문자열로 지정되었음에 주의한다.

In [4]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']

In [5]:
whang = ['황현', '02-9871-1234', 19, 163.5, '서울'] # 황현 정보

**빈 리스트**

빈 리스트는 아무것도 포함하지 않는 리스트를 의미한다.
다음 두 가지 방식으로 빈 리스트를 선언할 수 있다.

- 방법 1: 대괄호 활용

In [6]:
empty_list = []

- 방법 2: `list()` 함수 활용

In [7]:
empty_list = list()

**중첩 리스트**

임의의 값이 리스트의 항목으로 사용될 수 있다.
따라서 리스트가 다른 리스트의 항목으로 허용된다.
아래 코드는 김강현과 황현 두 사람의 정보로 구성된 길이가 2인 리트스를 정의한다.

In [8]:
kgh_whang = [kgh, whang] # 김강현, 황현 두 사람 정보

확인하면 리스트의 리스트, 즉 중첩 리스트가 된다.

In [9]:
kgh_whang

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

`kgh_whang`이 가리키는 리스트에 포함된 항목의 개수, 리스트의 길이는 2다.

In [10]:
len(kgh_whang)

2

반면에 `kgh`와 `whang` 두 변수가 가리키는 리스트의 길이는 5다.
즉, 중첩 리스트의 길이는 항목으로 사용된 리스트의 길이와 무관하다.

In [11]:
len(kgh)

5

In [12]:
len(whang)

5

아래 코드에서 `info_list`는 나머지 4명의 정보까지 항목으로 포함하는 (중첩) 리스트를 가리킨다.

In [13]:
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

In [14]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

`info_list` 변수가 가리키는 리스트의 길이는 6이다.

In [15]:
len(info_list)

6

**리스트는 시퀀스!**

리스트는 시퀀스 자료형이기에 항목의 순서가 다르거나 특정 항목의 개수가 다르면 서로 다른 리스트로 간주된다.

- 순서가 다른 경우: `one2five`는 1부터 5까지의 순서로 되어 있기에 5부터 1까지로 구성된 리스트와 다르다고 간주된다.

In [16]:
one2five != [5, 4, 3, 2, 1]

True

- 특정 항목의 개수가 다른 경우: `name_list`에는 김강현이 한 번 사용되었기에 두 번 사용된 리스트와는 다른 리스트로 간주된다.

In [17]:
name_list != ['김강현', '김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

True

### 리스트 연산

문자열을 포함하여 여기서 소개하는 리스트와 튜플,
그리고 다음 장에서 소개하는 사전, 집합에 대해서
`in` 연산자를 이용하여 항목의 포함 여부를 확인한다.

**`in` 연산자**

예를 들어 3은 `one2five` 리스트에 포함되어 있다.

In [18]:
3 in [1, 2, 3, 4, 5]

True

반면에 이강현이란 이름은 김강현의 정보를 담은 리스트인 `kgh`에 포함되어 있지 않다.

In [19]:
'이강현' in name_list

False

물론 김강현은 들어 있다.

In [20]:
'김강현' in name_list

True

**`+`와 `*` 연산자**

문자열, 리스트, 튜플 세 종류의 시퀀스 자료형 모두 이어붙이기 연산(`+`)과 복제 연산(`*`)을 지원한다.
먼저, `+` 연산자는 리스트 두 개를 이어붙여서 새로운 리스트를 생성한다.

In [21]:
['a', 'b'] + ['c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

`*` 연산자는 리스트와 양의 정수를 대상으로 하며 리스트를 지정된 정수 만큼 복제해서 이어붙이는 방식으로 새로운 리스트를 생성한다.
정수와 리스트의 순서는 상관 없다.

In [22]:
a2c = ['a', 'b', 'c']

a2c * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [23]:
2 * one2five

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 인덱싱과 슬라이싱

문자열, 리스트, 튜플 등 모든 시퀀스 자료형은 대괄호와 정수를 사용하는 인덱싱과 슬라이싱을 지원하며,
사용 방식도 거의 동일하다.

**인덱싱**

리스트 인덱싱은 정수 인덱스가 가리키는 위치의 항목을 확인하거나 수정할 때 사용한다.
예를 들어 김강현의 정보를 담은 리스트 `kgh` 에서 이름은 0번 인덱스에 위치한다.

In [24]:
print(kgh)

['김강현', '010-1234-5678', 20, 172.3, '제주']

In [25]:
kgh[0]

'김강현'

김강현의 전화번호는 1번 인덱스에 위치한다.

In [26]:
kgh[1]

'010-1234-5678'

-1, -2, -3 등 음수 인덱스는 리스트 오른쪽에서부터 위치를 찾는다.
따라서 김강현의 출생지는 -1번 인덱스로 확인한다.

In [27]:
kgh[-1]

'제주'

-1번 인덱스는 리스트의 길이에서 1을 뺀 인덱스와 동일한 위치를 가리킨다.
즉, 다음이 성립한다.

In [28]:
kgh_last_index = len(kgh) - 1
kgh[kgh_last_index] == kgh[-1]

True

김강현의 키는 리스트의 오른쪽 끝에서 두 번째 항목이기에 -2번 인덱스로 확인된다.

In [29]:
kgh[-2]

172.3

리스트는 항목을 수정할 수 있는 가변 자료형이며
인덱싱을 이용하여 특정 위치의 항목을 수정할 수 있다.
예를 들어 아래 코드는 김강현의 출생지를 제주가 아닌 제주시로 수정한다.

In [30]:
kgh[kgh_last_index] = '제주시' # kgh의 마지막 인덱스에 '제주시'를 수정

물론 -1번 인덱스도 사용할 수 있다.

In [31]:
kgh[-1] = '제주시'

김강현의 출생지 정보가 제주시로 변경되었다.

In [32]:
kgh

['김강현', '010-1234-5678', 20, 172.3, '제주시']

**인덱스 허용 범위**

리스트 인덱싱에 사용되는 인덱스는 리스트의 길이에 의해 결정된다.
예를 들어 김강현의 정보를 담은 리스트의 길이가 5이기 때문에 
-5부터 4까지의 정수만 인덱싱에 허용된다.
지정된 범위를 벗어난 인덱스를 사용하면 
지정된 인덱스의 범위를 벗어났다(list index out of range)는
설명과 함께 `IndexError`오류가 발생한다.

In [33]:
kgh[5]

IndexError: list index out of range

**슬라이싱**

슬라이싱은 두 개의 인덱스로 지정된 구간에 포함된 항목들을 확인하거나 수정할 때 사용한다.
경우에 따라 몇 걸음씩 건너뛸지 지정하기도 한다. 

- 시작 인덱스: 슬라이싱 구간 시작 인덱스. 생략되면 0을 기본값으로 사용.
- 끝 인덱스: 슬라이싱 구간 끝 인덱스. 이 인덱스 이전 인덱스까지 항목 확인. 생략되면 오른쪽 끝까지를 의미함.
- 보폭: 구간 시작부터 몇 개씩 건너뛰며 항목을 확인할 것인지 결정. 보폭이 1이면 생략 가능.

예를 들어 김강현의 이름, 전화번호, 나이, 키는 0번부터 3번 인덱스에 위치하기에
대괄호 안에 `0:4`를 입력하여 0번 인덱스부터 4번 인덱스 이전인 3번 인덱스의 항목으로
구성된 리스트가 확인된다.

In [34]:
kgh[0:4]

['김강현', '010-1234-5678', 20, 172.3]

보폭이 1인 경우와 동일하다.

In [35]:
kgh[0:4:1]

['김강현', '010-1234-5678', 20, 172.3]

시작 인덱스가 0이면 생략해도 된다. 단 콜론은 그대로 둬야 한다.

In [36]:
kgh[:4]

['김강현', '010-1234-5678', 20, 172.3]

슬라이싱의 결과는 항상 리스트이다.
구간의 크기가 1이라 해도 그렇다.
예를 들어 아래 코드는 김강현의 전화번호로만 구성되어 길이가 1인 리스트가 확인된다.

In [37]:
kgh[1:2]

['010-1234-5678']

보폭을 1보다 크게 지정하면 지정된 보폭만큼 건너 뛰며 항목을 확인한 결과를 리스트로 보여준다.
예를 들어 김강현의 전화번오와 키를 함께 확인하려면 1번과 3번 인덱스를 확인해야 하기에
다음과 같이 보폭을 2로 지정한다.

In [38]:
kgh[1:4:2]

['010-1234-5678', 172.3]

이름과 키를 확인하려면 0번부터 끝까지를 구간으로 하면서 보폭을 3으로 지정한다.

In [39]:
kgh[0::3]

['김강현', 172.3]

시작 인덱스를 생략해도 된다.

In [40]:
kgh[::3]

['김강현', 172.3]

리스트 전체를 대상으로 슬라이싱하려면 아래와 같이 한다.

In [41]:
kgh[:]

['김강현', '010-1234-5678', 20, 172.3, '제주시']

또는

In [42]:
kgh[::] # kgh 전체 대상 슬라이싱. 스텝은 1이 기본값.

['김강현', '010-1234-5678', 20, 172.3, '제주시']

슬라이싱에 리스트의 크기를 벗어나는 인덱스를 사용하더라도 오류가 발생하지 않는다.
대신 허용되는 인덱스의 구간에 대해서만 슬라이싱이 적용된다.
아래 코드는 5번 인덱스부터 9번 인덱스까지 확인하려 하지만 해당 인덱스의 위치를
찾을 수 없기에 빈 리스트를 생성한다.

In [43]:
kgh[5:10]

[]

아래 코드는 0번 인덱스부터 7번 인덱스까지 확인하려 하지만 결국엔 4번 인덱스까지만 확인하게 된다.

In [44]:
kgh[0:8]

['김강현', '010-1234-5678', 20, 172.3, '제주시']

보폭을 2 이상으로 지정해도 허용된 인덱스의 범위를 벗어난 인덱스는 무시된다.

In [45]:
kgh[0:8:2]

['김강현', 20, '제주시']

**역순 슬라이싱**

슬라이싱은 기본적으로 작은 인덱스에서 큰 인덱스 방향으로 확인한다. 
음수 보폭을 지정하면 큰 인덱스에서 작은 인덱스 방향으로 움직이는 역순 슬라이싱이 실행된다.


예를 들어, 아래 코드는 보폭이 -1이고, 시작 인덱스와 끝 인덱스를 생략하면 문자열 전체를 역순으로 확인한다.
이 기법은 리스트 항목들의 순서를 뒤집는 데에 자주 활용된다.

In [46]:
kgh[:: -1]

['제주시', 172.3, 20, '010-1234-5678', '김강현']

보폭이 음수이면서 시작 인덱스가 끝 인덱스보다 작으면 빈 리스트가 생성된다.

In [47]:
kgh[2:5:-1]

[]

시작 인덱스가 끝 인덱스보다 크면 구간의 오른쪽부터 항목을 확인한다 점만 다를 뿐이다.
아래 코드는 -2번 인덱스부터 왼쪽으로 두 걸음씩 건너 뛰며 슬라이싱을 진행한다.
역순 인덱싱에서 끝 인덱스가 생략되면 왼쪽 끝까지를 의미힌다.

In [48]:
kgh[-2::-2]

[172.3, '010-1234-5678']

**구간 수정**

슬라이싱을 이용하여 리스트의 지정된 구간을 다른 리스트로 대체할 수 있다.
아래 코드는 김강현의 키와 출생지를 동시에 수정한다.

In [49]:
kgh[3:] = [172.5, '제주']

kgh

['김강현', '010-1234-5678', 20, 172.5, '제주']

슬라이싱 구간의 크기와 새롭게 대체하는 리스트의 크기가 다를 수 있다.
설명을 위해 다음 리스트를 이용한다.

In [50]:
a2f = ['a', 'b', 'c', 'd', 'e', 'f']

소문자 c와 d를 대문자 C와 D로 수정하고 곧바로 대문자 X를 추가하고자 한다면
2번, 3번 인덱스 구간을 슬라이싱하면서 동시에 값을 다음과 같이 3개 지정하면 된다.

In [51]:
a2f[2:4] = ['C', 'D', 'Z']
a2f

['a', 'b', 'C', 'D', 'Z', 'e', 'f']

만약 보폭을 2이상으로 지정하면 슬라이싱된 항목의 개수와 새롭게 지정된 리스트의 길이가 같아야 한다.
아래 코드는 홀수 인덱스에 위치한 항목을 모두 해당 인덱스로 대체한다.

In [52]:
a2f[1::2] = [1, 3, 5]
a2f

['a', 1, 'C', 3, 'Z', 5, 'f']

보폭이 1이 아닌 경우 
대체 리스트의 길이가 슬라이싱된 항목의 개수와 다르면 두 리스트의 크기가 다르다는 설명과 함께 `ValueError`가 발생한다.
아래 코드는 슬라이싱된 항목은 2개이지만 길이가 3인 리스트를 대체 리스트로 지정하기에 오류가 발생한다.

In [53]:
a2f[:3:2] = ['X', 'Y', 'Z']

ValueError: attempt to assign sequence of size 3 to extended slice of size 2

### 중첩 리스트의 인덱싱/슬라이싱/반복문

중첩 리스트는 리스트의 항목 또한 리스트이기 때문에 
항목의 항목을 확인/추출/변경 하려면 인덱싱, 슬라이싱, `for` 반복문을
연속적으로 또는중첩해서 적용해야 한다.

**인덱싱 연속 적용**

예를 들어 김강현의 이름은 `info_list`의 첫째 항목 리스트의 첫째 항목이다.

In [54]:
info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

따라서 김강현의 이름은 다음과 같이 확인한다.

In [55]:
kgh_name = info_list[0]
kgh_name[0]

'김강현'

인덱싱을 연속 적용하는 과정을 다음과 같이 줄여서 하나의 표현식으로 나타낼 수 있다.

In [56]:
info_list[0][0]

'김강현'

반면에 아래 코드는 황현의 이름과 나이를 확인한다.

In [57]:
hwang_name = info_list[1][0]
hwang_age = info_list[1][2]

print(f"{hwang_name}의 나이: {hwang_age}세")

황현의 나이: 19세

**인덱싱과 슬라이싱 연속 적용**

인덱싱과 슬라이싱을 조합해서 연속 적용할 수 있다.
아래 코드는 홀수 인덱스에 위치한 황현, 최흥선, 함중아의 나이만 확인한다.

In [58]:
for person in info_list[1::2]:
    print(f"{person[0]}:\t{person[2]}세")

황현:	19세
최흥선:	21세
함중아:	18세

반면에 아래 코드는 4번 인덱스에 위치한 김현선의 이름, 전화번호, 나이를 확인한다.

In [59]:
info_list[4][:3]

['김현선', '010-3333-8888', 22]

**중첩 반복문**

2중으로 중첩된 `for` 반복문을 사용하여 6명 각자의 정보를 일일이 나열할 수 있다.

In [60]:
for person in info_list:  # 6명 모두를 대상으로 반복
    for item in person:
        print(item)       # 한 사람의 모든 정보 출력. 항목들 사이는 탭으로 구분

    print()               # 사람들 사이의 구분을 위해 줄 바꿈

김강현
010-1234-5678
20
172.5
제주

황현
02-9871-1234
19
163.5
서울

남세원
010-3456-7891
21
156.7
경기

최흥선
070-4321-1111
21
187.2
부산

김현선
010-3333-8888
22
164.6
광주

함중아
010-7654-2345
18
178.3
강원

`print()` 함수의 `end='\n'` 키워드 옵션을 변경하여 한 줄에 한 사람 정보를 모두 출력할 수 있다.

In [61]:
for person in info_list:
    for item in person:
        print(item, end='\t') # 한 사람의 정보는 탭으로 구분

    print()

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울
남세원	010-3456-7891	21	156.7	경기
최흥선	070-4321-1111	21	187.2	부산
김현선	010-3333-8888	22	164.6	광주
함중아	010-7654-2345	18	178.3	강원

아래 코드는 나이가 21살인 사람의 정보만 출력한다.

In [62]:
for person in info_list:
    if 21 == person[2]:           # 나이가 21살인 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

남세원	010-3456-7891	21	156.7	경기
최흥선	070-4321-1111	21	187.2	부산

  반면에 이름에 "현" 자가 포함된 사람의 정보만 출력하러면 다음과 같이 한다.

In [63]:
for person in info_list:
    if '현' in person[0]: # 이름에 "현" 자가 포함된 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울
김현선	010-3333-8888	22	164.6	광주

"현"으로 끝나는 경우만 다루려면 `endswith()` 문자열 메서드를 이용한다.

In [64]:
for person in info_list:
    if person[0].endswith('현'): # 이름이 "현" 자로 끝나는 사람만 선택
        for item in person:
            print(item, end='\t')
    
        print()

김강현	010-1234-5678	20	172.5	제주
황현	02-9871-1234	19	163.5	서울

`startswith()` 문자열 메서드를 이용하여 김씨 성만 추출할 수도 있다.

In [65]:
for person in info_list:
    if person[0].startswith('김'): # 김씨 성 정보만 선택
        for item in person:
            print(item, end='\t')
    
        print()

김강현	010-1234-5678	20	172.5	제주
김현선	010-3333-8888	22	164.6	광주

### 리스트 메서드

모음 자료형의 기본 용도는 여러 개의 값을 모아 하나의 값으로 다루면서 
필요에 따라 유용한 항목을 탐색하고 추출하는 기능이다.
{numref}`%s장 <ch:strings>`에서 살펴 본 문자열 메서드처럼
리스트 자료형에 대해서만 사용할 수 있는 함수들인 
리스트 메서드가 다양하게 제공된다.

문자열 자료형과는 달리 리스트는 변경을 허용하는 가변 자료형이기에
항목의 탐색과 추출뿐만 아니라 항목의 추가와 삭제, 항목들의 정렬을
수행하는 메서드도 제공된다.
가장 활용도가 높은 리스트 메서드는 다음과 같다.

:::{list-table} 리스트 주요 메서드
:widths: 12 10 38
:header-rows: 1
:name: list-methods

*   - 기능
    - 메서드
    - 설명
*   - 복사
    - `copy()`
    - 리스트의 사본 반환.
*   - 추가/삽입/확장
    - `append()`
    - 리스트 끝에 항목 추가. 반환값은 `None`
*   - 
    - `insert()`
    - 지정된 인덱스에 항목 삽입. 반환값은 `None`
*   - 
    - `extend()`
    - 다른 리스트를 연결하여 확장. 반환값은 `None`
*   - 삭제
    - `pop()`
    - 지정된 인덱스의 항목 삭제 후 반환.
*   - 
    - `remove()`
    - 가장 왼쪽에 위치한 지정된 항목 삭제. 반환값은 `None`
*   - 정렬
    - `sort()`
    - 리스트의 항목을 크기 순으로 정렬. 반환값은 `None`
*   - 
    - `reverse()`
    - 리스트의 항목들 순서 뒤집기. 반환값은 `None`
*   - 탐색
    - `count()`
    - 리스트에서 지정된 항목이 등장한 횟수 반환
*   -
    - `index()`
    - 지정된 항목이 처음 사용된 인덱스 반환
:::

:::{admonition} 문자열 수정 메서드
:class: note

위 표에서 반환값이 `None`이라고 명시된 메서드는 리스트 자체가 수정됨을 의미한다.
:::

6명의 키와 몸무게 정보를 이용하여 비만도를 측정하는 체질량지수(BMI)를 계산해서 활용하는 과정을 통해 
{numref}`Table %s <list-methods>`에 포함된 주요 리스트 메서드의 기능을 소개한다.

6명의 기본 정보는 다음과 같다.

In [66]:
info_list

[['김강현', '010-1234-5678', 20, 172.5, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

추가로 `weight_list` 변수가 6명의 몸무게로 구성된 리스트를 가리킨다고 가정한다.

In [67]:
weight_list = [65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

체질량지수는 몸무게(kg)를 키(m)의 제곱으로 나눈 값이다. 

$$
\mathrm{bmi} = \frac{\mathrm{몸무게(kg)}}{\mathrm{키(m)}^2}
$$

**`copy()` 메서드**

리스트는 가변 자료형이기에 인덱싱, 슬라이싱을 포함하여 아래에서 소개하는 많은 메서드에 의해
수정될 수 있다. 
하지만 경우에 따라 주어진 리스트는 전혀 건드리지 않으면서 리스트를 이용할 필요가 있다.
그럴 때 `copy()` 메서드로 사본을 만들어 이용한다.

예를 들어, 아래 코드는 변수 `x`가 가리키는 리스트의 사본을 만들어 변수 `y`에 할당한다.
그 다음에 `y`가 가리키는 리스트의 0번 인덱스 항목을 수정하지만 변수 `x`가 
가리키는 리스트는 전혀 변하지 않는다.

In [68]:
x  = [1, 2, 3]
y = x.copy()
y[0] = 10      # 0번 인데스 항목 수정

print("y:", y) # 수정됨
print("x:", x) # 불변

y: [10, 2, 3]
x: [1, 2, 3]

아래 그림은 두 변수 `x`와 `y`가 선언된 순간의 메모리 상태를 보여준다.
`x`와 `y`가 동일하게 생겼지만 각각 서로 다른 리스트 객체를 가리킨다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-01.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x.copy%28%29%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

아래 그림은 `y`가 가리키는 리스트의 첫째 항목이 10으로 업데이트된 이후의 메모리 상태를 보여주며,
변수 `x`가 가리키는 리스트는 전혀 수정되지 않는다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-02.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x.copy%28%29%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

반면에 아래 코드에서처럼 사본을 만들지 않으면 리스트 원본이 함께 수정된다.
이유는 `x`와 `y`가 동일한 리스트 객체를 가리키기 때문이다.

In [ ]:
x  = [1, 2, 3]
y = x
y[0] = 10      # 0번 인데스 항목 수정

print("x:", x)
print("y:", y)

아래 그림은 두 변수 `x`와 `y`가 선언된 순간의 메모리 상태를 보여준다.
`x`와 `y`가 동일한 리스트 객체를 가리킨다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-03.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

아래 그림은 `y`가 가리키는 리스트의 첫째 항목이 10으로 업데이트되면
`x`가 동일한 리스트를 가리키기에 0번 인덱스 항목이 똑같이 10이 된다.

<div align="center" border="1px"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/list-copy-04.png" width="800"/></div>

<p><div style="text-align: center">&lt;그림 출처: <a href="https://pythontutor.com/render.html#code=x%20%20%3D%20%5B1,%202,%203%5D%0Ay%20%3D%20x%0Ay%5B0%5D%20%3D%2010&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a>&gt;</div></p>

**`append()` 메서드**

6명의 키 정보로 구성된 리스트를 `height_list`가 가리키도록 하자.
키 정보는 각 리스트에서 3번 인덱스 항목이기에 다음과 같이
`for` 반복문과 인덱싱을 이용하면 쉽게 리스트로 추출할 수 있다.

In [ ]:
height_list = []

for person in info_list:
    height_list += [person[3]] # 이어붙이기

height_list

위 코드는 이전처럼 이어붙이기 연산자인 `+`를 이용하였는데
`+` 연산자는 이어서 소개할 `extend()` 메서드와 유사한 기능을 갖는다.
반면에 `append()` 메서드는 기존 리스트의 끝에 하나의 항목을 추가한다.
이 기능을 이용하여 위 코드를 수정하면 다음과 같다.

In [ ]:
height_list = []

for person in info_list:
    height_list.append(person[3]) # append() 메서드를 사용하여 리스트에 항목 추가

height_list

이제 6명의 체질량지수로 구성된 리스트를 생성할 수 있다.
i번 인덱스에 해당하는 사람의 체질량 지수는 다음과 같이 계산된다.

```python
bmi = weight_list[i] / (height_list[i]/100)**2
```

`(height_list[i]/100)`는 센티미터(cm) 단위를 미터(m) 단위로 변경한다.
또한 체질량지수를 소수점 이하 둘째 자리에서 반올림해서 보다 간단하게 표현하기 위해 `round()` 함수도 이용한다.
`round()` 함수는 반올림을 이용하여 소수점 이하 자리수를 제한한다. 
아래 코드는 체질량지수를 소수점 이하 첫째 자리까지만 계산한다.

In [ ]:
bmi_list = []

for i in range(len(info_list)):
    bmi = weight_list[i] / (height_list[i]/100)**2  # 체질량지수
    bmi = round(bmi, 1)                             # 소수점 둘째 자리에서 반올림
    bmi_list.append(bmi)

bmi_list

**`insert()` 메서드**

`append()` 메서드는 리스트의 끝에 항목을 추가한다.
반면에 `insert()` 메서드는 특정 위치에 항목을 삽입한다.
항목이 삽입되면 원래 그 위치를 포함해서 오른쪽에 위치했던 항목들은
모두 한 칸씩 오른쪽으로 이동된다.

아래 코드는 1번 인덱스 자리에 2를 삽입하여 1부터 4까지의 정수로 구성된 리스트를 완성한다.

In [ ]:
x = [1, 3, 4]
x.insert(1, 2) # 1번 인덱스에 2 삽입
x

아래 코드는 `height_list`를 `insert()` 메서드를 이용하여 생성한다.
그리고 삽입을 일부러 0번 인덱스로 한다. 
그러면 `info_list`의 항목을 역순으로 선택해야 하기에 역순 슬라이싱을 이용한다.

In [ ]:
height_list = []

for person in info_list[::-1]:
    height_list.insert(0, person[3]) # 0번 인덱스에 키 정보 삽입

height_list

`append()` 메서드처럼 마지막 항목으로 추가하기 위해 -1을 첫째 인자로 지정하고 
역순 슬라이싱을 사용하지 않으면 다른 결과가 나옴에 주의한다.
이유는 기존에 위치한 마지막 인덱스가 뒤로 오른쪽으로 밀리기 때문이다.
즉, 가장 먼저 리스트에 삽입된 이강현의 키가 계속해서 오른쪽에 밀린다.

In [ ]:
height_list = []

for person in info_list:
    height_list.insert(-1, person[3]) # 0번 인덱스에 키 정보 삽입

height_list

`append()` 메서드처럼 마지막 항목으로 추가하려면 인덱스 위치를 리스트의 길이보다 같거나 큰 값을 지정하면 된다.

In [ ]:
height_list = []

for person in info_list:
    height_list.insert(len(height_list), person[3]) # 0번 인덱스에 키 정보 삽입

height_list

**`extend()` 메서드**

`info_list` 변수가 가리키는 중첩 리스트에 6명 각각의 몸무게와 체질량지수 정보를 추가하기 위해
먼저 몸무게와 체질량지수로 구성된 길이가 2인 리스트를 생성한 후에
`extend()` 메서드를 이용하여 6명 각각의 정보를 담은 리스트를 확장한다.

예를 들어, 김강현의 몸무게와 체질량지수로 구성된 리스트는 다음과 같다.

In [ ]:
kgh_weight_bmi = [weight_list[0], bmi_list[0]]
kgh_weight_bmi

아래 코드는 김강현의 정보를 담은 리스트에 위 리스트를 연결하여 확장한다.
`kgh` 변수가 가리키는 리스트를 직접 건드리지 않기 위해
`copy()` 메서드를 이용하여 먼저 사본을 만든 다음에 리스트를 확장한다.

In [ ]:
kgh_copy = kgh.copy()
kgh_copy.extend(kgh_weight_bmi)
kgh_copy

동일한 작업을 6명 전원에 대해 적용하려면 `info_list`의 항목을 대상으로
`for` 반복문을 싱행한다. 
하지만 아래 방식은 곤란하다.

```python
for person in info_list:
    ...
```

이유는 `info`가 가리키는 항목의 인덱스 정보를 알아야만 `weight_list`와 `bmi_list`에서
해당 위치의 항목을 추출할 수 있기 때문이다.

해결책으로 `range()` 함수와 인덱싱을 활용한다.
그러면 언급된 세 개의 리스트 `info_list`, `weight_list`, `bmi_list` 모두에 대해
동시에 인덱싱을 적용할 수 있다.

In [ ]:
for i in range(len(info_list)):
    weight_bmi_i = [weight_list[i], bmi_list[i]] # i번째 사람의 몸무게와 체질량지수
    info_list[i].extend(weight_bmi_i)            # i번째 사람의 정보 확장

info_list

In [ ]:
kgh

:::{admonition} `extend()` 메서드 대 이어붙이기 `+` 연산자
:class: note

`+` 연산자는 리스트 두개를 이어붙여 완전히 새로운 리스트를 생성한다.

```python
>>> kgh = ['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9]
>>> kgh_weight_bmi = [65.3, 21.9]
>>> kgh + kgh_wedith_bmi
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9, 65.3, 21.9]
>>> kgh # 변경되지 않음
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.0]
```

반면에 `extend()` 메서드는 기존 리스트에 새로운 리스트를 이어붙이는 방식으로 확장한다.
즉, 기존의 리스트를 수정한다.

```python
>>> kgh.extend(kgh_wedith_bmi)
>>> kgh # 확장됨
['김강현', '010-1234-5678', 20, 172.5, '제주', 65.3, 21.9, 65.3, 21.9]
```
:::

**`pop()` 메서드**

`pop()` 메서드는 지정된 인덱스의 항목을 반환하는 동시에 리스트에서 삭제한다.
설명을 위해 6명의 이름으로 구성된 아래 리스트를 이용한다.

In [ ]:
name_list

남세원 이름을 리스트에서 삭제하면서 동시에 반환하려면 남세원이 위치한 곳의 인덱스인 2를 인자로 지정한다.

In [ ]:
namgung_name = name_list.pop(2)

2번 인덱스의 항목인 남세원이 `name_list`에서 삭제되었다.
삭제된 항목의 오른쪽에 위치한 항목은 한 칸씩 왼쪽으로 이동한다.

In [ ]:
name_list

`pop()` 함수는 삭제된 이름을 반환하며, 해당 이름이 `namgung_name`에 할당되었다.

In [ ]:
namgung_name

`name_list`를 원래대로 되돌려 놓기 위해 `insert()` 메서드를 이용하여 2번 인덱스에 이름을 삽입한다.

In [ ]:
name_list.insert(2, namgung_name)

In [ ]:
name_list

`pop()` 메서드의 인자를 지정하지 않으면 -1이 인자로 사용되어 마지막 항목이 삭제된 후 반환된다.

In [ ]:
name_list.pop()

마지막 항목이기에 이번엔 `append()` 메서드로 함중아 이름을 항목으로 되돌린다.

In [ ]:
name_list.append('함중아')

In [ ]:
name_list

아래 코드는 `pop()` 메서드를 이용하여 `info_list`에서 몸무게와 체질량지수 항목을 삭제한다.
6명 각각의 리스트에서 오른쪽 맨 끝에 위치한 두 개의 항목을 삭제하면 되기에 `pop()` 메서드를 두 번씩 적용한다.

In [ ]:
for person in info_list:
    person.pop()
    person.pop()

info_list

**`remove()` 메서드**

`remove()` 메서드는 리스트에서 지정된 항목을 삭제할 뿐 해당 항목을 반환하지 않는다.
반환값은 없다는 의에서 `None`을 반환한다.
동일한 항목이 여러 번 사용되었을 경우 가장 왼편에 위치한 항목을 삭제한다.

연습을 위해 먼저 김강현 이름을 항목의 2번 인덱스에 추가한다.

In [ ]:
name_list.insert(2, '김강현')
name_list

김강현 이름을 리스트에서 삭제하자.

In [ ]:
name_list.remove('김강현')

0번 인덱스에 위치한 김강현 이름이 삭제되었지만, 2번 인덱스에 위치했던 김강현 이름은 남아 있다.

In [ ]:
name_list

김강현 이름을 완전히 삭제하려면 한 번 더 `remove()` 를 적용해야 한다.

In [ ]:
name_list.remove('김강현')
name_list

`name_list`를 복원하기 위해 `insert()` 메서드를 이용한다.

In [ ]:
name_list.insert(0, '김강현')
name_list

**`sort()` 메서드**

리스트의 각 항목들 사이의 크기를 비교할 수 있는 경우 `sort()` 메서드는 항목을 크기 순으로 정렬하는
방식으로 주어진 리스트를 변경한다. 
즉, 주어진 리스트를 변경하는 것이지 새로운 리스트를 생성하는 것이 아님에 주의한다.

예를 들어 아래 코드는 `name_list`의 항목을 6명의 이름 순서로 정렬해보자.
먼저 `name_list`에 포함된 이름의 순서는 다음과 같다.

In [ ]:
name_list

`sort()` 메서드로 정렬하면 가나다 순으로 정렬된다.

In [ ]:
name_list.sort()

In [ ]:
name_list

`reverse=True` 키워드 인자를 지정하면 이름 역순으로 정렬한다.

In [ ]:
name_list.sort(reverse=True)

In [ ]:
name_list

아래 코드는 6명의 몸무게를 크기 순으로 정렬한다.
먼저 원래 몸무게는 다음과 같다.

In [ ]:
weight_list

리스트의 항목이 부동소수점이기에 이번에는 수의 크기 순으로 정렬한다.

In [ ]:
weight_list.sort()

In [ ]:
weight_list

크기 역순으로 정렬도 가능하다.

In [ ]:
weight_list.sort(reverse=True)

In [ ]:
weight_list

`info_list`와 같은 보다 복잡한 리스트로 정렬이 가능하다.
아래 코드는 6명의 정보를 이름 순으로 정렬한다.

In [ ]:
info_list.sort()

info_list

위 코드가 어째서 이름 순으로 정렬하는지, 그리고 예를 들어 키 순으로 정렬할 수도 있는데 어떻게 하는 것인지 
등에 대해서는 여기서 다루는 대신
[Programiz: Python List sort()](https://www.programiz.com/python-programming/methods/list/sort)의 설명을
읽을 것을 권장한다.

**`reverse()` 메서드**

리스트의 순서를 단순히 뒤집기 위해서는 `reverse()` 메서드를 적용한다.
예를 들어 김강현의 정보에 담긴 항목의 순서를 뒤집어 보자.
먼저 김강현의 정보는 원래 다음과 같이 이름, 전화번호, 나이, 키, 출생지 순으로
저장되어 있다.

In [ ]:
kgh

김강현의 정보를 출생지, 키, 나이, 전화번호, 이름 순으로 정렬하기 위해
`reverse()` 메서드를 정렬한다.

In [ ]:
kgh.reverse()
kgh

`reverse()` 메서드를 한 번 더 적용하면 원래 순서대로 돌아온다.

In [ ]:
kgh.reverse()
kgh

**`index()` 메서드**

인자로 지정된 항목이 위치한 인덱스를 반환한다.
항목이 여러 번 사용된 경우 가장 왼쪽에 위치한 곳의 인덱스를 선택한다.
예를 `[1, 2, 3, 1, 2, 3]`에서 2가 두 번 사용되었지만 
1번 인덱스에서 가장 먼저 사용된다.

In [ ]:
[1, 2, 3, 1, 2, 3].index(2)

김강현의 이름은 `kgh`가 가리키는 리스트의 0번 인덱스에 위치한다.

In [ ]:
kgh.index('김강현')

나이는 2번 인덱스에 위치한다.

In [ ]:
kgh.index(20)

리스트의 항목으로 존재하지 않으면 `ValueError` 오류가 발생한다.

```python
>>> kgh.index('대한민국')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: '대한민국' is not in list
```

**`count()` 메서드**

인자로 지정된 항목이 리스트에 몇 번 사용되었는지를 반환한다.
예를 들어, `[1, 2, 3, 1, 2]`에 1과 2는 두 번, 3은 한 번 사용된다.

In [ ]:
[1, 2, 3, 1, 2].count(1)

In [ ]:
[1, 2, 3, 1, 2].count(2)

In [ ]:
[1, 2, 3, 1, 2].count(3)

항목이 아니면 0을 반환한다.

In [ ]:
[1, 2, 3, 1, 2].count(4)

### 리스트 연습문제

`info_list` 변수는 6명의 정보를 담은 중첩 리스트를 가리킨다.

In [ ]:
info_list

**문제 1**

`info_list`에 포함된 6명의 전화번호만으로 구성된 리스트를 가리키는 `phone_list` 변수를 선언하라.
단, `info_list`와 `for` 반복문, 인덱싱, `append()` 메서드를 반드시 활용한다.

*견본 답안*

`phone_list`를 빈 리스트로 초기화한 다음에 `for` 반복문과 인덱싱을 이용하여
6명 각각의 정보를 담은 리스트에서 전화번호 정보가 위치한 1번 인덱스 항목을 `phone_list`에 
`append()` 메서드로 추가한다.

In [ ]:
phone_list = []                # 전화번호를 저장할 리스트 초기화
for person in info_list:
    phone_list.append(person[1]) # 전화번호만 추출해서 phone_list에 추가

phone_list

**문제 2**

`info_list`에 포함된 6명의 출생지로 구성된 리스트를 가리키는 `birthplace_list` 변수를 선언하면서
동시에 `info_list`에서 출생지 정보를 삭제하라.
즉, `info_list`가 다음 모양의 중첩 리스트를 가리켜야 한다.

```python
[['김강현', '010-1234-5678', 20, 172.5],
 ['황현', '02-9871-1234', 19, 163.5],
 ['남세원', '01-3456-7891', 21, 156.7],
 ['최흥선', '070-4321-1111', 21, 187.2],
 ['김현선', '010-3333-8888', 22, 164.6],
 ['함중아', '010-7654-2345', 18, 178.3]]
```

단, `info_list`와 `for` 반복문, `pop()` 메서드를 반드시 활용한다.

*견본 답안*

`pop()` 메서드는 인자를 지정하지 않으면 리스트의 마지막 항목을 반환하면서 동시에 리스트에서 삭제한다.
이점만 이용하면 `birthplace_list`는 `phone_list`와 거의 유사한 방식으로 정의된다.

In [ ]:
birthplace_list = []
for person in info_list:
    birthplace_list.append(person.pop()) # 출생지를 리스트에서 삭제하면서 동시에 birthplace_list에 추가

birthplace_list

출생지가 모든 사람의 정보에서 삭제되었음을 확인할 수 있다.

In [ ]:
info_list

**문제 3**

6명 중에서 나이가 21세인 사람은 몇 명인지 확인하는 코드를 작성하라.
단, 리스트의 `count()` 메서드를 이용한다.

*견본 답안*

먼저 나이만을 추출해서 담은 `age_list`를 `phone_list`와 유사하게 선언한 다음에
`count()` 메서드를 적용한다.

In [ ]:
age_list = []               # 나이 정보만 저장할 리스트
for person in info_list:
    age_list.append(person[2])

age_list.count(21)          # 21살인 사람의 수 확인

**문제 4**

리스트의 `count()` 메서드처럼 작동하는 `item_count()`를 구현하라.
예를 들어 다음 표현식이 참이어야 한다.

```python
item_count(age_list, 21) == age_list.count(2)
```

*견본 답안*

In [ ]:
def item_count(xs, item):
    count = 0
    for x in xs:
        if x == item:
            count += 1
    return count

In [ ]:
item_count(age_list, 21)

(sec:tuple)=
## 튜플

튜플은 리스트와 아주 비슷하다.
다만 한 번 생성되면 항목의 추가, 삭제, 변경 등 일체의 수정이 불가능한 
불변<font size = "2">immutable</font> 자료형이라는 점이 다르다.
튜플의 항목을 수정하지 않고 활용하는 방법은 리스트의 그것과 동일하다.
예를 들어, 연산, 인덱싱, 슬라싱, `for` 반복문 활용 등은 리스트의 경우와 완전히 동일하다.

튜플은 항목들을 소괄호 `()`로  감싸고, 각각 항목은 쉼표(`,`)로 구분된다. 
예를 들어, 1부터 5까지의 정수로 구성된 튜플을 가리키는 변수를 다음과 같이 선언한다.

In [ ]:
one2five_tuple = (1, 2, 3, 4, 5)

다음 튜플은 영어 알파벳 a부터 c까지로 구성된다.

In [ ]:
a2c_tuple = ('a','b', 'c')

소괄호를 생략해도 튜플로 자동 처리된다.

In [ ]:
a2c_tuple = 'a','b', 'c'
a2c_tuple

길이가 1인 튜플인 경우 항목 뒤에 반드시 쉽표를 붙혀야 한다.

In [ ]:
tup_3 = (3, )
type(tup_3)

쉼표를 사용하지 않으면 튜플로 간주되지 않을 수 있다.
아래 코드에서 `non_tup_3`은 3을 포함한 튜플이 아닌 정수 3을 가리킨다.

In [ ]:
non_tup_3 = (3)
type(non_tup_3)

튜플의 항목으로 여러 종류의 값이 사용될 수 있다.
다음 `mixed_tuple`은 항목으로 정수, 부동소수점, 문자열, 부울값, 리스트, 튜플을 포함한다.

In [ ]:
mixed_tuple = (1, 2.3, 'abc', False, ['ab', 'c'], (2, 4))

**빈 튜플**

빈 튜플<font size='2'>empty tuple</font>은 아무것도 포함하지 않는 튜플을 의미한다.
다음 두 가지 방식으로 빈 튜플을 선언할 수 있다.

- 방법 1: 소괄호 활용

In [ ]:
empty_tuple = ()

- 방법 2: `tuple()` 함수 활용

In [ ]:
empty_tuple = tuple()

**중첩 튜플**

### 튜플 연산

**`in` 연산자**

튜플의 항목으로 등장하는지 여부를 알려주는 논리 연산자이다.

In [ ]:
'1' in ('a', 'bc', 'd', 'e')

In [ ]:
'd' in ('a', 'bc', 'd', 'e')

In [ ]:
'f' not in ('a', 'bc', 'd', 'e')

**이어붙이기/복제**

리스트의 경우처럼 튜플도 이어붙이기와 복제 연산을 사용한다.

In [ ]:
('a', 'b') + ('b', 'c', 'd')

In [ ]:
('a', 'b') * 2

**`len()`함수**

튜플의 길이, 즉 튜플에 포함된 항목의 개수를 반환한다.

In [ ]:
len(('a', 'b', 'c', 'd'))

**`min()`/`max()` 함수**

항목 중에서 최솟값 또는 최댓값을 확인한다.
단, 기본적으로 모든 값의 자료형이 갖고 크기 비교가 가능해야 한다.

In [ ]:
max((2, 9, 11, 20, 3))

In [ ]:
min((2, 9, 11, 20, 3))

### 튜플 인덱싱/슬라이싱

튜플도 문자열과 리스트처럼 인덱싱과 슬라이싱이 가능하다.

In [ ]:
a_tuple = (3, 15, 9, 12, 7, 14, 10)

In [ ]:
a_tuple[0]

In [ ]:
a_tuple[-1]

In [ ]:
a_tuple[2:6:2]

튜플은 불변 자료형이라 값을 수정할 수 없다. 
예를 들어, 아래와 같이 인덱싱을 사용하여 튜플의 항목을 변경하려고 하면 오류가 발생한다.   

```python
>>> a_tuple = (3, 15, 9, 12, 7, 14, 10)
>>> a_tuple[0] = 100
TypeError                                 Traceback (most recent call last)
/tmp/ipykernel_1817/347940049.py in <module>
      1 a_tuple = (3, 15, 9, 12, 7, 14, 10)
----> 2 a_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment
```

튜플이 변경 불가능한 자료형이라고 해서 튜플의 모든 항목이 모두 변경 불가능해야 하는 것은 아니다. 
예를 들어, 아래 `tup` 이 가리키는 튜플의 첫번째 항목은 `[1, 2]`이고, 리스트는 변경가능한 자료형이다.

In [ ]:
tup = ([1, 2], 10, 100)

변수 `tup` 과 튜플 사이의 관계는 아래 그림이 잘 보여준다.

<div align="center">
    <img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/hj617kim/ch04/tuple01.png" style="width:275px;">
</div>

따라서 아래와 같이 첫번째 항목 자체는 변경이 가능하다.

In [ ]:
tup[0].append(3)

실제로 `tup` 의 첫째 항목이 변경되었음을 확인할 수 있다.

In [ ]:
tup

<div align="center">
    <img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/hj617kim/ch04/tuple02.png" style="width:300px;">
</div>

### 튜플 메서드

튜플 자료형의 메서드는 많지 않다. 많이 사용되는 두 개의 메소드를 살펴보자.   

|메서드|설명|
|:----------|:----------|
|`count()`|지정된 항목이 등장한 횟수 반환|
|`index()`|지정된 항목이 처음 위치한 인덱스 반환|

In [ ]:
num_tuple = (1, 2, 3, 1, 3, 5, 5, 10, 15)

**`count()` 메서드**

In [ ]:
num_tuple.count(1)

**`index()` 메서드**

In [ ]:
num_tuple.index(5)

##  순차 자료형 해체

순자 자료형의 항목 각각에 대해 변수 할당을 진행할 수 있다.
단, 사용되는 변수의 수는 항목의 수와 일치해야 한다.

In [ ]:
a, b = "12"

In [ ]:
print(a, type(a)) # 타입은 문자열이다.
print(b)

In [ ]:
c, d, e = [3, 4, 5]

In [ ]:
print(c) 
print(d) 
print(e)

In [ ]:
f, g = (6, 7)

In [ ]:
print(f) 
print(g)

**밑줄 기호 `_` 활용**

변수의 이름이 굳이 필요 없다면 밑줄<font size = "2">underscore</font>(`_`) 기호를
대신 사용할 수 있다.
예를 들어, 둘째 값에 대한 변수가 필요없다면 아래와 같이 해체할 수 있다.

In [ ]:
c, _, e = [3, 4, 5]
print(c + e)

:::{admonition} 주의   
:class: caution  
항목의 개수와 변수의 개수가 일치하지 않으면 오류가 발생한다.
오류를 피하려면 위해 밑줄 등을 반드시 활용해야 한다.

```python
>>> c, e = [3, 4, 5]
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_1817/4065688922.py in <module>
----> 1 c, e = [3, 4, 5]
      2 print(c + e)

ValueError: too many values to unpack (expected 2)
```
:::

**별표 기호 `*` 활용**

앞에 몇 개의 값에만 변수 할당에 사용하고 나머지는 하나의 리스트로 묶어서 퉁쳐버릴 수도 있다.
이를 위해 별표 기호<font size = "2">asterisk</font>(`*`)를 하나의 변수명과 함께 사용한다.

In [ ]:
values = (1, 2, 3, 4, 5)
a, b, *rest = values

In [ ]:
print(a)
print(b)
print(rest)

나머지 항목들을 무시하고 싶다면, 별표와 밑줄을 함께 사용한다.

In [ ]:
a, b, *_ = values

In [ ]:
print(a)
print(b)

## 순차 자료형에 유용한 함수

문자열, 튜플, 리스트처럼 항목들의 순서가 중요한 순차 자료형과 함께 유용하게 사용되는 네 개의 함수를 소개한다.

### `enumerate()` 함수

튜플과 리스트의 인덱스를 튜플과 리스트 자체에서 눈으로 확인할 수 없다.
하지만 항목과 해당 항목의 인덱스 정보를 함께 활용해야 할 때가 있는데
이때 `enumerate()` 함수가 매우 유용하다.

In [ ]:
some_list = ['foo', 'bar', 'baz', 'pyt', 'thon']

`enumerate()` 함수는 리스트를 받아서
리스트의 항목과 인덱스를 쌍으로 갖는 모음 자료형의 객체를 준비시킨다.
이렇게 준비된 객체를 직접 확인할 수는 없다.

In [ ]:
enumerate(some_list)

리스트로 환원하면 인덱스와 항목의 튜플로 이루어져 있음을 확인 수 있다.

In [ ]:
list(enumerate(some_list))

**예제**

인덱스를 활용하여 원하는 항목만 추출할 수 있다.
예를 들어, 아래 코드는 짝수 인덱스의 값들만 출력하도록 한다.
인덱스와 항목으로 구성된 길이가 2인 튜플을 해체하기 위해
`i`와 `v`를 바로 이용함에 주의하라.

In [ ]:
for i, v in enumerate(some_list):
    if i % 2 == 0:
        print(v)

`enumerate()` 함수를 사용하지 않으면서 동일한 기능을 구현하려면
인덱스를 직접 이용해야 한다.

In [ ]:
for i in range(len(some_list)):
    if i & 2 == 0:
        print(some_list[i])

**예제**

아래 코드는 인덱스와 리스트의 항목의 순서를 바꾼 튜플의 
리스트를 생성한다.

In [ ]:
mapping = []

for i, v in enumerate(some_list):
    mapping.append((v, i))

mapping

`enumerate()` 함수를 사용하지 않으면서 동일한 기능을 구현하려면
인덱스를 직접 이용해야 한다.

In [ ]:
mapping = []

for i in range(len(some_list)):
    mapping.append((some_list[i], i))

mapping

### `zip()` 함수

문자열, 리스트, 튜플 등 순차 자료형 여러 개를 묶어 하나의 값으로 만든다.
이때, 각 순차 자료형의 값에 사용된 순서를 반영한다.
단, `zip()` 함수의 반환값은 구체적으로 명시되지 않는다.

In [ ]:
zip("abc", [1, 2, 3])

`for` 반복문을 이용하여 항목을 확인할 수는 있다.

In [ ]:
for item in zip("abc", [1, 2, 3]):
    print(item)

아니면 `list()`함수를 이용하여 튜플 리스트로 변환할 수도 있다.

In [ ]:
list(zip("abc", [1, 2, 3]))

여러 개의 모음 자료형을 짝짓는 것도 가능하다.
단. 길이가 다르면 가장 짧은 길이에 맞춰서 짝을 짓고, 나머지는 버린다.

In [ ]:
list(zip("abcdefgh",(1, 2, 3, 4, 5), [5, 10, 15]))

**동시 반복**

`zip()` 을 이용하면 여러 개의 리스트, 튜플을 대상으로 동시에 반복문을 돌릴 수 있다.

In [ ]:
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
for l, n in zip(letters, numbers):
    print(f'문자: {l}', end=', ')
    print(f'숫자: {n}')

`zip()` 함수를 사용하지 않으면 2중으로 중첩된 `for` 반복문과
인덱싱을 함께 이용해야 한다.

In [ ]:
for idx1 in range(len(letters)):
    for idx2 in range(len(numbers)):
        if idx1 == idx2:
            print(f'문자: {letters[idx1]}', end=', ')
            print(f'숫자: {numbers[idx2]}')

In [ ]:
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
operators = ['*', '/', '+']
for l, n, o in zip(letters, numbers, operators):
    print(f'문자: {l}', end=', ')
    print(f'숫자: {n}', end=', ')
    print(f'연산자: {o}')

`zip()` 함수를 사용하지 않으면 3중으로 중첩된 `for` 반복문과
인덱싱을 함께 이용해야 한다.

In [ ]:
for idx1 in range(len(letters)):
    for idx2 in range(len(numbers)):
        for idx3 in range(len(numbers)):
            if idx1 == idx2 and idx2 == idx3:
                print(f'문자: {letters[idx1]}', end=', ')
                print(f'숫자: {numbers[idx2]}', end=', ')
                print(f'연산자: {numbers[idx3]}')

## 연습문제

참고: [(실습) 리스트와 튜플](https://colab.research.google.com/github/codingalzi/pybook/blob/master/practices/practice-lists_tuples.ipynb)