**문제 1**

자연수 n 이 주어졌을 때, 1의 자릿수가 3의 배수이면 입력값의 세 배를, 아니면 두 배를 반환하는 
함수 `three_or_not()` 함수를 구현하라.

힌트: 나머지 연산자를 활용한다.

In [1]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def three_or_not(n):
    pass

    return None

In [2]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert three_or_not(10) == 30
# assert three_or_not(24) == 48

**문제 2**

`time` 모듈에 UTC(Coordinated Universal Time)를 알려주는 `time()` 함수가 포함되어 있다.
`time()` 함수는 일종의 컴퓨터 시간의 생일인 1970년 1월 1일을 기준으로 
함수의 호출 순간까지 흐른 시간을 초 단위로 반환한다.

In [3]:
import time
x = time.time()

print(x)

1648371613.0191061

현재의 UTC를 시, 분, 초 단위로 변환하는
함수 `time_convert()` 함수를 구현하라.
단, 반환값은 아래 포맷을 갖춘 문자열이어야 하며,
초는 반올림해서 계산한다.

```python
시-분-초
```

힌트: `divmod()` 함수를 활용할 수 있다.

In [4]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def time_convert(n):
    pass

    return None

In [5]:
# 아래 코드의 주석 기호를 제거하고 실행하면 아래 모양의 결과가 나와야 한다.
# '457875-29-17'

# time_convert()

**문제 3**

In [6]:
time.ctime()

'Sun Mar 27 18:00:13 2022'

오늘의 요일을 확인하여 0에서 6 사이의 정수를 반환하는 함수
`wday2num()` 함수를 구현하라.
단, 다음 조건을 만족해야 한다.

- 일(Sun), 월(Mon), 화(Tue), 수(Wed), 목(Thu), 금(Fri), 토(Sat) 순서대로 0, 1, 2, 3, 4, 5, 6 을 사용한다.
- 하나의 매개변수 `wday` 를 사용하며, 키워드 인자로 `"Sun"`을 사용한다.
- 지정된 `wday` 와 오늘의 요일이 일치하면 
    해당 요일도 함께 튜플로 반환한다.
    
힌트: `time.ctime()` 함수 활용.

In [7]:
time.ctime()

'Sun Mar 27 18:00:13 2022'

In [8]:
time.ctime(time.time())

'Sun Mar 27 18:00:13 2022'

In [9]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def wday2num(wday=None):
    pass

    return None

In [10]:
# wday2num(wday="Mon")
# wday2num(wday="Sun")

**문제 4**

페르마의 마지막 정리는 정수 $n$ 이 2보다 클 때, 
아래 식을 만족하는 세 개의 양의 정수 $a$, $b$, $c$ 가 존재하지 않는다고 말한다.

$$
a^n + b^n = c^n 
$$

$n$, $a$, $b$, $c$ 네 개의 값이 주어졌을 때 페르마의 정리가 참인지 여부를 판단하는 함수
`fermat()` 를 구현하라.
단, 다음 조건을 만족해야 한다.

- `n`, `a`, `b`, `c` 네 개의 매개변수를 사용한다.
- `n` 에 2보다 같거나 작은 수가 인자로 사용되면 `False`를 반환한다.
- `n` 에 2보다 큰 경우 위 식이 성립하면 `True`, 아니면 `False` 를 반환한다.

In [11]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def fermat(n, a, b, c):
    pass

    return None

In [12]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert fermat(2, 3, 5, 7) == False
# assert fermat(3, 17, 3, 22) == False

**문제 5**

세 개의 막대를 이용하여 삼각형을 만들 수 있는지 여부를 판단하는 함수
`triangle()` 함수를 구현하라.
단, 다음 조건을 만족해야 한다.

- 세 개의 양의 정수를 입력받는다.
- 삼각형을 만들 수 있으면 `True`, 아니면 `False`를 반환한다.

힌트: 막대 하나의 길이가 다른 두 막대의 길이의 합보다 크면 삼각형을 만들 수 없다.

In [13]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def triangle(a, b, c):
    pass

    return None

In [14]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert triangle(3, 5, 7) == True
# assert triangle(17, 3, 22) == False

**문제 6**

'racecar', '토마토', 'stats'와 같이 앞뒤를 뒤집어도 
똑같은 문자열을 **회문**(palindrome)이라고 한다. 
문자열이 주어질 때, 그 문자열이 회문이면 `Success`를, 아니면 `Fail`를 출력하는 함수
`palindrome()`를 작성하여라.

힌트: 문자열 인덱싱, 슬라이싱 활용

In [15]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def palindrome(aString):
    pass

    return None

In [16]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert palindrome("racecar") == "Success"
# assert palindrome("tomato") == "Fail"
# assert palindrome("기러기") == "Success"
# assert palindrome("인싸 의사의 싸인") == "Success"
# assert palindrome("다시 합창합시다") == "Fail"

**문제 7**

이전 문제의 `palindrome()` 함수가 문자열에 포함된 공백(space)을 무시하도록 수정하라.

In [17]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def palindrome(aString):
    pass

    return None

In [18]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert palindrome("race car") == "Success"
# assert palindrome("tom ato") == "Fail"
# assert palindrome("인싸의사의 싸인") == "Success"
# assert palindrome("다시 합창합시다") == "Success"