# (연습) 문자열

**참고 사항**

먼저
[문자열](https://codingalzi.github.io/pybook/strings.html)의 내용과
[(필수 예제) 문자열](https://colab.research.google.com/github/codingalzi/pybook/blob/master/practices/examples-strings.ipynb)의 예제들을 학습하세요.

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제 1

**질문 1**

아래 부동소수점을 소수점 이하 셋째 자리까지만 출력되도록 f-문자열을 활용하라.

In [ ]:
num = 23.36778
num1 = -84.99888

**답**

아래 코드는 소수점 이하 넷째 자리에서 반올림한 값을 출력한다.

In [ ]:
print(f"{num:.3f}")
print(f"{num1:.3f}")

23.368
-84.999

**질문 2**

아래 부동소수점의 소수점을 모두 버리로 정수 부문만 출력되도록 f-문자열을 활용하라.
또한 정수는 총 10칸을 차지하도록 한다.
단, `int()` 함수는 사용하지 않는다.

In [ ]:
num2 = 23.36778
num3 = 8223.62874636778

**답**

아래 코드는 소수점 이하 첫째 자리에서 반올림한 값을 출력하며,
총 10칸을 차지하도록 하며 오른쪽으로 정렬시킨다.

In [ ]:
print(f"{num2:10.0f}")
print(f"{num3:10.0f}")

        23
      8224

**질문 3**

아래 두 개의 부동소수점을 총 15 칸을 차지하도록 f-문자열을 활용하라.
또한 소수점 이하 다섯째 자리까지만 출력되록 한다.
단 모든 정수는 오른쪽으로 정렬되어야 하며 앞쪽 빈칸은 `+` 기호로 채운다.

In [ ]:
num4 = 887223.8348161
num5 = 6833.127230009267

**답**

아래 코드는 소수점 이하 여섯째 자리에서 반올림한 값을 출력하며,
총 15칸을 차지하도록 하며 오른쪽으로 정렬시킨다.
또한 왼쪽의 빈 칸은 `+` 기호로 채운다.

In [ ]:
print(f"{num3:+>15.5f}")
print(f"{num4:+>15.5f}")

+++++8223.62875
+++887223.83482

## 문제 2

영어 문장을 인자로 입력받았을 때 모음과 자음의 개수를 확인하는 함수를 구현하려 한다.
단, 모음 알파벳으로 구성된 아래 문자열을 이용한다.

In [ ]:
vowels='AEIOUaeiou'

**질문 1**

영어 문장을 인자로 입력받았을 때 모음의 개수를 확인하는 `count_vowels()` 함수를 작성하라.

In [ ]:
vowels='AEIOUaeiou'

**답**

아래 함수는 인자로 주어진 영어 문장 `text`에 대해 모음이 사용된 횟수를
`for` 반복문을 이용하여 계산한다.

In [ ]:
def count_vowels(text):
    count = 0
    for char in text:
        if char in vowels:
            count += 1

    return count

In [ ]:
count_vowels("O, happy")

2

In [ ]:
count_vowels("python data analysis")

6

**질문 2**

영어 문장을 인자로 입력받았을 때 자음의 개수를 확인하는 `count_consonants()` 함수를 작성하라.

힌트: `in` 연산자와 문자열 `isalpha()` 메서드

**답**

문자열 `isalpha()` 메서드는 문자열이 영어 26개의 알파벳으로만 구성되었는지 여부를 판정한다.

In [ ]:
'a'.isalpha()

True

In [ ]:
'ab'.isalpha()

True

In [ ]:
'ab3'.isalpha()

False

아래 함수는 인자로 주어진 영어 문장 `text`에 대해 모음이 아닌 알파벳이 사용된 횟수를
`for` 반복문을 이용하여 계산한다.
`isalpha()` 메서드를 이용하여 모음이 아니면서 영어 알파벳인 경우일 때만 `count` 값이 업데이트됨에 주의한다.

In [ ]:
def count_consonants(word):

    count = 0
    for char in word:
        if (char not in vowels) and char.isalpha():
            count += 1

    return count

In [ ]:
count_consonants("O, happy")

4

In [ ]:
count_consonants("Happy Python!")

9

## 문제 3

다음 세 개의 함수는 모두 입력된 문자열이 소문자를 포함하고 있는지 여부를 조사하도록 구현되었지만
하나만 제대로 작동한다.
어느 함수가 제대로 작동하는지 확인한 다음 그 이유를 설명하라.
또한 다른 두 함수가 적절하게 구현되지 않은 이유를 설명하라.

In [ ]:
def any_lowercase1(text):
    for c in text:
        flag = c.islower()
    return flag

def any_lowercase2(text):
    for c in text:
        if not c.islower():
            return False
    return True

def any_lowercase3(text):
    flag = False
    for c in text:
        if c.islower():
            flag = True
    return flag

**답**

아래 문자열에 대해 위 함수를 테스트한다.

In [ ]:
word1 = "ABcDE"
word2 = "ABCDE"

**`any_lowercase1()` 함수**

In [ ]:
def any_lowercase1(text):
    for c in text:
        flag = c.islower()
    return flag

`for c in text` 반복문이 실행되는 동안 `flag = c.islower()`에 의해 계속해서 업데이트 된다.
따라서 마지막 문자의 소문자 여부가 최종적으로 반환된다.
즉, 문자열의 마지막 문자의 소문자 여부가 함수의 반환값으로 지정되어
`word1`, `word2` 모두에 대해 `False`가 반환된다.

In [ ]:
any_lowercase1(word1)

False

In [ ]:
any_lowercase1(word2)

False

**`any_lowercase2()` 함수**

In [ ]:
def any_lowercase2(text):
    for c in text:
        if not c.islower():
            return False
    return True

`for c in text` 반복문이 실행되는 동안
`if not c.islower()` 에 의해 첫 문자가 소문자가 아닐 때,
즉 대문자이거나 알파벳이 아닌 다른 기호일 때 `False`를 바로 반환한다.
따라서 문자열 자체에 소문자가 포함되어 있다 하더라도 첫 문자가 소문자가 아니면
무조건 `False`가 반환된다.

In [ ]:
any_lowercase2(word1)

False

In [ ]:
any_lowercase2(word2)

False

**`any_lowercase3()` 함수**

In [ ]:
def any_lowercase3(text):
    flag = False
    for c in text:
        if c.islower():
            flag = True
    return flag

`flag` 변수가 가리키는 값이 `for c in text` 반복문이 실행되는 동안
`c`가 소문자를 가리키는 순간 `True`로 지정된다.
반면에 `text`에 포함된 문자중에 소문자가 아니면 무시된다.
결국 소문자가 하나라도 포함된 경우에만 `True`가 반환된다.

In [ ]:
any_lowercase3(word1)

True

In [ ]:
any_lowercase3(word2)

False

결국 `any_lowercase3()` 만 소문자 포함여부를 제대로 결정한다.

## 예제 4

변수와 함수의 이름을 지정할 때 **카멜**<font size = "2">camel</font> 표기법 또는
**팟홀**<font size="2">pothole</font> 표기법(**스네이크**<font size="2">snake</font> 표기법으로도 불림)을
사용한다.

* 카멜 표기법 : 소문자로 시작하고, 이어지는 단어의 시작은 대문자로 작성하는 표기법.
    - 예제: `userName`, `printMessage`, `countA` 등.

* 팟홀 표기법 또는 스네이크 표기법 : 모두 소문자를 사용하고, 단어 사이에 밑줄기호(`_`)를 사용하는 표기법.
    - 예제: `user_name`, `print_message`, `count_a` 등.

팟홀 표기법을 카멜 표기법으로 변환하는 `pothole2camel()` 함수를 구현하라.

힌트: 문자열 `capitalize()`메서드와 `split()` 메서드 활용

**답**

밑줄 기준으로 `split()` 메서드를 적용하면 다음과 같이 작동한다.

In [ ]:
"one_two_three".split('_')

['one', 'two', 'three']

문자열 `capitalize()` 메서드는 문장의 첫 알파벳을 대문자로 변환된 새로운 문자열을 생성한다.

In [ ]:
"hello python".capitalize()

'Hello python'

언급된 두 메서드를 활용하여 `pothole2camel()` 함수를 구현한다.
즉 팟홀 표기법 단어가 주어지면 밑줄 기준으로 쪼갠 다음에
쪼개진 각 단어에 첫 알파벳을 대문자로 변경한 단어를 다시 이어붙인다.

In [ ]:
def pothole2camel(word):
    word_list = word.split('_')

    camelWord = word_list[0]
    for word in word_list[1:]:
        camelWord += word.capitalize()

    return camelWord

In [ ]:
print(pothole2camel("user_name"))
print(pothole2camel("print_message"))
print(pothole2camel("count_a"))
print(pothole2camel("one_two_three"))

userName
printMessage
countA
oneTwoThree

## 문제 5

`time` 모듈의 `ctime()` 함수를 인자 없이 호출하면 현재 시각을
서양식으로 표현된 문자열로 반환한다.

In [ ]:
import time

current_time = time.ctime()
current_time

'Sun Apr 14 14:33:05 2024'

`ctime()` 함수의 반환값을
이용하여 오늘의 날짜를 한국식으로 화면에 출력하는 함수 `today()`를 선언하라.
단, 인자는 사용하지 않으며 `time` 모듈의 다른 함수는 절대 사용하지 않는다.
또한 문자열 `split()` 메서드와 f-문자열을 반드시 활용한다.

힌트:

(1) 아래 두 개의 리스트의 인덱스를 활용하여 영어식 요일 표현을 한국식 요일 표현으로 대체한다.

In [ ]:
weekdays_en = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
weekdays_kr = ['일', '월', '화', '수', '목', '금', '토']

(2) 아래 리스트의 인덱스를 이용하여 영어식 월(month) 표현을 1, 2, ... 12 숫자 표현으로 대체한다.

In [ ]:
months_en = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

**답**

`time.ctime()` 함수는 요일, 월, 일, 시간, 년도 순으로 구성된 문자열을 반환한다.
그리고 반환된 문자열에 포함된 요일, 월, 일 등은 공백으로 구분된다.
따라서 `split()` 메서드를 적용하면 요일, 월, 일, 시간, 년도로 구성된 리스트가 생성된다.

In [ ]:
ctime_split = current_time.split()
ctime_split

['Sun', 'Apr', '14', '14:33:05', '2024']

따라서 요일은 위 리스트의 0번 인덱스에, 연도는 4번 (또는 -1번) 인덱스에,
월과 일은 각각 1번과 2번 인덱스에 위치한다.
이를 이용하여 요일과 날짜를 출력하면 다음과 같다.

In [ ]:
weekday = ctime_split[0]
month = ctime_split[1]
day = ctime_split[2]
year = ctime_split[-1]

print("날짜:", f"{year}년 {month}월 {day}일")

날짜: 2024년 Apr월 14일

그런데 요일과 월 표현이 모두 영어 단어로 되어 있어서 매우 어색하다.
한글 요일로 변환하기 위해 `weekdays_en`과 `weekday_kr` 리스트를 이용한다.
이때 리스트의 `index()` 메서드를 다음과 같이 활용한다.

In [ ]:
weekday_index = weekdays_en.index(weekday)
weekday_kr = weekdays_kr[weekday_index]
weekday_kr

'일'

영어식 월 표현을 숫자로 변환하는 것은 보다 간단하다.

In [ ]:
month_kr = months_en.index(month) + 1
month_kr

4

위 내용을 이용하여 `today()` 함수를 다음과 같이 구현한다.

In [ ]:
def today():
    ctime_split = current_time.split()
    weekday = ctime_split[0]
    month = ctime_split[1]
    day = ctime_split[2]
    year = ctime_split[-1]

    weekday_index = weekdays_en.index(weekday)
    weekday_kr = weekdays_kr[weekday_index]

    month_kr = months_en.index(month) + 1

    print("날짜:", f"{year}년 {month_kr}월 {day}일")

In [ ]:
today()

날짜: 2024년 4월 14일

## 문제 6

`fruits` 변수가 아래와 같이 과일 이름으로 구성된 문자열을 가리킨다.

In [ ]:
fruits = "banana apple orange pineapple mango strawberry cherry"

`fruits` 변수를 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```
Banana, Apple, Orange, Pineapple, Mango, Strawberry, Cherry
```
힌트: 문자열 `split()`, `capitalize()`, `join()` 메서드 활용

**답**

먼저 공백을 기준으로 쪼개면 과일 이름으로 구성된 리스트가 생성된다.

In [ ]:
fruits_list = fruits.split()
fruits_list

['banana', 'apple', 'orange', 'pineapple', 'mango', 'strawberry', 'cherry']

`for` 반목문과 리스트 인덱싱을 이용하여 각각의 과일명을 대문자로 시작하도록 하며
이를 위해 `capitalize()` 메서드를 적용한다.

In [ ]:
for i in range(len(fruits_list)):
    fruits_list[i] = fruits_list[i].capitalize()

fruits_list

['Banana', 'Apple', 'Orange', 'Pineapple', 'Mango', 'Strawberry', 'Cherry']

`", " 문자열의 ``join()` 메서드를 `fruits_list`에 적용하면 쉼표로 구분된 과일명 문자열이 생성된다.

In [ ]:
fruits_cap = ", ".join(fruits_list)

fruits_cap

'Banana, Apple, Orange, Pineapple, Mango, Strawberry, Cherry'

설명을 정리하면 다음과 같다.

In [ ]:
fruits_list = fruits.split()

for i in range(len(fruits_list)):
    fruits_list[i] = fruits_list[i].capitalize()

fruits_cap = ", ".join(fruits_list)

In [ ]:
fruits_cap

'Banana, Apple, Orange, Pineapple, Mango, Strawberry, Cherry'

## 문제 7

ROT13 은 단어의 각 문자를 13 자리만큼 회전시키는 방식의 간단한 암호 법이다.
문자를 회전한다는 것은 알파벳 상의 위치를 이동한다는 뜻이다.
예를 들어, `'a'` 를 3 만큼 이동하면 `'d'` 가,
`'z'` 를 1 만큼 이동하면 `'a'` 가 된다.

**질문 1**

다음 하나의 매개변수를 사용하는 `encrypt()` 함수를 구현하라.

- `word`: 영어 문장 문자열

함수의 반환값은 문장에 포함된 모든 영어 알파벳을 13 자리만큼 회전시킨 문자열이다.
단, 모든 문자는 소문자로 변환한다.
또한 `ord()` 함수와 `chr()` 함수를 반드시 활용한다.

**답**

먼저 `ord()` 함수와 `ch()` 함수의 기능을 알아 본다.

**`ord()` 함수**

`ord()` 함수는 문자열에 사용될 수 있는 각각의 유니코드 기호에 정수를 부여한다.
예를 들어 숫자 0에서 9까지의 정수 숫자 문자열은 48부터 57까지의 정수가 부여되었다.

In [ ]:
ord('0')

48

In [ ]:
ord('9')

57

영어 소문자 알파벳 `a`부터 `z`까지 26개에 대해서는 97부터 122가 부여되었다.

In [ ]:
ord('a')

97

In [ ]:
ord('z')

122

반면에 영어 대문자 알파벳 `A`부터 `Z`까지 26개에 대해서는 65부터 90이 부여되었다.

In [ ]:
ord('A')

65

In [ ]:
ord('Z')

90

**`chr()` 함수**

`chr()` 함수는 `ord` 함수의 역함수에 해당한다.
즉, 정수를 하나의 기호에 대응시킨다.

예를 들어 48부터 57까지는 숫자 기호 `'0'`부터 `'9'`에 대응시킨다.

In [ ]:
chr(48)

'0'

In [ ]:
chr(57)

'9'

97부터 122까지는 영어 소문자 알파벳 `'a'`부터 `'z'`로 대응시킨다.

In [ ]:
chr(97)

'a'

In [ ]:
chr(122)

'z'

65부터 90까지는 영어 대문자 알파벳 `'A'`부터 `'Z'`로 대응시킨다.

In [ ]:
chr(65)

'A'

In [ ]:
chr(90)

'Z'

In [ ]:
chr(109)

'm'

영어 소문자 알파벳은 총 26개이에 각각의 알파벳 `char`를 13 자리만큼 회전시키면
`ord(char)` 값에 따라 다르게 계산된다.

- `97 <= ord(char) <= 109`인 경우, 즉 영어 소문자 `'a'`부터 `'m'`까지의 알파벳인 경우: `ord(char)`에 13을 더해준 값에 해당하는 알파벳
- `109 <= ord(char) <= 122`인 경우, 즉 영어 소문자 `'n'`부터 `'z'`까지의 알파벳인 경우: `ord(char)`에서 13을 빼준 값에 해당하는 알파벳

따라서 모두 소문자로 변환한 다음에 각각의 알파벳을 13 자리만큼 회전시킨 결과로 구성된
문자열 아래 `encrypt()` 함수로 계산한다.

In [ ]:
def encrypt(text):
    encrypted = ""

    for char in text.lower():
        if 97 <= ord(char) <= 109:
            encrypted += chr(ord(char) + 13)
        elif 109 < ord(char) <= 122:
            encrypted += chr(ord(char) - 13)
        else:
            encrypted += char

    return encrypted

In [ ]:
encrypt('I love python')

'v ybir clguba'

In [ ]:
encrypt(encrypt('I love python'))

'i love python'

In [ ]:
encrypt('Believe me!')

'oryvrir zr!'

**질문 2**

소문자와 대문자를 그대로 유지하도록 `encrypt()` 함수를 수정하라.

**답**

대소문자에 따라 `if ... elif ... else... ` 조건식을 사용하면 된다.
대문자의 구분은 숫자만 다를 뿐 소문자의 구분과 동일하다.

In [ ]:
def encrypt(text):
    encrypted = ""

    for char in text:
        if char.isupper():
            if 65 <= ord(char) <= 77:
                encrypted += chr(ord(char) + 13)
            else:
                encrypted += chr(ord(char) - 13)
        elif char.islower():
            if 97 <= ord(char) <= 109:
                encrypted += chr(ord(char) + 13)
            else:
                encrypted += chr(ord(char) - 13)
        else:
            encrypted += char

    return encrypted

In [ ]:
encrypt('I love python')

'V ybir clguba'

In [ ]:
encrypt(encrypt('I love python'))

'I love python'

In [ ]:
encrypt('Believe me!')

'Oryvrir zr!'