# (실습) 반복문

## 문제 1

2부터 9 까지의 자연수 `n`을 입력 받아 구구단의 `n`단을 아래 형식으로 출력하는 
`times_table()` 함수를 `while` 반복문을 이용하여 작성한다.
예를 들어 `time_table(3)`을 호출하면 3단을 다음과 같이 출력한다.

```
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
```

**답**

2부터 시작해서 `while` 반복문의 본문이 실행될 때마다 1씩 커지는
방식으로 업데이트되는 변수 `num`을 활용한다.
예를 들어 아래 코드는 3단을 출력한다.

In [3]:
n = 3

num = 2
while num < 10:
    print(n, '*', num, '=', n*num)
    num += 1

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5단을 출력하기 위해서는 `n`에 5만 할당하면 되며,
코드의 다른 부분은 그대로 둔다.

In [4]:
n = 5

num = 2
while num < 10:
    print(n, '*', num, '=', n*num)
    num += 1

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

따라서 변수 `n`을 매개변수로 사용하는 함수를 선언하면
`n`단을 출력하는 함수가 된다.

In [5]:
def times_table(n):
    num = 2
    while num < 10:
        print(n, '*', num, '=', n*num)
        num += 1

- 3단

In [6]:
times_table(3)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

- 8단

In [7]:
times_table(8)

8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

## 문제 2

369게임은 자연수 `n`이 주어졌을 때 1부터 `n`까지의 자연수를
다음 규칙에 따라 출력한다.

* 3의 배수이거나 1의 자릿수가 3인 수일 경우, 해당하는 수를 출력하는 대신 문자열 `짝`을 출력
* 나머지 수는 그대로 출력

예를 들어, `n`이 15인 경우 다음과 같이 출력된다.

```
1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝
```

369게임을 진행하는 `game369()` 함수를 구현하여 `n`이 30일 때의 출력 결과를 확인하라.
`game369()`는 하나의 매개변수만 사용한다.

힌트: `range()` 함수, `for` 반복문, `%` 연산자, `print()` 함수의 `end` 키워드 인자 활용

**답**

`num`이 가리키는 정수에 대해
논리식 `num % 10 == 3`는 10으로 나눴을 때의 나머지가 3일 때 참이되는데
이유는 어떤 정수를 10으로 나눈 나머지가 바로 그 수의 일의 자릿수이기 때문이다.

따라서 "3의 배수이거나 1의 자릿수가 3인 수일 경우"를 아래 논리식으로 표현할 수 있다.

```python
num % 3 == 0 or num % 10 == 3
```

`range(1, n+1)` 구간의 정수에 대해 아래 논리식이 참이면 짝을, 아니면
해당 정수를 출력하도록 하면 된다.
이를 위해 아래 함수처럼 `for` 반복문을 이용한다.

In [8]:
def game369(n):
    for num in range(1, n+1):
        if num % 3 == 0 or num % 10 == 3:
            print('짝', end=' ')
        else:
            print(num, end=' ')

In [9]:
game369(15)

1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝

In [10]:
game369(30)

1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝 16 17 짝 19 20 짝 22 짝 짝 25 26 짝 28 29 짝

## 문제 3

`while` 반복문을 이용하여 양의 정수를 다른 양의 정수로 나눴을 때의 
몫을 반환하는 `quotient()` 함수와
나머지를 반환하는 `remainder()` 함수를 구현하라.
단, 두 함수를 이용하여 아래와 같이 화면에 출력되도록 `print()` 함수를 호출하라.

```python
45 을(를) 7 (으)로 나눴을 때의 몫: 6
45 을(를) 7 (으)로 나눴을 때의 나머지: 3
```
    
단, 연산자는 덧셈, 뺄셈, 곱셈 연산자만 사용해야 한다. 
즉, 몫 연산자, 나머지 연산자 등 파이썬에세 기본으로 제공하는 
연산자나 함수는 사용하지 않는다.

**답**

예를 들어 45을 7로 나눌 때의 나머지는 7단을 읊으다가 45보다 커지는 순간
그때까지 7에 곱한 값에서 1을 뺀 값이 몫이고
몫과 7을 곱한 값과 45와의 차이가 나머지가 된다.

```
7 * 1 = 7
7 * 2 = 14
...
7 * 6 = 42
7 * 7 = 49   <= 45보다 큼
```

즉, 7에서 1을 뺀 6이 몫이고 6을 7과 곱한 값인 42와 45의 차이인 3이 나머지가 된다.
이 아이디어를 코드로 구현한 두 함수는 다음과 같다.
함수의 정의에 사용된 변수의 역할은 다음과 같다.

- `number`: 나눠지는 수를 인자로 받는 매개변수
- `divisor`: 나누는 수를 인자로 받는 매개변수
- `count`: 나누는 수에 곱해지는 수

그러면 `divisor * count <= number`이 만족되는 동안 `count` 값을 1씩 키운다.

- 몫 반환 함수

In [11]:
def quotient(number, divisor):
    count = 0

    while divisor * count <= number:
        count += 1
        
    answer = count - 1
    return answer

In [12]:
print(45, "을(를)", 7, "(으)로 나눴을 때의 몫:", quotient(45, 7))

45 을(를) 7 (으)로 나눴을 때의 몫: 6

- 나머지 반환 함수

In [13]:
def remainder(number, divisor):
    count = 0

    while divisor * count <= number:
        count += 1
        
    answer = number - divisor * (count - 1)

    return answer

In [14]:
print(45, "을(를)", 7, "(으)로 나눴을 때의 나머지:", remainder(45, 7))

45 을(를) 7 (으)로 나눴을 때의 나머지: 3

## 문제 4

거스름돈을 돌려주기 위해 필요한 최소한의 동전 개수를 알아내는 문제다. 
단, 사용할 수 있는 동전은 500원, 250원, 100원, 50원, 10원 5 종류이다.
거슬러 줘야 하는 금액이 `n` 원일 때, 필요한 동전의 최소 개수를 반환하는
`change()` 함수를 구현하라.
단, n 은 10의 배수이면서 5000보다 작은 정수이고, 
모든 동전은 원하는 만큼 충분히 많이 있다고 가정한다. 

힌트: 거스름돈 지급에 사용되는 동전의 수를 최소화 하려면
큰 액수의 동전을 최대한 많이 사용하면 된다.
따라서 큰 액수의 동전부터 차례대로 최대한 많이 사용할 수 있는
동전의 개수를 `for` 반복문과 이전 문제에서 정의한 
`quotient()`, `remainder()` 두 함수를
활용하여 구한다.

참고: 앞서 설명한 힌트는
[탐욕 알고리즘](https://codingalzi.github.io/algopy/greedy_algorithm_1.html)을
응용한다.

**답**

힌트에서 언급된 대로 큰 액수의 동전을 최대한 많이 사용한다.
예를 들어 1730원을 거슬러 주려면 500원 동전을 최대 3개 사용한다.
그다음에 나머지 230은 100원 동전 2개를 사용하고,
그래도 남은 30원은 10원 동전 3개를 사용한다.
따라서 총 8개의 동전을 사용한다.

그런데 위 설명에서 사용된 500원 동전 3개, 100원 동전 2개, 10원 동전 3개는
각각 1730을 500으로 나눴을 때의 몫, 230을 100으로 나눴을 때의 몫, 
30을 10으로 나눴을 때의 몫이다.

결국 최소 개수의 동전으로 거스름돈을 지불하기 위한 방법은
500원, 250원, 100원, 50워느 10원 동전 각각을 대상으로
몫과 나머지를 연속적으로 적용해서 확인할 수 있다.
이를 `for` 반복문으로 구현하면 다음과 같다.

```python
n = 1730        # 총 거스름돈
coin_number = 0 # 사용된 동전 개수

for coin in [500, 250, 100, 50, 10]:
    count = quotient(n, coin)
    coin_number += count
    n = remainder(n, coin)
```

따라서 `n`을 매개변수를 사용하는 `change()` 함수를 다음과 같이 구현할 수 있다.

In [31]:
def change(n):
    
    coin_number = 0 # 사용된 동전 개수
    
    for coin in [500, 250, 100, 50, 10]:
        count = quotient(n, coin)
        coin_number += count
        n = remainder(n, coin)
        
    return coin_number

- 거스름돈: 620원 지불에 필요한 동전 수

In [17]:
change(620)

4

- 거스름돈: 1730원 지불에 필요한 동전 수

In [18]:
change(1730)

8

`print()` 함수를 적절히 이용해서 거스름돈 지불에 사용된 동전을 구체적으로 확인할 수 있다.

In [19]:
def change(n):
    
    coin_number = 0
    
    for coin in [500, 250, 100, 50, 10]:
        count = quotient(n, coin)
        print(coin, "원 동전:", count, "개")
        coin_number += count
        n = remainder(n, coin)
        
    return coin_number

- 거스름돈: 620원 지불에 필요한 동전

In [20]:
change(620)

500 원 동전: 1 개
250 원 동전: 0 개
100 원 동전: 1 개
50 원 동전: 0 개
10 원 동전: 2 개

4

- 거스름돈: 1730원 지불에 필요한 동전

In [21]:
change(1730)

500 원 동전: 3 개
250 원 동전: 0 개
100 원 동전: 2 개
50 원 동전: 0 개
10 원 동전: 3 개

8

## 문제 5

복리 정기예금과 관련해서 원금, 연 복리이자, 예치기간이 주어졌을 때 
지정된 예치기간 후에 받을 원리합계, 즉, 원금과 이자의 합을 반환하는
`total()` 함수를 구현하라.
단, 총이자를 계사할 때 `while` 반복문을 반드시 이용한다.

예를 들어, 연 복리이자 5%인 정기예금에 백만원을 3년간 은행에 맡겼을 때
3년 후에 수령할 금액은 원금 백만원에 이자 157,625원이 추가되어
총 1,157,625원이 된다.

힌트: 복리이자의 원리합계 계산 코드는 다음과 같다.

```
total = principal * (1 + rate)**period
```

**답**

복리에 대한 원리합계를 계산하는 식은 다음과 같았다.

```python
total = principal * (1 + rate)**period
```

따라서 저축기간인 `period` 가 1년 증가할 때마다 원리합계는 이전 원리합계에 `(1 + rate)`를 곱한 결과이다.
이 정보를 `while` 반복문에 적용하여 다음과 같이 원리합계를 계산할 수 있다.

In [22]:
def savings(principal, rate, period):

    total = principal # period가 0일 때는 원금만 있음.
    num_of_years = 1

    while num_of_years <= period:
        total = total * (1 + rate)
        num_of_years = num_of_years + 1

    return total

In [23]:
print("백만원을 복리이자 5%로 3년 예치 후 받는 원금 + 이자는", savings(1000000, 0.05, 3), "원입니다.")

백만원을 복리이자 5%로 3년 예치 후 받는 원금 + 이자는 1157625.0 원입니다.

## 문제 6

`for`/`while` 반복문에 포함된  `break` 명령문이 실행되면
실행중인 반복문의 실행이 종료된다.
아래 코드를 실행해도 아무 것도 출력되지 않는 이유를 설명하라.

In [24]:
n = 3
while n < 10:
    is_even = True

    if n % 2 == 1:
        is_even = False
        print("-", n, "은(는) 홀수다.")
    
    break

    if is_even:
        print("-", n, "은(는) 짝수다.")
        
    n += 1
    
print("실행 종료!")

- 3 은(는) 홀수다.
실행 종료!

**답**

`while` 반복문은 `n`이 3부터 10까지의 정수를 차례대로 가리키는 동안 실행된다.

- 5번 줄에서 시작하는 `if` 조건문은 `n`이 홀수일 때 홀수임을 확인한다.
- 이후에 9번 줄에서 `break` 명령문이 실행되어 `while` 반복문의 실행이 중단된다.
- 결국 `n`이 3인 경우에 홀수임을 확인한 후에 곧바로 `while` 반복문의 실행이 중단된다.
- `while` 반복문이 종료된 후에 이어지는 명령문이 계속해서 실행되어
    마지막 줄의 `print("실행 종료!")`에 의해 코드의 실행이 종료되었음을 확인해준다.

## 문제 7

`for`/`while` 반복문에 포함된  `continue` 명령문이 실행되면
실행중인 반복문의 처음으로 돌아가서 반복문을 다시 시작한다.
특히 `for` 반복문에서는 다음 경우가 실행된다.
아래 코드의 실행결과를 설명하라.

In [25]:
def prime_check(n):

    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
            print("-", n, "=", x, "*", n//x)
            continue
            print("따라서", n, "은(는) 소수 아님!")

    if is_prime:
        print(n, "은(는) 소수다.")
    else:
        print(" ", n, "은(는) 소수가 아니다.")

In [26]:
prime_check(13)

13 은(는) 소수다.

In [27]:
prime_check(12)

- 12 = 2 * 6
- 12 = 3 * 4
- 12 = 4 * 3
- 12 = 6 * 2
  12 은(는) 소수가 아니다.

**답**

`prime_check()` 함수는 2보다 같거나 큰 양의 정수 `n`을 인자로 해서 호출되었을 때
`n`의 소수 여부에 따라 소수면 소수임을 확인하는 문장을
아니면 왜 소수가 아닌지에 대한 설명을 출력한다.

양의 정수가 소수가 되려면 2보다 크고 자신보다 작은 모든 정수에 대해 배수가 아니어야 하는데
이 사실을 확인하기 위해 `for` 반복문을 이용한다.

- `is_prime` 변수: 처음에 `True`를 가리키다가 `n`을 나누는 2보다 큰 정수가 확인되는 순간 
    `False`로 변하게 되어 `n`이 소수가 아님을 기억한다.

- `continue` 명령문: 실행되면 곧바로 `for` 반복문의 다음 경우를 다룬다.
    따라서 9번 줄의 `print()` 함수는 실행되지 않는다.
    
`for` 반복문의 실행중에 `is_prime`이 가리키는 값이 변하지 않았다면
, 즉 계속해서 `True`를 가리킨다면 소수임을,
`False`로 변했다면 소수가 아님을 밝히는 문장이 출력된다.

## 문제 8

`for`/`while` 반복문에 포함된  `continue` 명령문이 실행되면
실행중인 반복문의 처음으로 돌아가서 반복문을 다시 시작한다.
특히 `for` 반복문에서는 다음 경우가 실행된다.
반면에 `for`/`while` 반복문애 포함된 `break` 명령문이 실행되면
해당 반복문이 종료된다.
아래 코드의 실행 결과를 설명하라.

In [28]:
for n in range(2, 11):
    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
            print("-", n, "=", x, "*", n//x)
            break
            print("따라서", n, "은(는) 소수 아님!")

    continue
    
    if is_prime:
        print("-", n, "은(는) 소수다.")
    else:
        print(" ", n, "은(는) 소수가 아니다.")

- 4 = 2 * 2
- 6 = 2 * 3
- 8 = 2 * 4
- 9 = 3 * 3
- 10 = 2 * 5

**답**

1번 줄에서 시작하는 `for` 반복문은 2부터 10까지의 정수를 대상으로 한다.

- 변수 `n`이 가리키는 값이 소수가 아닐 때
    - 하나의 소인수 분해 예제 출력 후 `break` 명령문에 의해
        4번 줄에서 시작하는 내부의 `for` 반복문 실행 종료
    - 곧바로 `continue` 명령문이 실행되어 1번 줄의 `for` 반복문을 `n+1`에 대해 실행.

- 변수 `n`이 소수를 가리킬 때
    - 5번 줄에서 시작하는 `if ...` 조건문의 본문이 실행되지 않아 `break` 명령문이 전혀 실행되지 않음.
    - 따라서 `for` 반복문이 정상적으로 실행 종료됨.
    
- 4번 줄에서 시작하는 내부 반복문의 실행이 종료된 후 곧바로 11번 줄의 `continue` 명령문이 실행되어
    1번 줄의 `for` 반복문을 `n+1`에 대해 실행을 이어감.
- 따라서 13번 줄부터 시작하는 `if ... else ...` 명령문은 어떤 경우에도 실행되지 않게 되어
    소수이다/아니다를 최종적으로 확인하는 문장이 출력되지 않음. 
    특히 소수인 경우는 무시되는 것처럼 보임.

## 문제 9

`for`/`while` 반복문이 중첩되어 사용되었을 때 
내부의 `for`/`while` 반복문에 포함된 `break` 명령문이 실행되면
해당 `for`/`while` 반복문만 종료된다.
아래 두 코드가 동일한 내용을 출력하는 이유를 설명하라.

- 코드 1

In [29]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print([i, j])

[0, 0]
[1, 0]
[1, 1]
[2, 0]
[2, 1]
[2, 2]
[3, 0]
[3, 1]
[3, 2]
[3, 3]

- 코드 2

In [30]:
for i in range(4):
    for j in range(4):
        if j > i:
            continue
        print([i, j])

[0, 0]
[1, 0]
[1, 1]
[2, 0]
[2, 1]
[2, 2]
[3, 0]
[3, 1]
[3, 2]
[3, 3]

**답**

코드 1은 다음과 같이 작동한다.

- `i`가 0부터 3까지 변함.
- 각각의 `i`에 대해 `i < j` 가 거짓인 경우에만 리스트 `[i, j]` 출력.
- 각각의 `i`에 대해 `i < j` 가 참이 되는 순간 `break` 명령문이 실행되어
    내부의 반복문인 `for j in range(4)` 의 실행이 종료되고
    `i+1`에 대해 외부의 `for i in range(4)` 반복문 실행
- 결론적으로 `i <= j`인 경우에만 `[i, j]` 출력

코드 2는 다음과 같이 작동한다.

- `i`가 0부터 3까지 변함.
- 각각의 `i`에 대해 `i < j` 가 거짓인 경우에만 리스트 `[i, j]` 출력.
- 각각의 `i`에 대해 `i < j` 가 참이 되는 순간 `continue` 명령문이 실행되어
    내부의 반복문인 `for j in range(4)` 의 처음으로 돌아가서 `j+1`에 대해 해당 반복문이 다시 실행되지만
    계속해서 `i < j+1`이 참이 되기에 `j`가 4가 될 때까지 계속해서 `continue` 명령문이 실행된다.
    즉, 더 이상의 출력이 실행되지 않은 상태에서 `for j in range(4)` 반복문의 실행이 종료되고
    `i+1`에 대해 외부의 `for i in range(4)` 반복문 실행
- 결국 `continue` 명령문 대신 코드 1에서처럼 `break` 명령문을 사용한 경우와 동일한 결과가 나온다.