# (실습) 리스트와 튜플

**참고 사항**

먼저
[리스트와 튜플](https://codingalzi.github.io/pybook/lists_tuples.html)의 내용과
[(필수 예제) 리스트와 튜플](https://colab.research.google.com/github/codingalzi/pybook/blob/master/examples/examples-lists_tuples.ipynb)의 예제들을 학습하세요.

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제 1

4중으로 중첩된 리스트를 아래와 같이 선언한다.

In [1]:
a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]

**질문 1**

위 리스트에서 `7`을 확인하는 인덱싱 표현식을 정의하라.

**답**

In [2]:
a_nested_list[3][0]

7

**질문 2**

위 리스트에서 `[2, [3, 4], 5]`를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [3]:
a_nested_list[1][1]

[2, [3, 4], 5]

**질문 3**

위 리스트에서 4를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [4]:
a_nested_list[1][1][1][1]

4

## 문제 2

0부터 10까지의 수 중에서 3의 배수를 제외한 항목으로 이루어진 리스트를
생성하도록 아래 코드를 완성하라.
즉, `list10` 변수는 최종적으로 아래 값을 가리켜야 한다.

```python
[1, 2, 4, 5, 7, 8, 10]
```

단, `for` 반복문과 `continue` 명령문을 활용한다.

**답**

In [5]:
list10 = []

for num in range(0, 11):
    if num % 3 == 0:
        continue

    list10.append(num)

print(list10)

[1, 2, 4, 5, 7, 8, 10]

## 문제 3

아래 리스트가 주어졌다.

    ['dog', 'cat']

위 리스트에 아래 리스트를 마지막 항목으로 추가한 새로운 리스트를 생성하라.

    ['tiger', 'eagle']

생성된 리스트는 아래 모양이어야 한다.

    ['dog', 'cat', ['tiger', 'eagle']]

단, 리스트의 메서드만 활용해야 한다.

**답**

`append()` 메소드를 이용한다.

In [6]:
animal = ['dog', 'cat']
animal.append(['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

또는 `extend()` 메소드를 이용할 수도 있다.

In [7]:
animal = ['dog', 'cat']
animal.extend([['tiger', 'eagle']])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

## 문제 4

영어 단어 인자와 함께 호출되면 알파벳순으로 정렬된 문자열을 반환하는 `abc()` 함수를 구현하라.
예를 들어 다음과 같이 작동해야 한다.

```
>>> abc('dog')
'dgo'
```

힌트: 리스트 정렬

**답**

- 리스트 정렬 메서드 활용

In [ ]:
def abc(s):
    list_s = list(s)
    list_s.sort()

    sorted_str = ""
    for i in list_s:
        sorted_str += i

    return sorted_str

In [ ]:
abc('dog')

'dgo'

In [ ]:
abc("python")

'hnopty'

- `join()` 리스트 메서드 활용

위 `abc()` 함수의 본문에 사용된 `for` 반복문은 사실 `join()` 메서드의 기능을 대신한다.

In [ ]:
def abc(s):
    list_s = list(s)
    list_s.sort()

    sorted_str = "".join(list_s)

    return sorted_str

In [ ]:
abc('dog')

'dgo'

In [ ]:
abc('python')

'hnopty'

- `sorted()` 함수 활용

`sort()` 메서드는 해당 리스트 자체를 수정하며 반환값은 `None`이다.
반면에 `sorted()` 함수는 수정된 리스트를 반환한다.
따라서 두 함수의 활용법이 조금 다르다.

아래 코드는 `sorted()` 함수와 문자열 `join()` 메서드를 활용하여 `abc()` 함수를 보다 간단하게 구현한다.

In [ ]:
def abc(s) :
    list_s = list(s)
    return "".join(sorted(list_s))

In [ ]:
abc("dog")

'dgo'

In [ ]:
abc('python')

'hnopty'

## 문제 5

메뉴와 가격이 공백으로 구분된 두 개의 문자열로 주어졌다.

In [ ]:
menu = "ham bread chicken egg"
prices = "1200 5000 17000 500"

가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 문자열을
다음과 같이 출력하는 프로그램을 구현하라.

```python
가장 저렴한 메뉴: egg  
가장 비  싼 메뉴: chicken  
```

힌트: 문자열 `split()` 메서드와 `zip()` 함수, 리스트 `sort()` 메서드 활용

**답**

In [ ]:
menu_list = menu.split()
prices_list = prices.split()

menu_prices = list(zip(menu_list, prices_list))
menu_prices.sort(key=lambda x: int(x[1]))

print(f"가장 저렴한 메뉴: {menu_prices[0][0]}")
print(f"가장 비  싼 메뉴: {menu_prices[-1][0]}")

가장 저렴한 메뉴: egg
가장 비  싼 메뉴: chicken

## 문제 6

6명의 정보가 다음과 같다.

In [8]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']
whang = ['황현', '02-9871-1234', 19, 163.5, '서울']
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

6명의 정보를 하나의 리스트로 묶는다.

In [9]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**질문 1**

`info_list`를 이름 순으로 정렬하라.

힌트: `sort()` 메서드 활용

**답**

`sort()` 메서드는 리스트의 항목들이 모두 리스트인 경우 첫째 항목의 크기를 기준으로 정렬한다.

In [10]:
info_list.sort()
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

**질문 2**

추가로 6명의 몸무게로 구성된 리스트를 가리키는 `weights` 변수를 선언한다.

In [11]:
weights = [65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

6명의 키와 몸무게 정보를 이용하여 계산된 6명의 비만도로 구성된 리스트를 생성하라.
체질량지수(bmi)는 몸무게(kg)를 키(m)의 제곱으로 나눈 값이다.

$$
\mathrm{bmi} = \frac{\mathrm{몸무게}}{\mathrm{키}^2}
$$

**답**

6명의 키를 항목으로 갖는 리스트를 `height_list`가 가리키도록 하자.
키 정보는 6명 각각의 정보를 담은 리스트에서 3번 인덱스 항목이기에 다음과 같이
`for` 반복문, 인덱싱, `append()` 메서드를 이용하면
간단하게 키의 정보만 담은 리스트를 생성할 수 있다.

In [12]:
heights_cm = []

for person in info_list:
    heights_cm.append(person[3])

In [13]:
heights_cm

[172.3, 164.6, 156.7, 187.2, 178.3, 163.5]

이제 6명의 체질량지수로 구성된 리스트를 생성할 수 있다.
먼저 키의 단위를 미터로 변환한다.
`round()` 함수를 이용하여 소수점 이하 셋째 짜리까지만 계산한다.

In [14]:
heights_m = []

for num in heights_cm:
    num_m = round(num/100, 3)
    heights_m.append(num_m)

heights_m

[1.723, 1.646, 1.567, 1.872, 1.783, 1.635]

`i` 번 인덱스에 해당하는 사람의 체질량 지수는 다음과 같이 계산된다.

```python
bmi = weights[i] / (heights_m[i])**2
```

아래 코드는 체질량지수를 소수점 이하 첫째 자리까지만 계산한다.

In [15]:
bmis = []

for i in range(len(info_list)):
    bmi = weights[i] / (heights_m[i])**2 # 체질량지수
    bmi = round(bmi, 1)                  # 소수점 둘째 자리에서 반올림
    bmis.append(bmi)

bmis

[22.0, 19.0, 19.5, 23.2, 16.9, 33.7]

**질문 3**

`info_list`에 6명 각각의 체질량 지수를 추가하라.

**답**

`info_list` 변수가 가리키는 중첩 리스트에 6명 각각의 몸무게와 체질량지수 정보를 추가하기 위해
먼저 몸무게와 체질량지수로 구성된 길이가 2인 리스트를 생성한 후에
`extend()` 메서드를 이용하여 6명 각각의 정보를 담은 리스트를 확장한다.

예를 들어, 김강현의 몸무게와 체질량지수로 구성된 리스트는 다음과 같다.

In [16]:
kgh_weight_bmi = [weights[0], bmis[0]]
kgh_weight_bmi

[65.3, 22.0]

예를 들어 아래 코드는 김강현의 정보를 담은 리스트에 위 리스트를 연결하여 확장한다.
`kgh` 변수가 가리키는 리스트를 직접 건드리지 않기 위해
`copy()` 메서드를 이용하여 먼저 사본을 만든 다음에 리스트를 확장한다.

In [17]:
kgh_copy = kgh.copy()
kgh_copy.extend(kgh_weight_bmi)
kgh_copy

['김강현', '010-1234-5678', 20, 172.3, '제주', 65.3, 22.0]

동일한 작업을 6명 전원에 대해 적용하려면 `info_list`의 항목을 대상으로
`for` 반복문을 싱행한다.
하지만 아래 방식은 곤란하다.

```python
for person in info_list:
    ...
```

이유는 `person`이 가리키는 항목의 인덱스 정보를 알아야만 `weights`와 `bmis`에서
해당 위치의 항목을 추출할 수 있기 때문이다.

해결책으로 `range()` 함수와 인덱싱을 활용한다.
그러면 언급된 세 개의 리스트 `info_list`, `weights`, `bmis` 모두에 대해
동시에 인덱싱을 적용할 수 있다.

In [18]:
for i in range(len(info_list)):
    weight_bmi = [weights[i], bmis[i]] # i번째 사람의 몸무게와 체질량지수
    info_list[i].extend(weight_bmi)    # i번째 사람의 정보 확장

info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주', 65.3, 22.0],
 ['김현선', '010-3333-8888', 22, 164.6, '광주', 51.5, 19.0],
 ['남세원', '010-3456-7891', 21, 156.7, '경기', 48.0, 19.5],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산', 81.4, 23.2],
 ['함중아', '010-7654-2345', 18, 178.3, '강원', 53.8, 16.9],
 ['황현', '02-9871-1234', 19, 163.5, '서울', 90.1, 33.7]]

## 문제 7

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔아야 한다.
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
단, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

공간의 가로, 세로 크기, 타일의 크기를 cm 단위로 인자로 사용되었을 때
타일을 깔 때 필요한 온장 타일과 잘라서 사용한 타일의 개수로
이뤄진 튜플을 반환하는 함수 `tiling_tuple()`을 구현하라.
단 공간 크기의 가로, 세로, 타일의 크기는 정수라고 가정한다.

`tiling()` 함수의 매개변수는 다음과 같이 한다.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

In [ ]:
def tiling_tuple(width, height, tile_length=30):
    num_full_width = width // tile_length
    num_full_height = height // tile_length

    num_full = num_full_width * num_full_height

    if width % tile_length == 0:
        num_part_height = 0
        if height % tile_length == 0:
            num_part = 0
        else:
            num_part = num_full_width

    else:
        if height % tile_length == 0:
            num_part = num_full_height
        else:
            num_part = num_full_width + num_full_height + 1

    return num_full, num_part

In [ ]:
tiling_tuple(400, 400)

(169, 27)

In [ ]:
tiling_tuple(400, 400, 35)

(121, 23)