**문제1) 아래 리스트는 4중 리스트이다.**

`a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]`  

(1) 위 리스트에서 `7`를 얻는 방법은?

In [ ]:
a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]

In [ ]:
a_nested_list[3][0]

7

(2) 위 리스트에서 `[2, [3, 4], 5]`를 얻는 방법은?

In [ ]:
a_nested_list[1][1]

[2, [3, 4], 5]

(3) 위 리스트에서 `4`를 얻는 방법은?

In [ ]:
a_nested_list[1][1][1][1]

4

**문제2) 아래 리스트를 리스트 조건제시법으로 구현하여라**   

(1) [3, 6, 9, 12, 15]

In [ ]:
# ans1 = [ 3*x for x in range(1,6) ] or
ans1 = [ x for x in range(1,16) if x % 3 == 0]
print(ans1)

[3, 6, 9, 12, 15]

(2)수학에서 사용되는 대표적인 지수함수인 $f(x) = e^x$는 `math` 모듈의 `exp()`로 정의되어 있다. 
<center>[ $e^3, e^6, e^9, e^{12}, e^{15}$ ] </center>

In [ ]:
from math import exp
# ans2 = [exp(x) for x in ans1] or
# ans2 = [ exp(3**x) for x in range(1,6) ] or
ans2 = [ exp(x) for x in range(1,16) if x % 3 == 0]
print(ans2)

[20.085536923187668, 403.4287934927351, 8103.083927575384, 162754.79141900392, 3269017.3724721107]

(3) [1, 5, 7, 11, 13, 17, 19]  
hint) 2의 배수와 3의 배수가 아닌 1에서 20사이의 정수들을 항목으로 갖는 리스트

In [ ]:
ans3 = [ i for i in range(1,20) if i % 2 != 0 and i % 3 != 0 ]
print(ans3)

[1, 5, 7, 11, 13, 17, 19]

**문제3) 리스트 `['dog', 'cat']`를 `['dog', 'cat', ['tiger', 'eagle']]`로 변경하는 코드를 작성하여라.**

(1) 슬라이싱 이용

In [ ]:
animal = ['dog', 'cat']
animal[2:] = [['tiger', 'eagle']]
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(2) `append()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.append(['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(3) `extend()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.extend([['tiger', 'eagle']])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(4) `insert()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.insert(2,['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

**문제4) 영어단어를 인자로 받아 알파벳순으로 리턴하는 함수인 `abc()` 함수를 구현하여라.**  

```
In [3]: abc('dog')
Out[3]: 'dgo'
```

In [1]:
def abc(s) :
  a_list = []
  a_list.extend(s)
  a_list.sort()
  ret = ""
  for i in a_list :
    ret += i
  return ret

In [2]:
abc('dog')

'dgo'

참고) 아래의 내용을 참고하여 코드를 작성할 수도 있다.  
* 빈 리스트는 `list()`로 생성할 수 있다. 이때 인자를 문자열로 둔다면 각 문자 단위로 리스트를 만든다.

In [ ]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [ ]:
'''
def 함수이름(매개변수1, ..., 매개변수n) : 
  ...
  ...
  return 
'''
def abc_v1(s) : 
  s = list(s)
  s.sort()
  ret = ""
  for i in s:
    ret += i
  return ret

In [ ]:
print(abc_v1("dog"))

dgo

참고) 아래의 내용을 참고하여 코드를 작성할 수도 있다.  
* `join()` 메소드는 문자열 메소드
  * `'구분자(sep)'.join(문자열)` : 문자열의 각 문자 사이에 구분자(sep)를 넣어서 하나의 문자열로 합하여 반환
  * `'구분자(sep)'.join(리스트)` : 리스트의 각 항목 사이에 구분자(sep)를 넣어서 하나의 문자열로 합하여 반환. 이때 리스트의 각 항목은 문자열.

In [ ]:
','.join("Hello")

'H,e,l,l,o'

In [ ]:
print('-'.join(["a", "b", "c"]))
print(','.join(list("Hello")))

a-b-c
H,e,l,l,o

* `sorted()` 함수는 원래의 리스트를 건드리지 않으면서 정렬된 리스트를 생성.  
주의) `sort()` 메소드는 원래의 리스트 자체를 변경함.

In [ ]:
a_list = [5, 3, 7, 1]
sorted_list = sorted(a_list)

print(a_list)
print(sorted_list)

[5, 3, 7, 1]
[1, 3, 5, 7]

In [ ]:
def abc_v2(s) :
  s = list(s)
  ret = "".join(sorted(s))
  return ret

In [ ]:
print(abc_v2("dog"))

dgo

```







.
```

**문제**

`sorted()` 함수는 리스트를 크기 기준 오름차순으로 정렬한다.

In [1]:
a_list = [3, 2, 1, 4, 5]
sorted_list = sorted(a_list)
sorted_list

[1, 2, 3, 4, 5]

아래 코드에서 `rev_sorted_list` 변수가 `a_list`를 크기 기준 오름차순으로 정렬한 리스트를 참조하도록 `None` 값을 적절한 표현식으로 대체하라.

즉, 아래가 성립해야 한다.

```python
rev_sorted_list = [5, 4, 3, 2, 1]
```

힌트: `sorted()` 함수의 키워드 인자 활용

In [2]:
# None을 sorted(a_list, ...) 형식의 표현식으로 대체해야 함
# sorted() 함수의 키워드 인자를 반드시 사용해야 함.
# 단순히 리스트를 입력하면 0점 처리됨.

rev_sorted_list = None

print(rev_sorted_list)

None

**문제**

`datetime` 모듈의 `datetime` 객체가 아래와 같이 주어졌다.

```python
dt = datetime(2021, 3, 14, 15, 5, 20)
```

변수 `current_time`이 아래 문자열을 가리키도록 아래 코드를 완성하라.

In [3]:
current_time_string = "오늘은 2021년 3월 14일이고, 현재 시각은 오후 3시 5분 20초입니다."

힌트: datetime 객체의 다양한 메서드 활용 및 적절한 f-문자열 지정

- 참고: [datetime 클래스 문서](https://docs.python.org/ko/3/library/datetime.html)
- 참고: [f-문자열 포매팅](https://wikidocs.net/13#f)

In [4]:
from datetime import datetime, date, time

dt = datetime(2021, 3, 14, 15, 5, 20)

In [5]:
# 추가 코드가 필요하면 여기에 작성

In [6]:
# None을 적절한 f-문자열로 대체하라.
# datetime 객체의 다양한 메서드를 사용할 것.
# current_time_string에 사용된 문자열을 그대로 작성할 경우 0점 처리됨.

current_time = None

print(current_time)

None

**문제**

0부터 10까지의 수 중에서 3의 배수를 제외한 항목으로 이루어진 리스트를 
생성하도록 아래 코드를 완성하라.

즉, `list10` 변수는 최종적으로 아래 값을 가리켜야 한다.

```python
[1, 2, 4, 5, 7, 8, 10]
```

힌트: `for` 반복문과 `continue` 예약어 활용

In [7]:
# pass 예약어를 적절한 코드로 대체하세요.
# for 반복문을 range() 함수와 함께 활용

list10 = []

pass

print(list10)

[]

**문제**

리스트를 입력 받아 사전으로 변환하는 `list_enum()` 함수를 정의하라.
단, 키는 항목의 인덱스를 사용한다.

예제:

```python
list_enum(['a', 'b', 'c']) = {0: 'a', 1: 'b', 2: 'c'}
list_enum([4, 6, 9, 2]) = {0: 4, 1: 6, 2: 9, 3: 2}
```

힌트: `enumerate()` 함수 활용

In [8]:
# 추가 코드가 필요하면 여기에 작성

In [9]:
# pass 부분을 적절한 코드로 대체할 것

def list_enum(xs):
    idx_dict = {}
    
    pass

    return idx_dict

print(list_enum(['a', 'b', 'c']))
print(list_enum([4, 6, 9, 2]))

{}
{}

**문제**

문자열로 이루어진 리스트가 입력되었을 때 아래 항목들을 갖는 사전 객체를 반환하는 함수 `list2dic()` 함수를 구현하라.

반한된 사전의 항목은 아래 형식을 갖는다.

- 키(key): 리스트에 사용된 항목
- 값(value): 키(key)가 리스트에서 사용된 횟수

힌트: `list2dic()` 함수는 아래와 같이 작동해야 한다.

```
list2dic([2, 5, 2, 3, 3, 2]) = {2: [0, 2, 5], 3: [3, 4], 5: [1]}
list2dic([15, 3, 15, 1, 3, 8]) = {1: [3], 3: [1, 4], 8: [5], 15: [0, 2]}
```

힌트: `enumerate()` 함수, 리스트의 `count()` 메서드,
`collections` 모듈의 `defaultdict` 클래스를 이용한다.

참고: [사전 기본값 처리](https://www.daleseo.com/python-collections-defaultdict/)

In [10]:
from collections import defaultdict

In [11]:
# 추가 코드가 필요하면 여기에 작성

In [12]:
# pass 부분을 적절한 코드로 대체할 것
# None 값을 적절한 표현식으로 대체할 것

def list2dic(xs):
    pass

    return None

print(list2dic([2, 5, 2, 3, 3, 2]))
print(list2dic([15, 3, 15, 1, 3, 8]))

None
None

**문제**

리스트를 인자로 받아서 사용된 항목의 개수를 반환하는 함수 
`count_elem()`를 구현하라.
단, 중복 항목은 하나로 간주한다.

`count_elem()` 함수는 아래와 같이 작동해야 한다.

```
count_elem([2, 5, 2, 3, 3, 8, 2, 7]) = 5
count_elem([15, 3, 15, 1, 3]) = 3
```

힌트: `set()` 함수 활용

In [13]:
# 추가 코드가 필요하면 여기에 작성

In [14]:
# pass 부분을 적절한 코드로 대체할 것
# None 값을 적절한 표현식으로 대체할 것

def count_elem(xs):
    pass

    return None

print(count_elem([2, 5, 2, 3, 3, 8, 2, 7]))
print(count_elem([15, 3, 15, 1, 3]))

None
None

**문제**

0부터 10까지의 자연수 중에서 3으로 나눈 나머지가 2인 수의 제곱으로 이루어진 리스트를 조건제시법으로 정의하라.
즉, 아래 리스트를 조건제시법으로 생성해야 한다.

```python
[4, 25, 64]
```

힌트: 리스트 조건제시법(comprehension) 활용

In [15]:
# 필요한 코드가 있다면 아래에 추가

In [16]:
# None 값을 적절한 리스트 조건제시법으로 대체할 것

list_modulo3 = None

print(list_modulo3)

None

**문제**

영어단어를 입력받아 알파벳순으로 출력하는 코드를 작성하여라.
예를 들어, `python` 을 입력하면, `hopty` 를 출력한다.
단, 모두 소문자로 변환해서 출력한다.

힌트: `list` 를 이용한다.

**[추가문제1] 어느 모임에 등록하는 참가자들의 리스트를 관리하는 간단한 프로그램 만들기**

프로그램은 아래와 같은 일을 할 수 있다.  
```
1. 참가 여부 확인
2. 참가 신청
3. 참가 취소
4. 참가자명 변경
5. 참가명단 확인
6. 참가 인원수 확인
9. 종료
```

* 각 단계의 내용이 충족되도록 전 단계의 코드를 수정 보완하여라.   
예를 들어, 2단계에 작성하는 코드는 1단계와 2단계의 내용이 모두 충족되어야 한다. 

* 프로그램이 실행되면, 프로그램이 할 수 있는 일을 번호와 함께 보여주고,   
사용자가 수행하길 원하는 항목 번호를 입력받는다. 
* 프로그램은 사용자가 9번을 선택해야 종료된다. 
* 사용자가 1번을 선택하면, 확인할 이름을 입력받고 참가자 명단에 있는지 여부를 확인해준다.
* 사용자가 2번을 선택하면, 참가 신청할 이름을 입력받고 참가자 명단에 추가한다. 
* 사용자가 3번을 선택하면, 참가 취소할 이름을 입력받고 참가자 명단에서 제외한다. 
* 사용자가 4번을 선택하면, 등록한 이름과 수정할 이름을 입력받아서 참가자 명단에 있는 해당 이름을 변경한다. 
* 사용자가 5번을 선택하면, 참가자 명단을 보여준다.
* 사용자가 6번을 선택하면, 참가 인원수를 보여준다. 
* 사용자가 정수가 아닌 값을 입력하면 정수를 입력하라고 한다.  
* 동명이인은 없다고 가정한다.

In [3]:
info = "1. 참가 여부 확인\n2. 참가 신청\n3. 참가 취소\n4. 참가자명 변경\n5. 참가명단 확인\n6. 참가 인원수 확인\n9. 종료"
students = []
num = 0

while num != 9:
  
  print(info)
  
  try:
    num = int(input("원하는 항목 번호를 입력하세요: "))
  except ValueError:
    print("정수를 입력해주세요")
    num = 0

  if num == 1:
    name = input("확인할 이름을 입력해주세요: ")
    if name in students:
      print(name, "은(는) 참가자 명단에 있습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")
    
  elif num == 2:
    name = input("참가자 명단에 추가할 이름을 입력해주세요: ")
    if name in students:
      print(name, "이미 참가자 명단에 있습니다.")
    else:
      students.append(name)
    
  elif num == 3:
    name = input("참가자 명단에서 제거할 이름을 입력해주세요: ")
    if name in students:
      students.remove(name)
      print(name, "을 참가자 명단에서 제거하였습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")
    
  elif num == 4:
    name, after_name = input("참가자 명단에서 등록한 이름과 수정할 이름을 입력해주세요 ex) 등록한이름 수정한이름: ").split()
    if name in students:
        if after_name in students :
          print(after_name, "은(는) 이미 참가자 명단에 있습니다.")
        else :
          name_index = students.index(name)
          students[name_index] = after_name
          print(name, "을", after_name, "으로 수정하였습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")

  elif num == 5:
    print("참가자 명단은:", students)
    
  elif num == 6:
    print("참가 인원수는:", len(students))
    
  elif num == 9:
    print("프로그램이 종료됩니다")
    break

1. 참가 여부 확인
2. 참가 신청
3. 참가 취소
4. 참가자명 변경
5. 참가명단 확인
6. 참가 인원수 확인
9. 종료
원하는 항목 번호를 입력하세요: 9
프로그램이 종료됩니다

**[추가문제2] 아래와 같은 문자열이 있다.**

`lyrics = "Twinkle, twinkle, little star. How I wonder what you are. Up above the world so high. Like a diamond in the sky. Twinkle, twinkle, little star. How I wonder what you are."`  

(1) 위 문자열을 소문자로 변경한 후, 공백을 기준으로 리스트를 만들어 `lyrics_list`에 할당하여라.

In [ ]:
lyrics = "Twinkle, twinkle, little star. How I wonder what you are. Up above the world so high. Like a diamond in the sky. Twinkle, twinkle, little star. How I wonder what you are."
lyrics_list = lyrics.lower().split()
lyrics_list

['twinkle,',
 'twinkle,',
 'little',
 'star.',
 'how',
 'i',
 'wonder',
 'what',
 'you',
 'are.',
 'up',
 'above',
 'the',
 'world',
 'so',
 'high.',
 'like',
 'a',
 'diamond',
 'in',
 'the',
 'sky.',
 'twinkle,',
 'twinkle,',
 'little',
 'star.',
 'how',
 'i',
 'wonder',
 'what',
 'you',
 'are.']

(2) `lyrics_list`의 각 항목의 문자열 길이를 항목으로 갖는 리스트를 만들어라.  
예를 들어, `['hello', 'python']`의 경우, 각 항목의 문자열 길이를 항목으로 갖는 리스트는 `[5, 6]` 이다.

In [ ]:
[len(x) for x in lyrics_list]

[8,
 8,
 6,
 5,
 3,
 1,
 6,
 4,
 3,
 4,
 2,
 5,
 3,
 5,
 2,
 5,
 4,
 1,
 7,
 2,
 3,
 4,
 8,
 8,
 6,
 5,
 3,
 1,
 6,
 4,
 3,
 4]

(3) `lyrics_list`의 항목 중 일부는 콤마(,)나 마침표(.)가 사용되었다. 콤마나 마침표를 제외한 단어의 길이를 표시하도록 (2)의 코드를 수정하여라.

In [ ]:
[len(x.strip('.').strip(',')) for x in lyrics_list]

[7,
 7,
 6,
 4,
 3,
 1,
 6,
 4,
 3,
 3,
 2,
 5,
 3,
 5,
 2,
 4,
 4,
 1,
 7,
 2,
 3,
 3,
 7,
 7,
 6,
 4,
 3,
 1,
 6,
 4,
 3,
 3]

**[추가 문제3] 문제2)에 있는 리스트를 `while`반복문과 `for`반복문을 이용해 만들어라**


**아래 리스트를 반복문으로 구현하여라**   

(1) [3, 6, 9, 12, 15]

In [ ]:
ans = []
for i in range(1,16):
  if i % 3 == 0:
    ans.append(i)

print(ans)

[3, 6, 9, 12, 15]

(2)수학에서 사용되는 대표적인 지수함수인 $f(x) = e^x$는 `math` 모듈의 `exp()`로 정의되어 있다. 
<center>[ $e^3, e^6, e^9, e^{12}, e^{15}$ ] </center>

In [ ]:
from math import exp
ans = []
for i in range(1,16):
  if i % 3 == 0:
    ans.append(exp(i))
print(ans)

[20.085536923187668, 403.4287934927351, 8103.083927575384, 162754.79141900392, 3269017.3724721107]

(3) [1, 5, 7, 11, 13, 17, 19]  
hint) 2의 배수와 3의 배수가 아닌 1에서 20사이의 정수들을 항목으로 갖는 리스트

In [ ]:
ans = []
for i in range(1,20):
  if i % 2 != 0 and i % 3 != 0:
    ans.append(i)
print(ans)

[1, 5, 7, 11, 13, 17, 19]