# (실습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드셀/텍스트셀은 수정하지 않는다.
* 필요한 경우 코드셀 또는 텍스트셀을 추가해서 사용한다.
* 실습 파일을 구글 드라이브에서 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**문제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.
오류가 발생하지 않으면 실행 결과를 설명한다.

- **코드 1**

In [90]:
print("Hello World)

SyntaxError: unterminated string literal (detected at line 1) (2771583741.py, line 1)

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자로 사용된 문자열은 동일한 인용부호로 감싸져야 하는데 닫는 큰따옴표가 없음.

In [91]:
# 오류가 수정된 코드

print("Hello World")

Hello World

- **코드 2**

In [12]:
print(21 8)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1287684157.py, line 1)

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 공백(space)는 값의 중간에 사용될 수 없음. 문자열 제외.

In [24]:
# 오류가 수정된 코드

# 218의 오타인 경우
print(218)

# 또는 21과 8 두 정수를 함께 출력하고자 했던 경우
print(21, 8)

# 또는 문자열 "21 8"을 의도했지만 인용부호를 생략한 경우

print("21 8")

218
21 8
21 8

- **코드 3**

In [99]:
print(2++2)

4

오류 발생하지 않음. `2++2`가 `2 + (+2)`, 즉 `2 + 2`로 해석됨.

- **코드 4**

In [101]:
print(0x23)

35

오류 발생하지 않음. `0x23`은 16진법으로 작성된 23을 가리킴. 
즉 다음 값에 해당됨.

In [102]:
2 * 16**1 + 3 * 1

35

**문제 2**

변수 선언과 할당 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

- **코드 1**

In [30]:
x = 2;

오류 발생하지 않음. 
이유는 아래 코드에서 처럼 한줄에 여러 명령문을 작성할 때 세미콜론(`;`) 사용하기 때문임.

In [ ]:
x = 2; y = 3;

`x = 2;` 는 둘째 명령문이 생략된 것으로 처리됨.

- **코드 2**

In [37]:
z = x y

SyntaxError: invalid syntax (1897392468.py, line 1)

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 두 개의 변수 사이에 공배를 사용할 수 없음. 곱셈을 의도한 경우 곱셈 연산자 `*` 를 사용해야 함.

In [38]:
# 오류가 수정된 코드 작성

z = x * y

- **코드 3**

In [1]:
even = 3
odd = 17
print(even + oddd)

NameError: name 'oddd' is not defined

- 오류 종류: NameError(이름 오류)

- 오류 원인: odd 변수의 이름이 oddd로 잘못 작성되었음. oddd 변수는 선언되어 있지 않음.

In [2]:
# 오류가 수정된 코드 작성

even = 3
odd = 17
print(even + odd)

20

- **코드 4**

In [3]:
x = 3
zero = 0

print(x/zero)

ZeroDivisionError: division by zero

- 오류 종류: ZeroDivisionError(0으로 나누기 오류)

- 오류 원인: zero 변수가 가리키는 값이 0. 그런데 나눗셈의 분모는 0이 될 수 없기에 0으로 나눌 수 없다는 것을 암시하는 오류인
    ZeroDivisionError가 발생

In [38]:
# 오류가 수정된 코드 작성

z = x * y

**문제 3**

다음 문장들을 연산자를 이용해 파이썬 수식으로 표현하고 그 결과를 확인한다.

* 정수 13에서 정수 19 빼기

In [40]:
13 - 19

-6

* 부동소수점 81.5을 부동소수점 2.0으로 나누기

In [42]:
81.5 / 2.0

40.75

- 다음 두 수식이 동일한 값으로 계산되는 이유를 연산자 우선순위 개념을 이용하여 설명하라.

In [15]:
2**3 / (2 + 3)

1.6

In [16]:
(2**3) / (2 + 3)

1.6

이유: 지수승 연산자 `**`의 우선순위가 나눗셈 연산자 `/` 보다 높다.
즉, 나눗셈을 하기 전에 먼저 지수승을 계산한다.

**문제 4**

아래와 같이 변수들이 선언되었다고 가정하자.

In [67]:
width = 17
height = 12.0
delimiter = '.'  # delimiter = 구분자

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

* width//2

In [54]:
width // 2

8

In [60]:
type(width // 2)

int

* width/2

In [55]:
width / 2

8.5

In [61]:
type(width / 2)

float

* width/2.0

In [56]:
width / 2.0

8.5

In [62]:
type(width / 2.0)

float

* height/3

In [57]:
height / 3

4.0

In [63]:
type(height / 3)

float

* 1 + 2 * 5

In [19]:
1 + 2 * 5

11

In [20]:
type(1 + 2 * 5)

int

* 1 + 2.0 * 5

In [17]:
1 + 2.0 * 5

11.0

In [18]:
type(1 + 2.0 * 5)

float

* delimiter*5

In [59]:
delimiter * 5

'.....'

**문제 5**

`dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.

In [82]:
dogs = '12'
cats = '7'

강아지가 고양이보다 몇 마리 더 많은지를 아래 형식으로 
출력하는 코드를 작성한다.

> 강아지가 고양이보다 n 마리 더 많다.

힌트: `int()` 함수를 이용한다. 
`int()` 함수는 정수 모양의 문자열을 실제 정수로 변환한다.

```python
>>> int('12')
12
```

In [87]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

difference = int(dogs) - int(cats)
print("강아지가 고양이보다", difference, "마리 더 많다.")

강아지가 고양이보다 5 마리 더 많다.

In [6]:
3 * '3.0'

'3.03.03.0'

In [65]:
type(delimiter * 5)

str

**문제 6**

우유 가격은 820원이고, 아이스크림 가격은 1500원이다.
아이스크림은 3개이상 구입시 5%를 할인해준다.
우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 다양한 변수를 활용하여 계산하는 코드를 작성한다.

In [72]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.
# 정수와 부동소수점만 사용하세요.

milk_price = 820
icecream_price = 1500
discount = 0.05  # 아이스크림 3개 이상 구입시 할인율

total_price = 820 * 2 + icecream_price * 3 * discount
print("우유 2개, 아이스크림 3개 가격:", total_price)

우유 2개, 아이스크림 3개 가격: 1865.0

`if ... else ...` 조건문을 이용하는 코드는 다음과 같음

In [74]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.
# 정수와 부동소수점만 사용하세요.

milk_price = 820
icecream_price = 1500
discount = 0.05  # 아이스크림 3개 이상 구입시 할인율

milk = 2
icecream = 3

if icecream < 3:
    total_price = 820 * 2 + icecream_price * 3             # 할인 없음
else:
    total_price = 820 * 2 + icecream_price * 3 * discount # 할인 적용
    
print("우유 2개, 아이스크림 3개 가격:", total_price)

우유 2개, 아이스크림 3개 가격: 1865.0

**문제 7**

100만원을 복리로 연이자 5%인 예금에 3년간 은행에 맡겼을 때
3년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 3년 후 받을 원금 + 이자는 OOO 원입니다.

복리계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 × (1 ＋ 연금리/일년에 이자받는횟수)^(일년에 이자받는횟수 × 기간)

복리 개념과 계산법에 대해서는 아래 링크를 참고한다.

- [복리 개념과 계산법](https://a2-finance.com/ko/calculators/%EB%AA%A8%EB%93%A0-%EA%B3%84%EC%82%B0%EA%B8%B0/%EB%B3%B5%EB%A6%AC-%EA%B3%84%EC%82%B0%EA%B8%B0)

아래 변수를 활용한다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

In [81]:
# 코드를 완성하세요.
# None은 적절한 정수, 부동소수점 또는 수식으로 대체하세요.

principal = 1000000 # 원금
rate = 0.05         # 연이자
period = 3          # 3년

savings = principal * (1 + rate/1)**(1 * period) # 원리합계

print("12개월 후 받는 원금 + 이자는", savings, "원입니다.")

12개월 후 받는 원금 + 이자는 1157625.0000000002 원입니다.

**문제 8**

아래의 표는 어느 마트의 단위당 판매 가격이다.

 |제목|단위|가격|
 |:----:|:----:|----|
 |사과|1개|5,400원|
 |돼지고기|100g|2,480원|
 |달걀|10개|7,980원|
 |우유|1개|2,560원|
 |오이|1개|2,250원|

 A는 이 마트에서 사과 3개와 돼지고기 600g, 달걀 5개를 구매하려고 한다. 
 A는 총 비용을 구하는 프로그램을 작성하기 위해 아래와 같이 변수를 선언하였다.
 
```python
apple = '3'
pork = '600'
egg = '5'
```

위 변수들을 활용하여 
아래와 같은 형식으로 총 비용을 출력하는 프로그램을 작성하라.

> 사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은 OOO 원이다.

In [13]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 9**

책의 정가는 권당 24,950원이지만, 각 권당 10% 의 할인을 받는다고 가정하자.
책 한 권의 운송료는 2,000원 이고, 두 권째 부터는 권당 500원을 추가로 내야 한다.
60권을 사서 배송을 받고자 하면 얼마를 지불해야 하는가?

In [15]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 10**

오전 6시 52분에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고, 
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달려 집으로 돌아오면 
집에 도착하는 시간은 언제인가?

In [16]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 11**

만약 10km를 43분 30초 만에 달렸다면, 마일(mile)당 소요 시간은 얼마인가? 
시간당 마일로 계산한 평균 속도는 얼마인가? 
단, 1마일은 1.61 킬로미터로 계산한다.

In [17]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.