# (실습) 리스트와 튜플

**참고 사항**

먼저
[리스트와 튜플](https://codingalzi.github.io/pybook/lists_tuples.html)의 내용과
[(필수 예제) 리스트와 튜플](https://colab.research.google.com/github/codingalzi/pybook/blob/master/examples/examples-lists_tuples.ipynb)의 예제들을 학습하세요.

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제

아래 리스트는 4중으로 중첩된 리스트다.

In [59]:
a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]

**질문 1**

위 리스트에서 7를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [60]:
a_nested_list[3][0]

7

**질문 2**

위 리스트에서 `[2, [3, 4], 5]`를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [61]:
a_nested_list[1][1]

[2, [3, 4], 5]

**질문 3**

위 리스트에서 4를 확인하는 인덱싱 표현식을 정의하라.

**답**

In [62]:
a_nested_list[1][1][1][1]

4

## 문제

0부터 10까지의 수 중에서 3의 배수를 제외한 항목으로 이루어진 리스트를
생성하도록 아래 코드를 완성하라.

즉, `list10` 변수는 최종적으로 아래 값을 가리켜야 한다.

```python
[1, 2, 4, 5, 7, 8, 10]
```

힌트: `for` 반복문과 `continue` 명령문 활용

**답**

In [39]:
list10 = []

for num in range(0, 11):
    if num % 3 == 0:
        continue

    list10.append(num)

print(list10)

[1, 2, 4, 5, 7, 8, 10]

## 문제

아래 리스트가 주어졌다.

    ['dog', 'cat']

위 리스트에 아래 리스트를 마지막 항목으로 추가한 새로운 리스트를 생성하라.

    ['tiger', 'eagle']

생성된 리스트는 아래 모양이어야 한다.

    ['dog', 'cat', ['tiger', 'eagle']]

**답**

`append()` 메소드를 이용한다.

In [8]:
animal = ['dog', 'cat']
animal.append(['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

또는 `extend()` 메소드를 이용할 수도 있다.

In [9]:
animal = ['dog', 'cat']
animal.extend([['tiger', 'eagle']])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

## 문제

메뉴와 가격이 공백으로 구분된 두 개의 문자열로 주어졌다.

In [65]:
menu = "ham bread chicken egg"
prices = "1200 5000 17000 500"

가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 문자열을 
다음과 같이 출력하는 프로그램을 구현하라.

```python
가장 저렴한 메뉴: egg  
가장 비  싼 메뉴: chicken  
```

힌트: 문자열 `split()` 메서드와 `zip()` 함수, 리스트 `sort()` 메서드 활용

**답**

In [66]:
menu_list = menu.split()
prices_list = prices.split()

menu_prices = list(zip(menu_list, prices_list))
menu_prices.sort(key=lambda x: int(x[1]))

print(f"가장 저렴한 메뉴: {menu_prices[0][0]}")
print(f"가장 비  싼 메뉴: {menu_prices[-1][0]}")

가장 저렴한 메뉴: egg
가장 비  싼 메뉴: chicken

## 문제

임의로 중첩된 리스트를 풀어헤쳐 중첩이 없는 리스트를 생성하는
`flatten()` 함수를 `while` 반복문을 이용하여 구현하라.
단, 재귀는 허용되지 않는다.

참고: 이 문제는 조금 어려우며, [stackoverflow: 임의로 중첩된 리스트 납작하게 만들기](https://stackoverflow.com/questions/10823877/what-is-the-fastest-way-to-flatten-arbitrarily-nested-lists-in-python) 를 참고할 수 있다.

In [44]:
def flatten(items, seqtypes=(list, tuple)):
    try:
        for i, x in enumerate(items):
            while isinstance(x, seqtypes):
                items[i:i+1] = x
                x = items[i]
    except IndexError:
        pass
    return items

In [50]:
print(flatten([1, 2, [3, 4, [5],[]], [6], ["hello world", ['hi', [19]]]]))

[1, 2, 3, 4, 5, 6, 'hello world', 'hi', 19]