# (실습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제 1

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.
오류가 발생하지 않으면 실행 결과를 설명한다.

**코드 1**

실행 결과를 설명하거나 코드를 작성한다.

In [1]:
print("Hello World)

SyntaxError: unterminated string literal (detected at line 1) (2771583741.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자로 사용된 문자열은 동일한 인용부호로 감싸져야 하는데 닫는 큰따옴표가 없음.

In [3]:
# 오류가 수정된 코드

print("Hello World")

Hello World

**코드 2**

실행 결과를 설명하거나 코드를 작성한다.

In [4]:
print(21 8)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1287684157.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 공백(space)는 값의 중간에 사용될 수 없음.

In [6]:
# 오류가 수정된 코드

# 218의 오타인 경우
print(218)

# 또는 21과 8 두 정수를 함께 출력하고자 했던 경우
print(21, 8)

218
21 8

만약에 문자열 "21 8"을 의도했지만 인용부호를 생략한 경우라면 아래와 같이 문자열로 처리하면 됨.
문자열 내부에서는 공백도 하나의 기호로 간주됨.

In [7]:
print("21 8")

21 8

**코드 3**

실행 결과를 설명하거나 코드를 작성한다.

In [8]:
print(2++2)

4

**답**

오류 발생하지 않음. `2++2`가 `2 + (+2)`, 즉 `2 + 2`로 해석됨.

**코드 4**

실행 결과를 설명하거나 코드를 작성한다.

In [10]:
print(0x23)

35

**답**

오류 발생하지 않음. `0x23`은 16진법으로 작성된 23을 가리킴. 
16진법은 숫자 0과 영어 알파벳 x로 시작한다.
즉 다음 값에 해당됨.

In [12]:
2 * 16**1 + 3 * 1

35

## 문제 2

변수 선언과 할당 명령문 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

**코드 1**

실행 결과를 설명하거나 코드를 작성한다.

In [13]:
x = 2;

**답**

오류 발생하지 않음. 
이유는 아래 코드에서 처럼 한줄에 여러 명령문을 작성할 때 세미콜론(`;`) 사용하기 때문임.
그리고 `x = 2;` 는 둘째 명령문이 생략된 것으로 처리됨.

In [15]:
x = 2; y = 3;

**코드 2**

실행 결과를 설명하거나 코드를 작성한다.

In [16]:
z = x y

SyntaxError: invalid syntax (1897392468.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 두 개의 변수 사이에 공배를 사용할 수 없음. 곱셈을 의도한 경우 곱셈 연산자 `*` 를 사용해야 함.

In [18]:
# 오류가 수정된 코드 작성

z = x * y

**코드 3**

실행 결과를 설명하거나 코드를 작성한다.

In [19]:
even = 3
odd = 17
print(even + oddd)

NameError: name 'oddd' is not defined

**답**

- 오류 종류: NameError(이름 오류)

- 오류 원인: odd 변수의 이름이 oddd로 잘못 작성되었음. oddd 변수는 선언되어 있지 않음.

In [21]:
# 오류가 수정된 코드 작성

even = 3
odd = 17
print(even + odd)

20

**코드 4**

실행 결과를 설명하거나 코드를 작성한다.

In [22]:
x = 3
zero = 0

print(x/zero)

ZeroDivisionError: division by zero

**답**

- 오류 종류: ZeroDivisionError(0으로 나누기 오류)

- 오류 원인: zero 변수가 가리키는 값이 0. 그런데 나눗셈의 분모는 0이 될 수 없기에 0으로 나눌 수 없다는 것을 암시하는 오류인
    ZeroDivisionError가 발생

0으로 나누기는 불가능 하기에 곱하기 등으로 수정해야 한다.

In [24]:
# 오류가 수정된 코드 작성

z = x * y

## 문제 3

다음 두 수식이 동일한 값으로 계산되는 이유를 연산자 우선순위 개념을 이용하여 설명한다.

In [25]:
2**3 / (2 + 3)

1.6

In [26]:
(2**3) / (2 + 3)

1.6

**답**

지수승 연산자 `**`의 우선순위가 나눗셈 연산자 `/` 보다 높다.
즉, 나눗셈을 하기 전에 먼저 지수승을 계산한다.

## 문제 4

먼저 아래와 같이 두 개의 변수를 선언한다.

In [28]:
width = 17
height = 12.0
delimiter = '.'  # delimiter = 구분자

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

**코드 1: `width // 2`**

**답**

In [30]:
width // 2

8

In [31]:
type(width // 2)

int

**코드 2: `width / 2`**

**답**

In [33]:
width / 2

8.5

In [34]:
type(width / 2)

float

**코드 3: `width / 2.0`**

**답**

In [36]:
width / 2.0

8.5

In [37]:
type(width / 2.0)

float

**코드 4: `height / 3`**

**답**

In [39]:
height / 3

4.0

In [40]:
type(height / 3)

float

**코드 5: `1 + 2 * 5`**

**답**

In [42]:
1 + 2 * 5

11

In [43]:
type(1 + 2 * 5)

int

**코드 6: `1.0 + 2 * 5`**

**답**

In [45]:
1.0 + 2 * 5

11.0

In [46]:
type(1.0 + 2 * 5)

float

**코드 7: `delimiter * 5`**

**답**

In [48]:
delimiter * 5

'.....'

In [49]:
type(delimiter * 5)

str

## 문제 5

**코드 1**

아래 내용의 논리식을 할당받는 변수 `p1`을 선언한 후에 `p1`에 할당된 진리값을 확인한다.

> 5가 7보다 크거나 같은지 여부 판단

**답**

크거나 같은지 여부는 `>=` 연산자를 이용하여 표현.

In [51]:
p1 = 5 >= 7
p1

False

**코드 2**

아래 내용의 논리식을 할당받는 변수 `p2`를 선언한 후에 `p2`에 할당된 진리값을 확인한다.

> "Hello"가 "hello" 보다 작은지 여부 판단

참고: 두 문자열 사이의 크기비교가 가능. 알파벳 순서로 하며 대문자가 소문자보다 작다고 판단됨.

**답**

작은지 여부는 `<` 연산자를 이용하여 표현.

In [53]:
p2 = "Hello" < "hello"
p2

True

## 문제 6

`dogs`와 `cats` 두 변수 다음과 같이 선언한다.

In [59]:
dogs = '12'
cats = '7'

강아지가 고양이보다 몇 마리 더 많은지를 아래 형식으로 
출력하는 코드를 작성한다.

> 강아지가 고양이보다 n 마리 더 많다.

힌트: `int()` 함수를 이용한다. 
`int()` 함수는 정수 모양의 문자열을 실제 정수로 변환한다.

```python
>>> int('12')
12
```

**답**

두 변수에 할당된 값이 모두 정수 모양의 문자열이다.
따라서 `int()` 함수를 적용하면 모두 실제 정수로 변환된다.
이를 이용하면 아래와 같이 간단하게 코드를 작성할 수 있다.

In [61]:
difference = int(dogs) - int(cats)
print("강아지가 고양이보다", difference, "마리 더 많다.")

강아지가 고양이보다 5 마리 더 많다.

## 문제 7

변수 `x`에 정수 17을 할당되었을 때 
변수 `x`가 가리키는 값이 짝수면 0을,
홀수면 1을 출력하는 코드를 `if ... else ...` 조건문을 이용하여 작성한다.

**답**

변수 `x`에 17을 할당한다.

In [63]:
x = 17

이제 짝수여부를 판단하는 논리식을 `if ... else ...` 조건문에 적용한다.

In [64]:
if x % 2 == 0:
    print(0)
else:
    print(1)

1

## 문제 8

100만원을 복리로 연이자 5%인 예금에 3년간 은행에 맡겼을 때
3년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 3년 후 받을 원금 + 이자는 OOO 원입니다.

복리계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 * (1 ＋ 연금리/일년에 이자받는횟수) ** (일년에 이자받는횟수 * 기간)

복리 개념과 계산법에 대해서는 아래 링크를 참고한다.

- [복리 개념과 계산법](https://a2-finance.com/ko/calculators/%EB%AA%A8%EB%93%A0-%EA%B3%84%EC%82%B0%EA%B8%B0/%EB%B3%B5%EB%A6%AC-%EA%B3%84%EC%82%B0%EA%B8%B0)

아래 변수를 활용한다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

**답**

먼저 원금, 연이자율, 저축기간(년)을 변수로 선언한다.

In [1]:
principal = 1000000 # 원금
rate = 0.05         # 연이자
period = 3          # 3년

원리합계 계산식을 이용하여 원리합계를 가리키는 변수 `savings`를 선언한다.

In [2]:
savings = principal * (1 + rate/1)**(1 * period) # 원리합계

최종적으로 원리합계를 지정된 형식으로 출력한다.

In [3]:
print("3년 후 받는 원금 + 이자는", savings, "원입니다.")

3년 후 받는 원금 + 이자는 1157625.0000000002 원입니다.

정리하면 다음과 같다.

In [4]:
principal = 1000000 # 원금
rate = 0.05         # 연이자
period = 3          # 3년

savings = principal * (1 + rate/1)**(1 * period) # 원리합계

print("3년 후 받는 원금 + 이자는", savings, "원입니다.")

3년 후 받는 원금 + 이자는 1157625.0000000002 원입니다.

## 예제 9

다음 역삼각형 모양을 출력하는 코드를 작성한다.
두 개의 별 기호 사이에 공백(space)가 사용됨에 주의한다.
공백도 하나의 기호로 취급된다.
단, `while` 반복문을 이용한다.

```
* * * * *  
* * * *  
* * *  
* *  
*
```

**답**

`While` 반복문: `num_of_stars` 변수에 차례대로 5, 4, 3, 2, 1이 할당되도록 하는 게 핵심이며,
`for` 반복문에서와는 달리 변수 업데이트를 직접 지정한다.
또한 별의 개수가 양의 정수일 때까지만 반복되도록 하여 언제 반복문이 종료되어야 하는가를 지정한다.

In [1]:
stars = 5

while stars > 0:
    print("* " * stars)
    stars -= 1

* * * * *
* * * *
* * *
* *
*