# (실습) 모음 자료형 2부: 집합, 사전, `range`, 조건제시법

## 집합

**문제 1**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [39]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [40]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

AnBnC = None

In [41]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [42]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

ArBrCmA = None

In [43]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert ArBrCmA == {1, 3, 10}

**문제 2**

리스트가 입력되면 중복된 항목은 제거하고 남은 항목들을 내림차순으로 정렬한
리스트를 반환하는 `unique_values()` 함수를 구현하라.

In [44]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def unique_values(aList):
    pass

    return None

In [45]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
# assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']

## 사전

**문제 3**

다음 `participants` 변수는 모임일과 그날 참석한 사람들의 이름을 저장하는 사전을 가리킨다.

In [46]:
participants = {'1월3일' : ['현성', '문정', '현무', '강현'], 
                '2월10일' : ['문정', '강현', '정훈'], 
                '3월7일' : ['현성', '연아', '현무', '지아']}

(1) 그런데 3월7일 모임에 강현이가 참석하였는데, 이 정보가 누락되었다.  
3월7일 참석자 명단 마지막에 '강현'을 추가한 다음, 아래와 같은 형식으로 출력하는 코드를 작성하여라.   

```python
3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.
```

In [47]:
# pass 를 적절한 명령문과 표현식으로 대체하라.
# 단, 앞서 언급된 출력값을 직접 사용하지는 않아야 한다.

pass

(2) 이름을 입력받아 1월3일 모임에 참석했으면 `True`, 아니면 `False`를 출력하는 
`attended()` 함수를 작성하라.

In [48]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def attended(name):
    pass

    return None

In [49]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert attended("현성") == True
# assert attended("찬호") == False

**문제 4**

어느 반 학생들의 이름이 리스트로 주어졌다.

In [1]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 없다고 가정한다.  

힌트: `sorted()` 함수와 `enumerate()` 함수를 이용할 수 있다.

In [51]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

name_numbers = None

In [52]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}`

**문제 5**

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [53]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT',
              '23:45 9876 OUT']

차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [54]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 결과값을 직접 사용할 수는 없다.

pass

car_parking_log = None

car_parking_log

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [55]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 39000},
          '9876': {'IN': '08:55',
                   'OUT': '23:45',
                   'parking_duration': 890,
                   'parking_fee': 40000},
          '1597': {'IN': '11:00'}}

In [56]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert car_parking_log == answer

## 조건제시법

**문제 6**

다음 월리스 공식<font size='2'>Wallis formula</font>을 이용하여 
원주율 PI를 소수점 이하 16째 자리까지 구하라.

$$
\pi = 2 \prod_{i=1}^{\infty} \frac{4 i^2}{4 i^2 -1}
$$

힌트: 리스트 조건제시법과 `sum()` 함수를 이용한다. 
또한 소수점 16째 자리까지 구하기 위해 필요한 $i$ 의 최소값을 알아내야 한다.