# (실습) 기본자료형

**문제 1**

`input()` 함수를 이용하여 입력받은 정수를 지정된 방식으로 출력하는 코드를 작성하라.
단, 정수는 최대 6자리의 수를 입력한다고 가정한다.

힌트: 문자열 포매팅 활용

입력: 

```python
123
```

출력:

```python
입력하신 숫자는 000123입니다.
```

In [1]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 2**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토, 일 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.

입력:

```python
2
```

출력:

```python
4
```

In [2]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 3**

홍길동의 주민등록번호는 881120-1068234이다.
홍길동의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

힌트: 문자열 슬라이싱을 활용한다.

In [3]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 4**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

힌트: 문자열 인덱싱을 활용한다.

In [4]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 5**

다음과 같이 `a`, `b` 두 변수를 선언한 후 `a` 의 두 번째 요솟값을 변경하면 `b` 의 값은 
어떻게 되는지 확인하고 그 이유를 설명하라.

```python
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
[1, 4, 2]
```

In [5]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 6**

과일 이름으로 구성된 문자열 하나가 주어졌다.

In [6]:
fruit = "banana apple orange pineapple mango strawberry cherry"

(1) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

In [7]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(2) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

In [8]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(3) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

In [9]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 7**

다음 문자열이 주어졌다.

```python
'n o r t h w e s t e r n'
```

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```python
'Northwestern'
```

In [10]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 8**

아래 노래 가사를 활용하는 문제이다.

In [11]:
song = "When you are smiling, the whole world smiles with you"

(1) `for` 문을 사용하여 `song`에서 `a`가 등장하는 횟수를 구하는 코드를 작성하라.

In [12]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(2) 반복문을 사용하여  `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

In [13]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 9**

`num`이 가리키는 정수가 3으로 시작하거나 3을 포함하는 경우에는
`num` 의 세제곱을 출력하고, 
아닌 경우에는 `num` 에서 2를 뺀 값을 출력하는 코드를 작성하라.

In [14]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 10**

정수 나눗셈의 몫을 계산하는 코드를 `while` 반복문을 이용하여 구현한다.
단, 몫 연산자 `//` 는 절대 사용하지 않으며, 덧셈과 뺄셈만 사용한다. 

```
number = 43
divisor = 7
answer = 0
```

In [15]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 11**

어느 한 택배의 무게에 따른 가격표가 다음과 같다.

| 5kg 미만 | 5kg 이상~10kg 미만 | 10kg 이상 |
|:-------:|:--------------------:|:---------:|
|5.000원 | 8,000원| 10,000원|

우편물의 무게가 주어졌을 때, 택배 가격을 알려주는 프로그램을 만들어라.

In [16]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 12**

0부터 100까지의 숫자 중에서 3의 배수와 7의 배수를 모두 찾아 출력한 다음, 
찾은 수들을 모두 더하여 아래와 같이 출력하는 코드를 작성하여라.

```python
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 OOO이다.
```

In [17]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 13**

임의의 자연수 n이 주어졌을 때, 1부터 n까지의 자연수 중에서 3의 배수이거나 
3을 포함하는 숫자들의 합을 구하여라.

In [18]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 14**

자연수 n이 주어졌을 때, n의 약수를 모두 출력하는 코드를 작성하여라. 단, n은 임의로 둔다.

In [19]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 15**

일찍 태어난 사람이 늦게 태어난 사람보다 정확히 두 배의 나이를 갖는 경우가 발생한다. 
예를 들어, 2003년 7월 12일에 태어난 사람과 2006년 9월 30일에 태어난 사람은
2009년 12월 19일에 서로의 나이가 딱 두 배가 된다.

이를 확인하는 코드를 `Timestamp` 자료형을 이용하여 작성하라.

In [22]:
import pandas as pd 

d1 = pd.Timestamp('2003-07-12')
d2 = pd.Timestamp('2006-09-30')

In [23]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.