# (실습) 기본자료형

**문제**

홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

```
과목 점수
국어 80
영어 75
수학 55
```

**문제**

홍길동 씨의 주민등록번호는 881120-1068234이다.
홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 
그 뒤의 숫자 부분으로 나누어 출력해 보자.

힌트: 문자열 슬라이싱 기법을 사용해 보자.

**문제**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

힌트: 문자열 인덱싱을 사용해 보자.

**문제**

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

**문제**

`[1, 3, 5, 4, 2]` 리스트를 `[5, 4, 3, 2, 1]`로 만들어 보자.

힌트: 리스트의 메서드를 사용해 보자.

**문제**

`['Life', 'is', 'too', 'short']` 리스트를 
`"Life is too short"` 문자열로 만들어 출력해 보자.

힌트: 리스트의 `join()` 메서드를 사용한다.

**문제**

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
※ 더하기(+)를 사용해 보자.

>>> a = (1, 2, 3)
>>> type(a)
<class 'tuple'>
>>> b = (4,)
>>> type(b)
<class 'tuple'>
>>> a + b
(1, 2, 3, 4)
>>> c = a + b
>>> c
(1, 2, 3, 4)

**문제**

다음과 같은 딕셔너리 a가 있다.
>>> a = dict()
>>> a
{}
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python' 		# 딕셔너리 키로 `imutable`인 문자형(str) 가능
a[('a',)] = 'python' 		# 딕셔너리 키로 `imutable`인 튜플은 가능
정답 - a[[1]] = 'python' 	# 딕셔너리 키로 `mutable`인 리스트는 불가 
a[250] = 'python' 		# 딕셔너리 키로 `imutable`인  숫자형(int) 가능

**문제**

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>>> a = {'A':90, 'B':80, 'C':70}
※ 딕셔너리의 pop 함수를 사용해 보자.
>>> a = {'A':90, 'B':80, 'C':70}
>>> a['B']			# ' ' 따옴표를 무적권 써줘야 해용
80
>>> a.get('B')
80
>>> a.pop('B')
80

**문제**

a 리스트에서 중복 숫자를 제거해 보자.
>>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.
>>> a1 = set(a)
>>> a1
{1, 2, 3, 4, 5}
>>> a
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

**문제**

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
>>> b
[1, 4, 3] # a 와 b의 값은 항상 같기 때문이다.

**문제**

`input()` 함수로 정수를 입력받아, 
지정된 형식으로 그 값을 출력하는 코드를 작성하라.
단, 정수는 최대 6자리의 수를 입력한다고 가정한다.

입력: 

```python
123
```

출력:

```python
입력하신 숫자는 000123입니다.
```

**문제**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토, 일 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.

입력:

```python
2
```

출력:

```python
4
```