# (실습) 모음 자료형

## 문자열

**문제**

문자열 `a:b:c:d` 을 이용하여 문자열 `a#b#c#d` 생성하는 코드를 작성하라.
단, 문자열의 메서드만 사용한다.

In [1]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "a#b#c#d" 이 직접 언급되지 않아야 한다.

input_str = "a:b:c:d"

pass

output_str = None

In [2]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert output_str == "a#b#c#d"

**문제**

리스트 `['Life', 'is', 'too', 'short']` 를 이용하여
문자열 `"Life is too short"` 을 생성하는 코드를 작성하라.
단, 리스트의 `pop()` 메서드를 사용한다.

In [3]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "Life is too short" 이 직접 언급되지 않아야 한다.

input_list = ['Life', 'is', 'too', 'short']

pass

output_str = None

In [4]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert output_str == "Life is too short"

**문제**

거꾸로 노래 부르기 좋아하는 청개구리는 아래와 같이 노래를 부른다.  

> 끼토산 야끼토 로디어 냐느가 총깡총깡 서면뛰 를디어 냐느가

문자열이 주어졌을 때, 공백을 단위로 각 단어를 거꾸로 뒤집은 문자열을 반환하는 
`revers_words()\` 함수를 작성하라.
단, 입력 문자열은 줄바꿈 없이 주어진다고 가정한다.

In [5]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "Life is too short" 이 직접 언급되지 않아야 한다.

def reverse_words(s):
    pass

    return None

In [6]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

lyrics = '산토끼 토끼야 어디로 가느냐 깡총깡총 뛰면서 어디를 가느냐'
rev_lyrics = '끼토산 야끼토 로디어 냐느가 총깡총깡 서면뛰 를디어 냐느가'

# assert reverse_words(lyrics) == rev_lyrics

**문제**

카멜<font size = "2">camel</font> 표기법으로 작성된 문자열을 
팟홀<font size="2">pothole</font> 표기법(또는 스네이크<font size="2">snake</font> 표기법)으로 
변환하는 `camel2snake()` 함수를 구현하라.

* 카멜 표기법 : 소문자로 시작하고, 이어지는 단어의 시작은 대문자로 작성하는 표기법. 예를 들어, `userName`, `printMessage`, `countA` 등. 

* 팟홀 표기법 또는 스네이크 표기법 : 모두 소문자를 사용하고, 단어 사이에 밑줄기호(`_`)를 사용하는 표기법. 예를 들어, `user_name`, `print_message`, `count_a` 등.   

힌트: `str.isupper()`메서드는 문자열이 대문자인지를 확인해준다.

In [12]:
print('A'.isupper())
print('a'.isupper())
print('Abc'.isupper())

True
False
False

In [8]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def camel2snake(s):
    pass

    return None

In [13]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert camel2snake("userName") == "user_name"
# assert camel2snake("printMessage") == "print_message"
# assert camel2snake("countA") == "count_a"

**문제**

아래 조건을 만족하는 `map_strings()` 함수를 구현하라.

* 세 개의 문자열을 각각 입력 받는 `str1`, `str2`, `str3` 매개 변수를 사용한다.
* `str3`가 가리키는 값이 `str1` 과 `str2` 이 가리키는 문자열에 포함된 문자들을
    번갈아가며 결합한 결과이면 `True`를, 아니면 `False` 를 반환한다.
* 두 문자열의 길이가 다르면, 가능한 데까지만 문자를 번갈아가며 결합하고 나머지는 그대로 적어준다.

In [54]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def map_strings(str1, str2, str3):
    pass

    return None

In [55]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert map_strings('dog', 'cat', 'dcoagt') == True
# assert map_strings('dog', 'cat', 'cdoagt') == False
# assert map_strings('computing', 'math','cmoamtphuting') == True
# assert map_strings('math', 'computing', 'cmoamtphuting') == False

## 리스트

**문제**

주어진 정수를 오름차순으로 정렬하여, 리스트 형태로 반환하는 `int2sorted_list()` 함수를 작성하라.
단, 양의 정수만 입력값으로 사용한다.

In [56]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def int2sorted_list(an_int):
    assert an_int > 0
    
    pass

    return None

In [57]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert int2sorted_list(32145) == ['1', '2', '3', '4', '5']
# assert int2sorted_list(435) == ['3', '4', '5']

**문제**

`num_list` 변수가 아래 리스트를 가리킨다.

In [37]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]

(1) `9`를 츨력하는 코드를 작성하여라.

In [40]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

pass

(2) `7`를 출력하는 코드를 작성하여라.

In [40]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

pass

(3) `[3, [4, 5]]`를 출력하는 코드를 작성하여라.

In [40]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

pass

**문제**

크기 비교가 가능한 자료형의 값들을 항목으로 갖는 리스트를 
내림차순으로 정렬한 값을 반환하는 `rev_list()` 함수를 구현하라.

In [39]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def rev_list(aList):
    pass

    return None

In [15]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert rev_list([2, 4, 1, 2]) == [4, 2, 2, 1]
# assert rev_list(['c', 'f', 'a']) == ['f', 'c', 'a']
# assert rev_list(['_ff', 'ABC', 'abd']) == ['ABC', 'abd', ' ff']

**문제**

n! 은 1부터 n 까지의 자연수의 곱을 나타내며, 
n 의 계승 또는 팰토리얼이라 부른다. 
자연수 n 이 주어졌을 때, n! 의 끝에 있는 0 의 개수를 반환하는 `terminalZeroCount()` 함수를 
작성하라. 
단, n 은 1보다 크고 100보다 작은 자연수라고 가정하며, 문자열 메서드 또는 리스트 메서드를 활용해야 한다.

In [16]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def terminalZeroCount(n):
    pass

    return None

In [33]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert terminalZeroCount(5) == 1
# assert terminalZeroCount(10) == 2
# assert terminalZeroCount(20) == 4

**문제**

교육 참가자 명단과 수료자 명단이 아래처럼 리스트로 주어다.

In [45]:
participant = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']
completion = ['Ryan', 'Muzi', 'Neo', 'Choonsik']

수료하지 못한 사람들의 명단을 리스트로 출력하는 코드를 작성하여라.
단, 참여자 중 동명이인은 없고, 순서는 중요하지 않다.

In [48]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

unfinished = None

In [49]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert unfinished == ['Apeach', 'Tube']

**문제**

어느 평가위원회는 평가 점수 중 최고점과 최저점을 제외한 점수들의 평균을 최종 평가 점수로 부여하려고 한다. 
선수 A의 점수가 다음 리스트로 주어졌다.

In [52]:
A = [85, 96, 78, 88, 81, 92, 73]

선수 A의 최종 평가 점수를 출력하는 코드를 작성하여라.

힌트: `sum()` 함수 또는 `numpy.mean()` 함수 활용

In [48]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

average_A = None

In [53]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert average_A == 84.8

## 튜플

**문제**

튜플이 인자로 들어오면 튜플의 기존 항목들이 역순으로 추가된 튜플을 반환하는 
`tuple_double_rev()` 함수를 구현하라.

In [35]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def tuple_double_rev(t):
    pass

    return None

In [36]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert tuple_double_rev((1, 2, 3)) == (1, 2, 3, 3, 2, 1)
# assert tuple_double_rev(('a', 'b')) == ('a', 'b', 'b', 'a')

## 집합

**문제**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [41]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [47]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

AnBnC = None

In [42]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [43]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

ArBrCmA = None

In [44]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert ArBrCmA == {1, 3, 10}

## 사전

**문제**

어느 반 학생들의 이름이 리스트로 주어졌다.

In [50]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 없다고 가정한다.  

힌트: `sorted()` 함수와 `enumerate()` 함수를 이용할 수 있다.

In [43]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

name_numbers = None

In [51]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}`

**문제**

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [29]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '09:20 9876 OUT',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT']

차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [28]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 결과값을 직접 사용할 수는 없다.

pass

car_parking_log = None

car_parking_log

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [31]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 40000},
          '9876': {'IN': '08:55',
                   'OUT': '09:20',
                   'parking_duration': 25,
                   'parking_fee': 2000},
          '1597': {'IN': '11:00'}}

In [34]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert car_parking_log == answer

**문제**

이름과 핸드폰 번호를 `input()`함수로 입력받아, 아래와 같은 형식으로 출력하는 코드를 작성하여라. 이때, 사용자의 이름은 두 글자에서 네 글자까지를 입력하며, 
핸드폰 번호는 아래의 형식으로 입력한다고 가정한다. 

Input : `name = '김강현'`, `num = '010-1234-5678'`   
Output : `김*현(5678)님 등록되었습니다.`   

Input : `name = '강현'`, `num = '01012345678'`   
Output : `강*(5678)님 등록되었습니다.` 

Input : `name = '김강현이'`, `num = '010.1234.5678'`   
Output : `김*현이(5678)님 등록되었습니다.`    

Input : `name = '김강현'`, `num = '02-123-5678'`   
Output : `김*현이(5678)님 등록되었습니다.`

**문제**

아래 딕셔너리 `participants`은 모임일과 그날 참석한 사람들의 이름을 저장하고 있다. 그런데 3월7일 모임에 강현이가 참석하였는데, 이 정보가 누락되었다.  

1) 3월7일 참석자 명단 마지막에 '강현'을 추가한 다음, 아래와 같은 형식으로 출력하는 코드를 작성하여라.   
Input : `participants = {'1월3일' : ['현성', '문정', '현무', '강현'], '2월10일' : ['문정', '강현', '정훈'], '3월7일' : ['현성', '연아', '현무', '지아']}`    
Output : `3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.`  

2) 사용자에게 이름을 입력받아 1월3일 모임에 참석했으면 `True`, 아니면 `False`를 출력하는 코드를 작성하여라.   
Input : `name = '현성'`   
Output : `True`

**문제**

정수 `a`와 자연수 `n`을 입력받아, `n`개의 항목을 갖는 리스트를 출력하는 코드를 작성하여라.  
단, 리스트의 항목은 `a`부터 시작하고, 그 다음 항목은 이전 항목보다 `a`만큼 크다.        
Input : `a = 3`, `n = 4`  
Output : `[3, 6, 9, 12]`

**문제**

사용자에게 가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 프로그램을 만들어보자.  
입력으로 메뉴와 가격이 두 줄로 들어오는데, 각 줄의 항목은 공백으로 구분된다.  
Input :   
```  
ham bread chicken egg  
1200 5000 17000 500  
```  
Output :   
```
Cheapest food : egg  
Most expensive food : chicken  
```

**문제**

임의로 중첩된 리스트 해체하기

참고: https://stackoverflow.com/questions/10823877/what-is-the-fastest-way-to-flatten-arbitrarily-nested-lists-in-python