# (실습) 반복문

## 문제 1

2부터 9 까지의 자연수 `n`을 입력 받아 구구단의 `n`단을 아래 형식으로 출력하는 
`times_table()` 함수를 `while` 반복문을 이용하여 작성한다.
예를 들어 `time_table(3)`을 호출하면 3단을 다음과 같이 출력력한다.

```
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
```

**답**

2부터 시작해서 `while` 반복문의 본문이 실행될 때마다 1씩 커지는
방식으로 업데이트되는 변수 `num`을 활용한다.
예를 들어 아래 코드는 3단을 출력한다.

In [1]:
n = 3

num = 2
while num < 10:
    print(n, '*', num, '=', n*num)
    num += 1

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5단을 출력하기 위해서는 `n`에 5만 할당하면 되며,
코드의 다른 부분은 그대로 둔다.

In [2]:
n = 5

num = 2
while num < 10:
    print(n, '*', num, '=', n*num)
    num += 1

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

따라서 변수 `n`을 매개변수로 사용하는 함수를 선언하면
`n`단을 출력하는 함수가 된다.

In [3]:
def times_table(n):
    num = 2
    while num < 10:
        print(n, '*', num, '=', n*num)
        num += 1

- 3단

In [4]:
times_table(3)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

- 8단

In [3]:
times_table(8)

8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

## 문제 2

양의 정수 `n`과 함께 호출되면 
1부터 `n`까지의 정수의 제곱의 합을, 
음의 정수 `n`과 함께 호출되면 `n` 부터 `-n` 까지의 정수의 제곱의 합을 
반환하는 `pos_neg_sum()` 함수를 구현하라.

힌트: `if` 조건문, `for` 반복문, `range()` 함수 활용

**답**

1부터 `n`까지의 정수들의 구간은 `range(1, n+1)`로,
`n`부터 `-n`까지의 정수들의 구간은 `range(n, -n+1)`로 표현된다.

`n`이 양수인지 아닌지 여부에 따라 지정된 구간에 포함된 정수들의 합은
`for` 반복문을 이용하여 구한다.
단, 누적합을 저장하는 `sum = 0` 변수를 먼저 선언한다.

- 1부터 `n`까지의 정수들의 합

```python
for num in range(1, n+1):
    sum += num
```

- `n`부터 `-n`까지의 정수들의 합

```python
for num in range(1, n+1):
    sum += num
```

위 설명을 종합해서 `pos_neg_sum()` 함수를 다음과 같이 구현한다.

In [6]:
def pos_neg_sum(n):
    sum = 0

    if n > 0:
        for num in range(1, n+1):
            sum += num
    else:
        for num in range(n, -n+1):
            sum += num**2
    
    return sum

- 1부터 10까지의 합

In [7]:
pos_neg_sum(10)

55

- -5부터 5까지 정수들의 제곱의 합

In [8]:
pos_neg_sum(-5)

110

실제로 -5부터 5까지 정수들의 제곱의 합은 
1부터 5까지의 제곱의 합의 두 배이며 다음과 같다.

In [9]:
(5**2 + 4**2 + 3**2 + 2**2 + 1**2) * 2

110

## 문제 3

369게임은 자연수 `n`이 주어졌을 때 1부터 `n`까지의 자연수를
다음 규칙에 따라 출력한다.

* 3의 배수이거나 1의 자릿수가 3인 수일 경우, 해당하는 수를 출력하는 대신 문자열 `짝`을 출력
* 나머지 수는 그대로 출력

예를 들어, `n`이 15인 경우 다음과 같이 출력된다.

```
1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝
```

369게임을 진행하는 `game369()` 함수를 구현하여 `n`이 30일 때의 출력 결과를 확인하라.
`game369()`는 하나의 매개변수만 사용한다.

힌트: `range()` 함수, `for` 반복문, `%` 연산자, `print()` 함수의 `end` 키워드 인자 활용

**답**

`num`이 가리키는 정수에 대해
논리식 `num % 10 == 3`는 10으로 나눴을 때의 나머지가 3일 때 참이되는데
이유는 어떤 정수를 10으로 나눈 나머지가 바로 그 수의 일의 자릿수이기 때문이다.

따라서 "3의 배수이거나 1의 자릿수가 3인 수일 경우"를 아래 논리식으로 표현할 수 있다.

```python
num % 3 == 0 or num % 10 == 3
```

`range(1, n+1)` 구간의 정수에 대해 아래 논리식이 참이면 짝을, 아니면
해당 정수를 출력하도록 하면 된다.
이를 위해 아래 함수처럼 `for` 반복문을 이용한다.

In [15]:
def game369(n):
    for num in range(1, n+1):
        if num % 3 == 0 or num % 10 == 3:
            print('짝', end=' ')
        else:
            print(num, end=' ')

In [16]:
game369(15)

1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝

In [17]:
game369(30)

1 2 짝 4 5 짝 7 8 짝 10 11 짝 짝 14 짝 16 17 짝 19 20 짝 22 짝 짝 25 26 짝 28 29 짝

## 문제 4

`while` 반복문을 이용하여 양의 정수를 다른 양의 정수로 나눴을 때의 
몫을 계산하는 `quotient()` 함수를 구현하라.
예를 들어 `quotient(43, 7)` 형식으로 호출되었을 때 
아래와 같이 출력되어야 한다.

```python
43 을(를) 7 (으)로 나눴을 때의 몫: 6
```

단, 연산자는 덧셈, 뺄셈, 곱셈 연산자만 사용해야 한다. 
즉, 몫과 나머지 연산자 등 파이썬에세 기본으로 제공하는 어떤 연산자나 함수는 사용하지 않는다.

**답**

예를 들어 43을 7로 나눌 때의 몫은 7단을 읊으다가 43보다 커지는 순간
그때까지 7에 곱한 값에서 1을 뺀 값이 몫이 된다.

```
7 * 1 = 7
7 * 2 = 14
.
.
.
7 * 6 = 42
7 * 7 = 49   <= 43보다 큼
```

즉, 7에서 1을 뺀 6이 43을 7로 나눴을 때의 몫이 된다.
이 아이디어를 코드로 구현한 함수는 다음과 같다.
함수의 정의에 사용된 변수의 역할은 다음과 같다.

- `number`: 나눠지는 수를 인자로 받는 매개변수
- `divisor`: 나누는 수를 인자로 받는 매개변수
- `count`: 나누는 수에 곱해지는 수

그러면 `divisor * count <= number`이 만족되는 동안 `count` 값을 1씩 키운다.

In [20]:
def quotient(number, divisor):
    count = 0

    while divisor * count <= number:
        count += 1

    print(number, "을(를)", divisor, "(으)로 나눴을 때의 몫:", count-1)

In [21]:
quotient(43, 7)

43 을(를) 7 (으)로 나눴을 때의 몫: 6

## 문제 5

500원, 100원, 50원, 10원 짜리 동전으로 거스름돈을 지급할 때
동전의 개수를 최소화하고자 한다.
거슬러 줘야 하는 금액이 n 원일 때, 필요한 동전의 최소 개수를 반환하는
`change()` 함수를 구현하라.
단, n 은 10의 배수이면서 5000보다 작은 정수이고, 
모든 동전은 원하는 만큼 충분히 많이 있다고 가정한다. 

힌트: `while` 반복문 활용.

참고: [탐욕 알고리즘](https://code-lab1.tistory.com/11)

In [13]:
# pass 와 None 을 각각 적절한 명령문과 반환값으로 대체하라.
def change(n):
    pass

    return None

In [13]:
def change(n):
    
    return None

In [14]:
# 아래 주석을 제거하고 실행할 때 오류가 발생하지 않아야 한다.

# assert change(1730) == 8

## 문제 6

100만원을 복리로 연이자 5%인 예금에 3년간 은행에 맡겼을 때
3년 후에 수령할 금액을 계산하는 코드를 `while` 반복문을 이용하여 
원리합계를 계산하는 코드를 작성한다.

단, 다음 형식으로 출력하라.

> 3년 후 받을 원금 + 이자는 OOO 원입니다.

복리계산은 아래와 같이 계산한다.

> 원리합계 ＝ 원금 * (1 ＋ 연금리/일년에 이자받는횟수) ** (일년에 이자받는횟수 * 기간)

복리 개념과 계산법에 대해서는 아래 링크를 참고한다.

- [복리 개념과 계산법](https://a2-finance.com/ko/calculators/%EB%AA%A8%EB%93%A0-%EA%B3%84%EC%82%B0%EA%B8%B0/%EB%B3%B5%EB%A6%AC-%EA%B3%84%EC%82%B0%EA%B8%B0)

아래 변수를 활용한다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

In [81]:
# 코드를 완성한다.
# None은 적절한 정수, 부동소수점 또는 수식으로 대체한다.

**답**

복리에 대한 원리합계를 계산하는 식은 다음과 같았다.

    savings = principal * (1 + rate/1)**(1 * period)
    
정리하면 아래가 된다.

    savings = principal * (1 + rate)**period

따라서 저축기간인 `period` 가 1년 증가할 때마다 원리합계는 이전 원리합계에 `(1 + rate)`를 곱한 결과이다.
이 정보를 `while` 반복문에 적용하여 다음과 같이 원리합계를 계산할 수 있다.

In [9]:
principal = 1000000 # 원금
rate = 0.05         # 연이자
period = 3          # 3년

savings = principal # period가 0일 때는 원금만 있음.
num_of_years = 1

while num_of_years <= period:
    savings = savings * (1 + rate)
    num_of_years = num_of_years + 1
    
print("12개월 후 받는 원금 + 이자는", savings, "원입니다.")

12개월 후 받는 원금 + 이자는 1157625.0 원입니다.

주의사항:

## 문제 7

`break` 명령문은 `while` 반복문에서 사용될 때에도 기능은 동일하다.
즉 `break` 명령문이 실행되는 순간 `while` 반복문의 실행이 종료된다.

예를 들어 아래 코드는 앞서 소개한 "수 알아맞히기 게임" 코드를 조금 수정해서
사용자가 게임 실행중에 아무 때나 반복문의 실행을 종료하는 기능을 추가하였다.
추가된 코드는 다음과 같다.

```python
if guess == 0:
    break
```

즉, 사용자가 0을 입력하고 <kbd>Enter</kbd>키를 누르면
반복문의 실행이 바로 종료되고
코드에 남은 이후의 명령문이 실행된다.

In [48]:
print("수 알아맞히기 게임에 환영합니다.")

secret = 17
guess = -1   # 이어지는 while 반복문이 최소 한 번은 실행되도록 함

while guess != secret:
    guess = int(input("1부터 100 사이의 정수 하나를 입력하세요: "))
    
    if guess == 0:       # 0이 입력되면 반복문 실행 종료
        break
        
    if guess == secret:
        print("맞았습니다!")
    elif guess > secret:
        print("너무 커요!")
    else:
        print("너무 작아요!")

print("게임 종료!")

수 알아맞히기 게임에 환영합니다.
1부터 100 사이의 정수 하나를 입력하세요: 0
게임 종료!

## 문제 8

`for` 또는 `while` 반복문에 포함된  `break` 명령문이 실행되면
해당 `for`/`while` 반복문만 종료된다.

아래 두 코드의 실행결과를 설명하라.

- 코드 1

In [25]:
n = 15

is_prime = True # 이 값이 계속 유지되면 소수임

for x in range(2, n):
    if n % x == 0:
        is_prime = False
        print("-", n, "=", x, "*", n//x, end=", ")
        print("따라서", n, "은(는) 소수가 아니다.")
        break

- 15 = 3 * 5, 따라서 15 은(는) 소수가 아니다.

- 코드 2

In [26]:
n = 15

is_prime = True # 이 값이 계속 유지되면 소수임

for x in range(2, n):
    if n % x == 0:
        is_prime = False
        print("-", n, "=", x, "*", n//x, end=", ")
        print("따라서", n, "은(는) 소수가 아니다.")
        continue

- 15 = 3 * 5, 따라서 15 은(는) 소수가 아니다.
- 15 = 5 * 3, 따라서 15 은(는) 소수가 아니다.

## 문제 9

`for` 또는 `while` 반복문이 중첩되어 사용되었을 때 
내부의 `for`/`while` 반복문에 포함된 `break`/`continue` 명령문이 실행되면
해당 `for`/`while` 반복문만 종료된다.



아래 코드의 실행 결과를 설명하라.

In [27]:
for n in range(4, 11):
    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
            print("-", n, "=", x, "*", n//x, end=", ")
            print("따라서", n, "은(는) 소수가 아니다.")
            break

    if is_prime:
        print("-", n, "은(는) 소수다.")
        
    break

- 4 = 2 * 2, 따라서 4 은(는) 소수가 아니다.

##  문제 10

`for` 또는 `while` 반복문이 중첩되어 사용되었을 때 
내부의 `for`/`while` 반복문에 포함된 `break`/`continue` 명령문이 실행되면
해당 `for`/`while` 반복문만 종료된다.

아래 두 코드가 동일한 내용을 출력하는 이유를 설명하라.

- 코드 1

In [19]:
for n in range(2, 11):
    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
            break
            
    if is_prime:
        print("-", n, "은(는) 소수다.")

- 2 은(는) 소수다.
- 3 은(는) 소수다.
- 5 은(는) 소수다.
- 7 은(는) 소수다.

- 코드 2

In [11]:
for n in range(2, 11):
    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
            continue
            
    if is_prime:
        print("-", n, "은(는) 소수다.")

- 2 은(는) 소수다.
- 3 은(는) 소수다.
- 5 은(는) 소수다.
- 7 은(는) 소수다.

- 코드 3

In [14]:
for n in range(2, 10):
    is_prime = True # 이 값이 계속 유지되면 소수임

    for x in range(2, n):
        if n % x == 0:
            is_prime = False
    
    break

    if is_prime:
        print("-", n, "은(는) 소수다.")