# (실습) 사전과 집합

**참고 사항**

먼저
[사전과 집합](https://codingalzi.github.io/pybook/dicts_sets.html)의 내용과
[(필수 예제) 사전과 집합](https://colab.research.google.com/github/codingalzi/pybook/blob/master/examples/examples-dicts_sets.ipynb)의 예제들을 학습하세요.

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제

다음 `participants` 변수는 모임일과 그날 참석한 사람들의 이름을 저장하는 사전을 가리킨다.

In [11]:
participants = {'1월 3일' : ['현성', '문정', '현무', '강현'], 
                '2월 10일' : ['문정', '강현', '정훈'], 
                '3월 7일' : ['현성', '연아', '현무', '지아']}

**질문 1**

이름과 날짜를 입력받아 해당일의 참석자 명단에 이름이 포함되어 있는지 여부를 반환하는
`attended()` 함수를 작성하라.   
단, 이름과 날짜 모두 문자열을 사용한다.

**답**

In [10]:
def attended(name, date):
    return name in participants[date]

In [13]:
assert attended("현성", '1월 3일') == True
assert attended("찬호", '3월 7일') == False

**질문 2**

이름과 날짜를 입력받아 해당일의 참석자 명단에 이름이 포함되어 있다면 아래 문장을 출력하는 
`attended_number()` 함수를 작성하라.
    
    O월 O일에 O 명이 함께 참석했어요.
    
참석하지 않은 경우엔 아래 문장을 출력해야 한다.

    참석하지 않았어요!

**답**

In [23]:
def attended_number(name, date):
    if attended(name, date):
        number = len(participants[date])-1
        print(f"{date}에 {number} 명이 함께 참석했어요")
    else:
        print('참석하지 않았어요!')

In [24]:
attended_number("현성", '1월 3일')

1월 3일에 3 명이 함께 참석했어요

In [25]:
attended_number("찬호", '3월 7일')

참석하지 않았어요!

## 문제

어느 반 학생들의 이름이 리스트로 주어졌다.

In [27]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube', 'Choonsik']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 무시한다.
즉, 아래와 같은 사전이 생성되어야 한다.

```python
{1: 'Apeach', 2: 'Choonsik', 3: 'Muzi', 4: 'Neo', 5: 'Ryan', 6: 'Tube'}
```

힌트: `set()` 함수, `sorted()` 함수, `enumerate()` 함수 활용

**답**

리스트는 순차 자료형이기에 중복을 허용한다.
따라서 동명이인을 무시하기 위해 집합으로 변환한 다음에 다시 리스트로 변환한다.

In [29]:
list(set(students))

['Apeach', 'Tube', 'Neo', 'Muzi', 'Ryan', 'Choonsik']

이제 `sorted()` 함수를 적용하면 알파벳 순서로 정렬된 리스트가 생성된다.

In [30]:
sorted(list(set(students)))

['Apeach', 'Choonsik', 'Muzi', 'Neo', 'Ryan', 'Tube']

여기에 `enumerate()` 함수와 `dict()` 함수를 적용하면 원하는 모양의 사전이 생성된다.

In [33]:
dict(enumerate(sorted(list(set(students))), start=1))

{1: 'Apeach', 2: 'Choonsik', 3: 'Muzi', 4: 'Neo', 5: 'Ryan', 6: 'Tube'}

## 문제

**질문 1**

아래 리스트를 리스트 조건제시법으로 정의하라.

    [1, 5, 7, 11, 13, 17, 19]  

힌트: 2의 배수와 3의 배수가 아닌 1에서 20사이의 정수들을 항목으로 갖는 리스트

**답**

In [9]:
ans3 = [ i for i in range(1,20) if i % 2 != 0 and i % 3 != 0 ]
print(ans3)

[1, 5, 7, 11, 13, 17, 19]

## 문제

6명의 정보가 다음과 같다.

In [1]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']
whang = ['황현', '02-9871-1234', 19, 163.5, '서울']
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

In [2]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**질문 1**

`info_list`에 포함된 6명의 이름과 해당 이름의 정보로 구성된 사전을 가리키는 `info_dict` 변수를 
조건제시법을 이용하여 선언하라.

**답**

In [3]:
info_dict = {people[0]:people[1:] for people in info_list}

In [4]:
info_dict

{'김강현': ['010-1234-5678', 20, 172.3, '제주'],
 '황현': ['02-9871-1234', 19, 163.5, '서울'],
 '남세원': ['010-3456-7891', 21, 156.7, '경기'],
 '최흥선': ['070-4321-1111', 21, 187.2, '부산'],
 '김현선': ['010-3333-8888', 22, 164.6, '광주'],
 '함중아': ['010-7654-2345', 18, 178.3, '강원']}

**질문 2**

`info_dict`를 이용해서 이름과 함께 원하는 정보를 지정하면 해당 정보를 알려주는 `info_book()` 함수를 정의하라.
예를 들어 `info_book('김강현', '나이')`를 호출하면 김강현의 나이를,
`info_book('김현선', '전화번호')`를 호출하면 김현선의 전화번호를 반환해야 한다.

힌트: 아래 사전을 이용한다.

In [5]:
info_index = {'전화번호': 0,
              '나이': 1,
              '키':2,
              '출생지':3}

**답**

In [6]:
def info_book(name, info):
    idx = info_index[info]
    return info_dict[name][idx]

In [7]:
info_book('김강현', '나이')

20

In [8]:
info_book('김현선', '전화번호')

'010-3333-8888'

## 문제 5

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [ ]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT',
              '23:45 9876 OUT']

차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [ ]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 결과값을 직접 사용할 수는 없다.

pass

car_parking_log = None

car_parking_log

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [ ]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 39000},
          '9876': {'IN': '08:55',
                   'OUT': '23:45',
                   'parking_duration': 890,
                   'parking_fee': 40000},
          '1597': {'IN': '11:00'}}

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert car_parking_log == answer

## 집합

## 예제

교육 참가자 명단과 수료자 명단이 아래처럼 리스트로 주어다.

In [1]:
participant = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']
completion = ['Ryan', 'Muzi', 'Neo', 'Choonsik']

수료하지 못한 사람들의 명단을 리스트로 출력하는 코드를 작성하여라.
단, 참여자 중 동명이인은 없고, 순서는 중요하지 않다.

In [2]:
unfinished = list(set(participant) - set(completion))
unfinished

['Tube', 'Apeach']

또는

In [3]:
unfinished = list(set(participant).difference(set(completion)))
unfinished

['Tube', 'Apeach']

**문제 1**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [ ]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

AnBnC = None

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

pass

ArBrCmA = None

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert ArBrCmA == {1, 3, 10}

**문제 2**

리스트가 입력되면 중복된 항목은 제거하고 남은 항목들을 내림차순으로 정렬한
리스트를 반환하는 `unique_values()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def unique_values(aList):
    pass

    return None

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
# assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']