# (필수 예제) 리스트와 튜플

- 아래 예제들은 파이썬 프로그래밍의 기초 개념을 다룬다.
- 본인이 먼저 예제를 해결하는 코드를 작성하고 설명하려고 시도한다.
- 필요한 경우 예제의 질문에 대해 작성된 코드의 설명을 먼저 이해하려고 노력한다.
- 이해된 코드를 직접 타이핑 하면서 작성한 후에 실행해 본다.
- 오타 등으로 인한 오류가 발생하면 스스로 오류를 제거하도록 노력한다.
- 본인이 직접 작성한 코드의 실행결과가 모범답안과 다를 경우 문제점을 파악한다.
- 본인이 직접 작성한 코드와 모범답안의 실행결과가 동일한 경우 두 코드의 차이점을 분석한다.

## 문제 11

(Think Python) 프로그래밍 기본 요소: 집합과 사전 - 연습문제 6번 B

In [29]:
def factorialDynamic(n):
    if n >= 0:
        known = 1
        for k in range(2,n+1):
            res = k * known
            known = res

        return known
    else:
        return -1

#### 주의사항

* 계산이 가능할 때까지 코드셀을 추가하여 10배씩 늘리며 확인할 것.
* 구글 코랩에서는 아마 좀 더 작은 숫자로 시작해야 할 수도 있음.

#### 3000!

In [30]:
import time

start_time2 = time.time()
f3000 = factorialDynamic(3000)
elapsed_time2 = time.time() - start_time2
print(elapsed_time2)

0.001821279525756836

#### 1만!

In [31]:
import time

start_time2 = time.time()
f10k = factorialDynamic(10000)
elapsed_time2 = time.time() - start_time2
print(elapsed_time2)

0.020607948303222656

#### 10만!

In [32]:
import time

start_time2 = time.time()
f100k = factorialDynamic(100000)
elapsed_time2 = time.time() - start_time2
print(elapsed_time2)

1.8773136138916016

#### 100만! 가능?

In [33]:
import time

start_time2 = time.time()
f1m = factorialDynamic(1000000)
elapsed_time2 = time.time() - start_time2
print(elapsed_time2)

234.42753386497498

#### 1000만! 가능?

...

# 문제 5

(Think Python) 프로그래밍 기본 요소: 집합과 사전 - 연습문제 1번

In [11]:
def has_duplicates(aList):
    a = []
    for i in aList:
        if i in a:
            return True
        else:
            a.append(i)

    return False

### 테스팅

**주의:** 수정하지 말 것.

In [12]:
exc5A = has_duplicates([1, 2, 1, 3]) == True
exc5B = has_duplicates(['hello', 'hi', 'hey']) == False
exc5C = has_duplicates(['a', [1, 2], 1, 2]) == False
exc5D = has_duplicates([True, False, [True, True]]) == False
exc5E = has_duplicates([[True, False], True, [True, False]]) == True

all([exc5A, exc5B, exc5C, exc5D, exc5E])

True

## 문제 4

(Think Python) 프로그래밍 기본 요소: 함수 - 연습문제 4번

In [6]:
def printItems2(aList, level):
    for item in aList:
        if isinstance(item, list):
            level=level+1
            printItems2(item,level)
        else:       
            print('\t'*level,item)

In [7]:
moBong = ["기생충", 2019, ["설국열차", 2013, ["살인의 추억", 2003]]]

In [8]:
printItems2(moBong, 0)

 기생충
 2019
	 설국열차
	 2013
		 살인의 추억
		 2003

## 문제 5

(Think Python) 프로그래밍 기본 요소: 함수 - 연습문제 5번

In [9]:
def printItems3(aList, level, indent=False):
    for item in aList:
        if isinstance(item, list):
            level=level+1
            printItems3(item,level,indent)
        else:
            if indent==False:
                level=0           
            print('\t'*level,item)

In [10]:
printItems3(moBong, 0)

 기생충
 2019
 설국열차
 2013
 살인의 추억
 2003

In [11]:
printItems3(moBong, 0, True)

 기생충
 2019
	 설국열차
	 2013
		 살인의 추억
		 2003

## 문제 6

(Think Python) 프로그래밍 기본 요소: 함수 - 연습문제 6번

**힌트:**
* 2중 while 반복문 활용
* 가장 외곽의 리스트 해체(unpacking). 리스트 슬라이싱 활용.
* pop 메서드 활용

**주의:** 재귀 절대 사용 불가. while 반복문을 사용한다고 해서 재귀가 아닌 것이 아님. 함수 본체에서 자신을 호출하면 재귀함수가 됨.

In [12]:
def printItemsWhile(aList):
    newList=aList.copy()
    while (newList):
        while(newList and isinstance(newList[0], list)):
            newList[0:1]=newList[0]
        if (newList):
            print(newList.pop(0))

In [13]:
printItemsWhile(moBong)

기생충
2019
설국열차
2013
살인의 추억
2003

참조: [Flatten an irregular list of lists](https://stackoverflow.com/questions/2158395/flatten-an-irregular-list-of-lists)

In [14]:
arbList = [[1,2, [3], 2], 3, [3, 5], [[[[1, [1, 2]]]]], 3, 1]

In [15]:
printItemsWhile(arbList)

1
2
3
2
3
3
5
1
1
2
3
1

## 문제 9

(Think Python) 기본 자료형: 리스트 - 연습문제 1번

In [25]:
def nested_sum(aList):
    total = 0
    for element in aList:
        if isinstance(element, list):
            total += nested_sum(element)
        else:
            total += element

    return total

**테스팅**

**주의:** 수정하지 말 것.

In [26]:
exc9A = nested_sum([[1, 2], [3], [4, 5, 6]]) == 21
exc9B = nested_sum([[1, 2], [3], [4, 6]]) == 16
exc9C = nested_sum([[1, 2], [3, [5]], [4, 5, 6]]) == 26
exc9D = nested_sum([[1, 2, [[[6]]]], [3], [4, 5, 6]]) == 27
exc9E = nested_sum([[1, 2], [3], [4, 5, 6, [1, [3, 6]]]]) == 31

all([exc9A, exc9B, exc9C, exc9D, exc9E])

True

## 문제 10

(Think Python) 기본 자료형: 리스트 - 연습문제 2번

In [27]:
def cum_sum(aList):
    result = []
    total = 0
    for i in aList:
        total += i
        result.append(total)

    return result

**테스팅**

**주의:** 수정하지 말 것.

In [28]:
exc10A = cum_sum([1, 2, 3, 4]) == [1, 3, 6, 10]
exc10B = cum_sum([1, 3, 5, 7, 9]) == [1, 4, 9, 16, 25]
exc10C = cum_sum([2, 3, 5, 8, 13, 21]) == [2, 5, 10, 18, 31, 52]
exc10D = cum_sum([5, 6, 8, 11]) == [5, 11, 19, 30]
exc10E = cum_sum([3, 10, 5, 16, 8, 4, 2, 1]) == [3, 13, 18, 34, 42, 46, 48, 49]

all([exc10A, exc10B, exc10C, exc10D, exc10E])

True

**문제1) 아래 리스트는 4중 리스트이다.**

`a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]`  

(1) 위 리스트에서 `7`를 얻는 방법은?

In [ ]:
a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]

In [ ]:
a_nested_list[3][0]

7

(2) 위 리스트에서 `[2, [3, 4], 5]`를 얻는 방법은?

In [ ]:
a_nested_list[1][1]

[2, [3, 4], 5]

(3) 위 리스트에서 `4`를 얻는 방법은?

In [ ]:
a_nested_list[1][1][1][1]

4

**문제2) 아래 리스트를 리스트 조건제시법으로 구현하여라**   

(1) [3, 6, 9, 12, 15]

In [ ]:
# ans1 = [ 3*x for x in range(1,6) ] or
ans1 = [ x for x in range(1,16) if x % 3 == 0]
print(ans1)

[3, 6, 9, 12, 15]

(2)수학에서 사용되는 대표적인 지수함수인 $f(x) = e^x$는 `math` 모듈의 `exp()`로 정의되어 있다. 
<center>[ $e^3, e^6, e^9, e^{12}, e^{15}$ ] </center>

In [ ]:
from math import exp
# ans2 = [exp(x) for x in ans1] or
# ans2 = [ exp(3**x) for x in range(1,6) ] or
ans2 = [ exp(x) for x in range(1,16) if x % 3 == 0]
print(ans2)

[20.085536923187668, 403.4287934927351, 8103.083927575384, 162754.79141900392, 3269017.3724721107]

(3) [1, 5, 7, 11, 13, 17, 19]  
hint) 2의 배수와 3의 배수가 아닌 1에서 20사이의 정수들을 항목으로 갖는 리스트

In [ ]:
ans3 = [ i for i in range(1,20) if i % 2 != 0 and i % 3 != 0 ]
print(ans3)

[1, 5, 7, 11, 13, 17, 19]

**문제3) 리스트 `['dog', 'cat']`를 `['dog', 'cat', ['tiger', 'eagle']]`로 변경하는 코드를 작성하여라.**

(1) 슬라이싱 이용

In [ ]:
animal = ['dog', 'cat']
animal[2:] = [['tiger', 'eagle']]
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(2) `append()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.append(['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(3) `extend()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.extend([['tiger', 'eagle']])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

(4) `insert()` 메소드 이용

In [ ]:
animal = ['dog', 'cat']
animal.insert(2,['tiger', 'eagle'])
print(animal)

['dog', 'cat', ['tiger', 'eagle']]

**문제4) 영어단어를 인자로 받아 알파벳순으로 리턴하는 함수인 `abc()` 함수를 구현하여라.**  

```
In [3]: abc('dog')
Out[3]: 'dgo'
```

In [1]:
def abc(s) :
  a_list = []
  a_list.extend(s)
  a_list.sort()
  ret = ""
  for i in a_list :
    ret += i
  return ret

In [2]:
abc('dog')

'dgo'

참고) 아래의 내용을 참고하여 코드를 작성할 수도 있다.  
* 빈 리스트는 `list()`로 생성할 수 있다. 이때 인자를 문자열로 둔다면 각 문자 단위로 리스트를 만든다.

In [ ]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [ ]:
'''
def 함수이름(매개변수1, ..., 매개변수n) : 
  ...
  ...
  return 
'''
def abc_v1(s) : 
  s = list(s)
  s.sort()
  ret = ""
  for i in s:
    ret += i
  return ret

In [ ]:
print(abc_v1("dog"))

dgo

참고) 아래의 내용을 참고하여 코드를 작성할 수도 있다.  
* `join()` 메소드는 문자열 메소드
  * `'구분자(sep)'.join(문자열)` : 문자열의 각 문자 사이에 구분자(sep)를 넣어서 하나의 문자열로 합하여 반환
  * `'구분자(sep)'.join(리스트)` : 리스트의 각 항목 사이에 구분자(sep)를 넣어서 하나의 문자열로 합하여 반환. 이때 리스트의 각 항목은 문자열.

In [ ]:
','.join("Hello")

'H,e,l,l,o'

In [ ]:
print('-'.join(["a", "b", "c"]))
print(','.join(list("Hello")))

a-b-c
H,e,l,l,o

* `sorted()` 함수는 원래의 리스트를 건드리지 않으면서 정렬된 리스트를 생성.  
주의) `sort()` 메소드는 원래의 리스트 자체를 변경함.

In [ ]:
a_list = [5, 3, 7, 1]
sorted_list = sorted(a_list)

print(a_list)
print(sorted_list)

[5, 3, 7, 1]
[1, 3, 5, 7]

In [ ]:
def abc_v2(s) :
  s = list(s)
  ret = "".join(sorted(s))
  return ret

In [ ]:
print(abc_v2("dog"))

dgo

```







.
```

**문제**

`sorted()` 함수는 리스트를 크기 기준 오름차순으로 정렬한다.

In [1]:
a_list = [3, 2, 1, 4, 5]
sorted_list = sorted(a_list)
sorted_list

[1, 2, 3, 4, 5]

아래 코드에서 `rev_sorted_list` 변수가 `a_list`를 크기 기준 오름차순으로 정렬한 리스트를 참조하도록 `None` 값을 적절한 표현식으로 대체하라.

즉, 아래가 성립해야 한다.

```python
rev_sorted_list = [5, 4, 3, 2, 1]
```

힌트: `sorted()` 함수의 키워드 인자 활용

In [2]:
# None을 sorted(a_list, ...) 형식의 표현식으로 대체해야 함
# sorted() 함수의 키워드 인자를 반드시 사용해야 함.
# 단순히 리스트를 입력하면 0점 처리됨.

rev_sorted_list = None

print(rev_sorted_list)

None

**문제**

`datetime` 모듈의 `datetime` 객체가 아래와 같이 주어졌다.

```python
dt = datetime(2021, 3, 14, 15, 5, 20)
```

변수 `current_time`이 아래 문자열을 가리키도록 아래 코드를 완성하라.

In [3]:
current_time_string = "오늘은 2021년 3월 14일이고, 현재 시각은 오후 3시 5분 20초입니다."

힌트: datetime 객체의 다양한 메서드 활용 및 적절한 f-문자열 지정

- 참고: [datetime 클래스 문서](https://docs.python.org/ko/3/library/datetime.html)
- 참고: [f-문자열 포매팅](https://wikidocs.net/13#f)

In [4]:
from datetime import datetime, date, time

dt = datetime(2021, 3, 14, 15, 5, 20)

In [5]:
# 추가 코드가 필요하면 여기에 작성

In [6]:
# None을 적절한 f-문자열로 대체하라.
# datetime 객체의 다양한 메서드를 사용할 것.
# current_time_string에 사용된 문자열을 그대로 작성할 경우 0점 처리됨.

current_time = None

print(current_time)

None

**문제**

0부터 10까지의 수 중에서 3의 배수를 제외한 항목으로 이루어진 리스트를 
생성하도록 아래 코드를 완성하라.

즉, `list10` 변수는 최종적으로 아래 값을 가리켜야 한다.

```python
[1, 2, 4, 5, 7, 8, 10]
```

힌트: `for` 반복문과 `continue` 예약어 활용

In [7]:
# pass 예약어를 적절한 코드로 대체하세요.
# for 반복문을 range() 함수와 함께 활용

list10 = []

pass

print(list10)

[]

**문제**

리스트를 입력 받아 사전으로 변환하는 `list_enum()` 함수를 정의하라.
단, 키는 항목의 인덱스를 사용한다.

예제:

```python
list_enum(['a', 'b', 'c']) = {0: 'a', 1: 'b', 2: 'c'}
list_enum([4, 6, 9, 2]) = {0: 4, 1: 6, 2: 9, 3: 2}
```

힌트: `enumerate()` 함수 활용

In [8]:
# 추가 코드가 필요하면 여기에 작성

In [9]:
# pass 부분을 적절한 코드로 대체할 것

def list_enum(xs):
    idx_dict = {}
    
    pass

    return idx_dict

print(list_enum(['a', 'b', 'c']))
print(list_enum([4, 6, 9, 2]))

{}
{}

**문제**

문자열로 이루어진 리스트가 입력되었을 때 아래 항목들을 갖는 사전 객체를 반환하는 함수 `list2dic()` 함수를 구현하라.

반한된 사전의 항목은 아래 형식을 갖는다.

- 키(key): 리스트에 사용된 항목
- 값(value): 키(key)가 리스트에서 사용된 횟수

힌트: `list2dic()` 함수는 아래와 같이 작동해야 한다.

```
list2dic([2, 5, 2, 3, 3, 2]) = {2: [0, 2, 5], 3: [3, 4], 5: [1]}
list2dic([15, 3, 15, 1, 3, 8]) = {1: [3], 3: [1, 4], 8: [5], 15: [0, 2]}
```

힌트: `enumerate()` 함수, 리스트의 `count()` 메서드,
`collections` 모듈의 `defaultdict` 클래스를 이용한다.

참고: [사전 기본값 처리](https://www.daleseo.com/python-collections-defaultdict/)

In [10]:
from collections import defaultdict

In [11]:
# 추가 코드가 필요하면 여기에 작성

In [12]:
# pass 부분을 적절한 코드로 대체할 것
# None 값을 적절한 표현식으로 대체할 것

def list2dic(xs):
    pass

    return None

print(list2dic([2, 5, 2, 3, 3, 2]))
print(list2dic([15, 3, 15, 1, 3, 8]))

None
None

**문제**

리스트를 인자로 받아서 사용된 항목의 개수를 반환하는 함수 
`count_elem()`를 구현하라.
단, 중복 항목은 하나로 간주한다.

`count_elem()` 함수는 아래와 같이 작동해야 한다.

```
count_elem([2, 5, 2, 3, 3, 8, 2, 7]) = 5
count_elem([15, 3, 15, 1, 3]) = 3
```

힌트: `set()` 함수 활용

In [13]:
# 추가 코드가 필요하면 여기에 작성

In [14]:
# pass 부분을 적절한 코드로 대체할 것
# None 값을 적절한 표현식으로 대체할 것

def count_elem(xs):
    pass

    return None

print(count_elem([2, 5, 2, 3, 3, 8, 2, 7]))
print(count_elem([15, 3, 15, 1, 3]))

None
None

**문제**

0부터 10까지의 자연수 중에서 3으로 나눈 나머지가 2인 수의 제곱으로 이루어진 리스트를 조건제시법으로 정의하라.
즉, 아래 리스트를 조건제시법으로 생성해야 한다.

```python
[4, 25, 64]
```

힌트: 리스트 조건제시법(comprehension) 활용

In [15]:
# 필요한 코드가 있다면 아래에 추가

In [16]:
# None 값을 적절한 리스트 조건제시법으로 대체할 것

list_modulo3 = None

print(list_modulo3)

None

**문제**

영어단어를 입력받아 알파벳순으로 출력하는 코드를 작성하여라.
예를 들어, `python` 을 입력하면, `hopty` 를 출력한다.
단, 모두 소문자로 변환해서 출력한다.

힌트: `list` 를 이용한다.

**[추가문제1] 어느 모임에 등록하는 참가자들의 리스트를 관리하는 간단한 프로그램 만들기**

프로그램은 아래와 같은 일을 할 수 있다.  
```
1. 참가 여부 확인
2. 참가 신청
3. 참가 취소
4. 참가자명 변경
5. 참가명단 확인
6. 참가 인원수 확인
9. 종료
```

* 각 단계의 내용이 충족되도록 전 단계의 코드를 수정 보완하여라.   
예를 들어, 2단계에 작성하는 코드는 1단계와 2단계의 내용이 모두 충족되어야 한다. 

* 프로그램이 실행되면, 프로그램이 할 수 있는 일을 번호와 함께 보여주고,   
사용자가 수행하길 원하는 항목 번호를 입력받는다. 
* 프로그램은 사용자가 9번을 선택해야 종료된다. 
* 사용자가 1번을 선택하면, 확인할 이름을 입력받고 참가자 명단에 있는지 여부를 확인해준다.
* 사용자가 2번을 선택하면, 참가 신청할 이름을 입력받고 참가자 명단에 추가한다. 
* 사용자가 3번을 선택하면, 참가 취소할 이름을 입력받고 참가자 명단에서 제외한다. 
* 사용자가 4번을 선택하면, 등록한 이름과 수정할 이름을 입력받아서 참가자 명단에 있는 해당 이름을 변경한다. 
* 사용자가 5번을 선택하면, 참가자 명단을 보여준다.
* 사용자가 6번을 선택하면, 참가 인원수를 보여준다. 
* 사용자가 정수가 아닌 값을 입력하면 정수를 입력하라고 한다.  
* 동명이인은 없다고 가정한다.

In [3]:
info = "1. 참가 여부 확인\n2. 참가 신청\n3. 참가 취소\n4. 참가자명 변경\n5. 참가명단 확인\n6. 참가 인원수 확인\n9. 종료"
students = []
num = 0

while num != 9:
  
  print(info)
  
  try:
    num = int(input("원하는 항목 번호를 입력하세요: "))
  except ValueError:
    print("정수를 입력해주세요")
    num = 0

  if num == 1:
    name = input("확인할 이름을 입력해주세요: ")
    if name in students:
      print(name, "은(는) 참가자 명단에 있습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")
    
  elif num == 2:
    name = input("참가자 명단에 추가할 이름을 입력해주세요: ")
    if name in students:
      print(name, "이미 참가자 명단에 있습니다.")
    else:
      students.append(name)
    
  elif num == 3:
    name = input("참가자 명단에서 제거할 이름을 입력해주세요: ")
    if name in students:
      students.remove(name)
      print(name, "을 참가자 명단에서 제거하였습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")
    
  elif num == 4:
    name, after_name = input("참가자 명단에서 등록한 이름과 수정할 이름을 입력해주세요 ex) 등록한이름 수정한이름: ").split()
    if name in students:
        if after_name in students :
          print(after_name, "은(는) 이미 참가자 명단에 있습니다.")
        else :
          name_index = students.index(name)
          students[name_index] = after_name
          print(name, "을", after_name, "으로 수정하였습니다.")
    else:
      print(name, "은(는) 참가자 명단에 없습니다.")

  elif num == 5:
    print("참가자 명단은:", students)
    
  elif num == 6:
    print("참가 인원수는:", len(students))
    
  elif num == 9:
    print("프로그램이 종료됩니다")
    break

1. 참가 여부 확인
2. 참가 신청
3. 참가 취소
4. 참가자명 변경
5. 참가명단 확인
6. 참가 인원수 확인
9. 종료
원하는 항목 번호를 입력하세요: 9
프로그램이 종료됩니다

**[추가문제2] 아래와 같은 문자열이 있다.**

`lyrics = "Twinkle, twinkle, little star. How I wonder what you are. Up above the world so high. Like a diamond in the sky. Twinkle, twinkle, little star. How I wonder what you are."`  

(1) 위 문자열을 소문자로 변경한 후, 공백을 기준으로 리스트를 만들어 `lyrics_list`에 할당하여라.

In [ ]:
lyrics = "Twinkle, twinkle, little star. How I wonder what you are. Up above the world so high. Like a diamond in the sky. Twinkle, twinkle, little star. How I wonder what you are."
lyrics_list = lyrics.lower().split()
lyrics_list

['twinkle,',
 'twinkle,',
 'little',
 'star.',
 'how',
 'i',
 'wonder',
 'what',
 'you',
 'are.',
 'up',
 'above',
 'the',
 'world',
 'so',
 'high.',
 'like',
 'a',
 'diamond',
 'in',
 'the',
 'sky.',
 'twinkle,',
 'twinkle,',
 'little',
 'star.',
 'how',
 'i',
 'wonder',
 'what',
 'you',
 'are.']

(2) `lyrics_list`의 각 항목의 문자열 길이를 항목으로 갖는 리스트를 만들어라.  
예를 들어, `['hello', 'python']`의 경우, 각 항목의 문자열 길이를 항목으로 갖는 리스트는 `[5, 6]` 이다.

In [ ]:
[len(x) for x in lyrics_list]

[8,
 8,
 6,
 5,
 3,
 1,
 6,
 4,
 3,
 4,
 2,
 5,
 3,
 5,
 2,
 5,
 4,
 1,
 7,
 2,
 3,
 4,
 8,
 8,
 6,
 5,
 3,
 1,
 6,
 4,
 3,
 4]

(3) `lyrics_list`의 항목 중 일부는 콤마(,)나 마침표(.)가 사용되었다. 콤마나 마침표를 제외한 단어의 길이를 표시하도록 (2)의 코드를 수정하여라.

In [ ]:
[len(x.strip('.').strip(',')) for x in lyrics_list]

[7,
 7,
 6,
 4,
 3,
 1,
 6,
 4,
 3,
 3,
 2,
 5,
 3,
 5,
 2,
 4,
 4,
 1,
 7,
 2,
 3,
 3,
 7,
 7,
 6,
 4,
 3,
 1,
 6,
 4,
 3,
 3]

**[추가 문제3] 문제2)에 있는 리스트를 `while`반복문과 `for`반복문을 이용해 만들어라**


**아래 리스트를 반복문으로 구현하여라**   

(1) [3, 6, 9, 12, 15]

In [ ]:
ans = []
for i in range(1,16):
  if i % 3 == 0:
    ans.append(i)

print(ans)

[3, 6, 9, 12, 15]

(2)수학에서 사용되는 대표적인 지수함수인 $f(x) = e^x$는 `math` 모듈의 `exp()`로 정의되어 있다. 
<center>[ $e^3, e^6, e^9, e^{12}, e^{15}$ ] </center>

In [ ]:
from math import exp
ans = []
for i in range(1,16):
  if i % 3 == 0:
    ans.append(exp(i))
print(ans)

[20.085536923187668, 403.4287934927351, 8103.083927575384, 162754.79141900392, 3269017.3724721107]

(3) [1, 5, 7, 11, 13, 17, 19]  
hint) 2의 배수와 3의 배수가 아닌 1에서 20사이의 정수들을 항목으로 갖는 리스트

In [ ]:
ans = []
for i in range(1,20):
  if i % 2 != 0 and i % 3 != 0:
    ans.append(i)
print(ans)

[1, 5, 7, 11, 13, 17, 19]

## 튜플 관련

**문제 8**

정수 나눗셈을 실행하여 몫과 나머지를 쌍(tuple)로 반환하는 함수 `divide_qr()` 함수를 구현하라.

단, 함수의 본문은 `while` 반복문을 이용해야 하며, 몫 연산자 `//` 또는 나머지 연산자 `%` 는 
절대 사용하지 않는다.

In [1]:
# 아래 코드에서 pass 와 None 을 각각 적절한 명령문과 적절한 표현식으로 대체하라.
# 힌트: round() 함수

def divide_qr(numerator, denomenator):
  answer = 0
  while not numerator < denomenator:
    numerator = numerator - denomenator
    answer += 1

  return (answer, numerator) 
assert divide_qr(17, 3) == (5, 2)
assert divide_qr(28, 7) == (4, 0)
divide_qr(-18, 4)

(0, -18)

In [7]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert divide_qr(17, 3) == (5, 2)
# assert divide_qr(28, 7) == (4, 0)

## 예제

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔아야 한다.
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
단, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

공간의 가로, 세로 크기, 타일의 크기를 cm 단위로 인자로 사용되었을 때
타일을 깔 때 필요한 온장 타일과 잘라서 사용한 타일의 개수로 
이뤄진 튜플을 반환하는 함수 `tiling_tuple()`을 구현하라.
단 공간 크기의 가로, 세로, 타일의 크기는 정수라고 가정한다.

`tiling()` 함수의 매개변수는 다음과 같이 한다.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

In [8]:
def tiling_tuple(width, height, tile_length=30):
    num_full_width = width // tile_length
    num_full_height = height // tile_length

    num_full = num_full_width * num_full_height

    if width % tile_length == 0:
        num_part_height = 0    
        if height % tile_length == 0:
            num_part = 0
        else:
            num_part = num_full_width

    else:
        if height % tile_length == 0:
            num_part = num_full_height
        else:
            num_part = num_full_width + num_full_height + 1
            
    return num_full, num_part

In [9]:
tiling_tuple(400, 400)

(169, 27)

In [11]:
tiling_tuple(400, 400, 35)

(121, 23)

## 문제

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔아야 한다.
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
단, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

공간의 가로, 세로 크기, 타일의 크기를 cm 단위로 인자로 사용되었을 때
타일을 깔 때 필요한 온장 타일과 잘라서 사용한 타일의 개수로 
이뤄진 튜플을 반환하는 함수 `tiling_tuple()`을 구현하라.
단 공간 크기의 가로, 세로, 타일의 크기는 정수라고 가정한다.

`tiling()` 함수의 매개변수는 다음과 같이 한다.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

In [8]:
def tiling_tuple(width, height, tile_length=30):
    num_full_width = width // tile_length
    num_full_height = height // tile_length

    num_full = num_full_width * num_full_height

    if width % tile_length == 0:
        num_part_height = 0    
        if height % tile_length == 0:
            num_part = 0
        else:
            num_part = num_full_width

    else:
        if height % tile_length == 0:
            num_part = num_full_height
        else:
            num_part = num_full_width + num_full_height + 1
            
    return num_full, num_part

In [9]:
tiling_tuple(400, 400)

(169, 27)

In [11]:
tiling_tuple(400, 400, 35)

(121, 23)