# (필수 예제) 조건문

**참고 사항**

먼저 [조건문](https://codingalzi.github.io/pybook/conditionals.html) 내용을 학습하세요.

## 예제 1

두 개의 양의 정수를 입력 받아 첫째 정수가 둘째 정수의 배수인지 여부를 판단하는 코드를 구현하라.
단, 첫째 입력값은 변수 `x`에,
둘째 입력값은 변수 `y`에 할당한다.
또한 결과에 따라 배수인지 여부를 확인하는 문장을 출력한다.

**답**

`x`가 `y`의 배수인지 여부는 논리식 `x % y == 0`로 판단된다.
예를 들어 6은 3의 배수이지만 4의 배수가 아님을 다음과 같이 확인한다.

In [ ]:
6 % 3 == 0

True

In [ ]:
6 % 4 == 0

False

배수 여부를 확인하는 논리식 `x % y == 0`을 `if ... else ...` 조건문과 함께 활용하면
원하는 코드를 구현할 수 있다.

- 6은 3의 배수임을 확인

In [ ]:
x = int(input("첫째 양의 정수를 입력하세요: "))
y = int(input("둘째 양의 정수를 입력하세요: "))

if x % y == 0:
    print(x, "은(는)", y, "의 배수임.")
else:
    print(x, "은(는)", y, "의 배수가 아님.")

첫째 양의 정수를 입력하세요: 6
둘째 양의 정수를 입력하세요: 3
6 은(는) 3 의 배수임.

- 6은 4의 배수가 아님을 확인

In [ ]:
x = int(input("첫째 양의 정수를 입력하세요: "))
y = int(input("둘째 양의 정수를 입력하세요: "))

if x % y == 0:
    print(x, "은(는)", y, "의 배수임.")
else:
    print(x, "은(는)", y, "의 배수가 아님.")

첫째 양의 정수를 입력하세요: 6
둘째 양의 정수를 입력하세요: 4
6 은(는) 4 의 배수가 아님.

## 예제 2

1에서 10까지의 정수 중에서 3의 배수가 아닌 정수만 출력하는 코드를 작성하라.

힌트: 리스트 `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, `for` 반복문 활용, 논리/비교 연산자 활용

**답**

1에서 10까지의 정수를 리스트로 선언한다.

```python
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

`num` 변수가 가리키는 값이 3의 배수가 아닐 때 참이되는 논리식은 다음과 같다.

```python
num % 3 != 0
```

아래 코드는 `one2ten` 리스트에 `for` 반복문을 적용해서 3의 배수가 아닌 정수만 화면에 출력한다.

In [ ]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in one2ten:
    if num % 3 != 0:
        print(num, end=' ')

1 2 4 5 7 8 10

`num` 변수가 가리키는 값이 3의 배수가 아닐 때 참이되는 논리식은 다음과 같이 `not` 논리 연산자를 이용할 수도 있다.

```python
not num % 3 == 0
```

따라서 아래 코드도 동일한 결과를 생성한다.

In [ ]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if not num % 3 == 0:
        print(num, end=' ')

1 2 4 5 7 8 10

## 예제 3

1에서 10까지의 정수 중에서 3의 배수 또는 7의 배수를 모두 출력하는 코드를 작성하라.

힌트: 리스트 `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, `for` 반복문 활용, 논리/비교 연산자 활용

**답**

`num`이 가리키는 값이 3의 배수 또는 7의 배수인 경우에만 `num`을 출력하고자 하면
아래 표현식을 이용한다.

```python
num % 3 == 0 or num % 7 == 0
```

이제 `num`을 1부터 10까지의 정수를 차례대로 가리키도록 하면서
`if` 조건문을 이용하면 3의 배수 또는 7의 배수를 모두 출력할 수 있다.
아래 코드가 위 내용을 정리한다.

In [ ]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in one2ten:
    if num % 3 == 0 or num % 7 == 0:
        print(num, end=' ')

3 6 7 9

## 예제 4

아래 코드가 실행중에 오류를 발생시키는 이유를 설명하라.

In [ ]:
if False or 3/0:
    print("A")

ZeroDivisionError: division by zero

**답**

먼저 오류가 어디서 왜 발생했는가에 대한 정보를 확인한다.
오류 정보의 맨 마지막 줄에 있는 아래 정보는
0으로 나눗셈을 시도했음을 알려준다.

```
ZeroDivisionError: division by zero
```

그리고 아래 오류 정보는 위 코드의 1번 줄에서 오류가 발생했음을 알려준다.

```
----> 1 if False or 3/0:
```

즉 `if` 조건문에 사용된 조건식인 `False or 3/0`에 문제가 있다는 말이다.

`False or 3/0`은 우선 논리 연산자 `or`를 사용한다.
그리고 `or` 연산자를 사용하는 논리식의 참/거짓 여부는
먼저 첫째 인자의 참/거짓 여부를 확인한다.
그런데 첫째 인자인 `False`는 (항상) 거짓이다.
따라서 둘째 인자인 `3/0`의 참/거짓 여부를 확인한다.
그리고 여기서 3을 0으로 나눈 결과를 확인하려할 때 문제가 발생한다.
0을 이용한 나눗셈은 허용되지 않기에 오류가 발생한다.

`if` 조건문에 사용되는 조건식의 참/거짓 여부를 판단할 때 오류가 발생하기에
본문에 사용된 `print()` 함수 호출은 아예 발생하지 않는다.

## 예제 5

`a`, `b`, `c`가 세 개의 정수를 가리킨다.

아래 두 논리식이 거짓이라고 가정하자.

- `a >= b and a >= c`
- `b >= a and b >= c`

그러면 `a < c and b < c`가 참임을 설명하라.

**답**

먼저 `a >= b and a >= c`가 거짓이기에 `a < b or a < c`가 참이다.
`or` 연산자의 정의에 의해 `a < b`가 참이거나 `a < c`가 참이다.
따라서 두 가지 경우로 나눠서 살펴 본다.

- `a < b`가 참인 경우
    - 그러면 `a <= b`가 참이다.
    - 그런데 `b >= a and b >= c`가 거짓이기에 결국 `b >= c`가 거짓이다.
    - 즉, `b < c`가 참이다.
    - 결국 `a < b < c`가 `a < c and b < c`가 참이다.
- `a < c`가 참인 경우
    - 그런데 `b >= a and b >= c`가 거짓이기에 `b < a` 또는 `b < c`가 참다.
    - 만약 `b < a`가 참이면 `b < a < c`가 되어 `a < c and b < c`가 참이다.
    - 만약 `b < c`가 참이면 당연히 `a < c and b < c`가 참이다.
    
즉, 어떤 경우에도 `a < c and b < c`가 참이다.

## 예제 6

사용자가 연도를 입력했을 때 윤년 여부를 판단하는 코드를 작성하라.
단, 아래 세 개의 논리식만 사용하며, `and`, `or`, `not` 등의 논리 연산자는 절대로 사용하지 않아야 한다.

- `year % 400 == 0`
- `year % 100 == 0`
- `year % 4 == 0`

힌트: `if ... elif ... else ...` 명령문을 이용한다.
또한 윤년과 평년 여부는 다음 세 가지 규칙으로 판단한다.

- 4의 배수인 경우 윤년,
- 하지만 100의 배수인 경우는 평년,
- 그래도 400의 배수인 경우는 무조건 윤년!

예를 들어 아래 연도는 모두 윤년이다.

- 1988, 2024: 4의 배수이면서 100의 배수 아님
- 2000: 100의 배수이지만 400의 배수임
    
반면에 아래 연도는 모두 윤년이 아니다.

- 1900: 4의 배수이지만 100의 배수임. 그리고 400의 배수 아님.
- 2023: 4의 배수 아님.

**답**

먼저 400의 배수는 100의 배수이고, 또 100의 배수는 4의 배수임에 주목한다.
이제 아래 3가지 경우를 차례대로 확인한다.

- 400의 배수는 무조건 윤년이기에 먼저 400의 배수 여부를 확인해서 참이면 윤년!
- 400의 배수가 아닌데, 100의 배수라면 평년!
- 400의 배수도, 100의 배수도 아닌데 4의 배수라면 평년!
- 나머지 경우, 즉 4의 배수도 아니라면 평년!

`if ... elif ... elif ... else ...` 명령문을 이용하여
앞서 언급한 경우를 정확하게 표현할 수 있다.

- 2024년: 윤년

In [ ]:
year = int(input("연도를 입력하세요: "))

if year % 400 == 0:
    print("400의 배수이기에 윤년!")
elif year % 100 == 0:
    print("400의 배수는 아니지만 100의 배수이기에 평년")
elif year % 4 == 0:
    print("100의 배수가 아니면서 4의 배수이기에 윤년")
else:
    print("4의 배수가 아니기에 평년")

연도를 입력하세요: 2024
100의 배수가 아니면서 4의 배수이기에 윤년

- 1900년: 평년

In [ ]:
year = int(input("연도를 입력하세요: "))

if year % 400 == 0:
    print("400의 배수이기에 윤년!")
elif year % 100 == 0:
    print("400의 배수는 아니지만 100의 배수이기에 평년")
elif year % 4 == 0:
    print("100의 배수가 아니면서 4의 배수이기에 윤년")
else:
    print("4의 배수가 아니기에 평년")

연도를 입력하세요: 1900
400의 배수는 아니지만 100의 배수이기에 평년

- 2000년: 윤년

In [ ]:
year = int(input("연도를 입력하세요: "))

if year % 400 == 0:
    print("400의 배수이기에 윤년!")
elif year % 100 == 0:
    print("400의 배수는 아니지만 100의 배수이기에 평년")
elif year % 4 == 0:
    print("100의 배수가 아니면서 4의 배수이기에 윤년")
else:
    print("4의 배수가 아니기에 평년")

연도를 입력하세요: 2000
400의 배수이기에 윤년!

- 2025년: 평년

In [1]:
year = int(input("연도를 입력하세요: "))

if year % 400 == 0:
    print("400의 배수이기에 윤년!")
elif year % 100 == 0:
    print("400의 배수는 아니지만 100의 배수이기에 평년")
elif year % 4 == 0:
    print("100의 배수가 아니면서 4의 배수이기에 윤년")
else:
    print("4의 배수가 아니기에 평년")

연도를 입력하세요: 2025
4의 배수가 아니기에 평년

## 예제 7

세 개의 막대를 이용하여 삼각형을 만들 수 있는지 여부를 판단하는 코드를 작성하라.
단, 다음 조건을 만족해야 한다.

- 세 개의 막대 길이에 해당하는 양의 부동소수점을 입력받아 각각 `a`, `b`, `c` 변수에 저장한다.
- 삼각형을 만들 수 있으면 `True`, 아니면 `False`를 반환한다.

힌트: 막대 하나의 길이가 다른 두 막대의 길이의 합보다 작아야 삼각형을 만들 수 있다.

**답**

아래 그림에서 확인할 수 있듯이 삼각형의 어떤 하나의 변도 다른 두 변의 합보다 클 수 없다.

<div align="center"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/triangle01.jpg" style="width:500px"></div>

세 변의 길이 `a`, `b`, `c`가 주어졌을 때 어떤 하나의 변이 다른 두 변의 합보다 큰지 여부는
`or` 연산자를 활용하는 다음 논리식으로 판단한다.

```python
a >= b + c or b >= a + c or c >= a + b
```

아래 코드는 위 논리식의 참/거짓 여부에 따라 삼각형 그리기가 가능한지 여부를 알려준다.

In [ ]:
a = float(input("첫째 막대 길이: "))
b = float(input("둘째 막대 길이: "))
c = float(input("셋째 막대 길이: "))

if a >= b + c or b >= a + c or c >= a + b:
    print("삼각형 불가능")
else:
    print("삼각형 가능")

첫째 막대 길이: 11.3
둘째 막대 길이: 25.7
셋째 막대 길이: 18.8
삼각형 가능

In [ ]:
a = float(input("첫째 막대 길이: "))
b = float(input("둘째 막대 길이: "))
c = float(input("셋째 막대 길이: "))

if a >= b + c or b >= a + c or c >= a + b:
    print("삼각형 불가능")
else:
    print("삼각형 가능")

첫째 막대 길이: 11.7
둘째 막대 길이: 32.9
셋째 막대 길이: 20.1
삼각형 불가능

## 예제 8

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔 때
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
타일의 크기는 가로, 세로 모두 30cm이며, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

가로와 세로 각각 400cm, 500cm 인 바닥을 타일로 덮기 위해 필요한 온장 타일과 잘라서 사용한 타일의 개수의 합을
계산하는 코드를 구현하라.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

힌트: 중첩 조건문 활용

**답**

온장의 개수 `num_full`은 공간의 가로와 세로를 타일 한 장의 길이로 나눈 몫을 곱한 값이다.

```python
num_full_width = width // tile_length
num_full_height = height // tile_length

num_full = num_full_width * num_full_height # 온장 타일 수
```

잘라서 사용한 타일의 개수는 아래 두 경우의 조합에 따라 통 네 개의 경우가 발생한다.

- 경우 1: 가로를 타일의 길이로 나눴을 때 나머지가 0인 경우
- 경우 2: 세로는 타일의 길이로 나눴을 때 나머지가 0인 경우

네 경우 각각에 따라 잘라서 사용한 타일의 개수가 달라진다.

<div align="center"><img src="https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/images/exc-functions-02.png" style="width:600px"></div>

4가지 경우에 잘라서 사용한 타일의 수 `num_part`를 계산하는 코드는 다음과 같다.

```python
if width % tile_length == 0:
    if height % tile_length == 0:     # 경우 (A)
        num_part = 0
    else:                             # 경우 (B)
        num_part = num_full_width

else:
    if height % tile_length == 0:    # 경우 (C)
        num_part = num_full_height
    else:                            # 경우 (D)
        num_part = num_full_width + num_full_height + 1
```

온장 타일 수와 잘라서 사용한 타일의 수의 합은 `num_full + num_part`로 계산되며
위 설명을 정리해서 코드를 다음과 구현한다.

In [ ]:
width = 400
height = 500
tile_length = 30

num_full_width = width // tile_length
num_full_height = height // tile_length

# 온장 타일 개수
num_full = num_full_width * num_full_height

# 잘린 타일 개수
if width % tile_length == 0:
    if height % tile_length == 0:
        num_part = 0
    else:
        num_part = num_full_width

else:
    if height % tile_length == 0:
        num_part = num_full_height
    else:
        num_part = num_full_width + num_full_height + 1

# 온장 타일과 잘라딘 타일 수
print("필요한 타일의 수:", num_full + num_part)

필요한 타일의 수: 238