# (예제) 변수, 값, 표현식

**예제 풀이 안내**

- 예제의 질문을 명확하게 이해한 다음에 모범답안의 설명을 읽는다.
- 설명을 바탕으로 직접 코드를 작성한다.
- 오류가 발생하면 스스로 오류를 제거한다.
- 직접 작성한 코드가 모범담안의 코드와 다르지만 동일한 결과를 계산한다면
    두 코드 사이의 공통점과 차이점을 확인한다.

## 예제

사용자로부터 입력받은 후 입력된 정수의 짝수/홀수 여부를 판정하는 코드를 작성한다.

힌트: `input()` 함수와 `int()` 함수 활용

모범답안:

`input()` 함수를 다음과 같이 이용하여 사용자로부터 정수를 입력 받아
변수 `user_input_str`에 할당한다.

```python
user_input_str = input("정수 하나를 입력하세요: ")
```

`user_input_str`에 할당된 값이 정수 모양의 문자열이기에
정수로 형변환하여 `user_input`에 할당한다.

```python
user_input = int(user_input_str)
```

이제 `user_input`에 할당된 정수의 짝수/홀수 여부를 2로 나눈 나머지가 0인지 
여부에 따라 결정하여 그결과를 출력한다.
위 설명을 정리하여 구현하면 다음과 같이 코드를 구현할 수 있다.

In [1]:
user_input_str = input("정수 하나를 입력하세요: ")
user_input = int(user_input_str)

if user_input % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수 하나를 입력하세요: 5
홀수

`input()` 함수와 `int()` 함수를 연속 적용하여 다음과 같이 작성할 수도 있다.

```python
user_input = int(input("정수 하나를 입력하세요: "))
```

그러면 먼저 `input()` 함수에 의해 정수 모양의 문자열이 `int()` 함수의 인자로 바로 지정되어
최종적으로 정수가 `user_input`에 사용자 입력 정숫값으로 할당된다.

이렇게 하면 `user_input_str` 변수가 더 이상 필요없는 보다 간단한 코드가 된다.
앞으로 `input()` 함수에 바로 이어 `int()` 함수가 적용되어야 할 때는 이 방식을 기본으로 사용한다.

In [5]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수 하나를 입력하세요: 8
짝수

또는 `if ... else ...` 조건문을 사용하지 않으면서 짝수일 때는 `True`를 홀수일 때는 `False`를 
바로 출력하게 할수도 있다.

In [6]:
user_input = int(input("정수 하나를 입력하세요: "))

print(user_input % 2 == 0)

정수 하나를 입력하세요: 17
False

## 예제

사용자로부터 하나의 정수를 입력받은 후 
입력값이 17보다 크면 두 정수의 차이의 제곱을, 
아니면 입력된 정수를 출력하는 코드를 작성한다.

힌트: `input()` 함수와 `int()` 함수 활용

모범답안:

두 정수의 크기비교를 위해 `>` 연산자를 이용한다.
`a`가 표현하는 값이 `b`가 표현하는 값보다 클 때 
표현식 `a > b`가 `True`로 계산된다는 사실을 
`if ... else ...` 조거문에 적용한다.

- 20을 입력할 때: 9 출력

In [8]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input > 17:
    print((user_input - 17)**2)
else:
    print(user_input)

정수 하나를 입력하세요: 20
9

- 15를 입력할 때: 15 출력

In [9]:
user_input = int(input("정수 하나를 입력하세요: "))

if user_input > 17:
    print((user_input - 17)**2)
else:
    print(user_input)

정수 하나를 입력하세요: 15
15

## 예제

사용자로부터 하나의 0이 아닌 한자리 정수 `n` 을 입력받아 `n + nn + nnn` 을 계산하는 코드를 작성한다.
곱셈 계산이 아님에 주의한다.
예를 들어 5가 입력되면 아래 값이 계산되어야 한다.

```
5 + 55 + 555 = 615
```

힌트: `input()` 함수와 `int()` 함수 활용. 문자열 이어붙이기 연산자 `+` 또는 복제 후 이어붙이기 연산자 `*` 활용.

주의사항: `int(input())` 형식은 사용하지 않음.

모범답안:

- 문자열 이어붙이기 연산자 `+` 활용

5를 입력하면 `input()` 함수는 문자열 `'5'`를 입력값으로 지정한다.

    n = input("정수 하나를 입력하세요: ")

이제 `+` 연산자를 이용하여 변수 `n`에 할당된 값을 이어붙인다.
예를 들어 문자열 `'5'`를 이어붙이면 `'55'`가 된다.
여기에 `int()` 함수를 적용하면 정수 55가 계산된다.
유사한 방식으로 정수 555를 계산할 수 있다.

위 설명을 코드로 구현하면 다음과 같으며
정수 5를 입력해서 `5 + 55 + 555`를 계산한다.

In [11]:
n = input("정수 하나를 입력하세요: ")
nn = n + n
nnn = nn + n

print(int(n) + int(nn) + int(nnn))

정수 하나를 입력하세요: 5
615

- 문자열 복제 후 이어붙이기 연산자 `*` 활용

두 변수 `n`과 `nn`을 `*` 연산자를 이용하여 정의한다.
실행할 때 7을 입력하여 `7 + 77 + 777 = 861`을 계산한다.

In [13]:
n = input("정수 하나를 입력하세요: ")
nn = n * 2
nnn = n * 3

print(int(n) + int(nn) + int(nnn))

정수 하나를 입력하세요: 7
861

참고로 `int(input())` 형식을 사용하면 좀 복잡해진다.
예를 들어 다음과 같이 변수 `n`을 정의한 다음에 실행해서 5를 입력한다.

In [14]:
n = int(input("정수 하나를 입력하세요: "))

정수 하나를 입력하세요: 5

그러면 변수 `n`이 정수 5를 가리키기에 이를 이용해서 55와 555를 만들기는 간단하지 않다.
물론 가능하기는 하지만 앞서 제시된 모범답안보다 복잡해진다. 
예를 들어 다음 두 방식이 가능하다.

- `str()` 함수 활용: `str()` 함수를 이용하여 다시 문자열로 변환

In [15]:
n = int(input("정수 하나를 입력하세요: "))
nn = str(n) + str(n)
nnn = nn + str(n)

print(int(n) + int(nn) + int(nnn))

정수 하나를 입력하세요: 5
615

- 10진법 계산 활용: 예를 들어 55는 5 * 10 + 5, 555는 5 * 100 + 5 * 10 + 5로 계산됨.

In [16]:
n = int(input("정수 하나를 입력하세요: "))
nn = n*10 + 5
nnn = n*100 + n*10 + n

print(n + nn + nnn)

정수 하나를 입력하세요: 5
615

## 예제

두 개의 정수를 입력 받아 지정된 형식으로 출력하는 코드를 작성한다.
입력된 두 개의 정수는 각각 변수 `a`와 `b`에 저장한다.
예를 들어 3과 2가 입력되면 아래처럼 화면에 출력한다.

    3 + 2 = 5

모범답안:

정수 두 개를 각각 입력받을 수 있도록 `input()` 함수를 두 번 사용한다.
첫째 입력값은 정수로 변환해서 `a`에 할당, 둘째 입력값은 `b`에 할당한다.
지정된 형식으로의 출력은 `print()` 함수를 이용한다.
`print()` 함수에 쉼표를 이용하여 여러 개의 인자를 지정하면
각각의 인자가 공백으로 구분되어 한 줄에 출력되는 성질을 이용한다.

In [1]:
a = int(input("첫째 정수를 입력하세요: "))
b = int(input("둘째 정수를 입력하세요: "))

print(a, "+", b, "=", a + b)

첫째 정수를 입력하세요: 3
둘째 정수를 입력하세요: 2
3 + 2 = 5

## 문제

두 개의 유한소수를 입력 받아 지정된 형식으로 출력하는 코드를 작성한다.
입력된 두 개의 유한소수는 각각 변수 `a`와 `b`에 저장한다.
예를 들어 3.3과 5.8이 입력되면 아래처럼 화면에 출력한다.
계산 결과는 소수점 이하 셋째 자리에서 반올림한다.

    3.3 / 5.8 = 0.57

모범답안:

유한소수 두 개를 각각 입력받을 수 있도록 `input()` 함수를 `float()` 함수와 함께 두 번 사용한다
첫째 입력값은 정수로 변환해서 `a`에 할당, 둘째 입력값은 `b`에 할당한다.
지정된 형식으로의 출력은 `print()` 함수를 이용한다.
`print()` 함수에 쉼표를 이용하여 여러 개의 인자를 지정하면
각각의 인자가 공백으로 구분되어 한 줄에 출력되는 성질을 이용한다.

In [20]:
a = float(input("첫째 정수를 입력하세요: "))
b = float(input("둘째 정수를 입력하세요: "))

print(a, "/", b, "=", round(a / b, 2))

첫째 정수를 입력하세요: 3.3
둘째 정수를 입력하세요: 5.8
3.3 / 5.8 = 0.57

## 예제

두 개의 부동소수점`x`와 `y`를 입력받아 두 수의 
평균값을 아래 형식으로 출력하는 코드를 작성하여라.

    2.4 와 5.7 의 평균값: 4.05

단, `x`와 `y`의 평균값은 `(x + y)/2`이며, 평균값은 소수점 이하 셋째 자리에서 반올림한다.

힌트: `float()` 함수와, `round()` 함수 활용

`round()` 함수의 첫째 인자는 부동소수점, 둘째 인자는 소수점 이하 자릿수를 지정하며
반올림을 이용하여 지정된 자릿수까지만 계산한다.
활용법은 다음과 같다.

In [9]:
round(3.141592, 3)

3.142

In [10]:
round(3.141592, 2)

3.14

모범답안:

사용자가 정수가 아닌 유한소수를 입력할 것을 예상해야 하기에
`input()` 함수의 결과에 바로 `float()` 함수를 적용한다.
그 다음에 평균값을 계산하여 지정된 방식으로 출력한다.
단, `round()` 함수를 이용하여 소수점 이하의 자릿수를 2로 지정한다.

In [13]:
x = float(input("첫째 유한소수를 입력하세요: "))
y = float(input("둘째 유한소수를 입력하세요: "))

# 평균값
mean_arithmetic = (x + y)/2

print(x, "와", y, "의 평균값:", round(mean_arithmetic, 2))

첫째 유한소수를 입력하세요: 2.4
둘째 유한소수를 입력하세요: 5.7
2.4 와 5.7 의 평균값: 4.05

## 문제

두 개의 부동소수점`x`와 `y`를 입력받아 두 수의 
조화 평균을 아래 형식으로 출력하는 코드를 작성하여라.

    2.4 와 5.7 의 조화평균: 3.38

단, `x`와 `y`의 조화평균은 다음과 같이 계산하며, 소수점 이하 셋째 자리에서 반올림한다.

    2 / (1/x + 1/y)

힌트: `float()` 함수와 `round()` 함수 활용

모범답안:

사용자가 정수가 아닌 유한소수를 입력할 것을 예상해야 하기에
`input()` 함수의 결과에 바로 `float()` 함수를 적용한다.
그 다음에 평균값을 계산하여 지정된 방식으로 출력한다.
단, `round()` 함수를 이용하여 소수점 이하의 자릿수를 2로 지정한다.

In [16]:
x = float(input("첫째 유한소수를 입력하세요: "))
y = float(input("둘째 유한소수를 입력하세요: "))

# 평균값
mean_harmony = 2 / (1/x + 1/y)

print(x, "와", y, "의 조화평균:", round(mean_harmony, 2))

첫째 유한소수를 입력하세요: 2.4
둘째 유한소수를 입력하세요: 5.7
2.4 와 5.7 의 조화평균: 3.38

## 예제 10

대기실에 `N`개의 의자가 일렬로 놓여 있다.
어느 두 사람도 이웃하여 앉지 않을 때, 앉을 수 있는 최대 인원수와
최소 인원수를 출력하는 코드를 구하여라.
입력은 100이하의 자연수이고, 최대와 최소는 공백으로 구분하여 출력한다.
단, 자리를 채운 후에는 더 이상 어느 누구도 자리에 앉을 수 없어야 한다.
예를 들어 의자가 8개인 경우 아래 방식으로 앉는 것은 허용되지 않는다.
아래 표에서 `O`은 채워진 자리를, `X`는 빈자리를 가리킨다.

| 불가능 방식 | 이유 |
| :---: | :--- |
| `XXOXOXOX` | 왼쪽 끝에 한 명 더 앉을 수 있음 |
| `XOXXOXXX` | 오른쪽 끝에 한 명 더 앉을 수 있음|

의자가 8 개일 때 의자에 앉을 수 있는 최소 인원과 최대 인원은 다음과 같다.

| 인원 | 앉는 방식 |
| :---: | :---: |
| 최소 3명 | `XOXXOXXO` |
| 최대 4명 | `OXOXOXOX` |

힌트: 2배수와 3배수 여부 이용

모범답안:

`N`개의 의자가 있을 때 예를 들어 맨 왼쪽 의자에 앉은 다음에 한 자리 건널 때마다 앉으면 최대 인원이 앉게 된다.
즉 두 의자당 하나에 앉으면 된다. 만약 `N`이 홀수이면 맨 오른쪽 자리에 한 명이 더 앉을 수 있다.
따라서 `N`이 2배수인지 여부가 중요하다.

- `N`이 2의 배수일 때: 최대 인원은 `N//2`
- `N`이 2의 배수일 때: 최대 인원은 `N//2 + 1`

반면에 최소 인원은 다음과 같이 계산할 수 있다. 
먼저 의자가 1개 또는 2개이면 최대 1명 앉을 수 있다.
이제부터 의자가 3개 이상이라고 가정한다.
먼저 `N = 3`이라고 하자. 그러면 아래 방식으로 1명만 앉을 수 있다.

    XOX

`N > 3`인 경우는 3배수 여부로 결정된다.

- `N`이 3의 배수인 경우: `XOX` 방식을 `N//3` 번 반복한다. 예를 들어 `N = 6`이면 아래 방식으로 최소 인원이 앉는다.

        XOXXOX
        
- `N`이 3의 배수가 아닌 경우: `XOX` 방식을 `N//3` 번 반복한 다음 나머지 하나 또는 두 자리 중에 한 자리에 앉는다.
    예를 들어 `N=8`이면 아래 방식으로 최소 인원이 앉는다.

        XOXXOXXO

위 설명을 정리하여 코드로 작성하면 다음과 같다.

In [39]:
N = int(input("정수를 입력하세요: "))

# 최대 인원
if (N%2 == 0) :
  max = N//2
else :
  max = (N//2) + 1

# 최소 인원
if (N%3 == 0) :
  min = N//3
else :
  min = (N//3) + 1

print("최소:", min, "명")
print("최대:", max, "명")

정수를 입력하세요: 8
최소: 3 명
최대: 4 명