# (필수 예제) 기초 자료형

In [1]:
from random import randint

**문제 1**

1부터 999,999 사이의 임의의 정수가 주어졌을 때 
해당 수를 지정된 방식으로 출력하는 코드를 작성하라.

예를 들어 123을 아래와 같이 출력해야 한다.

```python
입력하신 숫자는 000123입니다.
```

힌트: `randint()` 함수와 문자열 포매팅 활용.

In [2]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

# input = randint(1, 999999)

**문제 2**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.
단, 오늘의 요일은 0부터 6 사이의 수로 무작위적으로 선택된다.

In [3]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

# today = randint(0, 6)

**문제 3**

주민등록번호 881120-1068234 등이 주워지면
연월일(YYMMDD) 부분과 나머지 부분으로 구분하여 출력하는 코드를 작성하라.
단, 주민등록번호는 `randint()` 함수를 이용하여 무작위로 생성한다. 
뒤 7자리는 1에서 4 사이의 숫자로 시작함에 주의하라. 
출력은 다음 형식으로 이루워져야 한다.

```python
생년월일: 881120
  나머지: 1068234
```

힌트: 112500 등 실존하지 않는 생년월일을 피하기 위한 여러 가지 방식이 있을 수 있다. 제한을 가하거나, 아니면 특정 기준에 맞는 값이 나올 때까지 반복하면 된다. 아니면 6자리 수가 아닌 두 자리 수를 세 번 생성하여 결합할 수도 있다.

In [4]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 4**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
주민등록번호에서 성별을 나타내는 숫자를 
아래 형식으로 출력하는 코드를 작성하라.

힌트: 문자열 인덱싱을 활용한다.

출력:

```python
성별: 1 (남성)
```

출력:

```python
성별: 2 (여성)
```

In [5]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 5**

다음과 같이 `a`, `b` 두 변수를 선언한 후 `a` 의 두 번째 요솟값을 변경하면 `b` 의 값은 
어떻게 되는지 확인하고 그 이유를 설명하라.

In [6]:
# a = b = [1, 2, 3]
# a[1] = 4
# print(b)

설명하세요.

...

**문제 6**

과일 이름으로 구성된 문자열 하나가 주어졌다.

In [7]:
fruit = "banana apple orange pineapple mango strawberry cherry"

(1) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

In [8]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(2) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

In [9]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(3) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

In [10]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 7**

다음 문자열이 주어졌다.

```python
'n o r t h w e s t e r n'
```

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```python
'Northwestern'
```

In [11]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 8**

아래 노래 가사를 활용하는 문제이다.

In [12]:
song = "When you are smiling, the whole world smiles with you"

(1) `for` 문을 사용하여 `song`에서 `a`가 등장하는 횟수를 구하는 코드를 작성하라.

In [13]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

(2) 반복문을 사용하여  `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

In [14]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 9**

`num`이 가리키는 정수가 숫자 3을 포함하는 경우에는
`num` 의 세 배를 출력하고, 
아닌 경우에는 `num` 에서 2를 뺀 값을 출력하는 코드를 작성하라.
단, `num` 이 가리키는 수는 임의로 생성된 세 자리 수이어야 한다.

In [15]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

# num = 123
# 출력: 369

**문제 10**

정수 나눗셈의 몫을 계산하는 코드를 `while` 반복문을 이용하여 구현한다.
단, 분자와 분모는 임의로 생성하며, 분자는 두 자리 정수, 분모는 한 자리 정수로 제한한다.
또한 몫 연산자 `//` 는 허용되지 않으며 덧셈과 뺄셈만 사용한다.

In [16]:
# 아래 변수를 이용하세요.

# number = None
# divisor = None
# answer = None

**문제 11**

어느 한 택배사의 무게에 따른 가격표가 다음과 같다.

| 5kg 미만 | 5kg 이상~10kg 미만 | 10kg 이상 |
|:-------:|:--------------------:|:---------:|
|5.000원 | 8,000원| 10,000원|

우편물의 무게가 임의의 자연수로 주어졌을 때, 택배 가격을 알려주는 프로그램을 만들어라.
단, 우편물의 무게는 최대 두 자리 수로 제한한다.

In [17]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 12**

0부터 100까지의 숫자 중에서 3의 배수와 7의 배수를 모두 찾아 출력한 다음, 
찾은 수들을 모두 더하여 아래와 같이 출력하는 코드를 작성하여라.

```python
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 OOO이다.
```

In [18]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 13**

임의의 자연수 n이 주어졌을 때, 1부터 n까지의 자연수 중에서 3의 배수이거나 
3을 포함하는 숫자들의 합을 구하여라.
단, n 은 두 자리의 수로 제한한다.

In [19]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 14**

자연수 n이 주어졌을 때, n의 약수를 모두 출력하는 코드를 작성하여라. 
단, n 은 두 자리의 수로 제한한다.

In [20]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 15**

일찍 태어난 사람이 늦게 태어난 사람보다 정확히 두 배의 나이를 갖는 경우가 발생한다. 
예를 들어, 2003년 7월 12일에 태어난 사람과 2006년 9월 30일에 태어난 사람은
2009년 12월 19일에 서로의 나이가 딱 두 배가 된다.

이를 확인하는 코드를 `Timestamp` 자료형을 이용하여 작성하라.

In [21]:
import pandas as pd 

d1 = pd.Timestamp('2003-07-12')
d2 = pd.Timestamp('2006-09-30')

In [22]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**문제 16**

아래 명령문을 실행할 때 오류가 발생한다. 이유가 무엇인가?

```python
if 3/0 or True:
    print("나는 출력되지 않아요.")
```

이유를 설명하세요.

**문제 17**

아래 명령문을 실행할 때 오류가 발생하지 않는다. 이유가 무엇인가?

```python
if True or 3/0:
    print("오류가 발생하지 않아요.")
```

이유를 설명하세요.

## 예제 5

**코드 1**

아래 내용의 논리식을 할당받는 변수 `p1`을 선언한 후에 `p1`에 할당된 진리값을 확인한다.

> 정수 3과 문자열 '3'이 다른지 여부 판단

모범 답안:

두 값이 다른지 여부는 `!=` 연산자를 이용하여 표현.

In [1]:
p1 = 3 != '3'
p1

True

**코드 2**

아래 내용의 논리식을 할당받는 변수 `p2`를 선언한 후에 `p2`에 할당된 진리값을 확인한다.

> "파이썬"과 "Python"이 같은지 여부 판단

모범 답안:

두 값이 같은지 여부는 `==` 연산자를 이용하여 표현.

In [3]:
p2 = "파이썬" == "Python"
p2

False

**코드 3**

아래의 내용을 담은 논리식을 작성하고 `True` 또는 `False`로 계산되는지 실행 결과를 설명한다.

> p2와 p1 모두 참인지 여부 판단

모범 답안:

"... 와 ..."는 `and` 연산자에 해당한다.
따라서 아래 논리식으로 위 내용을 표현할 수 있다.

In [4]:
p2 and p1

False

`and` 연산자는 인자로 사용된 두 값이 모두 `True` 일 때만 `True`로 계산됨. 
그런데 `p2`가 `False` 이기에 위 논리식도 `False` 로 계산됨.
`p1` 값은 중요하지 않고 확인하지도 않음.

**코드 4**

아래의 내용을 담은 논리식을 작성하고 `True` 또는 `False`로 계산되는지 실행 결과를 설명한다.

> p1은 참이고 p2는 참이 아닌지 여부 판단

모범 답안:

"... 아닌지"는 `not` 연산자에 해당하기에 아래와 같이 표현이 가능하다.

In [5]:
p1 and (not p2)

True

`p2`가 `False`로 계산되기 `not p2`는 `True` 로 계산됨.
물론 `p1` 도 `True`이기 때문에 가능함.

부정 연산자 `not`의 우선순위가 `and`나 `or` 보다 높기에 아래처럼 괄호를 사용하지 않아도 됨.

In [6]:
p1 and not p2

True

**코드 5**

아래의 내용을 담은 논리식을 작성하고 `True` 또는 `False`로 계산되는지 실행 결과를 설명한다.

> p1 또는 p2 중에 하나라도 참인지 여부 판단

모범 답안:

"... 또는 ..."는 `or` 연산자에 해당하며 위 내용을 아래처럼 표현할 수 있다.

In [7]:
p1 or p2

True

`or` 연산자는 인자로 사용된 두 값 중에 하나라도 `True`로 계산되면 `True`로 계산됨. 
그런데 `p1`이 `True`이기에 위 논리식 또한 `True`로 계산됨.
`p2` 값은 중요하지 않고 확인하지도 않음.