# (예제) 프로그래밍 맛보기

**예제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

- **코드 1**

In [1]:
print("Hello World"

SyntaxError: incomplete input (353226650.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자는 소괄호로 감싸져야 하는데 닫는 괄호가 없음.

In [2]:
# 오류가 수정된 코드

print("Hello World")

Hello World

- **코드 2**

In [3]:
print('Hello World")

SyntaxError: unterminated string literal (detected at line 1) (2803455855.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 문자열은 동일한 인용부호로 감싸져야 함. 여는 인용부호는 작은따옴표인데 닫는 인용부호는 큰따옴표임. 동일한 따옴표를 사용해야 함.

In [4]:
# 오류가 수정된 코드

print('Hello World')

Hello World

또는

In [5]:
print("Hello World")

Hello World

- **코드 3**

In [6]:
print(+2)

2

모범답안:

오류가 발생하지 않음. `+2`는 양의 정수 2로 처리됨.

- **코드 4**

In [7]:
print(023)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1292398223.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 정수, 부동소수점 등 수는 0으로 시작할 수 없음.

In [1]:
# 오류가 수정된 코드

print(23)

23

또는 문자열 `023`을 의도했지만 인용부호를 사용하지 않은 경우일 수도 있음.
문자열은 인용부호로 감싸이면 어떤 기호의 나열도 허용됨.

In [2]:
# 오류가 수정된 코드

print('023')

023

단, 문자열과 수로 처리되지 않음에 주의한다.

- **코드 5**

In [8]:
print(0o23)  # 0은 숫자 0, o는 영어 알파벳 소문자 o

19

오류 발생하지 않음. `0o23`은 8진법으로 작성된 23을 가리킴. 숫자 0 다음에 영어 알파벳 o가 사용됨에 주의함.
19는 다음과 같이 8진법을 10진법으로 계산하는 과정을 거친 결과임.

In [9]:
2 * 8**1 + 3 * 1

19

참고: [진법의 의미와 계산법](https://dlxdlx.tistory.com/5)

**예제 2**

변수 선언과 할당 명령문 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

- **코드 1**

In [10]:
23 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2807011745.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 변수 할당 명령문의 왼쪽에 변수가 위치해야 함. 변수는 숫자로 시작할 수 없음. 
    또한 변수에 할당되는 값은 등호 기호 오른쪽에 위치함.

In [11]:
# 오류가 수정된 코드 작성

n = 23

- **코드 2**

In [12]:
x = y = 1

모범답안:

오류 발생하지 않음. x, y 모두 1을 할당 받음.
즉 아래 코드를 간단하게 표현한 것임.
하지만 추천되지 않음. 
이유는 한줄에 하나의 변수를 선언하면 나중에 코드를 이해할 때 보다 쉽게 이해됨.
즉, 한줄에 하나의 명령문만 사용 추천.

In [13]:
x = 1
y = 1

- **코드 3**

모범답안:

In [14]:
y = k + 1.

NameError: name 'k' is not defined

- 오류 종류: NameError(이름 오류)

- 오류 원인: 선언되지 않은 변수 `k` 가 사용됨. 즉 `k` 가리키는 값이 지정되지 않았음.

In [ ]:
# 오류가 수정된 코드 작성

# k를 먼저 선언

k = 3
y = k + 1

**예제 3**

주어진 문장을 적절한 연산자를 이용하여 파이썬 수식으로 표현하고 그 결과를 확인한다.

* 정수 25와 정수 12 더하기

In [15]:
25 + 12

37

* 정수 92와 부동소수점 8.0 곱하기

In [16]:
92 * 8.0

736.0

* 정수 7를 5로 나눴을 때의 몫

In [17]:
7 // 5

1

* 정수 100을 정수 7로 나눈 나머지

In [18]:
100 % 7

2

* 정수 2의 세제곱을 (2 + 3)으로 나누기.

In [19]:
2**3 / (2 + 3)

1.6

그런데 아래와 같이 하면 틀린 값이 나온다.

In [20]:
2**3 / 2 + 3

7.0

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식과 동일한
값을 계산하기 때문이다.

In [21]:
(2**3 / 2) + 3

7.0

**예제 4**

아래와 같이 변수들이 선언되었다고 가정하자.

In [4]:
rows = 17
semi_colon2 = ';;'

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

* rows/2

In [7]:
rows / 2

8.5

In [8]:
type(rows / 2)

float

* rows//2

In [9]:
rows // 2

8

In [10]:
type(rows // 2)

int

* semi_colon2 * 3

In [12]:
semi_colon2 * 3

';;;;;;'

In [13]:
type(semi_colon2 * 3)

str

**예제 5**

3과 3.0의 자료형이 다름에도 불구하여 아래 수식은 오류없이 6.0으로 계산된다.

In [14]:
3 + 3.0

6.0

반면에 아래 수식을 계산하려 하면 오류가 발생한다.

In [15]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

이유는 숫자로서의 3과 문자열로서의 `'3.0'`의 덧셈 연산은 정의되어 있지 않기 때문이다.
그런데 아래 수식은 계산이 허용된다.
곱셈 연산자 `+`를 정수와 문자열과 함께 실행하면 문자열을 지정된 정수만큼 복제해서 이어붙인다.
따라서 3.03이 세 번 반복된 문자열이 계산된다.

In [16]:
3 * '3.0'

'3.03.03.0'

그런데 유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이
계산되도록 할 수 있다. 
이를 위해 `float()` 함수를 활용한다.
`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [17]:
3 + float('3.0')

6.0

**예제 6**

a) 아래 논리식을 할당받는 변수 p1을 선언하라.

    3과 4가 다른지 여부 판단

모범 답안:

두 값이 다른지 여부는 `!=` 연산자를 이용하여 표현.

In [19]:
p1 = 3 != 4

b) 아래 논리식을 할당받는 변수 p2를 선언하라.

    "hello"와 "hi"가 같은지 여부 판단

모범 답안:

두 값이 같은지 여부는 `==` 연산자를 이용하여 표현.

In [20]:
p2 = "hello" == "hi"

c) 아래의 결과가 `True`인지 `False`인지 판단하는 논리식을 작성하고 실행 결과를 설명한다.

    p2 and p1

모범 답안:

`and` 연산자는 두 값이 모두 `True` 일 때만 `True`로 계산됨. 
그런데 `p2`가 `False` 이기에 위 논리식도 `False` 로 계산됨.
`p1` 값은 중요하지 않고 확인하지도 않음.

In [21]:
p2

False

In [23]:
p2 and p1

False

d) 아래의 결과가 `True`인지 `False`인지 판단하는 논리식을 작성하고 실행 결과를 설명한다.

    p1 and (not p2)

모범 답안:

`p2`가 `False`로 계산되기 `not p2`는 `True` 로 계산됨.
물론 이때는 `p1` 이 `True`로 계산되어야 함.

In [24]:
p1

True

In [25]:
p1 and (not p2)

True

 부정 연산자 `not`의 우선순위가 `and`나 `or` 보다 높다.
 따라서 위식은 아래처럼 괄호를 사용하지 않아도 된다.

In [26]:
p1 and not p2

True

e) 아래의 결과가 `True`인지 `False`인지 판단하는 논리식을 작성하고 실행 결과를 설명한다.

    p1 or p2

모범 답안:

`or` 연산자는 두 값 중에 하나라도 `True`로 계산되면 `True`로 계산됨. 
그런데 `p1`이 `True`로 계산됨. 따라서 위 논리식 또한 `True`로 계산됨.
`p2` 값은 중요하지 않고 확인하지도 않음.

In [27]:
p1 or p2

True

**예제 7**

15, 28이 각각 짝수인지 홀수인지를 판별하는 코드를 작성하여라.
출력된 결과는 아래와 같은 형식이다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

힌트: 짝수는 2로 나눴을 때 나머지가 0이다.

모범답안:

15가 짝수인지 여부는 `15 % 2 == 0` 가 `True`로 계산되는지로 확인함.

In [35]:
print("15는 짝수인가요?", 15%2 == 0)
print("28는 짝수인가요?", 28%2 == 0)

15는 짝수인가요? False
28는 짝수인가요? True

**예제 8**

1$\text{m}^2$는 0.3025평이다. 
84$\text{m}^2$는 몇 평인가? 
반대로 30평은 몇 $\text{m}^2$인가?

아래 형식으로 출력하는 코드를 작성한다.

> 84제곱미터: 25.41 평  
> 30평: 99.17355371900827 제곱미터

모범답안:

먼저 유용하게 활용할 수 있는 변수를 선언한다.

- `one_squaremeter`: 1 제곱미터에 해당하는 평수
- `eightyfour_squremeter`: 84 제곱미터에 해당하는 평수
- `thirty_pyeong`: 30평에 해당하는 제곱미터

In [36]:
one_squaremeter = 0.3025
eightyfour_squremeter = 84 * one_squaremeter
thirty_pyeong = 30 / one_squaremeter

선언된 변수를 이용하여 아래와 같이 문장을 출력한다.

In [37]:
print("84제곱미터:", eightyfour_squremeter, '평')
print("30평:", thirty_pyeong, '제곱미터')

84제곱미터: 25.41 평
30평: 99.17355371900827 제곱미터

**예제 9**

우유 가격은 820원이고, 아이스크림 가격은 1500원이다.
아이스크림은 3개이상 구입시 5%를 할인해준다.
우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 다양한 변수를 활용하여 계산하는 코드를 작성한다.

In [38]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.
# 정수와 부동소수점만 사용하세요.

milk_price = 820
icecream_price = 1500
discount = 0.05  # 아이스크림 3개 이상 구입시 할인율

total_price = 820 * 2 + icecream_price * 3 * discount
print("우유 2개, 아이스크림 3개 가격:", total_price)

우유 2개, 아이스크림 3개 가격: 1865.0

`if ... else ...` 조건문을 이용하는 코드는 다음과 같음

In [39]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.
# 정수와 부동소수점만 사용하세요.

milk_price = 820
icecream_price = 1500
discount = 0.05  # 아이스크림 3개 이상 구입시 할인율

milk = 2
icecream = 3

if icecream < 3:
    total_price = 820 * 2 + icecream_price * 3             # 할인 없음
else:
    total_price = 820 * 2 + icecream_price * 3 * discount # 할인 적용
    
print("우유 2개, 아이스크림 3개 가격:", total_price)

우유 2개, 아이스크림 3개 가격: 1865.0

**예제 10**

연이자 5%인 정기예금에 1천만원을 10년간 은행에 맡겼을 때
10년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 10년 후 받을 원금 + 이자는 OOO 원입니다.

원리합계 계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 +  (1 ＋ 연금리 * 기간)

아래 변수를 활용한다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

모범답안:

In [40]:
principal = 10000000 # 원금
rate = 0.05          # 연이자
period = 10           # 10년

savings = principal * (1 + rate * period) # 원리합계

print("10년 후 받는 원금 + 이자는", savings, "원입니다.")

10년 후 받는 원금 + 이자는 15000000.0 원입니다.

**예제 11**

문제 10의 원리합계 계산 공식을 사용하는 대신에 `while` 반복문을 이용하여 
원리합계를 계산하는 코드를 작성한다.

모범답안:

문제 10의 모범답안 코드에 사용된 원리합계 계산 코드는 다음과 같다.

```
savings = principal * (1 + rate * period)
```

그런데 할당값으로 사용되는 수식을 풀어쓰면 다음과 같다.

```
savings = principal + principal * rate * period
```

그리고 `principal * rate * period`가 총이자에 해당하며
변수 `period`에 의존하여 이자가 증가한다.
즉 1년 마다 받는 이자인 `principal * rate`를 `period` 기간동안 누적합하면
총이자가 된다.
이 내용을 `while` 반복문을 사용하면서 구현하면 다음과 같다.

In [41]:
principal = 10000000 # 원금
rate = 0.05          # 연이자
period = 10         # 10년

interests = 0       # 연이자 누적합 저장
num_of_years = 1    # while 반복문에 사용되는 변수. 1씩 증가.

while num_of_years <= period:
    interests = interests + principal * rate
    num_of_years = num_of_years + 1

savings = principal + interests # 원리합계

print("10년 후 받는 원금 + 이자는", savings, "원입니다.")

10년 후 받는 원금 + 이자는 15000000.0 원입니다.