# (예제) 프로그래밍 맛보기

**예제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

- **코드 1**

In [2]:
print("Hello World"

SyntaxError: incomplete input (353226650.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자는 소괄호로 감싸져야 하는데 닫는 괄호가 없음.

In [18]:
# 오류가 수정된 코드

print("Hello World")

Hello World

- **코드 2**

In [4]:
print('Hello World")

SyntaxError: unterminated string literal (detected at line 1) (2803455855.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 문자열은 동일한 인용부호로 감싸져야 함. 여는 인용부호는 작은따옴표인데 닫는 인용부호는 큰따옴표임. 동일한 따옴표를 사용해야 함.

In [5]:
# 오류가 수정된 코드

print('Hello World')

Hello World

또는

In [1]:
print("Hello World")

Hello World

- **코드 3**

In [10]:
print(+2)

2

모범답안:

오류가 발생하지 않음. `+2`는 양의 정수 2로 처리됨.

- **코드 4**

In [7]:
print(023)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1292398223.py, line 1)

모범답안:

- **코드 5**

In [13]:
print(0o23)  # 0은 숫자 0, o는 영어 알파벳 소문자 o

19

오류 발생하지 않음. `0o23`은 8진법으로 작성된 23을 가리킴. 
즉 다음 값에 해당됨.

In [12]:
2 * 8**1 + 3 * 1

19

참고: [진법의 의미와 계산법](https://dlxdlx.tistory.com/5)

**예제 2**

변수 선언과 할당 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

- **코드 1**

In [25]:
23 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2807011745.py, line 1)

모범답안:

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 변수 할당문의 왼쪽에 변수가 위치해야 함. 변수는 숫자로 시작할 수 없음. 
    또한 변수에 할당되는 값은 등호 기호 오른쪽에 위치함.

In [26]:
# 오류가 수정된 코드 작성

n = 23

- **코드 2**

In [27]:
x = y = 1

모범답안:

오류 발생하지 않음. x, y 모두 1을 할당 받음.
즉 아래 코드를 간단하게 표현한 것임.
하지만 추천되지 않음. 
이유는 한줄에 하나의 변수를 선언할 때 나중에 코드를 이해할 때 보다 쉽게 이해됨.

In [29]:
x = 1
y = 1

- **코드 3**

모범답안:

In [35]:
y = k + 1.

NameError: name 'k' is not defined

- 오류 종류: NameError(이름 오류)

- 오류 원인: 선언되지 않은 변수가 사용됨. 따라서 `k` 가 가리키는 값이 지정되지 않았음.

In [36]:
# 오류가 수정된 코드 작성

# k를 먼저 선언

k = 3
y = k + 1

**예제 3**

다음 문장들을 연산자를 이용해 파이썬 수식으로 표현하고 그 결과를 확인한다.

* 정수 25와 정수 12 더하기

In [39]:
25 + 12

37

* 정수 92와 부동소수점 8.0 곱하기

In [41]:
92 * 8.0

736.0

* 정수 7를 5로 나눴을 때의 몫

In [43]:
7 // 5

1

* 정수 100을 정수 7로 나눈 나머지

In [44]:
100 % 7

2

* 정수 2의 세제곱을 (2 + 3)으로 나누기. 괄호를 잘 사용해야 한다.

In [13]:
2**3 / (2 + 3)

1.6

그런데 아래와 같이 하면 틀린 값이 나온다.

In [14]:
2**3 / 2 + 3

7.0

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높다.
따라서 위 수식은 아래 수식과 동일하다.

In [11]:
(2**3 / 2) + 3

7.0

**예제 4**

다음 표현식들의 자료형을 확인하는 코드를 작성한다.

* 3

In [46]:
type(3)

int

* 3.0

In [47]:
type(3.0)

float

* '3'

In [48]:
type('3')

str

* '3.0'

In [1]:
type("3.0")

str

**예제 5**

3과 3.0의 자료형이 다름에도 불구하여 아래 수식은 오류없이 6.0으로 계산된다.

In [2]:
3 + 3.0

6.0

반면에 아래 수식을 계산하려 하면 오류가 발생한다.

In [5]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

이유는 숫자로서의 3과 문자열로서의 `'3.0'`의 덧셈 연산은 정의되어 있지 않기 때문이다.
그런데 아래 수식은 계산이 허용된다.
곱셈 연산자 `+`를 정수와 문자열과 함께 실행하면 문자열을 지정된 정수만큼 복제해서 이어붙인다.
따라서 3.03이 세 번 반복된 문자열이 계산된다.

그런데 유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이
계산되도록 할 수 있다. 
이를 위해 `float()` 함수를 활용한다.
`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [14]:
3 + float('3.0')

6.0

**예제 6**

1. 변수할당과 논리 연산기호를 이용해 아래 내용을 논리식으로 표현한다.

    - `p1`: `3`과 `4`가 다른지 여부 판단<br>
    - `p2`: `"hello"`와 `"hi"`가 같은지 여부 판단<br>
    - `p3`: `2`가 `8`보다 작거나 같은지 여부 판단<br>
    - `p4`: `12`가 `20`보다 큰지 여부 판단<br><br>

1. 아래의 결과가 `True`인지 `False`인지 판단하는 논리식을 작성하라.

    - `p1 and p3`
    - `p2 and not p4`
    - `p3 or p4`

In [12]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**예제 7**

15, 28이 각각 짝수인지 홀수인지를 판별하는 코드를 작성하여라.
출력된 결과는 아래와 같은 형식이다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

In [11]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**예제 8**

반지름이 $r$인 구의 부피는 $\frac{4}{3} \pi r^3$ 이다. 반지름이 5인 구의 부피는 얼마인가?

In [14]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**예제 9**

1$\text{m}^2$는 0.3025평이다. 
84$\text{m}^2$는 몇 평인가? 
반대로 30평은 몇 $\text{m}^2$인가?

아래 형식으로 출력하는 코드를 작성한다.

> 84제곱미터: 25.41 평  
> 30평: 99.17355371900827 제곱미터

모범답안:

먼저 유용하게 활용할 수 있는 변수를 선언한다.

- `one_squaremeter`: 1 제곱미터에 해당하는 평수
- `eightyfour_squremeter`: 84 제곱미터에 해당하는 평수
- `thirty_pyeong`: 30평에 해당하는 제곱미터

In [8]:
one_squaremeter = 0.3025
eightyfour_squremeter = 84 * one_squaremeter
thirty_pyeong = 30 / one_squaremeter

선언된 변수를 이용하여 아래와 같이 문장을 출력한다.

In [7]:
print("84제곱미터:", eightyfour_squremeter, '평')
print("30평:", thirty_pyeong, '제곱미터')

84제곱미터: 25.41 평
30평: 99.17355371900827 제곱미터

**예제 10**

1부터 10까지의 합을 계산하는 코드를 `for` 반복문과 리스트를 활용하여 구현한다.
또한 다음과 같이 출력되도록 한다.

> 1부터 10까지 정수의 합: 55

모범답안:

먼저 1부터 10을 항목으로 갖는 리스트를 생성한다.

In [9]:
one2ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

생성된 리스트를 `for` 반복문에 활용한다.
이를 위해 `for` 반복문은 리스트의 0번 인덱스의 항목부터 차례대로 활용한다는 사실을 이용해서
아래 형식으로 덧셈을 진행하는 코드를 작성한다.

```
0 + 1
0 + 1 + 2
0 + 1 + 2 + 3
...
0 + 1 + 2 + 3 + ... + 10
```

위 계산에 따라 항목이 달랄질 때마다 1부터 그 항목까지의 합을 저장하는 변수를 선언한다.

In [11]:
sum = 0

이제 `sum` 변수가 가리키는 값을 앞서 설명한 대로 차례대로 업데이트되도록 `for` 반복문을 작성한다.

In [12]:
for item in one2ten:
    sum = sum + item
    
print("1부터 10까지 정수의 합:", sum)

1부터 10까지 정수의 합: 55