# (필수 예제) 프로그래밍 맛보기

**참고 사항**

1. 먼저 [프로그래밍 맛보기](https://codingalzi.github.io/pybook/starting.html) 내용을 학습하세요.
2. [YouTube 재생목록](https://www.youtube.com/playlist?list=PL5aSjzJqCaPbH03sCvDg2DfOAdcXF0eKo)에 예제 풀이 동영상이 있습니다.

## 예제 1

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.
오류가 발생하지 않으면 실행 결과를 설명한다.

**코드 1**

In [1]:
print("Hello World"

SyntaxError: incomplete input (353226650.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: print() 함수의 인자는 소괄호로 감싸져야 하는데 닫는 괄호가 없음.

In [2]:
# 오류가 수정된 코드

print("Hello World")

Hello World

**코드 2**

In [3]:
print('Hello World")

SyntaxError: unterminated string literal (detected at line 1) (2803455855.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 문자열은 동일한 인용부호로 감싸져야 함. 여는 인용부호는 작은따옴표인데 닫는 인용부호는 큰따옴표임. 동일한 따옴표를 사용해야 함.

In [4]:
# 오류가 수정된 코드

print('Hello World')

Hello World

또는

In [5]:
print("Hello World")

Hello World

**코드 3**

In [6]:
print(+2)

2

**답**

오류가 발생하지 않음. `+2`는 양의 정수 2로 처리됨.

**코드 4**

In [7]:
print(023)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1292398223.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 정수, 부동소수점 등은 0으로 시작할 수 없음.

In [8]:
# 오류가 수정된 코드

print(23)

23

또는 문자열 `023`을 의도했지만 미처 인용부호를 사용하지 않은 경우일 수도 있음.
문자열은 인용부호로 감싸이면 어떠한 기호의 나열도 허용됨.

In [9]:
# 오류가 수정된 코드

print('023')

023

단, 문자열과 수는 모양이 같아도 서로 다른 값임에 주의한다.
예를 들어 정수 23과 문자열 `'23'`은 다른 값이다.
물론 자료형도 다르다.

In [10]:
23 == '23'

False

## 예제 2

변수 할당 명령문 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

**코드 1**

In [13]:
23 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2807011745.py, line 1)

**답**

- 오류 종류: SyntaxError(구문 오류)

- 오류 원인: 변수 할당 명령문의 등호 기호 왼쪽에 변수가, 오른쪽에 할당되는 값이 위치해야 함.
    변수는 숫자로 시작할 수 없음.

In [14]:
# 오류가 수정된 코드 작성

n = 23

**코드 2**

In [15]:
x = y = 1

**답**

오류 발생하지 않음. x, y 모두 1을 할당 받음.
즉 아래 코드를 간단하게 표현한 것임.
하지만 추천되지 않음. 
이유는 한줄에 하나의 변수를 선언하면 나중에 코드를 이해할 때 보다 쉽게 이해됨.
즉, 한줄에 하나의 명령문만 사용하기 추천.

In [16]:
x = 1
y = 1

**코드 3**

In [17]:
y = k + 1.

NameError: name 'k' is not defined

**답**

- 오류 종류: NameError(이름 오류)

- 오류 원인: 선언되지 않은 변수 `k` 가 사용됨. 즉 `k` 가리키는 값이 지정되지 않았음.

`k`를 먼저 선언하면 해결된다.

In [18]:
# 오류가 수정된 코드 작성

# k를 먼저 선언
k = 3

y = k + 1

## 예제 3

먼저 아래와 같이 두 개의 변수를 선언한다.

In [19]:
rows = 17
two_semicolons = ';;'

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

**코드 1: `rows + 2`**

In [20]:
rows + 2

19

In [21]:
type(rows + 2)

int

* `rows - 2.0`

In [22]:
rows - 2.0

15.0

In [23]:
type(rows - 2.0)

float

**코드 2: `rows / 2`**

In [24]:
rows / 2

8.5

In [25]:
type(rows / 2)

float

**코드 3: `rows // 2`**

In [26]:
rows // 2

8

In [27]:
type(rows // 2)

int

**코드 4: `rows % 2`**

In [28]:
rows % 2

1

In [29]:
type(rows % 2)

int

**코드 5: `rows`의 세제곱을 (2 + 3)으로 나누기**

In [30]:
rows**3 / (2 + 3)

982.6

In [31]:
type(rows**3 / (2 + 3))

float

그런데 아래와 같이 하면 틀린 값이 나온다.

In [32]:
rows**3 / 2 + 3

2459.5

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식과 동일한
값을 계산하기 때문이다.

In [33]:
(rows**3 / 2) + 3

2459.5

**코드 6: `two_semicolons * 3`**

In [34]:
two_semicolons * 3

';;;;;;'

In [35]:
type(two_semicolons * 3)

str

## 예제 4

3과 3.0의 자료형이 다름에도 불구하고 아래 수식은 오류없이 6.0으로 계산된다.

In [36]:
3 + 3.0

6.0

반면에 아래 수식을 계산하려 하면 오류가 발생한다.

In [37]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

이유는 숫자로서의 3과 문자열로서의 `'3.0'`의 덧셈 연산은 정의되어 있지 않기 때문이다.
그런데 아래 수식은 계산이 허용된다.
곱셈 연산자 `*`를 정수와 문자열과 함께 실행하면 문자열을 지정된 정수만큼 복제해서 이어붙인다.
따라서 3.03이 세 번 반복된 문자열이 계산된다.

In [38]:
3 * '3.0'

'3.03.03.0'

그런데 유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이
계산되도록 할 수 있다. 
이를 위해 `float()` 함수를 활용한다.
`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [39]:
3 + float('3.0')

6.0

단, `float()` 함수에 부동소수점 모양이 아닌 인자를 사용하면 오류가 발생한다.

In [40]:
float('3-1')

ValueError: could not convert string to float: '3-1'

## 예제 5

**코드 1**

아래 내용의 논리식을 할당받는 변수 `p1`을 선언한 후에 `p1`에 할당된 진리값을 확인한다.

> 3과 4가 다른지 여부 판단

모범 답안:

두 값이 다른지 여부는 `!=` 연산자를 이용하여 표현.

In [41]:
p1 = 3 != 4
p1

True

**코드 2**

아래 내용의 논리식을 할당받는 변수 `p2`를 선언한 후에 `p2`에 할당된 진리값을 확인한다.

> "hello"와 "hi"가 같은지 여부 판단

모범 답안:

두 값이 같은지 여부는 `==` 연산자를 이용하여 표현.

In [42]:
p2 = "hello" == "hi"
p2

False

## 예제 6

15, 28이 각각 짝수인지 또는 홀수인지를 판별하는 코드를 작성한다.
출력된 결과는 아래와 같은 형식이다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

힌트: 짝수는 2로 나눴을 때 나머지가 0이다.

**답**

15가 짝수인지 여부는 `15 % 2 == 0` 가 `True`로 계산되는지로 확인함.

In [47]:
print("15는 짝수인가요?", 15 % 2 == 0)
print("28는 짝수인가요?", 28 % 2 == 0)

15는 짝수인가요? False
28는 짝수인가요? True

## 예제 7

1$\text{m}^2$는 0.3025평이다. 
84$\text{m}^2$는 몇 평인가? 
반대로 30평은 몇 $\text{m}^2$인지 계산하는 코드를 작성한다.
또한 결과가 아래 형식으로 출력되도록 한다.

> 84제곱미터: 25.41 평  
> 30평: 99.17355371900827 제곱미터

**답**

먼저 유용하게 활용할 수 있는 변수를 선언한다.
어떤 변수가 필요한지, 왜 필요한지를 판단하는 일이 중요하다.

- `one_squaremeter`: 1 제곱미터에 해당하는 평수
- `eightyfour_squaremeter`: 84 제곱미터에 해당하는 평수
- `one_pyeong`: 1 평에 해당하는 제곱미터
- `thirty_pyeong`: 30평에 해당하는 제곱미터

In [48]:
one_squaremeter = 0.3025
eightyfour_squaremeter = 84 * one_squaremeter
one_pyeong = 1 / one_squaremeter
thirty_pyeong = 30 * one_pyeong

선언된 변수를 이용하여 아래와 같이 문장을 출력한다.

In [49]:
print("84제곱미터:", eightyfour_squaremeter, '평')
print("30평:", thirty_pyeong, '제곱미터')

84제곱미터: 25.41 평
30평: 99.17355371900827 제곱미터

## 예제 8

연이자 5%인 정기예금에 1천만원을 10년간 은행에 맡겼을 때
10년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 10년 후 받을 원금 + 이자는 OOO 원입니다.

원리합계 계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 *  (1 ＋ 연금리 * 기간)

**답**

아래 변수를 활용해서 원리합계 수식을 간단하게 구현할 수 있다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

In [52]:
principal = 10000000 # 원금
rate = 0.05          # 연이자
period = 10           # 10년

savings = principal * (1 + rate * period) # 원리합계

print("10년 후 받는 원금 + 이자는", savings, "원입니다.")

10년 후 받는 원금 + 이자는 15000000.0 원입니다.

## 예제 9

다음 삼각형 모양을 출력하는 코드를 작성한다.
두 개의 별 기호 사이에 공백(space)이 사용됨에 주의한다.
공백도 하나의 기호로 취급된다.
단, `for` 반복문을 이용한다.

```
* 
* * 
* * * 
* * * * 
* * * * * 
```

**답**

별 기호와 공백으로 구성된 문자열, 즉 `"* "`이 차례대로 1, 2, 3, 4, 5 번씩 반복되는 규칙성을 먼저 파악한다.
또한 이런 규칙성은 일반적으로 반복문을 이용하여 쉽게 구현할 수 있다.
문자열의 반복은 복제 후 이어붙이기 연산자 `*`를 사용한다.

`for` 반복문은 보통 리스트와 함께 사용된다. 이때 사용되는 변수는 
각각의 항목을 직접 가리킨다는 사실을 이용한다.
예를 들어 아래 코드에서 `stars` 변수는 `for` 반복문의 본문이 실행될 때마다
차례대로 1, 2, 3, 4, 5이 할당된다.
또한 `print()` 함수는 실행될 때마다 줄바꿈을 항상 실행한다.

In [4]:
num_of_stars = [1, 2, 3, 4, 5]

for stars in num_of_stars:
    print(" *" * stars)

 *
 * *
 * * *
 * * * *
 * * * * *

**비추천 답안**

아래 방식은 추천하지 않는다.

In [5]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

프로그래밍은 사람이 해야하는 일을 컴퓨터가 자동으로 실행하도록 하는 게 주 목적이다.
하지만 위와 같은 방식은 사람이 직접 다섯 번 `print()` 함수를 작성해야 한다.
만약에 별이 다섯 개가 아니라 천 개, 만 개에서 시작한다면 위와 같은 방식으로
프로그램을 작성하는 일은 너무 힘들고 어렵다.

## 예제 10

`while` 반복문을 이용하여 아래 실행결과가 나오는 프로그램을 작성하라.
단, `"안녕하세요"` 문자열이 코드에 단 한 번만 언급되어야 한다.

```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

**답**

`"안녕하세요"` 문장을 다섯 번 출력해야 하는데
이는 아래 코드를 단순히 다섯 번 반복하도록 하면 된다.

```python
print("안녕하세요.")
```

이를 위해 보통 `while` 또는 `for` 반복문을 사용한다.
아래 코드는 `while` 반복문을 활용하는 방식을 보여준다.

In [1]:
num = 1
while num < 6:
    print("안녕하세요.")
    num += 1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

프로그래밍에서는 카운트를 보통 0부터 시작한다.
따라서 다음과 같은 코드를 자주 보게 된다.

In [2]:
num = 0
while num < 5:
    print("안녕하세요.")
    num += 1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

## 예제 11

아래 코드를 실행했을 때 부동소수점 `27.1`의 의미를 설명하라.

In [3]:
if 27.1:
    print("참인 경우라서 실행됨!")

참인 경우라서 실행됨!

**답**

파이썬에서 0, 비어있다, 또는 없다의 의미에 해당하는 값은 `False`로,
그 이외의 경우엔 참으로 간주된다.
이런 의미로 `if 27.1`에 사용된 `27.1`은 부동소수점이면서 0이 아니기에 
`True`로 간주되어 조건문의 본문에 포함된 `print()` 함수 호출이 실행된다.