# (예제) 조건문

## 예제

정수 인자와 함께 호출되어 인자가 짝수일 때는 0, 홀수일 때는 1을 반환하는 함수 `even_odd()`를 구현하라.
매개 변수는 `num` 하나만 사용한다.

힌트: `if ... else ...` 조건문과 나머지 연산자 `%` 활용

**답**

`num`의 인자로 지정되는 정수의 짝수, 홀수 여부는 2로 나눈 나머지가 0인지, 1인지에 의해 결정된다.
따라서 `num % 2 == 0` 논리식의 진릿값에 따른 `if` 조건문을 아래처럼 사용한다.

In [5]:
def even_odd(num):
    if num % 2 == 0:
        answer = 0
    else:
        answer = 1  
      
    return answer

In [6]:
even_odd(10)

0

In [7]:
even_odd(11)

1

참고로 `True`는 정수 1로, `False`는 정수 0으로 간주되기도 한다.
형변환 함수 `int()`를 이용하여 확인할 수 있다.

In [8]:
int(True)

1

In [9]:
int(False)

0

이 성질을 이용하면 `even_odd()` 함수를 아래처럼 보다 간단하게 정의할 수 있다.
다만 `True`일 때 0을 반환하도록 해야 하기에 `num` 이 짝수면 거짓이되도록 하는 
표현식인 `num % 2 != 0`을 이용한다.

In [10]:
def even_odd(num):
    return int(num % 2 != 0)

In [11]:
even_odd(10)

0

In [12]:
even_odd(11)

1

`even_odd()` 함수를 이용하여 짝수, 홀수 여부를 판단한 결과를 다른 명령문에 활용할 있다.
예를 들어, 아래 `divide_by_2()` 함수는 짝수면 2로 나누고, 홀수면 1을 더한 값을 2로 나눈다.

In [13]:
def divide_by_2(num):
    if even_odd(num):
        return (num + 1) // 2
    else:
        return num // 2

In [14]:
divide_by_2(11)

6

In [15]:
divide_by_2(12)

6

`divide_by_2()`함수의 본문의 `if ...` 조건문에 사용된 `even_odd(num)`은 함수 호출의 결과인 0 또는 1을 가리킨다.
앞서 `True`는 1로, `False`는 0으로 간주될 수 있다고 하였는데 그 역도 성립하며
아래 코드에서처럼 `bool()` 형변환 함수를 이용하여 확인할 수 있다.

In [16]:
bool(1)

True

In [17]:
bool(0)

False

그런데 `if ... ` 조건문의 논리식으로 굳이 정수를 부울값으로 형변화는 함수인 `bool()`을 사용할 필요는 없다.
이는 파이썬 실행기가 0은 `False`로 0이 아니면 `True`로 처리하기 때문이다.

## 예제

짝수 인자와 함께 호출되면 2로 나눈 값을, 
홀수 인자와 함께 호출되면 3배에 1을 더한 값을 반환하는
`Collatz_simple()` 함수를 정의한다.

In [3]:
# 코드를 작성한다.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

**답**

In [9]:
def Collatz_simple(num):
    if num % 2 == 0:
        return num // 2
    else:
        return num * 3 + 1

**문제**

아래 코드가 실행중에 오류를 발생시키는 이유를 설명하라.

```python
if 3/0 or True :
    print("A")
```

**문제**

아래 코드는 실행중에 오류를 발생시키지 않는다. 그 이유를 설명하라.

```python
if True or 3/0 :
    print("B")
```

## 예제

정수 `num`을 인자로 해서 호출되었을 때, 1의 자릿수가 3의 배수이면 입력값의 세 배를, 
아니면 두 배를 반환하는 함수 `three_or_not()` 함수를 구현하라.
매개 변수는 `num` 하나만 사용한다.

힌트: 나머지 연산자 `%`를 활용한다.

**답**

정수의 1의 자릿수는 10으로 나눴을 때의 나머지이다.

In [18]:
123 % 10

3

In [19]:
27 % 10

7

3의 배수 여부는 3으로 나눈 나머지가 0이냐에 의해 결정된다.
따라서 `num`을 10으로 나눴을 때의 나머지에 대해 3의 배수 여부를 확인하고
그에 따라 `num`의 3배수 또는 2배수를 반환값으로 지정한다.

In [20]:
def three_or_not(num):
    unit = num % 10
    if unit % 3 == 0:
        return num * 3
    else:
        return num * 2

In [21]:
three_or_not(13)

39

In [22]:
three_or_not(24)

48

## 예제

키와 몸무게를 인자로 받아 체질량지수(BMI)를 구하는 코드를 작성하여라.

$$\texttt{BMI} = \frac{\texttt{몸무게}}{\texttt{키}^2}$$

단, 몸무게는 킬로그램(kg) 을, 키는 미터(m)를 단위로 사용한다.
또한 BMI 수치에 따른 체중 분류는 다음과 같다.

| BMI 수치 | 체중 분류 |
| :---: | :--- |
| BMI <= 18.5 | 저체중 |
| 18.5 < BMI <= 23 | 정상 |
| 23 < BMI <= 25 | 과체중 |
| 25 < BMI <= 30 | 비만 |
| BMI > 30 | 고도비만 |

입력:

```python
weight = 72   # 몸무게
height = 178  # 키
```

출력:

```python
BMI는 정상 수치입니다.
```

In [34]:
weight = int(input("몸무게를 입력하세요: "))
height = int(input("키를 입력하세요: "))

BMI = weight / ((height*0.01)**2)

if (BMI <= 18.5) :
  print("BMI는 저체중입니다.")
elif (18.5 < BMI <= 23) :
  print("BMI는 정상 수치입니다.")
elif (23 < BMI <= 25) :
  print("BMI는 과체중입니다.")
elif (25 < BMI <= 30) :
  print("BMI는 비만입니다.")
else :
  print("BMI는 고도 비만입니다.")

몸무게를 입력하세요: 70
키를 입력하세요: 178
BMI는 정상 수치입니다.

**문제 2**

`time` 모듈에 UTC(Coordinated Universal Time)를 알려주는 `time()` 함수가 포함되어 있다.
`time()` 함수는 일종의 컴퓨터 시간의 생일인 1970년 1월 1일을 기준으로 
함수의 호출 순간까지 흐른 시간을 초 단위로 반환한다.

In [3]:
import time
x = time.time()

print(x)

1648371613.0191061

In [4]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def time_convert():
    pass

    return None

In [5]:
# 아래 코드의 주석 기호를 제거하고 실행하면 아래 모양의 결과가 나와야 한다.
# '457875-29-17'

# time_convert()

**문제 3**

오늘의 요일을 확인하여 0에서 6 사이의 정수를 반환하는 함수
`wday2num()` 함수를 구현하라.
단, 다음 조건을 만족해야 한다.

- 일(Sun), 월(Mon), 화(Tue), 수(Wed), 목(Thu), 금(Fri), 토(Sat) 순서대로 0, 1, 2, 3, 4, 5, 6 을 사용한다.
- 하나의 매개변수 `wday` 를 사용하며, 키워드 인자로 `"Sun"`을 사용한다.
- 지정된 `wday` 와 오늘의 요일이 일치하면 
    해당 요일도 함께 튜플로 반환한다.
    
힌트: `time.ctime()` 함수 활용.

In [7]:
time.ctime()

'Sun Mar 27 18:00:13 2022'

In [8]:
time.ctime(time.time())

'Sun Mar 27 18:00:13 2022'

In [9]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def wday2num(wday=None):
    pass

    return None

In [10]:
# wday2num(wday="Mon")
# wday2num(wday="Sun")

**문제 4**

페르마의 마지막 정리는 정수 $n$ 이 2보다 클 때, 
아래 식을 만족하는 세 개의 양의 정수 $a$, $b$, $c$ 가 존재하지 않는다고 말한다.

$$
a^n + b^n = c^n 
$$

$n$, $a$, $b$, $c$ 네 개의 값이 주어졌을 때 위 등식이 성립하는지 여부를 판단하는 함수
`fermat()` 를 구현하라.
단, 다음 조건을 만족해야 한다.

- `n`, `a`, `b`, `c` 네 개의 매개변수를 사용한다.
- `n` 에 2보다 같거나 작은 수가 인자로 사용되면 `False`를 반환한다.
- `n` 에 2보다 큰 경우 위 식이 성립하면 `True`, 아니면 `False` 를 반환한다.

In [11]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def fermat(n, a, b, c):
    pass

    return None

In [12]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert fermat(2, 3, 5, 7) == False
# assert fermat(3, 17, 3, 22) == False

**문제 5**

세 개의 막대를 이용하여 삼각형을 만들 수 있는지 여부를 판단하는 함수
`triangle()` 함수를 구현하라.
단, 다음 조건을 만족해야 한다.

- 세 개의 양의 정수를 입력받는다.
- 삼각형을 만들 수 있으면 `True`, 아니면 `False`를 반환한다.

힌트: 막대 하나의 길이가 다른 두 막대의 길이의 합보다 크면 삼각형을 만들 수 없다.

In [13]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def triangle(a, b, c):
    pass

    return None

In [14]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert triangle(3, 5, 7) == True
# assert triangle(17, 3, 22) == False

**문제 6**

'racecar', '토마토', 'stats'와 같이 앞뒤를 뒤집어도 
똑같은 문자열을 **회문**(palindrome)이라고 한다. 
문자열이 주어질 때, 그 문자열이 회문이면 `Success` 를, 아니면 `Fail` 을 반환하는 함수
`palindrome()` 를 작성하여라.

힌트: 문자열 인덱싱, 슬라이싱 활용

In [15]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def palindrome(aString):
    pass

    return None

In [16]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert palindrome("racecar") == "Success"
# assert palindrome("tomato") == "Fail"
# assert palindrome("기러기") == "Success"
# assert palindrome("인싸 의사의 싸인") == "Success"
# assert palindrome("다시 합창합시다") == "Fail"

**문제 7**

이전 문제의 `palindrome()` 함수가 문자열에 포함된 공백(space)을 무시하도록 수정하라.

In [17]:
# 아래 코드에서 pass 를 적절한 명령문으로, None 을 적절한 표현식으로 대체하라.

def palindrome(aString):
    pass

    return None

In [18]:
# 아래 코드의 주석 기호를 제거하고 실행했을 때 오류가 발생하지 않아야 함.

# assert palindrome("race car") == "Success"
# assert palindrome("tom ato") == "Fail"
# assert palindrome("인싸의사의 싸인") == "Success"
# assert palindrome("다시 합창합시다") == "Success"