# (필수 예제) 리스트와 튜플

**참고 사항**

먼저 [리스트와 튜플](https://codingalzi.github.io/pybook/lists_tuples.html) 내용을 학습하세요.

## 예제

`num_list` 변수가 아래처럼 선언되었다.

In [66]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]

**질문 1**

`9`를 츨력하는 코드를 작성하여라.

**답**

In [68]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]
print(num_list[-1])

9

**질문 2**

`7`를 출력하는 코드를 작성하여라.

**답**

In [69]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]
print(num_list[1][1])

7

**질문 3**

`[3, [4, 5]]`를 출력하는 코드를 작성하여라.

**답**

In [70]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]
print(num_list[0][2:4])

[3, [4, 5]]

## 예제

리스트에 중복된 항목이 있는지 여부를 판단하는 `has_duplicates()` 함수를 구현하라.

**답**

In [54]:
def has_duplicates(aList):
    a = []
    for i in aList:
        if i in a:
            return True
        else:
            a.append(i)

    return False

In [55]:
exc5A = has_duplicates([1, 2, 1, 3]) == True
exc5B = has_duplicates(['hello', 'hi', 'hey']) == False
exc5C = has_duplicates(['a', [1, 2], 1, 2]) == False
exc5D = has_duplicates([True, False, [True, True]]) == False
exc5E = has_duplicates([[True, False], True, [True, False]]) == True

all([exc5A, exc5B, exc5C, exc5D, exc5E])

True

## 예제

영어 단어 인자와 함께 호출되면 알파벳순으로 정렬된 문자열을 반환하는 `abc()` 함수를 구현하라.
예를 들어 다음과 같이 작동해야 한다.

```
>>> abc('dog')
'dgo'
```

힌트: 리스트 정렬

**답**

- 리스트 정렬 메서드 활용

In [10]:
def abc(s):
    list_s = list(s)
    list_s.sort()

    sorted_str = ""
    for i in list_s:
        sorted_str += i

    return sorted_str

In [11]:
abc('dog')

'dgo'

In [12]:
abc("python")

'hnopty'

- `join()` 리스트 메서드 활용

위 `abc()` 함수의 본문에 사용된 `for` 반복문은 사실 `join()` 메서드의 기능을 대신한다.

In [13]:
def abc(s):
    list_s = list(s)
    list_s.sort()

    sorted_str = "".join(list_s)

    return sorted_str

In [14]:
abc('dog')

'dgo'

In [15]:
abc('python')

'hnopty'

- `sorted()` 함수 활용

`sort()` 메서드는 해당 리스트 자체를 수정하며 반환값은 `None`이다.
반면에 `sorted()` 함수는 수정된 리스트를 반환한다.
따라서 두 함수의 활용법이 조금 다르다.

아래 코드는 `sorted()` 함수와 문자열 `join()` 메서드를 활용하여 `abc()` 함수를 보다 간단하게 구현한다.

In [74]:
def abc(s) :
    list_s = list(s)
    return "".join(sorted(list_s))

In [75]:
abc("dog")

'dgo'

In [76]:
abc('python')

'hnopty'

## 예제

`sorted()` 함수는 리스트를 파이썬이 정한 값들의 크기를 기준으로 오름차순으로 정렬한 리스트를 반환한다.

In [78]:
num_list = [3, 2, 1, 4, 5]
sorted_list = sorted(num_list)
sorted_list

[1, 2, 3, 4, 5]

`rev_sorted_list` 변수가 `num_list`를 크기 기준 오름차순으로 정렬한 리스트를 가리키도록 하라.

**답**

`sorted()` 함수와 `sort()` 리스트 메서드는 모두 `key`와 `reverse` 두 개의 키워드 인자를 사용한다.

- `key`: 항목 정렬을 위한 기준. 기본값은 파이썬이 정한 값들의 크기.
- `reverse`: 내림차순으로 정렬할지 여부. 기본은 `False`, 즉 오름차순으로 정렬하기.

In [79]:
rev_sorted_list = sorted(num_list, reverse=True)
rev_sorted_list

[5, 4, 3, 2, 1]

## 예제

`sorted()` 함수는 리스트를 파이썬이 정한 값들의 크기를 기준으로 오름차순으로 정렬한 리스트를 반환한다.
아래 코드는 튜플로 구성된 리스트를 정렬할 때
튜플의 첫째 항목인 문자열들을 대상으로 알파벳 순서를 기준으로 정렬한다.
이유는 튜플들의 크기 비교는 먼저 첫째 항목을 기준으로 정하고, 
첫째 항목의 크기가 동일하면 둘째 항목의 크기를 비교하는 방식으로 결정되기 때문이다.

In [80]:
my_tuples = [('one', 1), ('three', 3), ('two', 2), ('four', 4)]
sorted(my_tuples)

[('four', 4), ('one', 1), ('three', 3), ('two', 2)]

리스트의 항목을 튜플의 둘째 항목인 정수를 기준으로 정렬하여 아래와 같은
리스트를 생성하는 코드를 구현하라.

```python
[('one', 1), ('two', 2), ('three', 3), ('four', 4)]
```

**답**

`sorted()` 함수는 `key`와 `reverse` 두 개의 키워드 인자를 사용한다.

- `key`: 항목 정렬을 위한 기준. 기본값은 파이썬이 정한 값들의 크기.
- `reverse`: 내림차순으로 정렬할지 여부. 기본은 `False`, 즉 오름차순으로 정렬하기.

아래 코드에서 `num_sorted_list` 변수가 `my_tuples`를 
튜플의 둘째 항목인 크기 기준 오름차순으로 정렬한 리스트를 가리키도록 한다.
튜플의 둘째 항목을 크기 비교에 활용하도록 `key` 매개변수의 인자로 튜플에서 둘째 인자를 선택하는
함수가 사용되었음에 주목한다.

In [81]:
num_sorted_tuples = sorted(my_tuples, key=lambda x: x[1])
num_sorted_tuples

[('one', 1), ('two', 2), ('three', 3), ('four', 4)]

## 예제

피보나찌 수열은 다음과 같이 정의 된다.

$$
\begin{align*}
F_0 &= 0 \\
F_1 &= 1 \\
F_{n+2} &= F_{n+1} + F_{n}
\end{align*}
$$

for 반복문과 길이가 2인 리스트를 이용하여 피보나찌 수열의 n 번째 값을 반환하는 함수 `fib()` 를 구현하라.

In [ ]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 재귀를 사용할 수 없으며 for 반복문만을 이용해야 한다.

def fib(n):
    assert isinstance(n, int)
    assert n >= 0

    pass

    return None

In [ ]:
# 아래 코드의 주석해제하고 실행하라.

# assert fib(5) == 5
# assert fib(8) == 21

## 예제

6명의 정보가 다음과 같다.

In [39]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']
whang = ['황현', '02-9871-1234', 19, 163.5, '서울']
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

6명의 정보를 하나의 리스트로 묶는다.

In [40]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**질문 1**

`info_list`를 이름순으로 정렬하라.

힌트: `sort()` 메서드 활용

**답**

`sort()` 메서드는 리스트의 항목들이 모두 리스트인 경우 첫째 항목의 크기를 기준으로 정렬한다.

In [43]:
info_list.sort()
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

**질문 2**

`info_list`에 포함된 6명의 이름과 전화번호만으로 구성된 리스트를 가리키는 `phone_list` 변수를 선언하라.
단, `info_list`와 `for` 반복문, 슬라이싱, `append()` 메서드를 반드시 활용한다.

**답**

`phone_list`를 빈 리스트로 초기화한 다음에 `for` 반복문과 인덱싱을 이용하여
6명 각각의 정보를 담은 리스트에서 전화번호 정보가 위치한 1번 인덱스 항목을 `phone_list`에
`append()` 메서드로 추가한다.

In [42]:
phone_list = []                # 전화번호를 저장할 리스트 초기화

for person in info_list:
    phone_list.append(person[:2]) # 전화번호만 추출해서 phone_list에 추가

phone_list

[['김강현', '010-1234-5678'],
 ['김현선', '010-3333-8888'],
 ['남세원', '010-3456-7891'],
 ['최흥선', '070-4321-1111'],
 ['함중아', '010-7654-2345'],
 ['황현', '02-9871-1234']]

**질문 3**

추가로 6명의 몸무게로 구성된 리스트를 가리키는 `weights` 변수를 선언한다.

In [26]:
weights = [65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

6명의 키와 몸무게 정보를 이용하여 계산된 6명의 비만도로 구성된 리스트를 생성하라.
체질량지수(bmi)는 몸무게(kg)를 키(m)의 제곱으로 나눈 값이다.

$$
\mathrm{bmi} = \frac{\mathrm{몸무게}}{\mathrm{키}^2}
$$

**답**

6명의 키를 항목으로 갖는 리스트를 `height_list`가 가리키도록 하자.
키 정보는 6명 각각의 정보를 담은 리스트에서 3번 인덱스 항목이기에 다음과 같이
`for` 반복문, 인덱싱, `append()` 메서드를 이용하면
간단하게 키의 정보만 담은 리스트를 생성할 수 있다.

In [44]:
heights_cm = []

for person in info_list:
    heights_cm.append(person[3])

In [45]:
heights_cm

[172.3, 164.6, 156.7, 187.2, 178.3, 163.5]

이제 6명의 체질량지수로 구성된 리스트를 생성할 수 있다.
먼저 키의 단위를 미터로 변환한다.
`round()` 함수를 이용하여 소수점 이하 셋째 짜리까지만 계산한다.

In [48]:
heights_m = []

for num in heights_cm:
    num_m = round(num/100, 3)
    heights_m.append(num_m)

heights_m

[1.723, 1.646, 1.567, 1.872, 1.783, 1.635]

`i` 번 인덱스에 해당하는 사람의 체질량 지수는 다음과 같이 계산된다.

```python
bmi = weights[i] / (heights_m[i])**2
```

아래 코드는 체질량지수를 소수점 이하 첫째 자리까지만 계산한다.

In [49]:
bmis = []

for i in range(len(info_list)):
    bmi = weights[i] / (heights_m[i])**2 # 체질량지수
    bmi = round(bmi, 1)                  # 소수점 둘째 자리에서 반올림
    bmis.append(bmi)

bmis

[22.0, 19.0, 19.5, 23.2, 16.9, 33.7]

**질문 4**

`info_list`에 6명 각각의 체질량 지수를 추가하라.

**답**

`info_list` 변수가 가리키는 중첩 리스트에 6명 각각의 몸무게와 체질량지수 정보를 추가하기 위해
먼저 몸무게와 체질량지수로 구성된 길이가 2인 리스트를 생성한 후에
`extend()` 메서드를 이용하여 6명 각각의 정보를 담은 리스트를 확장한다.

예를 들어, 김강현의 몸무게와 체질량지수로 구성된 리스트는 다음과 같다.

In [50]:
kgh_weight_bmi = [weights[0], bmis[0]]
kgh_weight_bmi

[65.3, 22.0]

예를 들어 아래 코드는 김강현의 정보를 담은 리스트에 위 리스트를 연결하여 확장한다.
`kgh` 변수가 가리키는 리스트를 직접 건드리지 않기 위해
`copy()` 메서드를 이용하여 먼저 사본을 만든 다음에 리스트를 확장한다.

In [51]:
kgh_copy = kgh.copy()
kgh_copy.extend(kgh_weight_bmi)
kgh_copy

['김강현', '010-1234-5678', 20, 172.3, '제주', 65.3, 22.0]

동일한 작업을 6명 전원에 대해 적용하려면 `info_list`의 항목을 대상으로
`for` 반복문을 싱행한다.
하지만 아래 방식은 곤란하다.

```python
for person in info_list:
    ...
```

이유는 `person`이 가리키는 항목의 인덱스 정보를 알아야만 `weights`와 `bmis`에서
해당 위치의 항목을 추출할 수 있기 때문이다.

해결책으로 `range()` 함수와 인덱싱을 활용한다.
그러면 언급된 세 개의 리스트 `info_list`, `weights`, `bmis` 모두에 대해
동시에 인덱싱을 적용할 수 있다.

In [52]:
for i in range(len(info_list)):
    weight_bmi = [weights[i], bmis[i]] # i번째 사람의 몸무게와 체질량지수
    info_list[i].extend(weight_bmi)    # i번째 사람의 정보 확장

info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주', 65.3, 22.0],
 ['김현선', '010-3333-8888', 22, 164.6, '광주', 51.5, 19.0],
 ['남세원', '010-3456-7891', 21, 156.7, '경기', 48.0, 19.5],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산', 81.4, 23.2],
 ['함중아', '010-7654-2345', 18, 178.3, '강원', 53.8, 16.9],
 ['황현', '02-9871-1234', 19, 163.5, '서울', 90.1, 33.7]]

## 예제

정수 나눗셈을 실행하여 몫과 나머지를 튜플로 반환하는 함수 `divide_qr()` 함수를 구현하라.
단, 함수의 본문은 `while` 반복문을 이용해야 하며, 몫 연산자 `//` 또는 나머지 연산자 `%` 는
절대 사용하지 않는다.

**답**

In [61]:
def divide_qr(numerator, denomenator):
    quotient = 0
    while not numerator < denomenator:
        numerator = numerator - denomenator
        quotient += 1

    return (quotient, numerator)

In [62]:
assert divide_qr(17, 3) == (5, 2)
assert divide_qr(28, 7) == (4, 0)
assert divide_qr(-18, 4) == (0, -18)

## 예제

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔아야 한다.
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
단, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

공간의 가로, 세로 크기, 타일의 크기를 cm 단위로 인자로 사용되었을 때
타일을 깔 때 필요한 온장 타일과 잘라서 사용한 타일의 개수로
이뤄진 튜플을 반환하는 함수 `tiling_tuple()`을 구현하라.
단 공간 크기의 가로, 세로, 타일의 크기는 정수라고 가정한다.

`tiling()` 함수의 매개변수는 다음과 같이 한다.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

In [63]:
def tiling_tuple(width, height, tile_length=30):
    num_full_width = width // tile_length
    num_full_height = height // tile_length

    num_full = num_full_width * num_full_height

    if width % tile_length == 0:
        num_part_height = 0
        if height % tile_length == 0:
            num_part = 0
        else:
            num_part = num_full_width

    else:
        if height % tile_length == 0:
            num_part = num_full_height
        else:
            num_part = num_full_width + num_full_height + 1

    return num_full, num_part

In [64]:
tiling_tuple(400, 400)

(169, 27)

In [65]:
tiling_tuple(400, 400, 35)

(121, 23)